.bold {
    font-weight: bold
    }
.calibre {
    display: block;
    font-size: 1em;
    padding-left: 0;
    padding-right: 0;
    text-align: justify;
    margin: 0 5pt
    }
.calibre_ {
    display: block;
    text-align: center;
    text-indent: 0;
    margin: 3em 0 0
    }
.calibre_1 {
    display: block;
    text-align: justify;
    text-indent: 0;
    margin: 2em 0 0
    }
.calibre_2 {
    display: block;
    text-align: justify;
    text-indent: 0;
    margin: 1em 0 0
    }
.calibre_3 {
    display: block;
    text-align: justify;
    text-indent: 0;
    margin: 36em 0 0
    }
.calibre_4 {
    color: #146eb4
    }
.calibre_5 {
    display: block;
    text-align: center;
    text-indent: 0;
    margin: 1em 0 0
    }
.calibre_6 {
    display: block;
    text-indent: 0;
    margin: 1em 0 0
    }
.calibre_7 {
    color: #00c
    }
.calibre_8 {
    display: block;
    text-indent: 0;
    margin: 0
    }
.calibre_9 {
    display: block;
    margin: 0 0 0 2em
    }
.calibre_10 {
    display: block;
    text-indent: 0;
    margin: 0 0 0 2em
    }
.calibre_11 {
    display: block;
    text-align: justify;
    text-indent: 2em;
    margin: 1em 0 0
    }
.calibre_12 {
    height: 6234px;
    vertical-align: baseline;
    width: 8000px
    }
.calibre_13 {
    height: 8906px;
    vertical-align: baseline;
    width: 8000px
    }
.calibre_14 {
    display: block;
    text-align: right;
    text-indent: 2em;
    margin: 1em 0 0
    }
.calibre_15 {
    height: 4487px;
    vertical-align: baseline;
    width: 8000px
    }
.calibre_16 {
    display: block;
    text-align: justify;
    text-indent: 2em;
    margin: 3em 0 0
    }
.calibre_17 {
    height: 5974px;
    vertical-align: baseline;
    width: 8000px
    }
.calibre_18 {
    height: 5270px;
    vertical-align: baseline;
    width: 8000px
    }
.calibre_19 {
    display: block;
    margin: 1em 0 0 2em
    }
.calibre_20 {
    display: block;
    text-align: justify;
    text-indent: 0;
    margin: 0 0 0 2em
    }
.calibre_21 {
    display: block;
    text-align: center;
    text-indent: 0;
    margin: 0
    }
.calibre_22 {
    height: 4312px;
    vertical-align: baseline;
    width: 8000px
    }
.calibre_23 {
    display: block;
    margin: 6pt 0 0 2em
    }
.calibre_24 {
    height: 4120px;
    vertical-align: baseline;
    width: 8000px
    }
.calibre_25 {
    height: 4555px;
    vertical-align: baseline;
    width: 8000px
    }
.calibre_26 {
    height: 7563px;
    vertical-align: baseline;
    width: 8000px
    }
.calibre_27 {
    height: 5702px;
    vertical-align: baseline;
    width: 8000px
    }
.calibre_28 {
    height: 3542px;
    vertical-align: baseline;
    width: 8000px
    }
.calibre_29 {
    height: 6246px;
    vertical-align: baseline;
    width: 8000px
    }
.calibre_30 {
    height: 4283px;
    vertical-align: baseline;
    width: 8000px
    }
.calibre_31 {
    height: 4214px;
    vertical-align: baseline;
    width: 8000px
    }
.calibre_32 {
    height: 4090px;
    vertical-align: baseline;
    width: 8000px
    }
.calibre_33 {
    height: 6316px;
    vertical-align: baseline;
    width: 8000px
    }
.calibre_34 {
    height: 7650px;
    vertical-align: baseline;
    width: 8000px
    }
.calibre_35 {
    height: 2438px;
    vertical-align: baseline;
    width: 8000px
    }
.calibre_36 {
    height: 4445px;
    vertical-align: baseline;
    width: 8000px
    }
.calibre_37 {
    height: 3543px;
    vertical-align: baseline;
    width: 8000px
    }
.calibre_38 {
    height: 5527px;
    vertical-align: baseline;
    width: 8000px
    }
.calibre_39 {
    height: 6400px;
    vertical-align: baseline;
    width: 8000px
    }
.calibre_40 {
    height: 28px;
    text-align: middle;
    width: 56px
    }
.calibre_41 {
    height: 28px;
    text-align: middle;
    width: 66px
    }
.calibre_42 {
    height: 28px;
    text-align: middle;
    width: 52px
    }
.calibre_43 {
    height: 28px;
    text-align: middle;
    width: 65px
    }
.calibre_44 {
    height: 28px;
    text-align: middle;
    width: 61px
    }
.calibre_45 {
    height: 3725px;
    vertical-align: baseline;
    width: 8000px
    }
.calibre_46 {
    display: block;
    text-align: justify;
    text-indent: 2em;
    margin: 2em 0 0
    }
.calibre_47 {
    height: 6154px;
    vertical-align: baseline;
    width: 8000px
    }
.calibre_48 {
    height: 70px;
    text-align: middle;
    width: 310px
    }
.calibre_49 {
    display: block;
    text-align: center;
    text-indent: 0;
    margin: 0 0 0 2em
    }
.calibre_50 {
    height: 6594px;
    vertical-align: baseline;
    width: 8000px
    }
.calibre_51 {
    height: 5909px;
    vertical-align: baseline;
    width: 8000px
    }
.calibre_52 {
    height: 2874px;
    vertical-align: baseline;
    width: 8000px
    }
.calibre_53 {
    height: 3494px;
    vertical-align: baseline;
    width: 8000px
    }
.calibre_54 {
    height: 56px;
    text-align: middle;
    width: 60px
    }
.calibre_55 {
    display: block;
    text-align: justify;
    text-indent: -36pt;
    margin: 1em 0 0 36pt
    }
.calibre_56 {
    height: 56px;
    text-align: middle;
    width: 250px
    }
.calibre_57 {
    height: 56px;
    text-align: middle;
    width: 334px
    }
.calibre_58 {
    height: 8617px;
    vertical-align: baseline;
    width: 8000px
    }
.calibre_59 {
    height: 6560px;
    vertical-align: baseline;
    width: 8000px
    }
.calibre_60 {
    display: block;
    text-align: center;
    text-indent: 0;
    margin: 2em 0 0
    }
.calibre_61 {
    height: 5781px;
    vertical-align: baseline;
    width: 8000px
    }
.calibre_62 {
    height: 5915px;
    vertical-align: baseline;
    width: 8000px
    }
.calibre_63 {
    height: 6185px;
    vertical-align: baseline;
    width: 8000px
    }
.calibre_64 {
    height: 6230px;
    vertical-align: baseline;
    width: 8000px
    }
.calibre_65 {
    height: 6770px;
    vertical-align: baseline;
    width: 8000px
    }
.calibre_66 {
    height: 4546px;
    vertical-align: baseline;
    width: 8000px
    }
.calibre_67 {
    height: 4983px;
    vertical-align: baseline;
    width: 8000px
    }
.calibre_68 {
    height: 4131px;
    vertical-align: baseline;
    width: 8000px
    }
.calibre_69 {
    height: 5599px;
    vertical-align: baseline;
    width: 8000px
    }
.calibre_70 {
    height: 3752px;
    vertical-align: baseline;
    width: 8000px
    }
.calibre_71 {
    height: 3176px;
    vertical-align: baseline;
    width: 8000px
    }
.calibre_72 {
    height: 5490px;
    vertical-align: baseline;
    width: 8000px
    }
.calibre_73 {
    display: block;
    height: 1em
    }
.calibre_74 {
    display: block;
    list-style-type: disc;
    margin-bottom: 1em;
    margin-right: 0;
    margin-top: 1em;
    text-align: justify;
    text-indent: 0
    }
.calibre_75 {
    display: list-item;
    margin-top: 0;
    text-align: justify;
    text-indent: 0
    }
.calibre_76 {
    height: 3973px;
    vertical-align: baseline;
    width: 8000px
    }
.calibre_77 {
    height: 4400px;
    vertical-align: baseline;
    width: 8000px
    }
.calibre_78 {
    height: 4722px;
    vertical-align: baseline;
    width: 8000px
    }
.calibre_79 {
    height: 4542px;
    vertical-align: baseline;
    width: 8000px
    }
.calibre_80 {
    height: 14124px;
    vertical-align: baseline;
    width: 10000px
    }
.calibre_81 {
    height: 5316px;
    vertical-align: baseline;
    width: 8000px
    }
.calibre_82 {
    height: 5474px;
    vertical-align: baseline;
    width: 8000px
    }
.calibre_83 {
    height: 5172px;
    vertical-align: baseline;
    width: 8000px
    }
.calibre_84 {
    height: 3700px;
    vertical-align: baseline;
    width: 8000px
    }
.calibre_85 {
    height: 4119px;
    vertical-align: baseline;
    width: 8000px
    }
.calibre_86 {
    height: 4083px;
    vertical-align: baseline;
    width: 8000px
    }
.calibre_87 {
    height: 6158px;
    vertical-align: baseline;
    width: 8000px
    }
.calibre_88 {
    height: 6498px;
    vertical-align: baseline;
    width: 8000px
    }
.calibre_89 {
    height: 3852px;
    vertical-align: baseline;
    width: 8000px
    }
.calibre_90 {
    height: 4884px;
    vertical-align: baseline;
    width: 8000px
    }
.calibre_91 {
    height: 3218px;
    vertical-align: baseline;
    width: 8000px
    }
.calibre_92 {
    height: 2585px;
    vertical-align: baseline;
    width: 8000px
    }
.calibre_93 {
    height: 2150px;
    vertical-align: baseline;
    width: 8000px
    }
.calibre_94 {
    height: 4267px;
    vertical-align: baseline;
    width: 8000px
    }
.calibre_95 {
    height: 3197px;
    vertical-align: baseline;
    width: 8000px
    }
.calibre_96 {
    height: 5951px;
    vertical-align: baseline;
    width: 8000px
    }
.calibre_97 {
    height: 4236px;
    vertical-align: baseline;
    width: 8000px
    }
.calibre_98 {
    height: 4299px;
    vertical-align: baseline;
    width: 8000px
    }
.calibre_99 {
    height: 2948px;
    vertical-align: baseline;
    width: 8000px
    }
.calibre_100 {
    height: 3195px;
    vertical-align: baseline;
    width: 8000px
    }
.calibre_101 {
    height: 5568px;
    vertical-align: baseline;
    width: 8000px
    }
.calibre_102 {
    height: 5190px;
    vertical-align: baseline;
    width: 8000px
    }
.calibre_103 {
    height: 2869px;
    vertical-align: baseline;
    width: 8000px
    }
.calibre_104 {
    height: 5137px;
    vertical-align: baseline;
    width: 8000px
    }
.calibre_105 {
    height: 5751px;
    vertical-align: baseline;
    width: 8000px
    }
.calibre_106 {
    height: 4037px;
    vertical-align: baseline;
    width: 8000px
    }
.calibre_107 {
    color: gray;
    display: block;
    height: 2px;
    text-indent: 30%;
    border: currentColor inset 1px;
    margin: 0.5em auto
    }
.calibre_108 {
    display: block;
    text-align: left;
    text-indent: 0;
    margin: 6pt 0 0
    }
.calibre_109 {
    height: 56px;
    text-align: middle;
    width: 21px
    }
.calibre_110 {
    height: 56px;
    text-align: middle;
    width: 22px
    }
.calibre_111 {
    height: 56px;
    text-align: middle;
    width: 24px
    }
.calibre_112 {
    height: 56px;
    text-align: middle;
    width: 41px
    }
.calibre_113 {
    height: 5098px;
    vertical-align: baseline;
    width: 8000px
    }
.calibre_114 {
    height: 56px;
    text-align: middle;
    width: 25px
    }
.calibre_115 {
    height: 56px;
    text-align: middle;
    width: 45px
    }
.calibre_116 {
    height: 56px;
    text-align: middle;
    width: 82px
    }
.calibre_117 {
    height: 56px;
    text-align: middle;
    width: 23px
    }
.calibre_118 {
    height: 2280px;
    vertical-align: baseline;
    width: 8000px
    }
.calibre_119 {
    height: 56px;
    text-align: middle;
    width: 92px
    }
.calibre_120 {
    height: 4881px;
    vertical-align: baseline;
    width: 8000px
    }
.calibre_121 {
    height: 4977px;
    vertical-align: baseline;
    width: 8000px
    }
.calibre_122 {
    height: 6217px;
    vertical-align: baseline;
    width: 8000px
    }
.calibre_123 {
    height: 6152px;
    vertical-align: baseline;
    width: 8000px
    }
.calibre_124 {
    height: 5970px;
    vertical-align: baseline;
    width: 8000px
    }
.calibre_125 {
    height: 5275px;
    vertical-align: baseline;
    width: 8000px
    }
.calibre_126 {
    height: 5418px;
    vertical-align: baseline;
    width: 8000px
    }
.calibre_127 {
    height: 2762px;
    vertical-align: baseline;
    width: 8000px
    }
.calibre_128 {
    height: 4529px;
    vertical-align: baseline;
    width: 8000px
    }
.calibre_129 {
    height: 3429px;
    vertical-align: baseline;
    width: 8000px
    }
.calibre_130 {
    height: 2294px;
    vertical-align: baseline;
    width: 8000px
    }
.calibre_131 {
    height: 8242px;
    vertical-align: baseline;
    width: 8000px
    }
.calibre_132 {
    height: 3959px;
    vertical-align: baseline;
    width: 8000px
    }
.calibre_133 {
    height: 8225px;
    vertical-align: baseline;
    width: 8000px
    }
.calibre_134 {
    height: 2872px;
    vertical-align: baseline;
    width: 8000px
    }
.calibre_135 {
    height: 8383px;
    vertical-align: baseline;
    width: 8000px
    }
.calibre_136 {
    height: 5564px;
    vertical-align: baseline;
    width: 8000px
    }
.calibre_137 {
    height: 10070px;
    vertical-align: baseline;
    width: 8000px
    }
.calibre_138 {
    height: 4897px;
    vertical-align: baseline;
    width: 8000px
    }
.calibre_139 {
    height: 4571px;
    vertical-align: baseline;
    width: 8000px
    }
.calibre_140 {
    height: 4856px;
    vertical-align: baseline;
    width: 8000px
    }
.calibre_141 {
    height: 3402px;
    vertical-align: baseline;
    width: 8000px
    }
.calibre_142 {
    height: 1679px;
    vertical-align: baseline;
    width: 8000px
    }
.calibre_143 {
    height: 4843px;
    vertical-align: baseline;
    width: 8000px
    }
.calibre_144 {
    height: 4689px;
    vertical-align: baseline;
    width: 8000px
    }
.calibre_145 {
    height: 3546px;
    vertical-align: baseline;
    width: 8000px
    }
.calibre_146 {
    height: 8565px;
    vertical-align: baseline;
    width: 8000px
    }
.calibre_147 {
    height: 197px;
    text-align: middle;
    width: 200px
    }
.calibre_148 {
    height: 4727px;
    vertical-align: baseline;
    width: 8000px
    }
.calibre_149 {
    height: 5586px;
    vertical-align: baseline;
    width: 8000px
    }
.calibre_150 {
    height: 8809px;
    vertical-align: baseline;
    width: 8000px
    }
.calibre_151 {
    height: 3332px;
    vertical-align: baseline;
    width: 8000px
    }
.calibre_152 {
    height: 197px;
    text-align: middle;
    width: 185px
    }
.calibre_153 {
    height: 3676px;
    vertical-align: baseline;
    width: 8000px
    }
.calibre_154 {
    display: block;
    text-align: justify;
    text-indent: 2em;
    margin: 0 0 0 2em
    }
.calibre_155 {
    height: 5191px;
    vertical-align: baseline;
    width: 8000px
    }
.calibre_156 {
    height: 5249px;
    vertical-align: baseline;
    width: 8000px
    }
.calibre_157 {
    height: 4323px;
    vertical-align: baseline;
    width: 8000px
    }
.calibre_158 {
    height: 5272px;
    vertical-align: baseline;
    width: 8000px
    }
.calibre_159 {
    height: 5101px;
    vertical-align: baseline;
    width: 8000px
    }
.calibre_160 {
    height: 197px;
    text-align: middle;
    width: 213px
    }
.calibre_161 {
    height: 2658px;
    vertical-align: baseline;
    width: 8000px
    }
.calibre_162 {
    height: 4135px;
    vertical-align: baseline;
    width: 8000px
    }
.calibre_163 {
    height: 5159px;
    vertical-align: baseline;
    width: 8000px
    }
.calibre_164 {
    height: 197px;
    text-align: middle;
    width: 181px
    }
.calibre_165 {
    height: 4464px;
    vertical-align: baseline;
    width: 8000px
    }
.calibre_166 {
    height: 4196px;
    vertical-align: baseline;
    width: 8000px
    }
.calibre_167 {
    height: 3771px;
    vertical-align: baseline;
    width: 8000px
    }
.calibre_168 {
    height: 5341px;
    vertical-align: baseline;
    width: 8000px
    }
.calibre_169 {
    height: 197px;
    text-align: middle;
    width: 225px
    }
.calibre_170 {
    height: 4969px;
    vertical-align: baseline;
    width: 8000px
    }
.calibre_171 {
    height: 4527px;
    vertical-align: baseline;
    width: 8000px
    }
.calibre_172 {
    height: 2962px;
    vertical-align: baseline;
    width: 8000px
    }
.calibre_173 {
    height: 197px;
    text-align: middle;
    width: 197px
    }
.calibre_174 {
    height: 10214px;
    vertical-align: baseline;
    width: 8000px
    }
.calibre_175 {
    height: 6393px;
    vertical-align: baseline;
    width: 8000px
    }
.calibre_176 {
    height: 5039px;
    vertical-align: baseline;
    width: 5000px
    }
.calibre_177 {
    height: 9136px;
    vertical-align: baseline;
    width: 8000px
    }
.calibre_178 {
    display: block;
    text-align: left;
    text-indent: 0;
    margin: 10pt 0 0
    }
.calibre_179 {
    height: 6349px;
    vertical-align: baseline;
    width: 8000px
    }
.calibre_180 {
    height: 5758px;
    vertical-align: baseline;
    width: 8000px
    }
.calibre_181 {
    height: 3069px;
    vertical-align: baseline;
    width: 8000px
    }
.calibre_182 {
    height: 7305px;
    vertical-align: baseline;
    width: 8000px
    }
.calibre_183 {
    height: 4264px;
    vertical-align: baseline;
    width: 5000px
    }
.calibre_184 {
    height: 2795px;
    vertical-align: baseline;
    width: 8000px
    }
.calibre_185 {
    height: 5806px;
    vertical-align: baseline;
    width: 8000px
    }
.calibre_186 {
    height: 4154px;
    vertical-align: baseline;
    width: 8000px
    }
.calibre_187 {
    height: 6403px;
    vertical-align: baseline;
    width: 8000px
    }
.calibre_188 {
    height: 13202px;
    vertical-align: baseline;
    width: 10000px
    }
.calibre_189 {
    height: 14116px;
    vertical-align: baseline;
    width: 10000px
    }
.calibre_190 {
    height: 6111px;
    vertical-align: baseline;
    width: 8000px
    }
.calibre_191 {
    height: 5794px;
    vertical-align: baseline;
    width: 8000px
    }
.calibre_192 {
    height: 2119px;
    vertical-align: baseline;
    width: 8000px
    }
.calibre_193 {
    height: 8258px;
    vertical-align: baseline;
    width: 8000px
    }
.calibre_194 {
    height: 6585px;
    vertical-align: baseline;
    width: 8000px
    }
.calibre_195 {
    height: 7006px;
    vertical-align: baseline;
    width: 8000px
    }
.calibre_196 {
    height: 4588px;
    vertical-align: baseline;
    width: 8000px
    }
.calibre_197 {
    height: 6091px;
    vertical-align: baseline;
    width: 8000px
    }
.calibre_198 {
    height: 10289px;
    vertical-align: baseline;
    width: 8000px
    }
.calibre_199 {
    height: 5268px;
    vertical-align: baseline;
    width: 8000px
    }
.calibre_200 {
    height: 7401px;
    vertical-align: baseline;
    width: 8000px
    }
.calibre_201 {
    height: 6287px;
    vertical-align: baseline;
    width: 8000px
    }
.calibre_202 {
    height: 6518px;
    vertical-align: baseline;
    width: 8000px
    }
.calibre_203 {
    height: 7847px;
    vertical-align: baseline;
    width: 5000px
    }
.calibre_204 {
    height: 5397px;
    vertical-align: baseline;
    width: 3500px
    }
.calibre_205 {
    height: 4843px;
    vertical-align: baseline;
    width: 3500px
    }
.calibre_206 {
    height: 2769px;
    vertical-align: baseline;
    width: 8000px
    }
.calibre_207 {
    height: 4841px;
    vertical-align: baseline;
    width: 8000px
    }
.calibre_208 {
    height: 7079px;
    vertical-align: baseline;
    width: 8000px
    }
.calibre_209 {
    height: 5019px;
    vertical-align: baseline;
    width: 8000px
    }
.calibre_210 {
    height: 4958px;
    vertical-align: baseline;
    width: 8000px
    }
.calibre_211 {
    height: 9147px;
    vertical-align: baseline;
    width: 8000px
    }
.calibre_212 {
    height: 7046px;
    vertical-align: baseline;
    width: 8000px
    }
.calibre_213 {
    height: 3341px;
    vertical-align: baseline;
    width: 8000px
    }
.calibre_214 {
    height: 5155px;
    vertical-align: baseline;
    width: 8000px
    }
.calibre_215 {
    height: 3832px;
    vertical-align: baseline;
    width: 8000px
    }
.calibre_216 {
    height: 3934px;
    vertical-align: baseline;
    width: 8000px
    }
.calibre_217 {
    height: 4768px;
    vertical-align: baseline;
    width: 8000px
    }
.calibre_218 {
    height: 6360px;
    vertical-align: baseline;
    width: 8000px
    }
.calibre_219 {
    height: 5193px;
    vertical-align: baseline;
    width: 8000px
    }
.calibre_220 {
    height: 4775px;
    vertical-align: baseline;
    width: 8000px
    }
.calibre_221 {
    height: 6514px;
    vertical-align: baseline;
    width: 8000px
    }
.calibre_222 {
    display: block;
    text-align: center;
    text-indent: 0;
    margin: 10pt 0 0
    }
.calibre_223 {
    height: 4395px;
    vertical-align: baseline;
    width: 8000px
    }
.calibre_224 {
    height: 4979px;
    vertical-align: baseline;
    width: 8000px
    }
.calibre_225 {
    height: 7107px;
    vertical-align: baseline;
    width: 8000px
    }
.calibre_226 {
    height: 3768px;
    vertical-align: baseline;
    width: 8000px
    }
.calibre_227 {
    height: 3486px;
    vertical-align: baseline;
    width: 8000px
    }
.calibre_228 {
    height: 3160px;
    vertical-align: baseline;
    width: 8000px
    }
.calibre_229 {
    height: 2558px;
    vertical-align: baseline;
    width: 8000px
    }
.calibre_230 {
    height: 1945px;
    vertical-align: baseline;
    width: 8000px
    }
.calibre_231 {
    height: 3051px;
    vertical-align: baseline;
    width: 8000px
    }
.calibre_232 {
    height: 2825px;
    vertical-align: baseline;
    width: 8000px
    }
.calibre_233 {
    height: 2625px;
    vertical-align: baseline;
    width: 8000px
    }
.calibre_234 {
    height: 2847px;
    vertical-align: baseline;
    width: 8000px
    }
.calibre_235 {
    height: 1873px;
    vertical-align: baseline;
    width: 8000px
    }
.calibre_236 {
    height: 4185px;
    vertical-align: baseline;
    width: 8000px
    }
.calibre_237 {
    height: 3981px;
    vertical-align: baseline;
    width: 8000px
    }
.calibre_238 {
    height: 4264px;
    vertical-align: baseline;
    width: 8000px
    }
.calibre_239 {
    display: block;
    text-align: center;
    text-indent: 0;
    margin: 3pt 0 0
    }
.calibre_240 {
    height: 5120px;
    vertical-align: baseline;
    width: 8000px
    }
.calibre_241 {
    height: 6096px;
    vertical-align: baseline;
    width: 8000px
    }
.calibre_242 {
    height: 4551px;
    vertical-align: baseline;
    width: 8000px
    }
.calibre_243 {
    height: 5089px;
    vertical-align: baseline;
    width: 8000px
    }
.calibre_244 {
    height: 5363px;
    vertical-align: baseline;
    width: 8000px
    }
.calibre_245 {
    height: 5311px;
    vertical-align: baseline;
    width: 8000px
    }
.calibre_246 {
    height: 4719px;
    vertical-align: baseline;
    width: 8000px
    }
.calibre_247 {
    height: 3232px;
    vertical-align: baseline;
    width: 8000px
    }
.calibre_248 {
    height: 9435px;
    vertical-align: baseline;
    width: 8000px
    }
.calibre_249 {
    height: 4947px;
    vertical-align: baseline;
    width: 8000px
    }
.calibre_250 {
    height: 56px;
    text-align: middle;
    width: 39px
    }
.calibre_251 {
    height: 56px;
    text-align: middle;
    width: 35px
    }
.calibre_252 {
    height: 56px;
    text-align: middle;
    width: 30px
    }
.calibre_253 {
    height: 7466px;
    vertical-align: baseline;
    width: 8000px
    }
.calibre_254 {
    height: 5117px;
    vertical-align: baseline;
    width: 8000px
    }
.calibre_255 {
    height: 5893px;
    vertical-align: baseline;
    width: 8000px
    }
.calibre_256 {
    height: 5228px;
    vertical-align: baseline;
    width: 8000px
    }
.calibre_257 {
    height: 5662px;
    vertical-align: baseline;
    width: 8000px
    }
.calibre_258 {
    height: 5643px;
    vertical-align: baseline;
    width: 8000px
    }
.calibre_259 {
    height: 6570px;
    vertical-align: baseline;
    width: 8000px
    }
.calibre_260 {
    height: 6229px;
    vertical-align: baseline;
    width: 8000px
    }
.calibre_261 {
    height: 5158px;
    vertical-align: baseline;
    width: 8000px
    }
.calibre_262 {
    height: 5197px;
    vertical-align: baseline;
    width: 8000px
    }
.calibre_263 {
    height: 5814px;
    vertical-align: baseline;
    width: 8000px
    }
.calibre_264 {
    height: 3948px;
    vertical-align: baseline;
    width: 8000px
    }
.calibre_265 {
    height: 6075px;
    vertical-align: baseline;
    width: 8000px
    }
.calibre_266 {
    height: 5160px;
    vertical-align: baseline;
    width: 8000px
    }
.calibre_267 {
    height: 4694px;
    vertical-align: baseline;
    width: 8000px
    }
.calibre_268 {
    height: 4517px;
    vertical-align: baseline;
    width: 8000px
    }
.calibre_269 {
    height: 3598px;
    vertical-align: baseline;
    width: 8000px
    }
.calibre_270 {
    height: 4386px;
    vertical-align: baseline;
    width: 8000px
    }
.calibre_271 {
    display: block;
    text-align: left;
    text-indent: 0;
    margin: 3pt 0 0
    }
.calibre_272 {
    height: 4862px;
    vertical-align: baseline;
    width: 8000px
    }
.calibre_273 {
    height: 4115px;
    vertical-align: baseline;
    width: 8000px
    }
.calibre_274 {
    height: 5444px;
    vertical-align: baseline;
    width: 8000px
    }
.calibre_275 {
    height: 4340px;
    vertical-align: baseline;
    width: 8000px
    }
.calibre_276 {
    height: 5397px;
    vertical-align: baseline;
    width: 8000px
    }
.calibre_277 {
    height: 6043px;
    vertical-align: baseline;
    width: 8000px
    }
.calibre_278 {
    height: 5992px;
    vertical-align: baseline;
    width: 8000px
    }
.calibre_279 {
    height: 7217px;
    vertical-align: baseline;
    width: 8000px
    }
.calibre_280 {
    height: 3932px;
    vertical-align: baseline;
    width: 8000px
    }
.calibre_281 {
    height: 5313px;
    vertical-align: baseline;
    width: 8000px
    }
.calibre_282 {
    height: 14158px;
    vertical-align: baseline;
    width: 10000px
    }
.calibre_283 {
    height: 4072px;
    vertical-align: baseline;
    width: 8000px
    }
.calibre_284 {
    height: 3732px;
    vertical-align: baseline;
    width: 8000px
    }
.calibre_285 {
    border-collapse: separate;
    border-spacing: 2px;
    display: table;
    margin-bottom: 0;
    margin-top: 0;
    text-align: center;
    text-indent: 0
    }
.calibre_286 {
    display: table-row;
    text-align: justify;
    vertical-align: middle
    }
.calibre_287 {
    background-color: #c7c7c7;
    display: table-cell;
    text-align: justify;
    vertical-align: top;
    padding: 1px
    }
.calibre_288 {
    background-color: #c7c7c7
    }
.calibre_289 {
    display: table-cell;
    text-align: justify;
    vertical-align: top;
    padding: 1px
    }
.calibre_290 {
    height: 10574px;
    vertical-align: baseline;
    width: 8000px
    }
.calibre_291 {
    height: 3807px;
    vertical-align: baseline;
    width: 8000px
    }
.calibre_292 {
    height: 28px;
    text-align: middle;
    width: 11px
    }
.calibre_293 {
    height: 5520px;
    vertical-align: baseline;
    width: 8000px
    }
.calibre_294 {
    height: 5591px;
    vertical-align: baseline;
    width: 8000px
    }
.calibre_295 {
    height: 4274px;
    vertical-align: baseline;
    width: 8000px
    }
.calibre_296 {
    height: 8911px;
    vertical-align: baseline;
    width: 8000px
    }
.calibre_297 {
    height: 5099px;
    vertical-align: baseline;
    width: 8000px
    }
.calibre_298 {
    height: 5286px;
    vertical-align: baseline;
    width: 8000px
    }
.calibre_299 {
    height: 8958px;
    vertical-align: baseline;
    width: 8000px
    }
.calibre_300 {
    height: 5154px;
    vertical-align: baseline;
    width: 8000px
    }
.calibre_301 {
    height: 5147px;
    vertical-align: baseline;
    width: 8000px
    }
.calibre_302 {
    height: 5880px;
    vertical-align: baseline;
    width: 8000px
    }
.calibre_303 {
    height: 4669px;
    vertical-align: baseline;
    width: 8000px
    }
.calibre_304 {
    height: 2556px;
    vertical-align: baseline;
    width: 8000px
    }
.calibre_305 {
    height: 3465px;
    vertical-align: baseline;
    width: 8000px
    }
.calibre_306 {
    height: 8154px;
    vertical-align: baseline;
    width: 8000px
    }
.calibre_307 {
    height: 6804px;
    vertical-align: baseline;
    width: 8000px
    }
.calibre_308 {
    height: 6136px;
    vertical-align: baseline;
    width: 8000px
    }
.calibre_309 {
    height: 5901px;
    vertical-align: baseline;
    width: 8000px
    }
.calibre_310 {
    height: 4402px;
    vertical-align: baseline;
    width: 8000px
    }
.calibre_311 {
    height: 4763px;
    vertical-align: baseline;
    width: 8000px
    }
.calibre_312 {
    height: 4195px;
    vertical-align: baseline;
    width: 8000px
    }
.calibre_313 {
    height: 4171px;
    vertical-align: baseline;
    width: 8000px
    }
.calibre_314 {
    height: 5457px;
    vertical-align: baseline;
    width: 8000px
    }
.calibre_315 {
    height: 4568px;
    vertical-align: baseline;
    width: 8000px
    }
.calibre_316 {
    height: 8226px;
    vertical-align: baseline;
    width: 8000px
    }
.calibre_317 {
    height: 7916px;
    vertical-align: baseline;
    width: 8000px
    }
.calibre_318 {
    height: 4443px;
    vertical-align: baseline;
    width: 8000px
    }
.calibre_319 {
    height: 4581px;
    vertical-align: baseline;
    width: 8000px
    }
.calibre_320 {
    height: 4008px;
    vertical-align: baseline;
    width: 8000px
    }
.calibre_321 {
    height: 4427px;
    vertical-align: baseline;
    width: 8000px
    }
.calibre_322 {
    height: 4105px;
    vertical-align: baseline;
    width: 8000px
    }
.calibre_323 {
    height: 3846px;
    vertical-align: baseline;
    width: 8000px
    }
.calibre_324 {
    height: 4433px;
    vertical-align: baseline;
    width: 8000px
    }
.calibre_325 {
    height: 3937px;
    vertical-align: baseline;
    width: 8000px
    }
.calibre_326 {
    height: 4423px;
    vertical-align: baseline;
    width: 8000px
    }
.calibre_327 {
    height: 5195px;
    vertical-align: baseline;
    width: 8000px
    }
.calibre_328 {
    height: 6332px;
    vertical-align: baseline;
    width: 8000px
    }
.calibre_329 {
    height: 4483px;
    vertical-align: baseline;
    width: 8000px
    }
.calibre_330 {
    height: 5097px;
    vertical-align: baseline;
    width: 8000px
    }
.calibre_331 {
    height: 2943px;
    vertical-align: baseline;
    width: 8000px
    }
.calibre_332 {
    height: 5771px;
    vertical-align: baseline;
    width: 8000px
    }
.calibre_333 {
    height: 3060px;
    vertical-align: baseline;
    width: 8000px
    }
.calibre_334 {
    height: 5685px;
    vertical-align: baseline;
    width: 8000px
    }
.calibre_335 {
    height: 9111px;
    vertical-align: baseline;
    width: 8000px
    }
.calibre_336 {
    height: 3861px;
    vertical-align: baseline;
    width: 8000px
    }
.calibre_337 {
    height: 6072px;
    vertical-align: baseline;
    width: 8000px
    }
.calibre_338 {
    height: 2670px;
    vertical-align: baseline;
    width: 8000px
    }
.calibre_339 {
    height: 6623px;
    vertical-align: baseline;
    width: 8000px
    }
.calibre_340 {
    height: 3265px;
    vertical-align: baseline;
    width: 8000px
    }
.calibre_341 {
    height: 9016px;
    vertical-align: baseline;
    width: 8000px
    }
.calibre_342 {
    height: 3541px;
    vertical-align: baseline;
    width: 8000px
    }
.calibre_343 {
    height: 10617px;
    vertical-align: baseline;
    width: 8000px
    }
.calibre_344 {
    height: 4094px;
    vertical-align: baseline;
    width: 8000px
    }
.calibre_345 {
    height: 3381px;
    vertical-align: baseline;
    width: 8000px
    }
.calibre_346 {
    height: 6639px;
    vertical-align: baseline;
    width: 8000px
    }
.calibre_347 {
    height: 4343px;
    vertical-align: baseline;
    width: 8000px
    }
.calibre_348 {
    height: 6286px;
    vertical-align: baseline;
    width: 8000px
    }
.calibre_349 {
    height: 6459px;
    vertical-align: baseline;
    width: 8000px
    }
.calibre_350 {
    height: 4170px;
    vertical-align: baseline;
    width: 8000px
    }
.calibre_351 {
    height: 4794px;
    vertical-align: baseline;
    width: 8000px
    }
.calibre_352 {
    height: 6415px;
    vertical-align: baseline;
    width: 8000px
    }
.calibre_353 {
    height: 5102px;
    vertical-align: baseline;
    width: 8000px
    }
.calibre_354 {
    height: 5947px;
    vertical-align: baseline;
    width: 8000px
    }
.calibre_355 {
    height: 8034px;
    vertical-align: baseline;
    width: 8000px
    }
.calibre_356 {
    height: 10924px;
    vertical-align: baseline;
    width: 8000px
    }
.calibre_357 {
    height: 6016px;
    vertical-align: baseline;
    width: 8000px
    }
.calibre_358 {
    height: 11095px;
    vertical-align: baseline;
    width: 8000px
    }
.calibre_359 {
    height: 6056px;
    vertical-align: baseline;
    width: 8000px
    }
.calibre_360 {
    height: 4650px;
    vertical-align: baseline;
    width: 8000px
    }
.calibre_361 {
    height: 4787px;
    vertical-align: baseline;
    width: 8000px
    }
.calibre_362 {
    height: 11003px;
    vertical-align: baseline;
    width: 8000px
    }
.calibre_363 {
    height: 6416px;
    vertical-align: baseline;
    width: 8000px
    }
.calibre_364 {
    height: 5531px;
    vertical-align: baseline;
    width: 8000px
    }
.calibre_365 {
    height: 3824px;
    vertical-align: baseline;
    width: 8000px
    }
.calibre_366 {
    height: 5935px;
    vertical-align: baseline;
    width: 8000px
    }
.calibre_367 {
    height: 5929px;
    vertical-align: baseline;
    width: 8000px
    }
.calibre_368 {
    height: 4300px;
    vertical-align: baseline;
    width: 8000px
    }
.calibre_369 {
    height: 5244px;
    vertical-align: baseline;
    width: 8000px
    }
.calibre_370 {
    height: 3114px;
    vertical-align: baseline;
    width: 8000px
    }
.calibre_371 {
    height: 4874px;
    vertical-align: baseline;
    width: 8000px
    }
.calibre_372 {
    height: 4604px;
    vertical-align: baseline;
    width: 8000px
    }
.calibre_373 {
    height: 6396px;
    vertical-align: baseline;
    width: 8000px
    }
.calibre_374 {
    height: 4399px;
    vertical-align: baseline;
    width: 8000px
    }
.calibre_375 {
    height: 3716px;
    vertical-align: baseline;
    width: 8000px
    }
.calibre_376 {
    height: 3426px;
    vertical-align: baseline;
    width: 8000px
    }
.calibre_377 {
    height: 4758px;
    vertical-align: baseline;
    width: 8000px
    }
.calibre_378 {
    height: 5261px;
    vertical-align: baseline;
    width: 8000px
    }
.calibre_379 {
    height: 5217px;
    vertical-align: baseline;
    width: 8000px
    }
.calibre_380 {
    height: 4118px;
    vertical-align: baseline;
    width: 8000px
    }
.calibre_381 {
    height: 4415px;
    vertical-align: baseline;
    width: 8000px
    }
.calibre_382 {
    display: block;
    margin: 2em 0 0 2em
    }
.calibre_383 {
    height: 2487px;
    vertical-align: baseline;
    width: 8000px
    }
.calibre_384 {
    height: 2901px;
    vertical-align: baseline;
    width: 8000px
    }
.calibre_385 {
    height: 1499px;
    vertical-align: baseline;
    width: 8000px
    }
.calibre_386 {
    height: 14130px;
    vertical-align: baseline;
    width: 10000px
    }
.calibre_387 {
    height: 6266px;
    vertical-align: baseline;
    width: 8000px
    }
.calibre_388 {
    height: 10369px;
    vertical-align: baseline;
    width: 8000px
    }
.calibre_389 {
    height: 56px;
    text-align: middle;
    width: 33px
    }
.calibre_390 {
    height: 3315px;
    vertical-align: baseline;
    width: 8000px
    }
.calibre_391 {
    height: 5626px;
    vertical-align: baseline;
    width: 8000px
    }
.calibre_392 {
    height: 4164px;
    vertical-align: baseline;
    width: 8000px
    }
.calibre_393 {
    height: 2992px;
    vertical-align: baseline;
    width: 8000px
    }
.calibre_394 {
    height: 6170px;
    vertical-align: baseline;
    width: 8000px
    }
.calibre_395 {
    height: 5279px;
    vertical-align: baseline;
    width: 8000px
    }
.calibre_396 {
    height: 6275px;
    vertical-align: baseline;
    width: 8000px
    }
.calibre_397 {
    height: 3962px;
    vertical-align: baseline;
    width: 8000px
    }
.calibre_398 {
    height: 5872px;
    vertical-align: baseline;
    width: 8000px
    }
.calibre_399 {
    height: 2022px;
    vertical-align: baseline;
    width: 8000px
    }
.calibre_400 {
    height: 5979px;
    vertical-align: baseline;
    width: 8000px
    }
.calibre_401 {
    height: 6595px;
    vertical-align: baseline;
    width: 8000px
    }
.calibre_402 {
    height: 6397px;
    vertical-align: baseline;
    width: 8000px
    }
.calibre_403 {
    height: 3895px;
    vertical-align: baseline;
    width: 8000px
    }
.calibre_404 {
    height: 6250px;
    vertical-align: baseline;
    width: 8000px
    }
.calibre_405 {
    height: 7319px;
    vertical-align: baseline;
    width: 8000px
    }
.calibre_406 {
    height: 6502px;
    vertical-align: baseline;
    width: 8000px
    }
.calibre_407 {
    height: 6283px;
    vertical-align: baseline;
    width: 8000px
    }
.calibre_408 {
    height: 5698px;
    vertical-align: baseline;
    width: 8000px
    }
.calibre_409 {
    height: 5079px;
    vertical-align: baseline;
    width: 8000px
    }
.calibre_410 {
    height: 6191px;
    vertical-align: baseline;
    width: 8000px
    }
.calibre_411 {
    height: 5994px;
    vertical-align: baseline;
    width: 8000px
    }
.calibre_412 {
    height: 5745px;
    vertical-align: baseline;
    width: 8000px
    }
.calibre_413 {
    height: 9648px;
    vertical-align: baseline;
    width: 8000px
    }
.calibre_414 {
    height: 6022px;
    vertical-align: baseline;
    width: 8000px
    }
.calibre_415 {
    height: 6156px;
    vertical-align: baseline;
    width: 8000px
    }
.calibre_416 {
    height: 5826px;
    vertical-align: baseline;
    width: 8000px
    }
.calibre_417 {
    height: 5786px;
    vertical-align: baseline;
    width: 8000px
    }
.calibre_418 {
    height: 5775px;
    vertical-align: baseline;
    width: 8000px
    }
.calibre_419 {
    height: 3621px;
    vertical-align: baseline;
    width: 8000px
    }
.calibre_420 {
    height: 5766px;
    vertical-align: baseline;
    width: 8000px
    }
.calibre_421 {
    height: 2040px;
    vertical-align: baseline;
    width: 8000px
    }
.calibre_422 {
    height: 1863px;
    vertical-align: baseline;
    width: 8000px
    }
.calibre_423 {
    height: 6305px;
    vertical-align: baseline;
    width: 8000px
    }
.calibre_424 {
    height: 2632px;
    vertical-align: baseline;
    width: 8000px
    }
.calibre_425 {
    height: 11956px;
    vertical-align: baseline;
    width: 8000px
    }
.calibre_426 {
    height: 5471px;
    vertical-align: baseline;
    width: 8000px
    }
.calibre_427 {
    height: 8516px;
    vertical-align: baseline;
    width: 8000px
    }
.calibre_428 {
    height: 6110px;
    vertical-align: baseline;
    width: 8000px
    }
.calibre_429 {
    height: 6409px;
    vertical-align: baseline;
    width: 8000px
    }
.calibre_430 {
    height: 5731px;
    vertical-align: baseline;
    width: 8000px
    }
.calibre_431 {
    height: 6359px;
    vertical-align: baseline;
    width: 8000px
    }
.calibre_432 {
    height: 7086px;
    vertical-align: baseline;
    width: 8000px
    }
.calibre_433 {
    height: 3497px;
    vertical-align: baseline;
    width: 8000px
    }
.calibre_434 {
    height: 4132px;
    vertical-align: baseline;
    width: 8000px
    }
.calibre_435 {
    height: 5245px;
    vertical-align: baseline;
    width: 8000px
    }
.calibre_436 {
    height: 4660px;
    vertical-align: baseline;
    width: 8000px
    }
.calibre_437 {
    height: 5417px;
    vertical-align: baseline;
    width: 8000px
    }
.calibre_438 {
    height: 5258px;
    vertical-align: baseline;
    width: 8000px
    }
.calibre_439 {
    height: 4356px;
    vertical-align: baseline;
    width: 8000px
    }
.calibre_440 {
    height: 5419px;
    vertical-align: baseline;
    width: 8000px
    }
.calibre_441 {
    height: 3259px;
    vertical-align: baseline;
    width: 8000px
    }
.calibre_442 {
    height: 7050px;
    vertical-align: baseline;
    width: 8000px
    }
.calibre_443 {
    height: 4816px;
    vertical-align: baseline;
    width: 8000px
    }
.calibre_444 {
    height: 3452px;
    vertical-align: baseline;
    width: 8000px
    }
.calibre_445 {
    height: 4929px;
    vertical-align: baseline;
    width: 5000px
    }
.calibre_446 {
    height: 4961px;
    vertical-align: baseline;
    width: 5000px
    }
.calibre_447 {
    height: 4915px;
    vertical-align: baseline;
    width: 5000px
    }
.calibre_448 {
    height: 2100px;
    vertical-align: baseline;
    width: 8000px
    }
.calibre_449 {
    height: 3574px;
    vertical-align: baseline;
    width: 8000px
    }
.calibre_450 {
    height: 4984px;
    vertical-align: baseline;
    width: 8000px
    }
.calibre_451 {
    height: 3422px;
    vertical-align: baseline;
    width: 8000px
    }
.calibre_452 {
    height: 5473px;
    vertical-align: baseline;
    width: 8000px
    }
.calibre_453 {
    height: 7126px;
    vertical-align: baseline;
    width: 5000px
    }
.calibre_454 {
    height: 4238px;
    vertical-align: baseline;
    width: 5000px
    }
.calibre_455 {
    height: 4196px;
    vertical-align: baseline;
    width: 5000px
    }
.calibre_456 {
    height: 3767px;
    vertical-align: baseline;
    width: 10000px
    }
.calibre_457 {
    display: block;
    text-align: justify;
    text-indent: 2em;
    margin: 5pt 0 0
    }
.calibre_458 {
    display: block;
    text-align: center;
    text-indent: 0;
    margin: 5pt 0 0
    }
.calibre_459 {
    height: 8916px;
    vertical-align: baseline;
    width: 8000px
    }
.calibre_460 {
    height: 2px;
    vertical-align: baseline;
    width: 2px
    }
.calibre_461 {
    height: 2140px;
    vertical-align: baseline;
    width: 8000px
    }
.calibre_462 {
    height: 3336px;
    vertical-align: baseline;
    width: 8000px
    }
.calibre_463 {
    height: 1951px;
    vertical-align: baseline;
    width: 8000px
    }
.calibre_464 {
    height: 2864px;
    vertical-align: baseline;
    width: 8000px
    }
.calibre_465 {
    height: 5653px;
    vertical-align: baseline;
    width: 8000px
    }
.calibre_466 {
    height: 5480px;
    vertical-align: baseline;
    width: 8000px
    }
.calibre_467 {
    height: 5352px;
    vertical-align: baseline;
    width: 8000px
    }
.calibre_468 {
    height: 5943px;
    vertical-align: baseline;
    width: 8000px
    }
.calibre_469 {
    display: block;
    text-align: justify;
    text-indent: 0;
    margin: 5pt 0 0
    }
.calibre_470 {
    height: 3620px;
    vertical-align: baseline;
    width: 8000px
    }
.calibre_471 {
    height: 1014px;
    vertical-align: baseline;
    width: 8000px
    }
.calibre_472 {
    height: 47px;
    text-align: middle;
    width: 22px
    }
.calibre_473 {
    height: 4578px;
    vertical-align: baseline;
    width: 8000px
    }
.calibre_474 {
    height: 10000px;
    vertical-align: baseline;
    width: 8000px
    }
.calibre_475 {
    display: block;
    text-indent: -14pt;
    margin: 1em 0 0 14pt
    }
.calibre_476 {
    display: block;
    text-indent: -14pt;
    margin: 0 0 0 14pt
    }
.calibre1 {
    font-size: 1.125em;
    line-height: 1.2
    }
.calibre2 {
    display: block
    }
.calibre3 {
    font-size: 1.41667em;
    line-height: 1.2
    }
.calibre4 {
    font-size: 1.83333em;
    line-height: 1.2
    }
.calibre5 {
    font-size: 0.75em
    }
.calibre6 {
    font-size: 0.75em;
    line-height: normal;
    vertical-align: super
    }
.calibre7 {
    font-size: 0.77778em
    }
.calibre8 {
    font-size: 1.28571em
    }
.calibre9 {
    color: gray;
    display: block;
    height: 2px;
    border: currentColor inset 1px;
    margin: 0.5em auto
    }
.calibre10 {
    font-size: 1em;
    line-height: normal;
    vertical-align: super
    }
.calibre11 {
    height: auto;
    width: auto
    }
.calibre12 {
    display: block;
    height: 1em;
    border: currentColor none 0;
    margin: 0
    }
.calibre13 {
    font-size: 0.71429em
    }
.italic {
    font-style: italic
    }
.mbp_pagebreak {
    display: block;
    margin: 0
    }
