h2{
	color:#000000!important;  
}
/* 单行垂直居中3 */
div.juzhong3{
margin:30% 20% auto 20%;
}



/*行内图*/
img.h-pic {
	height:1.2em;
	vertical-align:text-top;
     margin-left:0.1em;
     margin-right:0.1em;
}

/*图片宽度-40*/
img.width40 {
	width:40%;	
}
/*图片宽度-20*/
img.width20 {
	width:20%;	
}
