.biaoti {
    background-color: #ADD8E6;
    display: block;
    margin-top: 1em;
    padding: 0.4em 0.5em
    }
.biaoti1 {
    background-color: #ADD8E6;
    display: block;
    padding: 0.4em 0.5em
    }
.calibre {
    display: block;
    font-size: 0.75em;
    margin: 0 5pt;
    padding: 0
    }
.calibre1 {
    color: #03C;
    display: block;
    font-size: 2.22222em;
    font-weight: 800;
    line-height: 1.2;
    text-align: center;
    text-indent: 0;
    margin: 2em 0 1.3em
    }
.calibre2 {
    display: block;
    font-size: 1.33333em;
    letter-spacing: 0;
    line-height: 1.5em;
    text-align: justify;
    text-indent: 2em;
    text-justify: inter-ideograph;
    margin: 1em 0 0
    }
.calibre3 {
    color: #000;
    display: block;
    font-size: 2.22222em;
    font-weight: normal;
    line-height: 1.2;
    text-align: center;
    text-indent: 0;
    margin: 2em 0 1em
    }
.calibre4 {
    height: auto;
    max-height: 100%;
    max-width: 100%;
    width: auto;
    margin: 0;
    padding: 0
    }
.calibre5 {
    display: block;
    font-size: 1em;
    letter-spacing: 0;
    line-height: 1.5em;
    text-align: justify;
    text-indent: 2em;
    text-justify: inter-ideograph;
    margin: 0
    }
.calibre6 {
    font-style: italic
    }
.calibre7 {
    font-family: heiti;
    font-size: 1em;
    font-weight: 800
    }
.calibre8 {
    display: block;
    font-size: 1.33333em;
    letter-spacing: 0;
    line-height: 1.5em;
    text-align: justify;
    text-indent: 2em;
    text-justify: inter-ideograph;
    margin: 0.5em 0
    }
.calibre9 {
    font-size: 1em;
    line-height: 1.2;
    vertical-align: super
    }
.calibre10 {
    font-size: 1em;
    line-height: 1.2;
    vertical-align: sub
    }
.calibre11 {
    display: block;
    font-size: 1.33333em;
    letter-spacing: 0;
    line-height: 1.5em;
    text-align: justify;
    text-indent: 2em;
    text-justify: inter-ideograph;
    margin: 1.5em 0 0
    }
.calibre12 {
    font-size: 1.41667em;
    letter-spacing: 0;
    line-height: 1.5em;
    text-indent: 2em
    }
.calibre13 {
    height: auto;
    width: auto
    }
.calibre14 {
    color: #03C;
    display: block;
    font-size: 2.22222em;
    font-weight: 800;
    line-height: 1.2;
    text-align: center;
    text-indent: 0;
    margin: 2em 0 1.3em
    }
.footnote {
    color: black;
    font-size: 0.75em;
    line-height: 1.5em;
    margin-bottom: 0;
    margin-top: 0;
    text-align: justify;
    text-indent: 2em
    }
.footnote-content {
    display: block;
    font-family: none;
    font-size: 1em;
    font-weight: normal;
    line-height: 1.5em;
    list-style-type: decimal;
    margin-bottom: 0;
    margin-right: 0;
    margin-top: 1em;
    padding-top: 0.5em;
    text-align: justify;
    text-indent: 2em;
    text-justify: inter-ideograph;
    border-top: gray solid 1px
    }
.footnote-item {
    display: list-item;
    margin-bottom: 0;
    margin-top: 0.6em
    }
.hangz-illustrations {
    height: 1.2em;
    max-height: 100%;
    max-width: 100%;
    vertical-align: middle-line;
    width: auto;
    margin: 0;
    padding: 0
    }
.hangz-illustrations1 {
    height: 2.2em;
    max-height: 100%;
    max-width: 100%;
    vertical-align: middle-line;
    width: auto;
    margin: 0;
    padding: 0
    }
.image-single {
    display: block;
    text-align: center
    }
.kaiti {
    display: block;
    font-family: kaiti;
    font-size: 1.33333em;
    letter-spacing: 0;
    line-height: 1.5em;
    text-align: center;
    text-indent: 0;
    text-justify: inter-ideograph;
    margin: 1em 0 0
    }
.kaiti1 {
    display: block;
    font-family: kaiti;
    font-size: 1.33333em;
    letter-spacing: 0;
    line-height: 1.5em;
    text-align: right;
    text-indent: 2em;
    text-justify: inter-ideograph;
    margin: 1em 0 0
    }
.kaiti2 {
    display: block;
    font-family: kaiti;
    font-size: 1.33333em;
    letter-spacing: 0;
    line-height: 1.5em;
    text-align: justify;
    text-indent: 2em;
    text-justify: inter-ideograph;
    margin: 0.5em 0
    }
.kaiti3 {
    display: block;
    font-family: kaiti;
    font-size: 1.33333em;
    letter-spacing: 0;
    line-height: 1.5em;
    text-align: center;
    text-indent: 0;
    text-justify: inter-ideograph;
    margin: 0.5em 0
    }
.kaiti4 {
    display: block;
    font-family: kaiti;
    font-size: 1.33333em;
    letter-spacing: 0;
    line-height: 1.5em;
    text-align: justify;
    text-indent: 2em;
    text-justify: inter-ideograph;
    margin: 1em 0 0
    }
.tushuo {
    display: block;
    font-family: kaiti;
    font-size: 1em;
    letter-spacing: 0;
    line-height: 1.2em;
    text-align: center;
    text-indent: 0;
    text-justify: inter-ideograph;
    margin: 0.5em 0 0
    }
