/** ----------------------------------------------- **/
/** 湛庐图书标准样式 **/
/** ----------------------------------------------- **/


/** 书封图片 **/
.book_cover_style{
	width:100%;
}

/** 版权信息页标题 **/
.copyright_head_style { 
	margin-top:2.33em;
	margin-bottom:2.94em;
	text-align:center;       
	font-size:1.33em; 
}

/** 版权信息页正文 **/
.copyright_content_style {
	margin-top: 0.15em;
	text-align:center;
	margin-bottom: 0.1em;
	font-size:1em;

}


/**一级标题 **/
.first_level_style { 
	margin-top:4.33em;
	text-align:center;
	font-size:1.33em;
	margin-bottom: 0em;   
}

/**专栏一级标题 **/
.main_special_column_first_level_style{
	margin-top:4.33em;
	text-align:center;
	font-size:1.33em;
	margin-bottom: 0em; 
	font-family: "songti";
}

/**一级小标题 **/
.first_small_level_style { 
	margin-top:4.33em;
	margin-bottom:0.44em;
	text-align:center;
	font-size:0.77em;
	
}





/**一级小标题下的一级标题 **/
.first_small_bottom_level_style { 
	text-align:center;
	font-size:1.33em;  
	margin-top: 0em;
	margin-bottom: 0em;  
}

/**二级标题 **/
.second_level_style { 
	text-align:center;
    margin-top: 0em;
    margin-bottom: 0em; 
	font-size:1.22em; 
}

/**三级标题 **/
.three_level_style{ 
	text-align:center;
	font-size:1.11em;
	margin-bottom: 0em; 
}

/**四级标题 **/
.four_level_style{ 
	text-align:center;
	font-size:1em; 
	margin-bottom: 0em; 
}

/**分项 **/
.subentry_style{
	margin-left:1.6em;
	text-align: left;
	font-size:1em;
}

/**引用标签 **/
.quote_style{
	text-align :left;
	margin-left: 2.05em;
	margin-right: 2.05em;
	text-indent:2em;
	font-size:0.77em;
	margin-top: 0.3em;
	margin-bottom: 0.18em;
	font-family:"songti";
}
/**引用标题 **/
.refer_title_style{
	text-align: left;
	margin-top: 1.11em;
	font-size:0.77em;
	margin-bottom: 0em;
	margin-left: 1em;
	font-family:"songti";
	
}


/**正文专栏 **/
.main_special_column_style{
	font-size: 1em;
	margin-top: 1em;
	margin-bottom: 0em;
	margin-left: 0em;
	text-indent: 2em;
	font-family:"songti";
	
}

/* 正文中诗歌标题 */
.poetry_content_title_style{
	font-size: 1.22em;
	font-family:"songti";
	margin-top: 1.5em;
	margin-bottom: 1em;
	
}

/* 诗歌一级标题 */
.poetry_title_style{
	margin-top: 3.88em;
	margin-bottom: 1em;
	font-family:"songti";
	
	
}

/* 诗歌正文中内容第一段 */
.poetry_content_frist_style{
	margin-top: 0em;
	margin-bottom: 0em;
	font-size: 1em;
	font-family:"songti";
	
}

/* 诗歌正文中内容其他段 */
.poetry_content_style{
	margin-top: 1.5em;
	margin-bottom: 0em;
	font-size: 1em;
	font-family:"songti";
	
}


/**人物落款信息 **/
.person_mark_style{
	text-align:right;
	margin-top: 0.15em;
	margin-bottom: 0.1em;
	font-size:0.77em;
	font-family:"songti";
}

/**引用中人物落款信息 **/
.person_mark_right_style{
	text-align:right;
	margin-top: 0.15em;
	margin-bottom: 0.1em;
	margin-right:  2.05em;	
	font-size:0.77em;
	font-family:"songti";
}

/**段落 **/
.paragraph_style {
	margin-top: 1em;
	margin-bottom: 1em;
	text-indent:2em;
	font-size:1em;
}

/**引用中分项 **/
.quote_subentry{
                text-align :left;
	margin-left: 2.05em;
	margin-right: 2.05em;
	font-size:0.77em;
}

/* 正文中问答 */
.content_answer{
	text-align: left;
	margin-top: 1.5em;
	margin-bottom: 0em;
	font-size:1em;
}

/* 引用中诗歌 */
.quote_poetry{
	text-align: left;
	margin-top: 1.5em;
	margin-bottom: 0em;
	font-size:0.77em;
	font-family:"songti";
	margin-left: 2.05em;
	
}


/**图片说明外部div居中样式 **/
.div_img_p_center_style {
	text-align:center;
}
/**图片说明外部div居左样式 **/
.div_img_p_left_style {
	text-align:center;
}

/**图片说明外部div居右样式 **/
.div_img_p_right_style {
	text-align:right;
}

/**div内部图片样式 以下是各个宽度百分比**/
.div_img_30{
	width:30%;
}

.div_img_31{
	width:31%;
}

.div_img_32{
	width:32%;
}

.div_img_33{
	width:33%;
}

.div_img_34{
	width:34%;
}

.div_img_35{
	width:35%;
}

.div_img_36{
	width:36%;
}

.div_img_37{
	width:37%;
}
.div_img_38{
	width:38%;
}
.div_img_39{
	width:39%;
}
.div_img_40{
	width:40%;
}
.div_img_41{
	width:41%;
}
.div_img_42{
	width:42%;
}
.div_img_43{
	width:43%;
}
.div_img_44{
	width:44%;
}
.div_img_45{
	width:45%;
}
.div_img_46{
	width:46%;
}
.div_img_47{
	width:47%;
}
.div_img_48{
	width:48%;
}
.div_img_49{
	width:49%;
}
.div_img_50{
	width:50%;
}
.div_img_51{
	width:51%;
}
.div_img_52{
	width:52%;
}
.div_img_53{
	width:53%;
}
.div_img_54{
	width:54%;
}
.div_img_55{
	width:55%;
}
.div_img_56{
	width:56%;
}
.div_img_57{
	width:57%;
}
.div_img_58{
	width:58%;
}
.div_img_59{
	width:59%;
}
.div_img_60{
	width:60%;
}
.div_img_61{
	width:61%;
}
.div_img_62{
	width:62%;
}
.div_img_63{
	width:63%;
}
.div_img_64{
	width:64%;
}
.div_img_65{
	width:65%;
}
.div_img_66{
	width:66%;
}
.div_img_67{
	width:67%;
}
.div_img_68{
	width:68%;
}
.div_img_69{
	width:69%;
}
.div_img_70{
	width:70%;
}
.div_img_71{
	width:71%;
}

.div_img_72{
	width:72%;
}

.div_img_73{
	width:73%;
}

.div_img_74{
	width:74%;
}

.div_img_75{
	width:75%;
}

.div_img_76{
	width:76%;
}

.div_img_77{
	width:77%;
}

.div_img_78{
	width:78%;
}

.div_img_79{
	width:79%;
}

.div_img_80{
	width:80%;
}

.div_img_81{
	width:81%;
}

.div_img_82{
	width:82%;
}

.div_img_83{
	width:83%;
}

.div_img_84{
	width:84%;
}

.div_img_85{
	width:85%;
}

.div_img_86{
	width:86%;
}

.div_img_87{
	width:87%;
}

.div_img_88{
	width:88%;
}

.div_img_89{
	width:89%;
}

.div_img_90{
	width:90%;
}

.div_img_91{
	width:91%;
}

.div_img_92{
	width:92%;
}

.div_img_93{
	width:93%;
}

.div_img_94{
	width:94%;
}

.div_img_95{
	width:95%;
}

.div_img_96{
	width:96%;
}

.div_img_97{
	width:97%;
}

.div_img_98{
	width:98%;
}

.div_img_99{
	width:99%;
}

.div_img_100{
	width:100%;
	text-align:center;
}

/** 图片说明 **/
.img_desc_style {
	margin-top: 0.5em;
	margin-bottom: 0.3em;
	text-align:center;
	font-size: 0.66em;
	font-family:"songti";
}

/** 测试题标题 **/
.test_header_style {
margin-top:4.33em;
margin-bottom:0em;
margin-left:0em;
margin-right:0em;
text-align:left; 
font-size:1.33em;

}


/** 测试题问题 **/
.question_style {
	text-align:center; 
	font-size:1em;

}

/** 测试题选项 **/
.options_style {
	margin-left:2em;
	font-size:1em;
	
}

/** 二级、三级、四级，标题下的第一个段落 **/
.h2_h3_h4_bottom_paragraph_style {
	margin-top: 1em;
	margin-bottom: 1em; 
	text-indent:2em;
	font-size:1em;
	
}




/** 注解 **/
.annotation_style {
	margin-left: 0em;
	margin-right: 0em;
	text-indent:0em;
	text-align:justify;
	font-size: 1em;
	line-height:1.8em;
	text-decoration: none;
	font-family: "songti";
}



/** 二维码 **/
.qrcord_style {
	width:30%;	
	text-align:center;
}





.div_img_25{
	width:25%;
}