.calibre {
  line-height: 1.4;
}
.calibre1 {
  background-color: #FFF;
  display: block;
  font-size: 1em;
  line-height: 1.4;
  padding-left: 0;
  padding-right: 0;
  text-align: center;
  margin: 0 5pt;
}
.calibre2 {
  height: auto;
  line-height: 1.4;
  max-height: 100%;
  max-width: 100%;
  width: auto;
}
.calibre3 {
  display: block;
  font-size: 1em;
  line-height: 1.4;
  padding-left: 0;
  padding-right: 0;
  margin: 0 5pt;
}
.calibre4 {
  border-bottom: 0;
  border-top: 0;
  display: block;
  line-height: 1.4;
  margin-bottom: 1em;
  margin-top: 1em;
  padding-bottom: 0;
  padding-top: 0;
  text-indent: 2em;
}
.calibre5 {
  display: block;
  font-size: 2em;
  font-weight: bold;
  line-height: 1.4;
  margin: 0.67em 0;
}
.calibre6 {
  color: rgb(0, 0, 0);
  display: block;
  font-family: "PingFang SC";
  font-size: 0.64583em;
  font-weight: bold;
  line-height: 1.4;
  text-align: center;
}
.calibre7 {
  font-weight: bold;
  line-height: 1.4;
}
.calibre8 {
  border-bottom: 0;
  border-top: 0;
  display: block;
  line-height: 1.4;
  padding-bottom: 0;
  padding-top: 0;
  text-indent: 2em;
  margin: 1em 0;
}
.calibre9 {
  color: rgb(120, 120, 120);
  display: block;
  font-family: "PingFang SC";
  font-size: 0.625em;
  font-weight: bold;
  text-align: center;
}
.calibre10 {
  font-weight: bold;
}
.calibre11 {
  font-family: "PingFang SC";
  font-size: 1em;
  line-height: 1.4;
}
.calibre12 {
  color: rgb(0, 0, 0);
  display: block;
  font-family: "PingFang SC";
  font-size: 1em;
  font-weight: bold;
  line-height: 1.4;
  text-align: center;
}
.calibre13 {
  display: block;
  font-size: 1.66667em;
  font-weight: bold;
  line-height: 1.4;
  margin: 0.83em 0;
}
.calibre14 {
  color: rgb(0, 0, 0);
  display: block;
  font-family: "PingFang SC";
  font-size: 0.6em;
  font-weight: bold;
  line-height: 1.4;
  text-align: center;
}
.calibre15 {
  color: rgb(0, 0, 0);
  font-family: "FZFangSong-Z02";
  font-size: 1em;
  line-height: 1.4;
}
.calibre16 {
  display: block;
  font-family: "FZKai-Z03";
  font-size: 1em;
  line-height: 1.4;
  text-align: right;
}
.calibre17 {
  color: rgb(0, 0, 0);
  display: block;
  font-family: "PingFang SC";
  font-size: 0.5em;
  font-weight: bold;
  line-height: 1.4;
  text-align: center;
}
.calibre18 {
  color: rgb(0, 0, 0);
  display: block;
  font-family: "PingFang SC";
  font-size: 0.775em;
  font-weight: bold;
  line-height: 1.4;
  text-align: center;
}
.calibre19 {
  border-bottom: 0;
  border-top: 0;
  display: block;
  line-height: 1.4;
  margin-bottom: 1em;
  margin-top: 1em;
  padding-bottom: 0;
  padding-top: 0;
  text-align: center;
}
.calibre20 {
  height: auto;
  line-height: 1.4;
  width: 900px;
}
.calibre21 {
  color: rgb(0, 0, 0);
  font-family: "PingFang SC";
  font-size: 1em;
  font-weight: bold;
  line-height: 1.4;
}
.calibre22 {
  font-size: 0.75em;
  line-height: 1.4;
  vertical-align: super;
}
.calibre23 {
  font-family: "PingFang SC";
  font-size: 1em;
  font-weight: bold;
  line-height: 1.4;
}
.calibre24 {
  color: rgb(0, 0, 0);
  display: block;
  font-family: "PingFang SC";
  font-size: 0.6em;
  line-height: 1.4;
  text-align: center;
}
.calibre25 {
  display: block;
  line-height: 1.4;
  list-style-type: decimal;
  margin: 1em 0;
}
.calibre26 {
  display: list-item;
  line-height: 1.4;
}
.epub-footnote {
  height: auto;
  line-height: 1.4;
  width: 11px;
}
