.bold {
    font-weight: bold
    }
.calibre {
    display: block;
    font-size: 1em;
    padding-left: 0;
    padding-right: 0;
    text-align: justify;
    margin: 0 5pt
    }
.calibre_ {
    display: block;
    text-align: center;
    text-indent: 0;
    margin: 0
    }
.calibre_1 {
    height: 10000px;
    vertical-align: baseline;
    width: 10000px
    }
.calibre_2 {
    display: block;
    text-align: left;
    text-indent: 0;
    margin: 10pt 0 0
    }
.calibre_3 {
    display: block;
    text-indent: 0;
    margin: 1em 0 0
    }
.calibre_4 {
    display: block;
    text-indent: 0;
    margin: 4pt 0 0
    }
.calibre_5 {
    display: block;
    text-indent: 0;
    margin: 2em 0 0
    }
.calibre_6 {
    display: block;
    text-indent: 0;
    margin: 0
    }
.calibre_7 {
    display: block;
    margin: 0 0 0 2em
    }
.calibre_8 {
    display: block;
    text-indent: 0;
    margin: 0 0 0 2em
    }
.calibre_9 {
    display: block;
    text-align: center;
    text-indent: 0;
    margin: 10em 0 0
    }
.calibre_10 {
    display: block;
    text-indent: 2em;
    margin: 3em 0 0
    }
.calibre_11 {
    display: block;
    text-indent: 2em;
    margin: 1em 0 0
    }
.calibre_12 {
    display: block;
    text-align: right;
    text-indent: 0;
    margin: 1em 0 0
    }
.calibre_13 {
    display: block;
    text-align: right;
    text-indent: 0;
    margin: 2em 0 0
    }
.calibre_14 {
    display: block;
    text-indent: 2em;
    margin: 15em 0 0
    }
.calibre_15 {
    display: block;
    text-align: left;
    text-indent: 0;
    margin: 1em 0 0
    }
.calibre_16 {
    height: 9012px;
    vertical-align: baseline;
    width: 10000px
    }
.calibre_17 {
    height: 6620px;
    vertical-align: baseline;
    width: 10000px
    }
.calibre_18 {
    height: 13341px;
    vertical-align: baseline;
    width: 10000px
    }
.calibre_19 {
    display: block;
    text-align: left;
    text-indent: 0;
    margin: 3pt 0 0
    }
.calibre_20 {
    display: block;
    text-align: center;
    text-indent: 0;
    margin: 1em 0 0
    }
.calibre_21 {
    display: block;
    text-indent: -14pt;
    margin: 1em 0 0 14pt
    }
.calibre_22 {
    display: block;
    text-indent: -14pt;
    margin: 0 0 0 14pt
    }
.calibre1 {
    font-size: 1.125em;
    line-height: 1.2
    }
.calibre2 {
    font-size: 1.83333em;
    line-height: 1.2
    }
.calibre3 {
    display: block
    }
.calibre4 {
    font-size: 1.41667em;
    line-height: 1.2
    }
.calibre5 {
    font-size: 0.75em
    }
.mbp_pagebreak {
    display: block;
    margin: 0
    }
