p {
	margin-top: 1em;
	text-indent: 2em;
	line-height: 150%;
}
.normalp {
	text-indent: 0em;
}
.pagebreak {
	page-break-before: always;
}
.centered {
	text-align: center;
	text-indent: 0em;
}
.right {
	text-align: right;
}
.bold {
	font-weight: bold;
}
.focused{
	text-decoration:underline;
}
.x-small{
	font-size:0.75rem;
}
.xx-small{
	font-size:0.6rem;
}
.italic {
font-family:"\6977\4F53","STKai","KaiTi","MKai PRC","Kai","\6807\6977\4F53","DFKai-SB","BiauKai","\6977\4F53_GB2312","KaiTi_GB2312","\534E\6587\6977\4F53","STKaiti";}
.italic_right {
font-family:"\6977\4F53","STKai","KaiTi","MKai PRC","Kai","\6807\6977\4F53","DFKai-SB","BiauKai","\6977\4F53_GB2312","KaiTi_GB2312","\534E\6587\6977\4F53","STKaiti";
    text-align: right;}
.italic_centered {
font-family:"\6977\4F53","STKai","KaiTi","MKai PRC","Kai","\6807\6977\4F53","DFKai-SB","BiauKai","\6977\4F53_GB2312","KaiTi_GB2312","\534E\6587\6977\4F53","STKaiti";
text-align: center;
text-indent: 0em;}
.bold_right {
	font-weight: bold;
	text-align: right;
}
.bold_centered {
	font-weight: bold;
	text-align: center;
	text-indent: 0em;
}
.x-small_right{
	font-size:0.75rem;
	text-align: right;
}
.x-small_centered{
	font-size:0.75rem;
	text-align: center;
	text-indent: 0em;
}
.xx-small_right{
	font-size:0.6rem;
	text-align: right;
}
.xx-small_centered{
	font-size:0.6rem;
	text-align: center;
	text-indent: 0em;
}
.x-small_italic_right{
	font-size:0.75rem;
	font-style: italic;
	text-align: right;
}
.x-small_italic_centered{
	font-size:0.75rem;
	font-style: italic;
	text-align: center;
	text-indent: 0em;
}
.xx-small_italic_right{
	font-size:0.6rem;
	font-style: italic;
	text-align: right;
}
.xx-small_italic_centered{
	font-size:0.6rem;
	font-style: italic;
	text-align: center;
	text-indent: 0em;
}
.x-small_bold_right{
	font-size:0.75rem;
	font-weight: bold;
	text-align: right;
}
.x-small_bold_centered{
	font-size:0.75rem;
	font-weight: bold;
	text-align: center;
	text-indent: 0em;
}
.xx-small_bold_right{
	font-size:0.6rem;
	font-weight: bold;
	text-align: right;
}
.xx-small_bold_centered{
	font-size:0.6rem;
	font-weight: bold;
	text-align: center;
	text-indent: 0em;
}
.x-small_italic_bold_right {
	font-size:0.75rem;
	font-style: italic;
	font-weight: bold;
	text-align: right;
}
.x-small_italic_bold_centered {
	font-size:0.75rem;
	font-style: italic;
	font-weight: bold;
	text-align: center;
	text-indent: 0em;
}
.xx-small_italic_bold_right {
	font-size:0.6rem;
	font-style: italic;
	font-weight: bold;
	text-align: right;
}
.xx-small_italic_bold_centered {
	font-size:0.6rem;
	font-style: italic;
	font-weight: bold;
	text-align: center;
	text-indent: 0em;
}
.italic_bold_right {
	font-style: italic;
	font-weight: bold;
	text-align: right;
}
.italic_bold_centered {
	font-style: italic;
	font-weight: bold;
	text-align: center;
	text-indent: 0em;
}
.underline {
	text-decoration: underline;
}
.bottom {
	vertical-align: text-bottom;
}
.tablehead {
	text-align: center;
	font-weight: bold;
}
li {
	list-style: none;
	margin-top: 1em;
}
H1 {
	margin-top: 1em;
}
H2 {
	margin-top: 1em;
}
H3 {
	margin-top: 1em;
}
H4 {
	margin-top: 1em;
}
