/*样式名称：《研究是一门艺术》样式*/
/*样式作者：叶雨改自“Oxen（老老老牛）样式”*/
/*样式版本：1.0*/
/*样式日期：2013-06-10*/

/*↓↓老牛字体样式2.7.1 2013-01-26↓↓*/
/*↓↓欢迎非商业性使用，但请注明"老牛字体样式"；商业使用请与老牛联系↓↓*/
@font-face {
	font-family:"zw";
	src:
	local("宋体"),
	local("明体"),
	local("Songti"),
	local("DK-SONGTI"),
	local("Song S"),local("Song T"),local("STBShusong"),
	url(../Fonts/zw.ttf),
	url(res:///opt/sony/ebook/FONT/zw.ttf),
	url(res:///Data/FONT/zw.ttf),
	url(res:///opt/sony/ebook/FONT/tt0011m_.ttf),
	url(res:///ebook/fonts/../../mnt/sdcard/fonts/zw.ttf),
	url(res:///ebook/fonts/../../mnt/extsd/fonts/zw.ttf),
	url(res:///ebook/fonts/zw.ttf),
	url(res:///ebook/fonts/DroidSansFallback.ttf),
	url(res:///fonts/ttf/zw.ttf),
	url(res:///../../media/mmcblk0p1/fonts/zw.ttf),
	url(file:///mnt/us/DK_System/system/fonts/zw.ttf),				/*Duokan Old Path*/
	url(file:///mnt/us/DK_System/xKindle/res/userfonts/zw.ttf),		/*Duokan 2012 Path*/
	url(res:///abook/fonts/zw.ttf),
	url(res:///system/fonts/zw.ttf),
	url(res:///system/media/sdcard/fonts/zw.ttf),
	url(res:///media/fonts/zw.ttf),
	url(res:///sdcard/fonts/zw.ttf),
	url(res:///system/fonts/DroidSansFallback.ttf),
	url(res:///mnt/MOVIFAT/font/zw.ttf),
	url(res:///media/flash/fonts/zw.ttf),
	url(res:///media/sd/fonts/zw.ttf),
	url(res:///opt/onyx/arm/lib/fonts/AdobeHeitiStd-Regular.otf),
	url(res:///../../fonts/zw.ttf),
	url(res:///../fonts/zw.ttf),
	url(res:///mnt/sdcard/fonts/zw.ttf),							/*Nook for Android: fonts in TF Card*/
	url(res:///fonts/zw.ttf),										/*ADE1,8, 2.0 Program Path*/
	url(res:///../../../../Windows/fonts/zw.ttf);					/*ADE1,8, 2.0 Windows Path*/
}
@font-face {
	font-family:"zw-himalaya";
	src:
	local("Himalaya"),
	local("DK-SONGTI"),
	url(../Fonts/zw-himalaya.ttf),
	url(res:///opt/sony/ebook/FONT/zw-himalaya.ttf),
	url(res:///Data/FONT/zw-himalaya.ttf),
	url(res:///opt/sony/ebook/FONT/zw-himalaya.ttf),
	url(res:///ebook/fonts/../../mnt/sdcard/fonts/zw-himalaya.ttf),
	url(res:///ebook/fonts/../../mnt/extsd/fonts/zw-himalaya.ttf),
	url(res:///ebook/fonts/zw-himalaya.ttf),
	url(res:///ebook/fonts/DroidSansFallback.ttf),
	url(res:///fonts/ttf/zw-himalaya.ttf),
	url(res:///../../media/mmcblk0p1/fonts/zw-himalaya.ttf),
	url(file:///mnt/us/DK_System/system/fonts/zw-himalaya.ttf),					/*Duokan Old Path*/
	url(file:///mnt/us/DK_System/xKindle/res/userfonts/zw-himalaya.ttf),		/*Duokan 2012 Path*/
	url(res:///abook/fonts/zw-himalaya.ttf),
	url(res:///system/fonts/zw-himalaya.ttf),
	url(res:///system/media/sdcard/fonts/zw-himalaya.ttf),
	url(res:///media/fonts/zw-himalaya.ttf),
	url(res:///sdcard/fonts/zw-himalaya.ttf),
	url(res:///system/fonts/DroidSansFallback.ttf),
	url(res:///mnt/MOVIFAT/font/zw-himalaya.ttf),
	url(res:///media/flash/fonts/zw-himalaya.ttf),
	url(res:///media/sd/fonts/zw-himalaya.ttf),
	url(res:///opt/onyx/arm/lib/fonts/AdobeHeitiStd-Regular.otf),
	url(res:///../../fonts/zw-himalaya.ttf),
	url(res:///../fonts/zw-himalaya.ttf),
	url(res:///mnt/sdcard/fonts/zw-himalaya.ttf),							/*Nook for Android: fonts in TF Card*/
	url(res:///fonts/zw-himalaya.ttf),										/*ADE1,8, 2.0 Program Path*/
	url(res:///../../../../Windows/fonts/zw-himalaya.ttf);					/*ADE1,8, 2.0 Windows Path*/
}

@font-face {
	font-family:"fs";
	src:
	local("仿宋"),
	local("仿宋_GB2312"),
	local("Yuanti"),
	local("DK-FANGSONG"),
	url(../Fonts/fs.ttf),
	url(res:///opt/sony/ebook/FONT/fs.ttf),
	url(res:///Data/FONT/fs.ttf),
	url(res:///opt/sony/ebook/FONT/tt0011m_.ttf),
	url(res:///ebook/fonts/../../mnt/sdcard/fonts/fs.ttf),
	url(res:///ebook/fonts/../../mnt/extsd/fonts/fs.ttf),
	url(res:///ebook/fonts/fs.ttf),
	url(res:///ebook/fonts/DroidSansFallback.ttf),
	url(res:///fonts/ttf/fs.ttf),
	url(res:///../../media/mmcblk0p1/fonts/fs.ttf),
	url(file:///mnt/us/DK_System/system/fonts/fs.ttf),				/*Duokan Old Path*/
	url(file:///mnt/us/DK_System/xKindle/res/userfonts/fs.ttf),		/*Duokan 2012 Path*/
	url(res:///abook/fonts/fs.ttf),
	url(res:///system/fonts/fs.ttf),
	url(res:///system/media/sdcard/fonts/fs.ttf),
	url(res:///media/fonts/fs.ttf),
	url(res:///sdcard/fonts/fs.ttf),
	url(res:///system/fonts/DroidSansFallback.ttf),
	url(res:///mnt/MOVIFAT/font/fs.ttf),
	url(res:///media/flash/fonts/fs.ttf),
	url(res:///media/sd/fonts/fs.ttf),
	url(res:///opt/onyx/arm/lib/fonts/AdobeHeitiStd-Regular.otf),
	url(res:///../../fonts/fs.ttf),
	url(res:///../fonts/fs.ttf),
	url(res:///mnt/sdcard/fonts/fs.ttf),							/*Nook for Android: fonts in TF Card*/
	url(res:///fonts/fs.ttf),										/*ADE1,8, 2.0 Program Path*/
	url(res:///../../../../Windows/fonts/fs.ttf);					/*ADE1,8, 2.0 Windows Path*/
}
@font-face {
	font-family:"kt";
	src:
	local("楷体"),
	local("楷体_GB2312"),
	local("Kaiti"),
	local("DK-KAITI"),
	local("MKai PRC"),local("MKaiGB18030C-Medium"),local("MKaiGB18030C-Bold"),
	url(../Fonts/kt.ttf),
	url(res:///opt/sony/ebook/FONT/kt.ttf),
	url(res:///Data/FONT/kt.ttf),
	url(res:///opt/sony/ebook/FONT/tt0011m_.ttf),
	url(res:///ebook/fonts/../../mnt/sdcard/fonts/kt.ttf),
	url(res:///ebook/fonts/../../mnt/extsd/fonts/kt.ttf),
	url(res:///ebook/fonts/kt.ttf),
	url(res:///ebook/fonts/DroidSansFallback.ttf),
	url(res:///fonts/ttf/kt.ttf),
	url(res:///../../media/mmcblk0p1/fonts/kt.ttf),
	url(file:///mnt/us/DK_System/system/fonts/kt.ttf),				/*Duokan Old Path*/
	url(file:///mnt/us/DK_System/xKindle/res/userfonts/kt.ttf),		/*Duokan 2012 Path*/
	url(res:///abook/fonts/kt.ttf),
	url(res:///system/fonts/kt.ttf),
	url(res:///system/media/sdcard/fonts/kt.ttf),
	url(res:///media/fonts/kt.ttf),
	url(res:///sdcard/fonts/kt.ttf),
	url(res:///system/fonts/DroidSansFallback.ttf),
	url(res:///mnt/MOVIFAT/font/kt.ttf),
	url(res:///media/flash/fonts/kt.ttf),
	url(res:///media/sd/fonts/kt.ttf),
	url(res:///opt/onyx/arm/lib/fonts/AdobeHeitiStd-Regular.otf),
	url(res:///../../fonts/kt.ttf),
	url(res:///../fonts/kt.ttf),
	url(res:///mnt/sdcard/fonts/kt.ttf),							/*Nook for Android: fonts in TF Card*/
	url(res:///fonts/kt.ttf),										/*ADE1,8, 2.0 Program Path*/
	url(res:///../../../../Windows/fonts/kt.ttf);					/*ADE1,8, 2.0 Windows Path*/
}
@font-face {
	font-family:"ktpy";
	src:
	local("方正楷体拼音字库01"),
	local("Kaitipinyin"),
	local("DK-KAITI"),
	url(../Fonts/ktpy.ttf),
	url(res:///opt/sony/ebook/FONT/ktpy.ttf),
	url(res:///Data/FONT/ktpy.ttf),
	url(res:///opt/sony/ebook/FONT/tt0011m_.ttf),
	url(res:///ebook/fonts/../../mnt/sdcard/fonts/ktpy.ttf),
	url(res:///ebook/fonts/../../mnt/extsd/fonts/ktpy.ttf),
	url(res:///ebook/fonts/ktpy.ttf),
	url(res:///ebook/fonts/DroidSansFallback.ttf),
	url(res:///fonts/ttf/ktpy.ttf),
	url(res:///../../media/mmcblk0p1/fonts/ktpy.ttf),
	url(file:///mnt/us/DK_System/system/fonts/ktpy.ttf),				/*Duokan Old Path*/
	url(file:///mnt/us/DK_System/xKindle/res/userfonts/ktpy.ttf),		/*Duokan 2012 Path*/
	url(res:///abook/fonts/ktpy.ttf),
	url(res:///system/fonts/ktpy.ttf),
	url(res:///system/media/sdcard/fonts/ktpy.ttf),
	url(res:///media/fonts/ktpy.ttf),
	url(res:///sdcard/fonts/ktpy.ttf),
	url(res:///system/fonts/DroidSansFallback.ttf),
	url(res:///mnt/MOVIFAT/font/ktpy.ttf),
	url(res:///media/flash/fonts/ktpy.ttf),
	url(res:///media/sd/fonts/ktpy.ttf),
	url(res:///opt/onyx/arm/lib/fonts/AdobeHeitiStd-Regular.otf),
	url(res:///../../fonts/ktpy.ttf),
	url(res:///../fonts/ktpy.ttf),
	url(res:///mnt/sdcard/fonts/ktpy.ttf),							/*Nook for Android: fonts in TF Card*/
	url(res:///fonts/ktpy.ttf),										/*ADE1,8, 2.0 Program Path*/
	url(res:///../../../../Windows/fonts/ktpy.ttf);					/*ADE1,8, 2.0 Windows Path*/
}
@font-face {
	font-family:"ht";
	src:
	local("微软雅黑"),
	local("黑体"),
	local("Heiti"),
	local("DK-HEITI"),
	local("MYing Hei S"),local("MYing Hei T"),
	url(../Fonts/ht.ttf),
	url(res:///opt/sony/ebook/FONT/ht.ttf),
	url(res:///Data/FONT/ht.ttf),
	url(res:///opt/sony/ebook/FONT/tt0011m_.ttf),
	url(res:///ebook/fonts/../../mnt/sdcard/fonts/ht.ttf),
	url(res:///ebook/fonts/../../mnt/extsd/fonts/ht.ttf),
	url(res:///ebook/fonts/ht.ttf),
	url(res:///ebook/fonts/DroidSansFallback.ttf),
	url(res:///fonts/ttf/ht.ttf),
	url(res:///../../media/mmcblk0p1/fonts/ht.ttf),
	url(file:///mnt/us/DK_System/system/fonts/ht.ttf),				/*Duokan Old Path*/
	url(file:///mnt/us/DK_System/xKindle/res/userfonts/ht.ttf),		/*Duokan 2012 Path*/
	url(res:///abook/fonts/ht.ttf),
	url(res:///system/fonts/ht.ttf),
	url(res:///system/media/sdcard/fonts/ht.ttf),
	url(res:///media/fonts/ht.ttf),
	url(res:///sdcard/fonts/ht.ttf),
	url(res:///system/fonts/DroidSansFallback.ttf),
	url(res:///mnt/MOVIFAT/font/ht.ttf),
	url(res:///media/flash/fonts/ht.ttf),
	url(res:///media/sd/fonts/ht.ttf),
	url(res:///opt/onyx/arm/lib/fonts/AdobeHeitiStd-Regular.otf),
	url(res:///../../fonts/ht.ttf),
	url(res:///../fonts/ht.ttf),
	url(res:///mnt/sdcard/fonts/ht.ttf),							/*Nook for Android: fonts in TF Card*/
	url(res:///fonts/ht.ttf),										/*ADE1,8, 2.0 Program Path*/
	url(res:///../../../../Windows/fonts/ht.ttf);					/*ADE1,8, 2.0 Windows Path*/
}
@font-face {
	font-family:"h1";
	src:
	local("方正兰亭特黑长_GBK"),
	local("方正兰亭特黑长简体"),
	local("方正兰亭特黑长繁体"),
	local("LantingTeheichang"),
	local("DK-HEITI"),
	url(../Fonts/h1.ttf),
	url(res:///opt/sony/ebook/FONT/h1.ttf),
	url(res:///Data/FONT/h1.ttf),
	url(res:///opt/sony/ebook/FONT/tt0011m_.ttf),
	url(res:///ebook/fonts/../../mnt/sdcard/fonts/h1.ttf),
	url(res:///ebook/fonts/../../mnt/extsd/fonts/h1.ttf),
	url(res:///ebook/fonts/h1.ttf),
	url(res:///ebook/fonts/DroidSansFallback.ttf),
	url(res:///fonts/ttf/h1.ttf),
	url(res:///../../media/mmcblk0p1/fonts/h1.ttf),
	url(file:///mnt/us/DK_System/system/fonts/h1.ttf),				/*Duokan Old Path*/
	url(file:///mnt/us/DK_System/xKindle/res/userfonts/h1.ttf),		/*Duokan 2012 Path*/
	url(res:///abook/fonts/h1.ttf),
	url(res:///system/fonts/h1.ttf),
	url(res:///system/media/sdcard/fonts/h1.ttf),
	url(res:///media/fonts/h1.ttf),
	url(res:///sdcard/fonts/h1.ttf),
	url(res:///system/fonts/DroidSansFallback.ttf),
	url(res:///mnt/MOVIFAT/font/h1.ttf),
	url(res:///media/flash/fonts/h1.ttf),
	url(res:///media/sd/fonts/h1.ttf),
	url(res:///opt/onyx/arm/lib/fonts/AdobeHeitiStd-Regular.otf),
	url(res:///../../fonts/h1.ttf),
	url(res:///../fonts/h1.ttf),
	url(res:///mnt/sdcard/fonts/h1.ttf),							/*Nook for Android: fonts in TF Card*/
	url(res:///fonts/h1.ttf),										/*ADE1,8, 2.0 Program Path*/
	url(res:///../../../../Windows/fonts/h1.ttf);					/*ADE1,8, 2.0 Windows Path*/
}
@font-face {
	font-family:"h2";
	src:
	local("方正大标宋_GBK"),
	local("方正大标宋简体"),
	local("方正大标宋繁体"),
	local("Dabiaosong"),
	local("DK-XIAOBIAOSONG"),
	url(../Fonts/h2.ttf),
	url(res:///opt/sony/ebook/FONT/h2.ttf),
	url(res:///Data/FONT/h2.ttf),
	url(res:///opt/sony/ebook/FONT/tt0011m_.ttf),
	url(res:///ebook/fonts/../../mnt/sdcard/fonts/h2.ttf),
	url(res:///ebook/fonts/../../mnt/extsd/fonts/h2.ttf),
	url(res:///ebook/fonts/h2.ttf),
	url(res:///ebook/fonts/DroidSansFallback.ttf),
	url(res:///fonts/ttf/h2.ttf),
	url(res:///../../media/mmcblk0p1/fonts/h2.ttf),
	url(file:///mnt/us/DK_System/system/fonts/h2.ttf),				/*Duokan Old Path*/
	url(file:///mnt/us/DK_System/xKindle/res/userfonts/h2.ttf),		/*Duokan 2012 Path*/
	url(res:///abook/fonts/h2.ttf),
	url(res:///system/fonts/h2.ttf),
	url(res:///system/media/sdcard/fonts/h2.ttf),
	url(res:///media/fonts/h2.ttf),
	url(res:///sdcard/fonts/h2.ttf),
	url(res:///system/fonts/DroidSansFallback.ttf),
	url(res:///mnt/MOVIFAT/font/h2.ttf),
	url(res:///media/flash/fonts/h2.ttf),
	url(res:///media/sd/fonts/h2.ttf),
	url(res:///opt/onyx/arm/lib/fonts/AdobeHeitiStd-Regular.otf),
	url(res:///../../fonts/h2.ttf),
	url(res:///../fonts/h2.ttf),
	url(res:///mnt/sdcard/fonts/h2.ttf),							/*Nook for Android: fonts in TF Card*/
	url(res:///fonts/h2.ttf),										/*ADE1,8, 2.0 Program Path*/
	url(res:///../../../../Windows/fonts/h2.ttf);					/*ADE1,8, 2.0 Windows Path*/
}
@font-face {
	font-family:"h3";
	src:
	local("方正华隶_GBK"),
	local("方正行黑简体"),
	local("方正行黑繁体"),
	local("Yuanti"),
	local("DK-FANGSONG"),
	url(../Fonts/h3.ttf),
	url(res:///opt/sony/ebook/FONT/h3.ttf),
	url(res:///Data/FONT/h3.ttf),
	url(res:///opt/sony/ebook/FONT/tt0011m_.ttf),
	url(res:///ebook/fonts/../../mnt/sdcard/fonts/h3.ttf),
	url(res:///ebook/fonts/../../mnt/extsd/fonts/h3.ttf),
	url(res:///ebook/fonts/h3.ttf),
	url(res:///ebook/fonts/DroidSansFallback.ttf),
	url(res:///fonts/ttf/h3.ttf),
	url(res:///../../media/mmcblk0p1/fonts/h3.ttf),
	url(file:///mnt/us/DK_System/system/fonts/h3.ttf),				/*Duokan Old Path*/
	url(file:///mnt/us/DK_System/xKindle/res/userfonts/h3.ttf),		/*Duokan 2012 Path*/
	url(res:///abook/fonts/h3.ttf),
	url(res:///system/fonts/h3.ttf),
	url(res:///system/media/sdcard/fonts/h3.ttf),
	url(res:///media/fonts/h3.ttf),
	url(res:///sdcard/fonts/h3.ttf),
	url(res:///system/fonts/DroidSansFallback.ttf),
	url(res:///mnt/MOVIFAT/font/h3.ttf),
	url(res:///media/flash/fonts/h3.ttf),
	url(res:///media/sd/fonts/h3.ttf),
	url(res:///opt/onyx/arm/lib/fonts/AdobeHeitiStd-Regular.otf),
	url(res:///../../fonts/h3.ttf),
	url(res:///../fonts/h3.ttf),
	url(res:///mnt/sdcard/fonts/h3.ttf),							/*Nook for Android: fonts in TF Card*/
	url(res:///fonts/h3.ttf),										/*ADE1,8, 2.0 Program Path*/
	url(res:///../../../../Windows/fonts/h3.ttf);					/*ADE1,8, 2.0 Windows Path*/
}
/*↑↑老牛字体样式2.7.1↑↑*/
/*↑↑欢迎非商业性使用，但请注明“老牛字体样式”；商业使用请与老牛联系↑↑*/

/* 页面*/
@page {
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: 10px;
	margin-right: 10px;
}

body {
	padding: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: 10px;
	margin-right: 10px;
	line-height:130%;
	text-align: justify;
	font-family:"宋体","明体","zw",serif;
	font-size:97%;
}
div {
	margin:0px;
	padding:0px;
	line-height:130%;
	text-align: justify;
	font-family:"宋体","明体","zw",serif;
}

p {
	text-align: justify;
	text-indent: 0em; 
	line-height: 130%;
	/*font-family:inherit;*/
	font-family:"宋体","明体","zw",serif;
	margin-top: 0px;
	margin-bottom: 0px;
}
a{
text-decoration:none;
}
.center {
	text-align:center;
}
sub {
    font-size: 0.75em;
    line-height: 0;/*原为line-height: 1.2;*/
    vertical-align: sub;
}
sup {
    font-size: 0.75em;
    line-height: 0;/*原为line-height: 1.2;*/
    vertical-align: super;
}

/*封面*/
.cover {
	/*width:100%;*/
	height:100%;
	text-align:center;
	padding:0px;
}
.titlepages {
	border-style: none none none none;
	border-width: 0px 0px 0px 0px;
	border-color: deeppink deeppink;
	font-family:"ht","微软雅黑","黑体","zw",sans-serif;
	text-align: justify;
	text-indent: 0em!important;
	line-height:100%;
}
.booktitle,.bookname {
	/*color:red;
	color:deeppink;*/
	margin-top:10%;
	/*border-style: none double solid solid;
	border-width: 0px 5px 1px 40px;
	border-color: mediumvioletred;
	border-left-color: mediumvioletred;*/
	/*page-break-before:always;*/
	font-weight:bold;
	font-size:xx-large;
	font-family: "h2","方正大标宋_GBK","方正大标宋简体","方正大标宋繁体","微软雅黑","黑体","zw",sans-serif;
	text-indent: 0em!important;
	text-align: center;
}
.bookauthor {
	/*margin-top:2em;*/
	text-align: center;
	font-family:"kt","楷体","楷体_gb2312","zw",serif;
	text-indent: 0em!important;
}
.booktranslator,.booltranslator {
	font-family:"kt","楷体","楷体_gb2312","zw",serif;
	text-indent: 0em!important;
	text-align: center;
}
.bookpub {
	font-family:"ht","微软雅黑","黑体","zw",sans-serif;
	text-indent: 0em!important;
	text-align: center;
}

/*前言正文、后记正文*/
.preface {
	font-family:"fs","仿宋","仿宋_gb2312","zw",serif;
}

/*目录页*/
.contents {
	/* margin-left:5%;
	padding:0px;*/
	marign-left:-2.5em;
	line-height:130%;
	text-align: justify;
	font-family:"fs","仿宋","仿宋_gb2312","zw",serif;
	list-style-type:none;
}

/*目录页链接*/
ul li a{ display:block; width: 100%; /*background:#ccc; */}
ul li a:hover{ background:bisque; }

/*目录页部篇标题*/
.c1 {
	margin-top:1em;
	margin-bottom:1em;
	text-align: center;
	font-weight:bold;
	font-size:1.2em;
	font-family:"ht","微软雅黑","黑体","zw",sans-serif;
	list-style-type:none;
}

/*目录页部章标题*/
.c2 {
	margin-top: 0.2em;
	margin-left: 0.5em; 
	font-size: medium;
	font-family:"宋体","明体","zw",serif;
}

/*目录页节标题*/
.c3 {
	margin-left: 2.5em; 
	font-size:93%;
	font-family:"fs","仿宋","仿宋_gb2312","zw",serif;
}

/*目录页其他层次标题*/
.c4 {
	font-size:90%;
	font-family:"zw","宋体","明体",serif;
	margin-left:4.5em;
}

/*版权页*/
.copyrighth {
	margin-top:10px;
	margin-bottom:10px;
	font-family:"ht","微软雅黑","黑体","zw",sans-serif;
	font-size:100%;
	list-style-type:none;
	text-indent: 0em!important;
	font-weight:bold;
}

/*原文引用－方正拼音楷体*/
.quotepinyin {
	margin-left: 2em;
	margin-right: 1em;
	/*border-style: none solid none solid;
	border-width: 0px 1px 0px 5px;
	border-color: #CCCC00;
	text-align: justify;*/
	font-size:large;
	font-family:"ktpy","方正楷体拼音字库01","kt","zw",serif;
}

/*落款日期*/
.date {
	/*padding-left:40%;
	color:blue;*/
	font-family:"kt","楷体","楷体_gb2312","zw",serif;
	text-align: right;
}

/*注释（脚注尾注）标题*/
.annotationtitle {
	margin-top:30pt;
	font-family:"ht","微软雅黑","黑体","zw",sans-serif;
}

/*注释*/
.annotation {
	font-family:"fs","仿宋","仿宋_gb2312","zw",serif;
	font-size:90%;
   	text-indent: 0em!important; 
}

/*图片*/
img {
	border:none;
	text-align:center;
}

.image {
	position: relative;
	z-index:2;
	/*float:left;
	height:100%;
	width:61.8%;*/
	text-indent: 0em!important; 
	margin-left:0.5em;
	margin-top:0.5em;/*叶雨添加*/
	margin-bottom:0.5em;/*叶雨添加*/
	margin-right:0.5em;
	text-align:center;
	padding:0px;
	font-family:"kt","楷体","楷体_gb2312","zw",sans-serif;
	font-size:small;
}

/*表格*/
table{
	font-family:"fs","仿宋","仿宋_gb2312","Times New Roman", Times, serif;
	font-size:90%;
	width: 99%;
	/*border:2px 0px 2px 0px;*/
	background-color:ivory;
	vertical-align:center;
	padding:0;
	border-collapse:collapse;
	border:1px solid #98bf21;
	margin-top:1em;
	margin-bottom:1em;
}

/*表格：行头*/
th 
{
	font-size:93%;
	/*text-align:left;*/
	padding-top:1px;
	padding-bottom:1px;
	background-color:yellowgreen;
	color:ivory;
	border-color: #98bf21;
	font-family:"kt","楷体","楷体_gb2312",Arial, Helvetica, sans-serif,;
}

td {
	color:#000000;
	background-color:#EAF2D3;
	border:1px solid #98bf21;

}

/*正文类首行带点段落*/
.zwd, .zwlzs2 {
font-family:"fs","仿宋","仿宋_gb2312","zw",serif;
margin:1em 0em 1em 0em;
}

/*部分页标题标签样式设置*/
div.zhd {
margin-top:23%;
margin-bottom:45%;
}

/*正文类引用段落*/
.mainquote {
font-family:"kt","楷体","楷体_gb2312","zw",serif;
/*text-indent:2em!important;*/
}

/*作者*/
.author {
	margin-bottom:0.3em;
	line-height:100%;
	text-align:center;
	font-weight:normal;
	font-size:medium;
	font-family: "zw","宋体","明体",serif;
}

/*第一部分标题后的一段居中中英文*/
.h1note {
text-align: center!important;
font-size:110%;
}

.h2note {
text-align: left!important;
font-size:110%;
}

/*标题*/
h1 {
	line-height:130%;
	text-align: center;
	page-break-before:always;
	font-weight:bold;
	font-size:1.8em;
	font-family: "h1","方正兰亭特黑长_GBK","方正兰亭特黑长简体","方正兰亭特黑长繁体","微软雅黑","黑体","zw",sans-serif;
}

h2 {
	margin-bottom:0.5em;
	line-height:130%;
	text-align: left;
	padding: 5px 5px 10px 5px;
	page-break-before:always;
	font-weight:bold;
	font-size:1.5em;
	font-family: "h2","方正大标宋_GBK","方正大标宋简体","方正大标宋繁体","微软雅黑","黑体","zw",sans-serif;
}

h3 {
	line-height:130%;
	text-align: left;
	font-weight:bold;
	font-size:1.2em;
	font-family: "h3","方正华隶_GBK","方正行黑简体","方正行黑繁体","仿宋","仿宋_gb2312","微软雅黑","黑体","zw",sans-serif;
	margin-top:0.5em;
	margin-bottom:0.5em;
}

h4 {
	line-height:130%;
	text-align: left;
	font-weight:bold;
	font-size:medium;
	font-family:"ht","幼圆","微软雅黑","黑体","zw",sans-serif;
	margin-top:0.5em;
	margin-bottom:0.5em;
}

h5 {
	line-height:130%;
	text-align: left;
	font-weight:bold;
	font-size:110%;
	font-family:"zw","宋体","明体",serif;
	margin-top:0.5em;
	margin-bottom:0.5em;
	text-indent: 0em!important;
}

/*引文居中标题*/
.quotetitle {
font-family:"kt","楷体","楷体_gb2312","zw",serif;
font-size:1.2em;
text-align:center;
}

/*灰色引文*/
div.greyquote {
margin-top:0.5em;
margin-bottom:0.5em;
border-style:solid;
padding:0.5em 1em 0.5em 1em;
border-width:0;
border-color:#e1e1e1;
background:#e1e1e1;
font-family:"kt","楷体","楷体_gb2312","zw",serif;
}

/*标题后引文缩3*/
p.quote3 {
font-family:"kt","楷体","楷体_gb2312","zw",serif;
margin:0 1em 0 1em;
}

blockquote {
margin-right:10px;
margin-left:2em;
font-family:"kt","楷体","楷体_gb2312","zw",serif;
}

.quote1 {
font-family:"kt","楷体","楷体_gb2312","zw",serif;
}

.quote2 {
font-family:"kt","楷体","楷体_gb2312","zw",serif;
margin:1em 0 1em 2em;
text-align:justify;
}

ul {
-webkit-padding-start:1em;
}

.dinggejiadianzhengwen {
margin:1em 0 1em 0;
}

.charttitle0 {
font-weight:bold;
text-align:center;
font-family:"ht","微软雅黑","黑体","zw",sans-serif;
font-size:90%;
margin-top:0.5em;
margin-bottom:0.5em;
}

.foreword {
text-align:center;
}

.suo0 {
margin-left:10px;
-webkit-padding-start: 1em;
}

ol.noindent {
text-indent:0;
-webkit-padding-start:2em;
}

div.box0 {
border-style:solid;
border-width:1px;
border-color:black;
margin:1em 0 1em 0;
padding:0.5em 1em 0.5em 1em;
}

ol.inarow {
-webkit-padding-start:1em;
margin:0 10px 0 1em;
list-style-type:upper-alpha;
}

#layer {
height: auto;
width: 100%;
margin-top:1em;
margin-bottom:1em;
}

#left {
float: left;
height: auto;
width: 50%;
}

#right {
float: left;
height: auto;
width: 50%;
}

b {
text-indent: 0em;
}

i {
font-style:italic;
}

span.overline {
padding-top:15px;
border-top:1px solid #000000;
}

span.underline {
text-decoration: underline;
padding-top:0;
border-top:0px solid #000000;
}

span.u2 {
text-decoration:underline;
padding-bottom:2px;
border-bottom:1px solid #000000;
}

p.xg2 {
margin-left:2em;
text-indent:-2em;
}

span.xx {
font-size:130%;
}