.calibre {
    display: block;
    font-size: 0.75em;
    padding: 0;
    margin: 0 5pt
    }
.calibre1 {
    display: block;
    font-size: 2.66667em;
    line-height: 1.2;
    margin: 0.5em
    }
.calibre2 {
    display: block
    }
.calibre3 {
    color: #2f3360;
    display: block;
    font-size: 2.22222em;
    font-weight: normal;
    line-height: 1.8em;
    text-align: center;
    text-indent: 0;
    margin: 2em 0 1.5em
    }
.calibre4 {
    color: black;
    line-height: 1.2
    }
.calibre5 {
    color: #2f3360;
    display: block;
    font-size: 1.88889em;
    font-weight: 800;
    line-height: 1.5em;
    text-align: center;
    text-indent: 0;
    margin: 2em 0 1.3em
    }
.calibre6 {
    display: block;
    font-size: 1.33333em;
    letter-spacing: 0;
    line-height: 1.5em;
    text-align: justify;
    text-indent: 2em;
    text-justify: inter-ideograph;
    margin: 0.5em 0 0
    }
.calibre7 {
    display: block;
    font-size: 1.88889em;
    font-weight: normal;
    line-height: 1.2;
    text-align: center;
    text-indent: 0;
    margin: 1.8em 0 1.2em
    }
.calibre8 {
    display: block;
    margin: 1em 1em 0
    }
.calibre9 {
    display: block;
    font-family: kaiti;
    font-size: 1.33333em;
    font-weight: normal;
    letter-spacing: 0;
    line-height: 1.4em;
    text-align: justify;
    text-indent: 2em;
    text-justify: inter-ideograph;
    margin: 0.5em 0 0
    }
.calibre10 {
    display: block;
    margin: 2em 1em 0
    }
.calibre11 {
    display: block;
    font-size: 1.33333em;
    letter-spacing: 0;
    line-height: 1.5em;
    text-align: justify;
    text-indent: 2em;
    text-justify: inter-ideograph;
    margin: 2em 0 0
    }
.calibre12 {
    height: auto;
    width: auto;
    padding: 0;
    margin: 0
    }
.calibre13 {
    display: block;
    font-family: heiti;
    font-size: 1em;
    font-weight: bold;
    text-align: center;
    text-indent: 0;
    margin: 1em 0
    }
.calibre14 {
    font-size: 1em;
    line-height: normal;
    vertical-align: sub
    }
.calibre15 {
    display: block;
    font-size: 1.33333em;
    letter-spacing: 0;
    line-height: 1.5em;
    text-align: justify;
    text-indent: 2em;
    text-justify: inter-ideograph;
    margin: 1.5em 0 0
    }
.calibre16 {
    font-size: 1em;
    line-height: normal;
    margin-left: 0.1em;
    margin-right: 0.1em;
    vertical-align: super
    }
.calibre17 {
    display: block;
    font-size: 1em;
    letter-spacing: 0;
    line-height: 1.5em;
    text-align: justify;
    text-indent: 2em;
    text-justify: inter-ideograph;
    margin: 0
    }
.calibre18 {
    display: block;
    font-size: 1.5em;
    font-weight: 800;
    line-height: 1.2;
    text-align: left;
    text-indent: 2em;
    margin: 1.2em 0 1em
    }
.calibre19 {
    font-family: heiti;
    font-size: 1em;
    font-weight: 800
    }
.center {
    display: block;
    font-size: 1.33333em;
    letter-spacing: 0;
    line-height: 1.5em;
    text-align: center;
    text-indent: 0;
    text-justify: inter-ideograph;
    margin: 0.5em 0 0
    }
.center1 {
    display: block;
    font-size: 1.33333em;
    letter-spacing: 0;
    line-height: 1.5em;
    text-align: center;
    text-indent: 0;
    text-justify: inter-ideograph;
    margin: 2em 0 0
    }
.center2 {
    display: block;
    font-size: 1.33333em;
    letter-spacing: 0;
    line-height: 1.5em;
    text-align: center;
    text-indent: 0;
    text-justify: inter-ideograph;
    margin: 1.5em 0 0
    }
.center3 {
    display: block;
    font-family: kaiti;
    font-size: 1.33333em;
    font-weight: normal;
    letter-spacing: 0;
    line-height: 1.4em;
    text-align: center;
    text-indent: 0;
    text-justify: inter-ideograph;
    margin: 0.5em 0 0
    }
.chatu {
    display: block;
    font-family: songti;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1.5em;
    text-align: center
    }
.chubanshe {
    display: block;
    font-family: fzlth;
    font-size: 1em;
    margin-top: 5em;
    text-align: center;
    width: 100%
    }
.fnote {
    display: block;
    font-size: 1em;
    line-height: 1.5em;
    margin-bottom: 0;
    margin-top: 2em;
    padding-top: 0.5em;
    text-align: justify;
    text-indent: 2em;
    border-top: gray solid 1px
    }
.fnote1 {
    display: block;
    font-size: 1em;
    line-height: 1.5em;
    margin-bottom: 0;
    margin-top: 0.5em;
    padding-top: 0;
    text-align: justify;
    text-indent: 2em;
    border-top: currentColor none 0
    }
.h-pic {
    height: 1.7em;
    line-height: 2em;
    vertical-align: middle;
    width: auto;
    padding: 0;
    margin: 0 0.1em
    }
.hidden {
    color: #2f3360;
    display: none;
    font-size: 2.22222em;
    font-weight: normal;
    line-height: 1.8em;
    text-align: center;
    text-indent: 0;
    padding: 0;
    margin: 0
    }
.italic {
    font-style: italic
    }
.italic1 {
    font-style: italic;
    line-height: 1.2
    }
.juzhong {
    display: block;
    margin: 30% 5% auto
    }
.kaiti {
    display: block;
    font-family: kaiti;
    font-size: 1.88889em;
    line-height: 1.2;
    text-indent: 0
    }
.kaiti1 {
    display: block;
    font-family: kaiti;
    margin-top: 1.5em
    }
.kaiti2 {
    display: block;
    font-family: kaiti
    }
.kaiti3 {
    display: block;
    font-family: kaiti;
    font-size: 1.33333em;
    letter-spacing: 0;
    line-height: 1.5em;
    text-align: justify;
    text-indent: 2em;
    text-justify: inter-ideograph;
    margin: 0.5em 0 0
    }
.kaiti4 {
    font-family: kaiti
    }
.math-sub {
    font-size: 0.75em;
    vertical-align: sub
    }
.sbiao {
    font-size: 0.75em;
    vertical-align: super;
    margin: 0
    }
.sgc-toc-level {
    display: block;
    font-family: heiti;
    font-size: 1.33333em;
    font-weight: bold;
    margin: 1em 0
    }
.sgc-toc-level1 {
    display: block;
    font-family: fzlth;
    font-size: 1em;
    font-weight: normal;
    margin: 0.5em 1em
    }
.shuming {
    display: block;
    font-family: songti;
    padding-top: 30%;
    text-align: center;
    text-indent: 0
    }
.sub-italic {
    font-style: italic;
    vertical-align: sub
    }
.width {
    height: auto;
    width: 40%;
    padding: 0;
    margin: 0
    }
.width1 {
    height: auto;
    width: 5em;
    padding: 0;
    margin: 0
    }
.width2 {
    height: auto;
    width: 20%;
    padding: 0;
    margin: 0
    }
.width3 {
    height: auto;
    width: 60%;
    padding: 0;
    margin: 0
    }
.width4 {
    height: auto;
    width: 30%;
    padding: 0;
    margin: 0
    }
.xiao {
    font-size: 0.85em;
    line-height: 1.8em;
    margin-top: 1em;
    text-indent: 0
    }
