.calibre {
    display: block;
    font-size: 1em;
    line-height: 1.618em;
    padding-left: 0;
    padding-right: 0;
    text-align: justify;
    margin: 0 5pt
    }
.calibre1 {
    height: auto;
    width: 100%
    }
.calibre2 {
    display: block
    }
.calibre3 {
    display: block;
    line-height: 1.2
    }
.calibre4 {
    display: block;
    text-indent: 2em;
    margin: 1em 0
    }
.calibre5 {
    display: block;
    font-size: 1em;
    line-height: 1.618em;
    padding-left: 0;
    padding-right: 0;
    margin: 0 5pt
    }
.calibre6 {
    color: #00C
    }
.calibre7 {
    display: block;
    height: 0
    }
.calibre8 {
    line-height: 1.2
    }
.calibre9 {
    display: block;
    text-align: center
    }
.calibre10 {
    border-collapse: separate;
    border-spacing: 2px;
    display: table;
    margin-bottom: 0;
    margin-top: 0;
    text-indent: 0
    }
.calibre11 {
    display: table-row-group;
    vertical-align: middle
    }
.calibre12 {
    display: table-row;
    vertical-align: inherit
    }
.calibre13 {
    display: table-cell;
    text-align: inherit;
    vertical-align: top;
    padding: 1px
    }
.calibre14 {
    color: gray;
    display: block;
    height: 2px;
    border: currentColor inset 1px;
    margin: 0.5em auto
    }
.empty {
    display: block;
    margin-bottom: 2.2em;
    margin-top: 2.2em
    }
.font {
    font-size: 1em;
    line-height: 1.2
    }
.font1 {
    font-size: 0.75em
    }
.kindle-cn-bodycontent-div-alone {
    display: block;
    text-align: center;
    width: 100%
    }
.kindle-cn-bodycontent-image-alone {
    height: auto;
    margin-bottom: 0.5em;
    width: 80%
    }
.kindle-cn-bodycontent-image-alone1 {
    height: auto;
    margin-bottom: 0.5em;
    width: 50%
    }
.kindle-cn-bodycontent-image-alone50-withnote {
    height: auto;
    margin-bottom: 0;
    width: 50%
    }
.kindle-cn-bodycontent-image-alone80-withnote {
    height: auto;
    margin-bottom: 0;
    width: 80%
    }
.kindle-cn-bold {
    font-weight: bold
    }
.kindle-cn-bold-italic {
    font-style: italic;
    font-weight: bold
    }
.kindle-cn-bold1 {
    display: block;
    font-weight: bold;
    text-indent: 2em;
    margin: 1em 0
    }
.kindle-cn-copyright-text {
    display: block;
    font-weight: bold;
    line-height: 1.618em;
    text-indent: 0;
    margin: 1em 0
    }
.kindle-cn-copyright-text1 {
    display: block;
    line-height: 1.618em;
    text-indent: 0;
    margin: 1em 0
    }
.kindle-cn-exam-choice {
    display: block;
    font-size: 1em;
    text-indent: -1em;
    margin: 1em 0 1em 1em
    }
.kindle-cn-heading {
    display: block;
    font-family: "MYing Hei S", Hei, "黑体";
    font-size: 2em;
    font-weight: bold;
    line-height: 1.2;
    text-align: center;
    width: 100%;
    border-bottom: #c7c7c7 dashed 2px;
    margin: 0.67em 0 0
    }
.kindle-cn-heading1 {
    display: block;
    font-size: 2em;
    font-weight: bold;
    line-height: 1.2;
    text-align: left;
    text-indent: 0;
    width: 100%;
    margin: 0.83em 0
    }
.kindle-cn-heading2 {
    display: block;
    font-size: 1.83333em;
    font-weight: bold;
    line-height: 1.2;
    text-align: left;
    text-indent: 0;
    margin: 1em 0
    }
.kindle-cn-heading3 {
    display: block;
    font-size: 2em;
    font-weight: bold;
    line-height: 1.2;
    text-align: left;
    text-indent: 0;
    width: 100%;
    margin: 0.83em 0
    }
.kindle-cn-heading4 {
    display: block;
    font-size: 1.66667em;
    font-weight: bold;
    line-height: 1.2;
    text-align: left;
    text-indent: 0;
    margin: 1.33em 0
    }
.kindle-cn-hei {
    display: block;
    font-family: "MYing Hei S", Hei, "黑体";
    text-indent: 2em;
    margin: 1em 0
    }
.kindle-cn-inline-image {
    height: 2em;
    margin-left: 0;
    margin-right: 0;
    vertical-align: middle;
    width: auto
    }
.kindle-cn-inline-image1 {
    height: 2.5em;
    margin-left: 0;
    margin-right: 0;
    vertical-align: middle;
    width: auto
    }
.kindle-cn-inline-image2 {
    height: 1em;
    margin-left: 0;
    margin-right: 0;
    vertical-align: middle;
    width: auto
    }
.kindle-cn-inline-image3 {
    height: 5em;
    margin-left: 0;
    margin-right: 0;
    vertical-align: middle;
    width: auto
    }
.kindle-cn-inline-image4 {
    height: 4em;
    margin-left: 0;
    margin-right: 0;
    vertical-align: middle;
    width: auto
    }
.kindle-cn-italic {
    font-style: italic
    }
.kindle-cn-kai {
    display: block;
    font-family: STKai, "MKai PRC", Kai, "楷体";
    text-indent: 2em;
    margin: 1em 0
    }
.kindle-cn-para-center {
    display: block;
    text-align: center;
    text-indent: 0;
    margin: 1em 0
    }
.kindle-cn-para-center1 {
    display: block;
    font-weight: bold;
    text-align: center;
    text-indent: 0;
    margin: 1em 0
    }
.kindle-cn-para-no-indent {
    display: block;
    text-indent: 0;
    margin: 1em 0
    }
.kindle-cn-para-no-indent1 {
    display: block;
    font-weight: bold;
    text-indent: 0;
    margin: 1em 0
    }
.kindle-cn-picture-txt-withfewcharactors {
    display: block;
    font-family: STKai, "MKai PRC", Kai, "楷体";
    font-size: 0.75em;
    text-align: center;
    text-indent: 0;
    margin: 0.3em 0 1em
    }
.kindle-cn-picture-txt-withmanycharactors {
    display: block;
    font-family: STKai, "MKai PRC", Kai, "楷体";
    font-size: 0.75em;
    text-align: left;
    text-indent: 0;
    margin: 0.3em 0 1em
    }
.kindle-cn-table-body {
    border-bottom-style: none;
    border-bottom-width: 1px;
    border-collapse: separate;
    border-left-style: none;
    border-left-width: 1px;
    border-right-style: solid;
    border-right-width: 1px;
    border-spacing: 2px;
    border-top-style: solid;
    border-top-width: 1px;
    display: table;
    text-indent: 0;
    width: 100%;
    margin: 1em auto
    }
.kindle-cn-table-dg {
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-left-style: solid;
    border-left-width: 1px;
    border-right-style: solid;
    border-right-width: 1px;
    border-top-style: solid;
    border-top-width: 1px;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    padding: 0.5em
    }
.kindle-cn-table-dg1 {
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-left-style: solid;
    border-left-width: 1px;
    border-right-style: solid;
    border-right-width: 1px;
    border-top-style: solid;
    border-top-width: 1px;
    display: table-cell;
    text-align: left;
    vertical-align: middle;
    padding: 0.5em
    }
.kindle-cn-toc-level {
    display: block;
    margin-left: 0
    }
.kindle-cn-toc-level1 {
    display: block;
    margin-left: 2em
    }
.kindle-cn-toc-title {
    display: block;
    font-size: 2em;
    font-weight: bold;
    letter-spacing: 1em;
    line-height: 1.2;
    text-align: center;
    border-bottom: #000 dotted 1.5px;
    margin: 0.67em 0 0.5em
    }
.kindle-cn-tourism-double_image_with_notes {
    border-collapse: separate;
    border-spacing: 2px;
    display: table;
    text-align: center;
    text-indent: 0;
    width: 100%;
    margin: 1em auto
    }
.kindle-cn-tourism-double_image_with_notes1 {
    display: table-cell;
    text-align: inherit;
    vertical-align: bottom;
    width: 48%;
    padding: 1px
    }
.kindle-cn-tourism-double_image_with_notes2 {
    height: auto;
    width: 95%
    }
.kindle-cn-tourism-double_image_with_notes3 {
    display: table-cell;
    font-family: STKai, "MKai PRC", Kai, "楷体";
    font-size: 0.75em;
    text-align: justify;
    vertical-align: top;
    width: 48%;
    padding: 0.8em
    }
.kindle-cn-underline {
    text-decoration: underline
    }
.math-super {
    font-size: 0.75em;
    vertical-align: super
    }
.math-super1 {
    font-size: 0.77778em;
    vertical-align: super
    }
