.bodycontent-first-title {
    display: block;
    font-size: 1.66667em;
    font-weight: bold;
    line-height: 1.2;
    text-align: center;
    margin: 0.5em 0 2.5em
    }
.bodycontent-second-title {
    display: block;
    font-size: 1.29167em;
    font-weight: bold;
    line-height: 1.2;
    text-align: center;
    margin: 1.5em 0 0.8em
    }
.bodycontent-text {
    display: block;
    font-family: "MYing Hei S", Hei, "黑体";
    font-size: 0.83333em;
    text-align: center;
    margin: 1em 0
    }
.bodycontent-text_center {
    display: block;
    text-align: center;
    margin: 1em 0
    }
.bodycontent-text_noindent {
    display: block;
    font-family: STKai, "MKai PRC", Kai, "楷体";
    font-size: 1em;
    line-height: 1.5;
    text-indent: 0;
    margin: 1em 0
    }
.bodycontent-text_right {
    display: block;
    font-family: "MYing Hei S", Hei, "黑体";
    text-align: right;
    margin: 1em 0
    }
.bodycontent-text_right1 {
    display: block;
    text-align: right;
    margin: 1em 0 3em
    }
.bodycontent-text_right2 {
    display: block;
    text-align: right;
    margin: 1em 0
    }
.bodycontent-text_right3 {
    display: block;
    font-family: STKai, "MKai PRC", Kai, "楷体";
    text-align: right;
    margin: 1em 0
    }
.bodycontent-text_yinwen {
    display: block;
    font-family: STKai, "MKai PRC", Kai, "楷体";
    font-size: 1em;
    line-height: 1.5;
    text-indent: 2em;
    margin: 1em 0
    }
.bodycontent-text_yinwen1 {
    display: block;
    font-family: STKai, "MKai PRC", Kai, "楷体";
    font-size: 1em;
    line-height: 1.5;
    text-indent: 2em;
    margin: 1em 0 1em 2em
    }
.bodycontent-text-tushuo {
    display: block;
    font-family: "MYing Hei S", Hei, "黑体";
    font-size: 0.83333em;
    text-align: center;
    margin: 0.2em 0 1em
    }
.bodycontent-text-tushuo1 {
    display: block;
    font-size: 0.83333em;
    text-align: center;
    margin: 0.2em 0 1em
    }
.bodycontent-text1 {
    display: block;
    font-family: "MYing Hei S", Hei, "黑体";
    font-size: 1.29167em;
    line-height: 1.2;
    text-indent: 2em;
    margin: 1em 0
    }
.bodycontent-text2 {
    display: block;
    font-family: STKai, "MKai PRC", Kai, "楷体";
    text-align: center;
    margin: 1em 0
    }
.bodycontent-text3 {
    display: block;
    font-size: 1.29167em;
    line-height: 1.2;
    text-decoration: underline;
    text-indent: 0;
    margin: 1em 0
    }
.bodycontent-text4 {
    display: block;
    font-size: 1.29167em;
    font-weight: bold;
    line-height: 1.2;
    text-align: center;
    margin: 1em 0
    }
.bodycontent-text5 {
    display: block;
    text-decoration: underline;
    text-indent: 0;
    margin: 1em 0
    }
.bodycontent-text6 {
    display: block;
    text-indent: 0;
    margin: 1em 0
    }
.bodytext {
    display: block;
    text-indent: 2em;
    margin: 1em 0
    }
.bodytext-c {
    display: block;
    text-align: center;
    text-indent: 2em;
    margin: 1em 0
    }
.bodytext-right {
    display: block;
    font-family: "楷体";
    text-align: right;
    margin: 1em 0
    }
.bodytext1 {
    display: block;
    margin: 1em 0
    }
.calibre {
    display: block;
    font-size: 1em;
    line-height: 1.5;
    padding-left: 0;
    padding-right: 0;
    text-align: justify;
    margin: 0 5pt
    }
.calibre1 {
    color: #00C
    }
.calibre2 {
    display: block;
    font-size: 1em;
    padding-left: 0;
    padding-right: 0;
    margin: 0 5pt
    }
.calibre3 {
    display: none;
    font-size: 2em;
    font-weight: bold;
    line-height: 1.2;
    margin: 0.67em 0
    }
.calibre4 {
    display: block;
    line-height: 1.2
    }
.calibre5 {
    font-size: 0.75em;
    line-height: normal;
    vertical-align: super
    }
.calibre6 {
    display: block
    }
.calibre7 {
    clear: both;
    color: gray;
    display: block;
    height: 2px;
    margin: 0.5em auto;
    border: currentColor inset 1px
    }
.calibre8 {
    font-size: 1em;
    line-height: 1.2;
    vertical-align: super
    }
.calibre9 {
    font-size: 0.75em;
    line-height: normal;
    vertical-align: sub
    }
.calibre10 {
    font-size: 0.9em;
    line-height: normal;
    vertical-align: super
    }
.calibre11 {
    font-size: 0.9em;
    line-height: normal;
    vertical-align: sub
    }
.calibre12 {
    text-indent: 2em
    }
.calibre13 {
    font-size: 0.83333em;
    line-height: 1.2;
    vertical-align: sub
    }
.calibre14 {
    font-style: italic
    }
.calibre15 {
    display: block
    }
.calibre16 {
    height: auto;
    width: auto
    }
.center {
    display: block;
    font-weight: bold;
    text-align: center;
    margin: 1em 0
    }
.chapter-four {
    display: block;
    font-weight: bold;
    margin: 1.33em 0
    }
.chapter-four1 {
    color: #0468bb;
    display: block;
    font-family: MicrosoftYaHei;
    font-size: 1.29167em;
    font-weight: normal;
    line-height: 200%;
    text-align: left;
    text-indent: 0;
    margin: 1.67em 0
    }
.chapter-one {
    color: #0468bb;
    display: block;
    font-family: MicrosoftYaHei;
    font-size: 1.66667em;
    font-weight: normal;
    line-height: 200%;
    text-align: center;
    margin: 0.83em 0
    }
.chapter-three {
    color: #0468bb;
    display: block;
    font-family: MicrosoftYaHei;
    font-size: 1.29167em;
    font-weight: normal;
    line-height: 200%;
    text-align: center;
    text-indent: 0;
    margin: 1.33em 0
    }
.chapter-three1 {
    color: #0468bb;
    display: block;
    font-family: MicrosoftYaHei;
    font-size: 1.29167em;
    font-weight: normal;
    line-height: 200%;
    text-align: left;
    text-indent: 0;
    margin: 1.33em 0
    }
.chapter-two {
    color: #0468bb;
    display: block;
    font-family: MicrosoftYaHei;
    font-size: 1.29167em;
    font-weight: normal;
    line-height: 200%;
    text-align: center;
    text-indent: 0;
    margin: 1em 0
    }
.chapter-two1 {
    color: #0468bb;
    display: block;
    font-family: MicrosoftYaHei;
    font-size: 1.29167em;
    font-weight: normal;
    line-height: 200%;
    text-align: left;
    text-indent: 0;
    margin: 1em 0
    }
.contents-chapter {
    display: block;
    font-weight: bold;
    margin-left: 0.5em
    }
.contents-chapter1 {
    display: block;
    font-weight: normal;
    list-style-type: none
    }
.contents-chapter2 {
    display: block;
    font-weight: normal;
    list-style-type: none
    }
.contents-chapter3 {
    display: block;
    font-weight: normal;
    list-style-type: none
    }
.copyright-text {
    display: block;
    font-family: "黑体", "sans-serif";
    font-size: 0.83333em;
    line-height: 1.75;
    text-indent: 0;
    margin: 0
    }
.copyright-text1 {
    display: block;
    font-family: "黑体", "sans-serif";
    font-size: 0.83333em;
    line-height: 1.75;
    text-indent: 0;
    margin: 1em 0 0
    }
.copyright-title {
    display: block;
    font-size: 1.66667em;
    font-weight: bold;
    line-height: 1.2;
    margin: 0.83em 0
    }
.dobbyreplace_ {
    font-size: 1em;
    text-indent: 2em
    }
.duokan-western {
    line-height: 1.2
    }
.gongshi {
    height: 2em;
    vertical-align: -0.4em;
    width: auto
    }
.gongshi1 {
    height: 2.5em;
    vertical-align: -0.4em;
    width: auto
    }
.image-alone {
    height: auto;
    margin-bottom: 0.2em;
    width: auto
    }
.image-tuzhu {
    height: auto;
    margin-bottom: 0.3em;
    width: 100%
    }
.img-center {
    display: block;
    text-align: center;
    margin: 0;
    padding: 0
    }
.img-height {
    height: auto;
    width: 100%
    }
.jiacu {
    font-weight: bold
    }
.jiacus {
    display: block;
    font-weight: bold;
    text-align: left;
    text-indent: 0;
    margin: 1em 0
    }
.k {
    font-family: STKai, "MKai PRC", Kai, "楷体"
    }
.kindle-cn-copyright-text {
    display: block;
    line-height: 1.5;
    text-indent: 0;
    margin: 1em 0
    }
.kindle-cn-copyright-title {
    border-bottom-style: solid;
    border-bottom-width: 1.5px;
    border-left-style: none;
    border-left-width: 1.5px;
    border-right-style: none;
    border-right-width: 1.5px;
    border-top-style: none;
    border-top-width: 1.5px;
    display: block;
    font-size: 1.29167em;
    font-weight: bold;
    line-height: 1.2;
    text-align: center;
    margin: 0.5em 0
    }
.kx {
    border-radius: 0 0 0 0;
    display: block;
    margin-bottom: 1em;
    margin-top: 0;
    padding: 1em;
    border: #000 solid 1px
    }
.logo {
    display: block;
    text-align: center;
    margin: auto
    }
.math-sub {
    font-size: 0.75em;
    vertical-align: sub
    }
.math-sub1 {
    font-size: 0.83333em;
    vertical-align: sub
    }
.math-super {
    font-size: 0.75em;
    vertical-align: super
    }
.notecontent {
    display: block;
    font-family: "楷体";
    font-size: 0.83333em;
    letter-spacing: auto;
    line-height: 1.5em;
    text-align: left;
    text-indent: 2em;
    margin: 1em 0
    }
.notetitle {
    display: block;
    font-family: "楷体";
    font-size: 0.83333em;
    font-weight: bold;
    letter-spacing: auto;
    line-height: 1.5em;
    text-align: left;
    text-indent: 0;
    margin: 1em 0
    }
.overline {
    text-decoration: overline
    }
.paralog {
    height: 2em;
    margin-left: 0.1em;
    margin-right: 0.1em;
    vertical-align: -0.2em;
    width: auto
    }
.paralog1 {
    height: 1.5em;
    vertical-align: -0.3em;
    width: auto
    }
.paralog2 {
    height: 1em;
    vertical-align: -0.1em;
    width: auto
    }
.sgc-toc-level {
    display: block;
    margin-left: 0
    }
.sgc-toc-level1 {
    display: block;
    margin-left: 2em
    }
.sgc-toc-title {
    display: block;
    font-size: 2em;
    font-weight: bold;
    letter-spacing: 1em;
    line-height: 1.2;
    margin-bottom: 1em;
    text-align: center;
    border-bottom: #000 dotted 1.5px
    }
.tupian {
    display: block;
    text-align: center;
    width: 100%;
    margin: 1em auto
    }
.tuzhu-center {
    display: block;
    font-family: "楷体";
    font-size: 0.83333em;
    text-align: center;
    margin: 1em 0
    }
.xz {
    font-size: 1em;
    line-height: 1.2
    }
.yinwen {
    display: block;
    font-family: "楷体";
    text-indent: 2em;
    margin: 1em
    }
.yinwen-c {
    display: block;
    font-family: "楷体";
    text-align: center;
    margin: 1em 0
    }
.zaozi {
    height: 1em;
    vertical-align: -0.18em;
    width: auto
    }
.zaozi1 {
    height: 1.5em;
    vertical-align: -0.18em;
    width: auto
    }
.zhong {
    display: block;
    width: 30%;
    margin: 1em auto
    }
.zhong1 {
    display: block;
    text-align: center;
    width: 80%;
    margin: 1em auto
    }
.zhong2 {
    display: block;
    text-align: center;
    width: 60%;
    margin: 1em auto
    }
.zhong3 {
    display: block;
    width: 40%;
    margin: 1em auto
    }
.zhusi {
    display: block;
    font-size: 0.83333em;
    line-height: 1.5;
    text-indent: 0;
    margin: 1em 0
    }
