.bodycontent-first-title {
    display: block;
    font-size: 1.66667em;
    font-weight: bold;
    line-height: 1.4;
    text-align: center;
    margin: 0.5em 0 2.5em
    }
.bodycontent-text {
    display: block;
    text-indent: 2em;
    margin: 1em 0
    }
.bodycontent-text_right {
    display: block;
    font-size: 0.75em;
    text-align: right;
    margin: 1em 0
    }
.bodycontent-text_yinwen {
    display: block;
    font-size: 0.75em;
    line-height: 1.5;
    text-indent: 2em;
    margin: 0.2em 2em
    }
.bodycontent-text-tushuo {
    display: block;
    font-size: 0.75em;
    text-align: center;
    margin: 0.2em 0 1em
    }
.calibre {
    display: block;
    font-size: 1em;
    line-height: 1.5;
    padding-left: 0;
    padding-right: 0;
    text-align: justify;
    margin: 0 5pt
    }
.calibre1 {
    display: block
    }
.calibre2 {
    height: auto;
    width: auto
    }
.calibre3 {
    color: #00C
    }
.calibre4 {
    font-weight: bold
    }
.image-alone {
    height: auto;
    margin-bottom: 0.2em;
    width: auto
    }
.kindle-cn-copyright-text {
    display: block;
    line-height: 1.5;
    text-indent: 0;
    margin: 1em 0
    }
.kindle-cn-copyright-title {
    border-bottom-style: solid;
    border-bottom-width: 1.5px;
    border-left-style: none;
    border-left-width: 1.5px;
    border-right-style: none;
    border-right-width: 1.5px;
    border-top-style: none;
    border-top-width: 1.5px;
    display: block;
    font-size: 1.41667em;
    font-weight: bold;
    line-height: 1.4;
    text-align: center;
    margin: 0.5em 0
    }
.logo {
    display: block;
    text-align: center;
    margin: auto
    }
.math-sub {
    font-size: 0.75em;
    vertical-align: sub
    }
.sgc-toc-level {
    display: block;
    margin-left: 0
    }
.sgc-toc-title {
    display: block;
    font-size: 2em;
    font-weight: bold;
    letter-spacing: 1em;
    line-height: 1.4;
    margin-bottom: 1em;
    text-align: center;
    border-bottom: #000 dotted 1.5px
    }
.tupian {
    display: block;
    text-align: center;
    width: 100%;
    margin: 1em auto
    }
