h1{
                
font-weight:bold;
font-size:2.0em;
text-align:center;
margin: 1em 0em 1em 0em;
}
h2{
                 
font-size:1.8em;
text-align:left;
text-indent:0em;
margin: 1em 0em 1em 0em;
}
h3{       
               
font-size:1.5em;
text-align:left;
text-indent:0em;
margin: 0.3em 0em 0.3em 0em;
}
h4{
               
font-size:1.4em;
text-align:center;
margin: 0em 0em 1em 0em;
}
p{
                
font-size: 1.4em;
text-align: left;
text-indent:2.0em;
margin: 0em 0em 0em 0em;
}
h5{
                
font-size: 1.6em;
                text-align: right;
margin: 0em 0em 1em 0em;
}
h6{

font-size:1.1em;
text-align:left;
text-indent:2.0em;
margin: 0em 0em 0em 0em;
}
