.calibre {
    display: block;
    font-size: 0.75em;
    line-height: 1.45;
    padding: 0;
    margin: 0 5pt
    }
.calibre1 {
    display: block;
    font-size: 1.88889em;
    font-weight: normal;
    line-height: 1.45;
    text-align: center;
    text-indent: 0;
    margin: 2em 0 1em
    }
.calibre2 {
    display: block;
    font-size: 1.88889em;
    line-height: 1.45;
    margin: 0.5em
    }
.calibre3 {
    display: block;
    line-height: 1.45
    }
.calibre4 {
    color: black;
    line-height: 1.45
    }
.calibre5 {
    font-family: heiti;
    font-size: 1em;
    font-weight: 800;
    line-height: 1.45
    }
.calibre6 {
    display: block;
    font-size: 1.33333em;
    letter-spacing: 0;
    line-height: 1.45;
    text-align: justify;
    text-indent: 2em;
    text-justify: inter-ideograph;
    margin: 1em 0 0
    }
.calibre7 {
    display: block;
    font-size: 1.33333em;
    letter-spacing: 0;
    line-height: 1.45;
    text-align: justify;
    text-indent: 2em;
    text-justify: inter-ideograph;
    margin: 0.5em 0
    }
.calibre8 {
    height: auto;
    line-height: 1.45;
    width: auto;
    padding: 0;
    margin: 0
    }
.calibre9 {
    color: #000;
    display: block;
    font-size: 1.88889em;
    font-weight: 800;
    line-height: 1.45;
    text-align: left;
    text-indent: 0;
    margin: 2em 0 1.3em
    }
.calibre10 {
    display: block;
    font-family: heiti;
    font-size: 1em;
    font-weight: bold;
    line-height: 1.45;
    text-align: center;
    text-indent: 2em;
    margin: 0
    }
.calibre11 {
    display: block;
    font-size: 1.33333em;
    letter-spacing: 0;
    line-height: 1.45;
    text-align: justify;
    text-indent: 2em;
    text-justify: inter-ideograph;
    margin: 1.5em 0 0
    }
.calibre12 {
    display: block;
    font-size: 1.5em;
    font-weight: 800;
    line-height: 1.45;
    text-align: left;
    text-indent: 2em;
    margin: 1em 0 0.5em
    }
.calibre13 {
    display: block;
    font-size: 1.88889em;
    font-weight: normal;
    line-height: 1.45;
    text-align: left;
    text-indent: 0;
    margin: 2em 0 1.3em
    }
.calibre14 {
    display: block;
    line-height: 1.45;
    margin: 2em 1em 0
    }
.calibre15 {
    display: block;
    font-family: kaiti;
    font-size: 1.33333em;
    font-weight: normal;
    letter-spacing: 0;
    line-height: 1.45;
    text-align: justify;
    text-indent: 2em;
    text-justify: inter-ideograph;
    margin: 0.5em 0 0
    }
.calibre16 {
    display: block;
    font-size: 1.33333em;
    letter-spacing: 0;
    line-height: 1.45;
    text-align: justify;
    text-indent: 2em;
    text-justify: inter-ideograph;
    margin: 2em 0 0
    }
.calibre17 {
    display: block;
    font-size: 1.33333em;
    letter-spacing: 0;
    line-height: 1.45;
    text-align: justify;
    text-indent: 2em;
    text-justify: inter-ideograph;
    margin: 1.5em 0 0.5em
    }
.calibre18 {
    font-size: 1em;
    line-height: 1.45;
    vertical-align: super
    }
.calibre19 {
    line-height: 1.45
    }
.calibre20 {
    display: block
    }
.calibre21 {
    display: block;
    font-size: 1em;
    letter-spacing: 0;
    line-height: 1.45;
    text-align: justify;
    text-indent: 2em;
    text-justify: inter-ideograph;
    margin: 0
    }
.calibre22 {
    font-size: 1em;
    line-height: 1.45;
    vertical-align: sub
    }
.calibre23 {
    display: block;
    font-family: heiti;
    font-size: 1em;
    font-weight: bold;
    line-height: 1.45;
    text-align: center;
    text-indent: 2em;
    margin: 1.5em 0 0
    }
.calibre24 {
    height: auto;
    width: auto;
    padding: 0;
    margin: 0
    }
.calibre25 {
    display: block;
    font-family: heiti;
    font-size: 1em;
    font-weight: bold;
    line-height: 1.45;
    text-align: center;
    text-indent: 2em;
    margin: 0.5em 0 0
    }
.calibre26 {
    height: auto;
    line-height: 1.45;
    width: 95%;
    padding: 0;
    margin: 0
    }
.center {
    display: block;
    font-size: 1.33333em;
    letter-spacing: 0;
    line-height: 1.45;
    text-align: center;
    text-indent: 0;
    text-justify: inter-ideograph;
    margin: 0.5em 0
    }
.center1 {
    display: block;
    font-size: 1.33333em;
    letter-spacing: 0;
    line-height: 1.45;
    text-align: center;
    text-indent: 0;
    text-justify: inter-ideograph;
    margin: 1em 0 0
    }
.chatu {
    display: block;
    font-family: songti;
    line-height: 1.45;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1.5em;
    text-align: center
    }
.chatu1 {
    display: block;
    font-family: songti;
    line-height: 1.45;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1em;
    text-align: center
    }
.chubanshe {
    bottom: 12%;
    display: block;
    font-family: fzlth;
    font-size: 1em;
    left: 0%;
    line-height: 1.45;
    margin-left: 0%;
    margin-top: 2em;
    position: absolute;
    text-align: center;
    width: 100%
    }
.fnote {
    display: block;
    font-size: 1em;
    line-height: 1.45;
    margin-bottom: 0;
    margin-top: 2em;
    padding-top: 0.5em;
    text-align: justify;
    text-indent: 2em;
    border-top: gray solid 1px
    }
.fnote1 {
    display: block;
    font-size: 1em;
    line-height: 1.45;
    margin-bottom: 0;
    margin-top: 0.5em;
    padding-top: 0;
    text-align: justify;
    text-indent: 2em;
    border-top: currentColor none 0
    }
.fright {
    display: block;
    float: right;
    line-height: 1.45;
    text-align: center;
    width: 48%;
    margin: 10px 0 10px 2%
    }
.h-pic {
    height: 2em;
    vertical-align: middle;
    width: auto;
    padding: 0;
    margin: 0 0.1em
    }
.h-pic1 {
    height: 3em;
    vertical-align: middle;
    width: auto;
    padding: 0;
    margin: 0 0.1em
    }
.h-pic2 {
    height: 3em;
    line-height: 1.45;
    vertical-align: middle;
    width: auto;
    padding: 0;
    margin: 0 0.1em
    }
.h-pic3 {
    height: 2em;
    line-height: 1.45;
    vertical-align: middle;
    width: auto;
    padding: 0;
    margin: 0 0.1em
    }
.h-pic4 {
    height: 1.2em;
    vertical-align: middle;
    width: auto;
    padding: 0;
    margin: 0 0.1em
    }
.h-pic5 {
    height: 1.2em;
    line-height: 1.45;
    vertical-align: middle;
    width: auto;
    padding: 0;
    margin: 0 0.1em
    }
.italic {
    font-style: italic
    }
.italic1 {
    font-style: italic;
    line-height: 1.45
    }
.juzhong {
    display: block;
    line-height: 1.45;
    margin: 30% 20% auto
    }
.kaiti {
    display: block;
    font-family: kaiti;
    font-size: 1.5em;
    line-height: 1.45;
    text-indent: 2em
    }
.kaiti1 {
    display: block;
    font-family: kaiti;
    line-height: 1.45
    }
.kaiti2 {
    display: block;
    font-family: kaiti;
    font-size: 1.33333em;
    letter-spacing: 0;
    line-height: 1.45;
    text-align: right;
    text-indent: 2em;
    text-justify: inter-ideograph;
    margin: 1em 0 0
    }
.sbiao {
    font-size: 0.75em;
    vertical-align: super;
    margin: 0
    }
.sbiao1 {
    font-size: 1em;
    line-height: 1.45;
    vertical-align: super;
    margin: 0
    }
.sbiaoxt {
    font-size: 0.75em;
    font-style: italic;
    vertical-align: super;
    margin: 0
    }
.sbiaoxt1 {
    font-size: 1em;
    font-style: italic;
    line-height: 1.45;
    vertical-align: super;
    margin: 0
    }
.sgc-toc-level {
    display: block;
    font-family: heiti;
    font-size: 1.5em;
    font-weight: bold;
    line-height: 1.45;
    margin: 1em 0
    }
.sgc-toc-level1 {
    display: block;
    font-family: fzlth;
    font-size: 0.88889em;
    font-weight: normal;
    line-height: 1.45;
    margin: 0.5em 1em
    }
.shuming {
    display: block;
    font-family: songti;
    line-height: 1.45;
    padding-top: 30%;
    text-align: center;
    text-indent: 0
    }
.solidgrey {
    background-color: #dcdcdc;
    display: block;
    line-height: 1.45;
    padding: 0.8em 0.5em;
    margin: 1em 0.5em;
    border: currentColor dashed 2px
    }
.width {
    height: auto;
    line-height: 1.45;
    width: 40%;
    padding: 0;
    margin: 0
    }
.width1 {
    height: auto;
    line-height: 1.45;
    width: 60%;
    padding: 0;
    margin: 0
    }
.width2 {
    height: auto;
    line-height: 1.45;
    width: 20%;
    padding: 0;
    margin: 0
    }
.width3 {
    height: auto;
    width: 40%;
    padding: 0;
    margin: 0
    }
.xbiaoxt {
    font-size: 0.75em;
    font-style: italic;
    vertical-align: bottom
    }
