.calibre {
  background-color: #FFF;
  display: block;
  font-size: 1em;
  padding-left: 0;
  padding-right: 0;
  text-align: center;
  margin: 0 5pt;
}
.calibre1 {
  height: auto;
  max-height: 100%;
  max-width: 100%;
  width: auto;
}
.calibre2 {
  display: block;
  font-size: 1em;
  padding-left: 0;
  padding-right: 0;
  margin: 0 5pt;
}
.calibre3 {
  display: block;
}
.calibre4 {
  display: block;
  font-size: 2em;
  font-weight: bold;
  line-height: 1.2;
  margin: 0.67em 0;
}
.calibre5 {
  color: rgb(0, 0, 0);
  display: block;
  font-family: "PingFang SC";
  font-size: 0.70833em;
  font-weight: bold;
  line-height: 1.2;
  text-align: center;
}
.calibre6 {
  font-weight: bold;
  line-height: 1.2;
}
.calibre7 {
  display: block;
  margin: 1em 0;
}
.calibre8 {
  color: rgb(120, 120, 120);
  display: block;
  font-family: "PingFang SC";
  font-size: 0.58333em;
  font-weight: bold;
  text-align: center;
}
.calibre9 {
  font-weight: bold;
}
.calibre10 {
  font-family: "PingFang SC";
  font-size: 1em;
}
.calibre11 {
  display: block;
  height: auto;
  max-width: 600px;
  width: 80%;
  margin: 5px auto;
}
.calibre12 {
  color: #000;
  display: block;
  font-size: 0.75em;
  font-weight: bold;
  text-align: center;
  margin: 5px 0 1em;
}
.calibre13 {
  color: rgb(0, 0, 0);
  display: block;
  font-family: "FZFangSong-Z02";
  font-size: 1em;
  text-align: center;
}
.calibre14 {
  color: rgb(0, 0, 0);
  display: block;
  font-family: "PingFang SC";
  font-size: 0.5em;
  font-weight: bold;
  text-align: center;
}
.calibre15 {
  font-family: "PingFang SC";
  font-size: 1em;
  font-weight: bold;
}
.calibre16 {
  display: block;
  font-family: "FZKai-Z03";
  font-size: 1em;
  text-align: right;
}
.calibre17 {
  color: rgb(0, 0, 0);
  font-family: "FZFangSong-Z02";
  font-size: 1em;
}
.calibre18 {
  display: block;
  font-size: 1.66667em;
  font-weight: bold;
  line-height: 1.2;
  margin: 0.83em 0;
}
.calibre19 {
  color: rgb(0, 0, 0);
  font-family: "PingFang SC";
  font-size: 0.675em;
  font-weight: bold;
  line-height: 1.2;
}
.calibre20 {
  display: block;
  font-size: 1.125em;
  font-weight: bold;
  line-height: 1.2;
  margin: 1em 0;
}
.calibre21 {
  color: rgb(0, 0, 0);
  font-family: "PingFang SC";
  font-size: 1em;
  font-weight: bold;
  line-height: 1.2;
}
.calibre22 {
  font-size: 0.75em;
  line-height: normal;
  vertical-align: super;
}
.calibre23 {
  color: rgb(0, 0, 0);
  font-family: "PingFang SC";
  font-size: 1em;
  font-weight: bold;
}
.calibre24 {
  display: block;
  text-align: center;
}
.calibre25 {
  height: auto;
  width: 900px;
}
.calibre26 {
  color: rgb(0, 0, 0);
  font-family: "FZFangSong-Z02";
  font-size: 1em;
  font-weight: bold;
}
.calibre27 {
  height: auto;
  width: 98px;
}
.calibre28 {
  display: block;
  list-style-type: decimal;
  margin: 1em 0;
}
.duokan-footnote-content {
  display: block;
  list-style-image: none;
  list-style-position: outside;
  list-style-type: none;
  margin-bottom: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-right: 0;
  padding-top: 0;
}
.duokan-footnote-item {
  display: list-item;
}
.epub-footnote {
  height: auto;
  width: 11px;
}
.epub-footnote1 {
  height: auto;
  width: 10px;
}
