.bt {
    display: block;
    font-size: 1.88889em;
    font-weight: 800;
    letter-spacing: 0;
    line-height: 1.5;
    text-align: left;
    text-indent: 0;
    text-justify: inter-ideograph;
    margin: 1em 0 0.5em
    }
.c {
    display: block;
    font-family: heiti;
    font-size: 1.33333em;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 1.5;
    text-align: justify;
    text-indent: 2em;
    text-justify: inter-ideograph;
    margin: 1em 0 0
    }
.calibre {
    display: block;
    font-size: 0.75em;
    line-height: 1.5;
    padding: 0;
    margin: 0 5pt
    }
.calibre1 {
    display: block;
    font-size: 2.66667em;
    line-height: 1.5;
    margin: 0.5em
    }
.calibre2 {
    display: block;
    line-height: 1.5
    }
.calibre3 {
    color: black;
    line-height: 1.5
    }
.calibre4 {
    display: table;
    height: 100%;
    line-height: 1.5;
    overflow: hidden;
    position: static;
    width: 100%
    }
.calibre5 {
    display: table-cell;
    line-height: 1.5;
    position: static;
    text-align: center;
    top: 50%;
    vertical-align: middle
    }
.calibre6 {
    display: block;
    line-height: 1.5;
    position: relative;
    top: -50%;
    margin: 0 auto
    }
.calibre7 {
    height: auto;
    line-height: 1.5;
    width: auto;
    padding: 0;
    margin: 0
    }
.calibre8 {
    font-size: 1em;
    line-height: 1.5;
    vertical-align: super
    }
.calibre9 {
    line-height: 1.5
    }
.calibre10 {
    display: block;
    font-size: 1em;
    letter-spacing: 0;
    line-height: 1.5;
    text-align: justify;
    text-indent: 2em;
    text-justify: inter-ideograph;
    margin: 0
    }
.calibre11 {
    display: block;
    font-size: 1.33333em;
    letter-spacing: 0;
    line-height: 1.5;
    text-align: justify;
    text-indent: 2em;
    text-justify: inter-ideograph;
    margin: 1em 0 0
    }
.calibre12 {
    display: block;
    font-size: 1.33333em;
    letter-spacing: 0;
    line-height: 1.5;
    text-align: justify;
    text-indent: 2em;
    text-justify: inter-ideograph;
    margin: 1.5em 0 0
    }
.calibre13 {
    font-family: heiti;
    font-size: 1em;
    font-weight: 800;
    line-height: 1.5
    }
.calibre14 {
    display: block;
    font-size: 1.33333em;
    letter-spacing: 0;
    line-height: 1.5;
    text-align: justify;
    text-indent: 2em;
    text-justify: inter-ideograph;
    margin: 0.5em 0
    }
.calibre15 {
    height: auto;
    line-height: 1.5;
    width: 95%;
    padding: 0;
    margin: 0
    }
.calibre16 {
    display: block
    }
.calibre17 {
    display: block;
    font-size: 1.33333em;
    letter-spacing: 0;
    line-height: 1.5;
    text-align: justify;
    text-indent: 2em;
    text-justify: inter-ideograph;
    margin: 1.5em 0 0.5em
    }
.calibre18 {
    display: block;
    line-height: 1.5;
    margin: 1em 1em 0
    }
.calibre19 {
    display: block;
    font-family: kaiti;
    font-size: 1.33333em;
    font-weight: normal;
    letter-spacing: 0;
    line-height: 1.5;
    text-align: justify;
    text-indent: 2em;
    text-justify: inter-ideograph;
    margin: 0.5em 0 0
    }
.calibre20 {
    display: block;
    font-size: 1.33333em;
    letter-spacing: 0;
    line-height: 1.5;
    text-align: justify;
    text-indent: 2em;
    text-justify: inter-ideograph;
    margin: 2em 0 0
    }
.calibre21 {
    display: block;
    line-height: 1.5;
    margin: 2em 1em 0
    }
.calibre22 {
    color: black;
    display: block;
    font-size: 2.22222em;
    font-weight: normal;
    line-height: 1.5;
    text-align: center;
    text-indent: 0;
    margin: 2em 0 1em
    }
.calibre23 {
    color: black;
    display: block;
    line-height: 1.5
    }
.calibre24 {
    font-size: 1em;
    line-height: 1.5;
    vertical-align: sub
    }
.calibre25 {
    font-size: 0.75em;
    line-height: 1.5;
    vertical-align: super
    }
.calibre26 {
    display: block;
    font-size: 0.75em;
    line-height: 1.5;
    padding-left: 0;
    padding-right: 0;
    margin: 0 5pt
    }
.calibre27 {
    font-family: kaiti;
    font-size: 1.41667em;
    font-style: normal;
    font-weight: normal;
    line-height: 1.5
    }
.center {
    display: block;
    font-size: 1.33333em;
    letter-spacing: 0;
    line-height: 1.5;
    text-align: center;
    text-indent: 0;
    text-justify: inter-ideograph;
    margin: 0.5em 0
    }
.center1 {
    display: block;
    font-size: 1.33333em;
    letter-spacing: 0;
    line-height: 1.5;
    text-align: center;
    text-indent: 0;
    text-justify: inter-ideograph;
    margin: 1em 0 0
    }
.center2 {
    display: block;
    font-size: 1.33333em;
    letter-spacing: 0;
    line-height: 1.5;
    text-align: center;
    text-indent: 0;
    text-justify: inter-ideograph;
    margin: 2em 0 0
    }
.chatu {
    display: block;
    font-family: songti;
    line-height: 1.5;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1.5em;
    text-align: center
    }
.chatu1 {
    display: block;
    font-family: songti;
    line-height: 1.5;
    margin-left: auto;
    margin-right: auto;
    text-align: center
    }
.chubanshe {
    bottom: 12%;
    display: block;
    font-family: fzlth;
    font-size: 1em;
    left: 0%;
    line-height: 1.5;
    margin-left: 0%;
    margin-top: 2em;
    position: absolute;
    text-align: center;
    width: 100%
    }
.fleft {
    display: block;
    float: left;
    line-height: 1.5;
    text-align: center;
    width: 48%;
    margin: 10px 2% 10px 0
    }
.fnote {
    display: block;
    font-size: 1em;
    line-height: 1.5;
    margin-bottom: 0;
    margin-top: 2em;
    padding-top: 0.5em;
    text-align: justify;
    text-indent: 2em;
    border-top: gray solid 1px
    }
.fnote1 {
    display: block;
    font-size: 1em;
    line-height: 1.5;
    margin-bottom: 0;
    margin-top: 0.5em;
    padding-top: 0;
    text-align: justify;
    text-indent: 2em;
    border-top: currentColor none 0
    }
.fnote2 {
    display: block;
    font-size: 1em;
    line-height: 1.5;
    margin-bottom: 0;
    margin-top: 1em;
    padding-top: 0.5em;
    text-align: justify;
    text-indent: 2em;
    border-top: gray solid 1px
    }
.greyback {
    background-color: #dadedd;
    display: block;
    line-height: 1.5;
    padding: 2em;
    margin: 0.5em
    }
.h-pic {
    height: 1.6em;
    vertical-align: middle;
    width: auto;
    padding: 0;
    margin: 0 0.1em
    }
.h-pic1 {
    height: 1em;
    vertical-align: text-top;
    width: auto;
    padding: 0;
    margin: 0 0.1em
    }
.hangz-illustrations {
    font-size: 0.75em;
    height: 2em;
    vertical-align: duokan-middle-line;
    width: auto;
    padding: 0;
    margin: 0 -0.2em
    }
.hidden {
    display: none;
    font-size: 2.22222em;
    font-weight: normal;
    line-height: 1.5;
    text-align: center;
    text-indent: 0;
    margin: 2em 0 1em
    }
.hidden1 {
    display: block;
    font-size: 2.66667em;
    font-weight: bold;
    line-height: 1.5;
    margin: 0.67em 0
    }
.italic {
    font-style: italic
    }
.jiacu {
    font-weight: bold
    }
.juzhong {
    display: block;
    line-height: 1.5;
    margin: 30% 20% auto
    }
.kaiti {
    display: block;
    font-family: kaiti;
    font-size: 1.88889em;
    line-height: 1.5;
    text-indent: 2em
    }
.kaiti1 {
    display: block;
    font-family: kaiti;
    line-height: 1.5
    }
.kaiti2 {
    display: block;
    font-family: kaiti;
    font-size: 1.33333em;
    letter-spacing: 0;
    line-height: 1.5;
    text-align: justify;
    text-indent: 2em;
    text-justify: inter-ideograph;
    margin: 1em 0 0
    }
.kaiti3 {
    font-family: kaiti
    }
.kaiti4 {
    display: block;
    font-family: kaiti;
    font-size: 1.33333em;
    letter-spacing: 0;
    line-height: 1.5;
    text-align: right;
    text-indent: 2em;
    text-justify: inter-ideograph;
    margin: 0.5em 0
    }
.kaiti5 {
    display: block;
    font-family: kaiti;
    font-size: 1.33333em;
    letter-spacing: 0;
    line-height: 1.5;
    text-align: right;
    text-indent: 2em;
    text-justify: inter-ideograph;
    margin: 1em 0 0
    }
.kaiti6 {
    color: black;
    font-family: kaiti;
    line-height: 1.5
    }
.kaiti7 {
    display: block;
    font-family: kaiti;
    font-size: 1.33333em;
    letter-spacing: 0;
    line-height: 1.5;
    text-align: justify;
    text-indent: 2em;
    text-justify: inter-ideograph;
    margin: 0.5em 0
    }
.kaiti8 {
    display: block;
    font-family: kaiti;
    font-size: 1.88889em;
    line-height: 1.5;
    text-indent: 0
    }
.kaiti9 {
    display: block;
    font-family: kaiti;
    font-size: 1.33333em;
    letter-spacing: 0;
    line-height: 1.5;
    text-align: justify;
    text-indent: 2em;
    text-justify: inter-ideograph;
    margin: 10em 0 0
    }
.kaiti10 {
    display: block;
    font-family: kaiti;
    font-size: 1.33333em;
    letter-spacing: 0;
    line-height: 1.5;
    text-align: center;
    text-indent: 0;
    text-justify: inter-ideograph;
    margin: 0.3em 0
    }
.kaiti11 {
    display: block;
    font-family: kaiti;
    font-size: 1.33333em;
    letter-spacing: 0;
    line-height: 1.5;
    text-align: center;
    text-indent: 0;
    text-justify: inter-ideograph;
    margin: 1em 0 0
    }
.kaiti12 {
    display: block;
    font-family: kaiti;
    font-size: 1.33333em;
    letter-spacing: 0;
    line-height: 1.5;
    text-align: justify;
    text-indent: 2em;
    text-justify: inter-ideograph;
    margin: 1.5em 0 0
    }
.right {
    display: block;
    font-family: kaiti;
    font-size: 1.33333em;
    font-weight: normal;
    letter-spacing: 0;
    line-height: 1.5;
    text-align: right;
    text-indent: 2em;
    text-justify: inter-ideograph;
    margin: 0.5em 0 0
    }
.roundgrey {
    -moz-border-radius: 19px;
    -webkit-border-radius: 19px;
    background-color: #dcdcdc;
    border-radius: 19px;
    display: block;
    line-height: 1.5;
    padding: 0.8em 0.5em;
    margin: 1em 0.5em;
    border: currentColor solid 1px
    }
.sbiao {
    font-size: 0.75em;
    vertical-align: super;
    margin: 0
    }
.sgc-toc-level {
    display: block;
    font-family: heiti;
    font-size: 1.88889em;
    font-weight: bold;
    line-height: 1.5;
    margin: 1em 0
    }
.sgc-toc-level1 {
    display: block;
    font-family: fzlth;
    font-size: 0.70588em;
    font-weight: normal;
    line-height: 1.5;
    margin: 0.5em 1em
    }
.sgc-toc-title {
    display: block;
    font-size: 2.22222em;
    font-weight: normal;
    line-height: 1.5;
    text-align: center;
    text-indent: 0;
    margin: 2em 0 1em
    }
.shuming {
    display: block;
    font-family: songti;
    line-height: 1.5;
    padding-top: 30%;
    text-align: center;
    text-indent: 0
    }
.sigil_not_in_toc {
    color: #000;
    display: block;
    font-size: 2.22222em;
    font-weight: 800;
    line-height: 1.5;
    text-align: left;
    text-indent: 0;
    margin: 2em 0 1.3em
    }
.sigil_not_in_toc1 {
    color: #000;
    display: block;
    font-size: 2.22222em;
    font-weight: 800;
    line-height: 1.5;
    text-align: left;
    text-indent: 0;
    margin: 2em 0 1.3em
    }
.sigil_not_in_toc2 {
    display: block;
    font-family: heiti;
    font-size: 1em;
    font-weight: bold;
    line-height: 1.5;
    text-align: center;
    text-indent: 2em;
    margin: 0
    }
.sigil_not_in_toc3 {
    display: block;
    font-size: 1.88889em;
    font-weight: normal;
    line-height: 1.5;
    text-align: center;
    text-indent: 0;
    margin: 2em 0 1.3em
    }
.sigil_not_in_toc4 {
    display: block;
    font-size: 1.88889em;
    font-weight: 800;
    line-height: 1.5;
    text-align: left;
    text-indent: 2em;
    margin: 1em 0 0.5em
    }
.sigil_not_in_toc5 {
    display: block;
    font-size: 1.88889em;
    font-weight: normal;
    line-height: 1.5;
    text-align: left;
    text-indent: 0;
    margin: 2em 0 1.3em
    }
.sigil_not_in_toc6 {
    color: #000;
    display: block;
    font-size: 2.22222em;
    font-weight: 800;
    line-height: 1.5;
    text-align: center;
    text-indent: 0;
    margin: 2em 0 1.3em
    }
.solid {
    display: block;
    line-height: 1.5;
    padding: 0.8em 0.5em;
    margin: 1em 0.5em;
    border-top: currentColor solid 1px;
    border-right: currentColor solid 4px;
    border-bottom: currentColor solid 4px;
    border-left: currentColor solid 1px
    }
.tushuo {
    display: block;
    font-family: kaiti;
    font-size: 1em;
    letter-spacing: 0;
    line-height: 1.5;
    text-align: left;
    text-indent: 0;
    text-justify: inter-ideograph;
    margin: 0.5em 0 0
    }
.tushuo1 {
    display: block;
    font-family: kaiti;
    font-size: 1em;
    letter-spacing: 0;
    line-height: 1.5;
    text-align: center;
    text-indent: 0;
    text-justify: inter-ideograph;
    margin: 0.5em 0 0
    }
.tushuo2 {
    display: block;
    font-family: kaiti;
    font-size: 1em;
    letter-spacing: 0;
    line-height: 1.5;
    text-align: left;
    text-indent: 0;
    text-justify: inter-ideograph;
    margin: 0
    }
.tushuo3 {
    display: block;
    font-family: kaiti;
    font-size: 1em;
    letter-spacing: 0;
    line-height: 1.5;
    text-align: left;
    text-indent: 0;
    text-justify: inter-ideograph;
    margin: 1.5em 0 0
    }
.width {
    height: auto;
    line-height: 1.5;
    width: 40%;
    padding: 0;
    margin: 0
    }
.xiao {
    font-size: 0.85em;
    line-height: 1.5;
    margin-top: 1em;
    text-indent: 0
    }
.z {
    display: block;
    font-size: 1em;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 1.5;
    text-align: center;
    text-indent: 0;
    text-justify: inter-ideograph;
    margin: 1em 0 0
    }
