.calibre {
    display: block;
    font-size: 0.875em;
    line-height: 1.2;
    margin: 0 5pt;
    padding: 0
    }
.calibre1 {
    display: block;
    font-size: 1.57143em;
    font-weight: 800;
    line-height: 1.2;
    text-align: center;
    text-indent: 0;
    margin: 2em 0 1.3em
    }
.calibre2 {
    display: block;
    font-size: 1.71429em;
    line-height: 1.2;
    margin: 0.5em
    }
.calibre3 {
    display: block
    }
.calibre4 {
    line-height: 1.2
    }
.calibre5 {
    display: block;
    font-size: 1.14286em;
    letter-spacing: 0;
    line-height: 1.5em;
    text-align: justify;
    text-indent: 2em;
    text-justify: inter-ideograph;
    margin: 1em 0 0
    }
.calibre6 {
    display: block;
    margin: 2em 1em 0
    }
.calibre7 {
    display: block;
    font-family: kaiti;
    font-size: 1.14286em;
    font-weight: normal;
    letter-spacing: 0;
    line-height: 1.4em;
    text-align: justify;
    text-indent: 2em;
    text-justify: inter-ideograph;
    margin: 0.5em 0 0
    }
.calibre8 {
    display: block;
    font-size: 1.14286em;
    letter-spacing: 0;
    line-height: 1.5em;
    text-align: justify;
    text-indent: 2em;
    text-justify: inter-ideograph;
    margin: 2em 0 0
    }
.calibre9 {
    display: block;
    line-height: 1.2
    }
.calibre10 {
    font-size: 1em;
    line-height: 1.2;
    vertical-align: super
    }
.calibre11 {
    height: auto;
    width: auto;
    margin: 0;
    padding: 0
    }
.calibre12 {
    display: block;
    margin: 1em 1em 0
    }
.calibre13 {
    display: block;
    font-size: 1em;
    letter-spacing: 0;
    line-height: 1.5em;
    text-align: justify;
    text-indent: 2em;
    text-justify: inter-ideograph;
    margin: 0
    }
.calibre14 {
    display: block;
    font-size: 1.42857em;
    font-weight: normal;
    line-height: 1.2;
    text-align: left;
    text-indent: 0;
    margin: 2em 0 1.3em
    }
.calibre15 {
    display: block;
    font-size: 1.14286em;
    letter-spacing: 0;
    line-height: 1.5em;
    text-align: justify;
    text-indent: 2em;
    text-justify: inter-ideograph;
    margin: 1.5em 0 0
    }
.calibre16 {
    color: #000;
    display: block;
    font-size: 1.28571em;
    font-weight: 800;
    line-height: 1.2;
    text-align: left;
    text-indent: 2em;
    margin: 1em 0 0.5em
    }
.calibre17 {
    font-family: heiti;
    font-size: 1em;
    font-weight: 800
    }
.calibre18 {
    font-family: heiti;
    font-size: 1em;
    font-weight: 800;
    line-height: 1.2
    }
.chatu {
    display: block;
    font-family: songti;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1.5em;
    text-align: center
    }
.chubanshe {
    bottom: 12%;
    display: block;
    font-family: fzlth;
    font-size: 1em;
    left: 0%;
    line-height: 1.2;
    margin-left: 0%;
    margin-top: 2em;
    position: absolute;
    text-align: center;
    width: 100%
    }
.fnote {
    display: block;
    font-size: 0.85714em;
    line-height: 1.5em;
    margin-bottom: 0;
    margin-top: 1em;
    padding-top: 0.5em;
    text-align: justify;
    text-indent: 2em;
    border-top: gray solid 1px
    }
.fnote1 {
    display: block;
    font-size: 0.85714em;
    line-height: 1.5em;
    margin-bottom: 0;
    margin-top: 0.5em;
    padding-top: 0;
    text-align: justify;
    text-indent: 2em;
    border-top: currentColor none 0
    }
.italic {
    font-style: italic
    }
.kaiti {
    display: block;
    font-family: kaiti;
    font-size: 1.28571em;
    line-height: 1.2;
    text-indent: 2em
    }
.kaiti1 {
    display: block;
    font-family: kaiti
    }
.sbiao {
    font-size: 0.75em;
    vertical-align: super;
    margin: 0
    }
.sgc-toc-level {
    display: block;
    font-family: heiti;
    font-size: 1.28571em;
    font-weight: bold;
    line-height: 1.2;
    margin: 1em 0
    }
.shuming {
    display: block;
    font-family: songti;
    padding-top: 30%;
    text-align: center;
    text-indent: 0
    }
.wordimg {
    height: 1.5em;
    vertical-align: middle;
    width: auto;
    margin: 0;
    padding: 0
    }
.wordimg1 {
    height: 3em;
    vertical-align: middle;
    width: auto;
    margin: 0;
    padding: 0
    }
