.bold {
    font-weight: bold
    }
.calibre {
    display: block;
    font-size: 1em;
    padding-left: 0;
    padding-right: 0;
    text-align: justify;
    margin: 0 5pt
    }
.calibre_ {
    display: block;
    text-align: center;
    text-indent: 0;
    margin: 30em 0 0 2em
    }
.calibre_1 {
    display: block;
    text-align: center;
    text-indent: 3em;
    margin: 1em 0 0
    }
.calibre_2 {
    display: block;
    text-align: center;
    text-indent: 0;
    margin: 0
    }
.calibre_3 {
    display: block;
    text-align: center;
    text-indent: 0;
    margin: 2em 0 0
    }
.calibre_4 {
    display: block;
    text-align: center;
    text-indent: 0;
    margin: 3em 0 0
    }
.calibre_5 {
    display: block;
    text-indent: 0;
    margin: 2em 0 0
    }
.calibre_6 {
    display: block;
    text-indent: 0;
    margin: 1em 0 0
    }
.calibre_7 {
    display: block;
    text-indent: 0;
    margin: 6pt 0 0 2em
    }
.calibre_8 {
    display: block;
    margin: 29em 0 0 2em
    }
.calibre_9 {
    display: block;
    text-align: center;
    text-indent: 0;
    margin: 0 0 0 2em
    }
.calibre_10 {
    color: #c00
    }
.calibre_11 {
    display: block;
    text-align: justify;
    text-indent: 2em;
    margin: 2em 0 0
    }
.calibre_12 {
    display: block;
    text-align: justify;
    text-indent: 2em;
    margin: 1em 0 0
    }
.calibre_13 {
    display: block;
    text-align: center;
    text-indent: 0;
    margin: 1em 0 0
    }
.calibre_14 {
    height: 595px;
    vertical-align: baseline;
    width: 705px
    }
.calibre_15 {
    height: 191px;
    vertical-align: baseline;
    width: 188px
    }
.calibre_16 {
    height: 23px;
    vertical-align: baseline;
    width: 33px
    }
.calibre_17 {
    display: block;
    text-align: center;
    text-indent: 0;
    margin: 5em 0 0 2em
    }
.calibre_18 {
    color: #17a9e6
    }
.calibre_19 {
    display: block;
    text-align: left;
    text-indent: 0;
    margin: 3em 0 0 2em
    }
.calibre_20 {
    display: block;
    text-align: justify;
    text-indent: 2em;
    margin: 2em 0 0 2em
    }
.calibre_21 {
    display: block;
    text-align: center;
    text-indent: 0;
    margin: 1em 0 0 2em
    }
.calibre_22 {
    height: 183px;
    vertical-align: baseline;
    width: 529px
    }
.calibre_23 {
    display: block;
    text-align: justify;
    text-indent: 2em;
    margin: 1em 0 0 2em
    }
.calibre_24 {
    display: block;
    text-align: justify;
    text-indent: 2em;
    margin: 6pt 0 0 2em
    }
.calibre_25 {
    height: 397px;
    vertical-align: baseline;
    width: 696px
    }
.calibre_26 {
    height: 339px;
    vertical-align: baseline;
    width: 534px
    }
.calibre_27 {
    height: 37px;
    text-align: middle;
    width: 25px
    }
.calibre_28 {
    color: #03c
    }
.calibre_29 {
    height: 433px;
    vertical-align: baseline;
    width: 800px
    }
.calibre_30 {
    height: 35px;
    vertical-align: baseline;
    width: 35px
    }
.calibre_31 {
    height: 433px;
    vertical-align: baseline;
    width: 661px
    }
.calibre_32 {
    height: 436px;
    vertical-align: baseline;
    width: 674px
    }
.calibre_33 {
    height: 681px;
    vertical-align: baseline;
    width: 709px
    }
.calibre_34 {
    height: 45px;
    vertical-align: baseline;
    width: 71px
    }
.calibre_35 {
    height: 373px;
    vertical-align: baseline;
    width: 870px
    }
.calibre_36 {
    height: 178px;
    vertical-align: baseline;
    width: 188px
    }
.calibre_37 {
    height: 66px;
    vertical-align: baseline;
    width: 188px
    }
.calibre_38 {
    display: block;
    text-align: justify;
    text-indent: 2em;
    margin: 9pt 0 0 2em
    }
.calibre_39 {
    display: block;
    text-align: justify;
    text-indent: 2em;
    margin: 5pt 0 0
    }
.calibre_40 {
    height: 104px;
    vertical-align: baseline;
    width: 188px
    }
.calibre_41 {
    height: 179px;
    vertical-align: baseline;
    width: 225px
    }
.calibre_42 {
    height: 507px;
    vertical-align: baseline;
    width: 1007px
    }
.calibre_43 {
    height: 34px;
    vertical-align: baseline;
    width: 188px
    }
.calibre_44 {
    height: 124px;
    vertical-align: baseline;
    width: 225px
    }
.calibre_45 {
    height: 129px;
    vertical-align: baseline;
    width: 225px
    }
.calibre_46 {
    height: 37px;
    text-align: middle;
    width: 20px
    }
.calibre_47 {
    height: 111px;
    vertical-align: baseline;
    width: 225px
    }
.calibre_48 {
    height: 177px;
    vertical-align: baseline;
    width: 188px
    }
.calibre_49 {
    height: 161px;
    vertical-align: baseline;
    width: 188px
    }
.calibre_50 {
    height: 83px;
    vertical-align: baseline;
    width: 188px
    }
.calibre_51 {
    height: 37px;
    text-align: middle;
    width: 15px
    }
.calibre_52 {
    height: 201px;
    vertical-align: baseline;
    width: 150px
    }
.calibre_53 {
    height: 186px;
    vertical-align: baseline;
    width: 188px
    }
.calibre_54 {
    height: 344px;
    vertical-align: baseline;
    width: 710px
    }
.calibre_55 {
    height: 188px;
    vertical-align: baseline;
    width: 188px
    }
.calibre_56 {
    height: 606px;
    vertical-align: baseline;
    width: 1014px
    }
.calibre_57 {
    height: 184px;
    vertical-align: baseline;
    width: 188px
    }
.calibre_58 {
    height: 151px;
    vertical-align: baseline;
    width: 188px
    }
.calibre_59 {
    height: 266px;
    vertical-align: baseline;
    width: 724px
    }
.calibre_60 {
    height: 149px;
    vertical-align: baseline;
    width: 225px
    }
.calibre_61 {
    height: 140px;
    vertical-align: baseline;
    width: 188px
    }
.calibre_62 {
    height: 357px;
    vertical-align: baseline;
    width: 739px
    }
.calibre_63 {
    height: 190px;
    vertical-align: baseline;
    width: 188px
    }
.calibre_64 {
    height: 113px;
    vertical-align: baseline;
    width: 188px
    }
.calibre_65 {
    height: 276px;
    vertical-align: baseline;
    width: 895px
    }
.calibre_66 {
    height: 86px;
    vertical-align: baseline;
    width: 188px
    }
.calibre_67 {
    display: block;
    text-align: center;
    text-indent: 2em;
    margin: 9pt 0 0
    }
.calibre_68 {
    height: 164px;
    vertical-align: baseline;
    width: 188px
    }
.calibre_69 {
    height: 150px;
    vertical-align: baseline;
    width: 188px
    }
.calibre_70 {
    height: 391px;
    vertical-align: baseline;
    width: 897px
    }
.calibre_71 {
    height: 394px;
    vertical-align: baseline;
    width: 729px
    }
.calibre_72 {
    height: 183px;
    vertical-align: baseline;
    width: 188px
    }
.calibre_73 {
    height: 42px;
    text-align: middle;
    width: 67px
    }
.calibre_74 {
    height: 42px;
    text-align: middle;
    width: 123px
    }
.calibre_75 {
    height: 163px;
    vertical-align: baseline;
    width: 188px
    }
.calibre_76 {
    height: 327px;
    vertical-align: baseline;
    width: 911px
    }
.calibre_77 {
    height: 718px;
    vertical-align: baseline;
    width: 694px
    }
.calibre_78 {
    height: 386px;
    vertical-align: baseline;
    width: 1114px
    }
.calibre_79 {
    height: 180px;
    vertical-align: baseline;
    width: 188px
    }
.calibre_80 {
    height: 633px;
    vertical-align: baseline;
    width: 586px
    }
.calibre_81 {
    height: 129px;
    vertical-align: baseline;
    width: 188px
    }
.calibre_82 {
    height: 152px;
    vertical-align: baseline;
    width: 907px
    }
.calibre_83 {
    height: 37px;
    text-align: middle;
    width: 14px
    }
.calibre_84 {
    display: block;
    margin: 2em 0 0 2em
    }
.calibre_85 {
    display: block;
    text-align: justify;
    text-indent: 2em;
    margin: 0 0 0 2em
    }
.calibre_86 {
    height: 154px;
    vertical-align: baseline;
    width: 188px
    }
.calibre_87 {
    display: block;
    margin: 6pt 0 0 2em
    }
.calibre_88 {
    height: 115px;
    vertical-align: baseline;
    width: 188px
    }
.calibre_89 {
    height: 225px;
    vertical-align: baseline;
    width: 188px
    }
.calibre_90 {
    height: 120px;
    vertical-align: baseline;
    width: 225px
    }
.calibre_91 {
    height: 137px;
    vertical-align: baseline;
    width: 225px
    }
.calibre_92 {
    height: 139px;
    vertical-align: baseline;
    width: 225px
    }
.calibre_93 {
    height: 759px;
    vertical-align: baseline;
    width: 1098px
    }
.calibre_94 {
    height: 448px;
    vertical-align: baseline;
    width: 874px
    }
.calibre_95 {
    height: 196px;
    vertical-align: baseline;
    width: 948px
    }
.calibre_96 {
    height: 352px;
    vertical-align: baseline;
    width: 637px
    }
.calibre_97 {
    height: 95px;
    vertical-align: baseline;
    width: 188px
    }
.calibre_98 {
    height: 242px;
    vertical-align: baseline;
    width: 188px
    }
.calibre_99 {
    height: 97px;
    vertical-align: baseline;
    width: 188px
    }
.calibre_100 {
    height: 119px;
    vertical-align: baseline;
    width: 188px
    }
.calibre_101 {
    height: 342px;
    vertical-align: baseline;
    width: 1018px
    }
.calibre_102 {
    height: 203px;
    vertical-align: baseline;
    width: 188px
    }
.calibre_103 {
    height: 221px;
    vertical-align: baseline;
    width: 963px
    }
.calibre_104 {
    height: 265px;
    vertical-align: baseline;
    width: 865px
    }
.calibre_105 {
    height: 28px;
    text-align: middle;
    width: 86px
    }
.calibre_106 {
    height: 28px;
    text-align: middle;
    width: 84px
    }
.calibre_107 {
    height: 98px;
    vertical-align: baseline;
    width: 188px
    }
.calibre_108 {
    height: 176px;
    vertical-align: baseline;
    width: 188px
    }
.calibre_109 {
    height: 77px;
    vertical-align: baseline;
    width: 188px
    }
.calibre_110 {
    height: 167px;
    vertical-align: baseline;
    width: 188px
    }
.calibre_111 {
    height: 85px;
    vertical-align: baseline;
    width: 188px
    }
.calibre_112 {
    height: 22px;
    vertical-align: baseline;
    width: 188px
    }
.calibre_113 {
    height: 26px;
    vertical-align: baseline;
    width: 188px
    }
.calibre_114 {
    height: 181px;
    vertical-align: baseline;
    width: 188px
    }
.calibre_115 {
    height: 105px;
    vertical-align: baseline;
    width: 188px
    }
.calibre_116 {
    height: 199px;
    vertical-align: baseline;
    width: 188px
    }
.calibre_117 {
    height: 90px;
    vertical-align: baseline;
    width: 188px
    }
.calibre_118 {
    height: 359px;
    vertical-align: baseline;
    width: 868px
    }
.calibre_119 {
    height: 292px;
    vertical-align: baseline;
    width: 188px
    }
.calibre_120 {
    height: 429px;
    vertical-align: baseline;
    width: 858px
    }
.calibre_121 {
    height: 200px;
    vertical-align: baseline;
    width: 188px
    }
.calibre_122 {
    height: 116px;
    vertical-align: baseline;
    width: 188px
    }
.calibre_123 {
    height: 301px;
    vertical-align: baseline;
    width: 988px
    }
.calibre_124 {
    height: 309px;
    vertical-align: baseline;
    width: 902px
    }
.calibre_125 {
    height: 750px;
    vertical-align: baseline;
    width: 750px
    }
.calibre_126 {
    height: 141px;
    vertical-align: baseline;
    width: 150px
    }
.calibre_127 {
    height: 56px;
    vertical-align: baseline;
    width: 100px
    }
.calibre_128 {
    height: 41px;
    vertical-align: baseline;
    width: 138px
    }
.calibre_129 {
    height: 99px;
    vertical-align: baseline;
    width: 100px
    }
.calibre_130 {
    height: 162px;
    vertical-align: baseline;
    width: 188px
    }
.calibre_131 {
    height: 210px;
    vertical-align: baseline;
    width: 188px
    }
.calibre_132 {
    height: 280px;
    vertical-align: baseline;
    width: 849px
    }
.calibre_133 {
    height: 668px;
    vertical-align: baseline;
    width: 723px
    }
.calibre_134 {
    height: 161px;
    vertical-align: baseline;
    width: 150px
    }
.calibre_135 {
    height: 69px;
    vertical-align: baseline;
    width: 150px
    }
.calibre_136 {
    height: 51px;
    vertical-align: baseline;
    width: 188px
    }
.calibre_137 {
    height: 37px;
    text-align: middle;
    width: 12px
    }
.calibre_138 {
    height: 171px;
    vertical-align: baseline;
    width: 188px
    }
.calibre_139 {
    height: 29px;
    vertical-align: baseline;
    width: 33px
    }
.calibre_140 {
    height: 37px;
    text-align: middle;
    width: 30px
    }
.calibre_141 {
    height: 37px;
    text-align: middle;
    width: 27px
    }
.calibre_142 {
    height: 37px;
    text-align: middle;
    width: 13px
    }
.calibre_143 {
    height: 19px;
    vertical-align: baseline;
    width: 25px
    }
.calibre_144 {
    height: 22px;
    vertical-align: baseline;
    width: 25px
    }
.calibre_145 {
    height: 21px;
    vertical-align: baseline;
    width: 25px
    }
.calibre_146 {
    height: 30px;
    text-align: middle;
    width: 30px
    }
.calibre_147 {
    height: 30px;
    text-align: middle;
    width: 96px
    }
.calibre_148 {
    height: 189px;
    vertical-align: baseline;
    width: 188px
    }
.calibre_149 {
    height: 871px;
    vertical-align: baseline;
    width: 746px
    }
.calibre_150 {
    height: 395px;
    vertical-align: baseline;
    width: 150px
    }
.calibre_151 {
    height: 94px;
    vertical-align: baseline;
    width: 188px
    }
.calibre_152 {
    height: 107px;
    vertical-align: baseline;
    width: 188px
    }
.calibre_153 {
    height: 365px;
    vertical-align: baseline;
    width: 714px
    }
.calibre_154 {
    height: 118px;
    vertical-align: baseline;
    width: 188px
    }
.calibre_155 {
    height: 168px;
    vertical-align: baseline;
    width: 150px
    }
.calibre_156 {
    height: 493px;
    vertical-align: baseline;
    width: 618px
    }
.calibre_157 {
    height: 56px;
    vertical-align: baseline;
    width: 188px
    }
.calibre_158 {
    height: 507px;
    vertical-align: baseline;
    width: 946px
    }
.calibre_159 {
    height: 189px;
    vertical-align: baseline;
    width: 892px
    }
.calibre_160 {
    height: 69px;
    vertical-align: baseline;
    width: 188px
    }
.calibre_161 {
    display: block;
    text-align: left;
    text-indent: 0;
    margin: 3em 0 0
    }
.calibre_162 {
    height: 791px;
    vertical-align: baseline;
    width: 715px
    }
.calibre_163 {
    height: 964px;
    vertical-align: baseline;
    width: 743px
    }
.calibre_164 {
    height: 155px;
    vertical-align: baseline;
    width: 225px
    }
.calibre_165 {
    height: 485px;
    vertical-align: baseline;
    width: 850px
    }
.calibre_166 {
    height: 334px;
    vertical-align: baseline;
    width: 850px
    }
.calibre_167 {
    height: 687px;
    vertical-align: baseline;
    width: 1632px
    }
.calibre_168 {
    height: 506px;
    vertical-align: baseline;
    width: 1089px
    }
.calibre_169 {
    height: 503px;
    vertical-align: baseline;
    width: 1085px
    }
.calibre_170 {
    height: 564px;
    vertical-align: baseline;
    width: 1103px
    }
.calibre_171 {
    height: 580px;
    vertical-align: baseline;
    width: 1094px
    }
.calibre_172 {
    height: 581px;
    vertical-align: baseline;
    width: 1100px
    }
.calibre_173 {
    height: 579px;
    vertical-align: baseline;
    width: 1109px
    }
.calibre_174 {
    height: 424px;
    vertical-align: baseline;
    width: 1093px
    }
.calibre_175 {
    height: 1091px;
    vertical-align: baseline;
    width: 1083px
    }
.calibre_176 {
    height: 1534px;
    vertical-align: baseline;
    width: 1097px
    }
.calibre_177 {
    height: 62px;
    vertical-align: baseline;
    width: 188px
    }
.calibre_178 {
    height: 324px;
    vertical-align: baseline;
    width: 920px
    }
.calibre_179 {
    display: block;
    text-indent: 0;
    margin: 0
    }
.calibre_180 {
    height: 869px;
    vertical-align: baseline;
    width: 730px
    }
.calibre_181 {
    height: 42px;
    text-align: middle;
    width: 134px
    }
.calibre_182 {
    height: 173px;
    vertical-align: baseline;
    width: 599px
    }
.calibre_183 {
    height: 37px;
    text-align: middle;
    width: 93px
    }
.calibre_184 {
    height: 264px;
    vertical-align: baseline;
    width: 730px
    }
.calibre_185 {
    height: 1237px;
    vertical-align: baseline;
    width: 730px
    }
.calibre_186 {
    height: 447px;
    vertical-align: baseline;
    width: 730px
    }
.calibre_187 {
    height: 99px;
    vertical-align: baseline;
    width: 188px
    }
.calibre_188 {
    height: 670px;
    vertical-align: baseline;
    width: 730px
    }
.calibre_189 {
    height: 706px;
    vertical-align: baseline;
    width: 730px
    }
.calibre_190 {
    height: 37px;
    text-align: middle;
    width: 91px
    }
.calibre_191 {
    height: 348px;
    vertical-align: baseline;
    width: 795px
    }
.calibre_192 {
    height: 549px;
    vertical-align: baseline;
    width: 611px
    }
.calibre_193 {
    height: 37px;
    text-align: middle;
    width: 16px
    }
.calibre_194 {
    height: 37px;
    text-align: middle;
    width: 56px
    }
.calibre_195 {
    height: 37px;
    text-align: middle;
    width: 45px
    }
.calibre_196 {
    height: 37px;
    text-align: middle;
    width: 46px
    }
.calibre_197 {
    height: 193px;
    vertical-align: baseline;
    width: 150px
    }
.calibre_198 {
    height: 153px;
    vertical-align: baseline;
    width: 188px
    }
.calibre_199 {
    height: 343px;
    vertical-align: baseline;
    width: 468px
    }
.calibre_200 {
    height: 89px;
    vertical-align: baseline;
    width: 188px
    }
.calibre_201 {
    height: 192px;
    vertical-align: baseline;
    width: 997px
    }
.calibre_202 {
    height: 149px;
    vertical-align: baseline;
    width: 188px
    }
.calibre_203 {
    height: 520px;
    vertical-align: baseline;
    width: 984px
    }
.calibre_204 {
    height: 492px;
    vertical-align: baseline;
    width: 595px
    }
.calibre_205 {
    height: 37px;
    text-align: middle;
    width: 145px
    }
.calibre_206 {
    height: 37px;
    text-align: middle;
    width: 236px
    }
.calibre_207 {
    height: 37px;
    text-align: middle;
    width: 307px
    }
.calibre_208 {
    height: 37px;
    text-align: middle;
    width: 353px
    }
.calibre_209 {
    height: 37px;
    text-align: middle;
    width: 314px
    }
.calibre_210 {
    height: 37px;
    text-align: middle;
    width: 440px
    }
.calibre_211 {
    height: 37px;
    text-align: middle;
    width: 298px
    }
.calibre_212 {
    height: 37px;
    text-align: middle;
    width: 306px
    }
.calibre_213 {
    height: 187px;
    vertical-align: baseline;
    width: 188px
    }
.calibre_214 {
    height: 438px;
    vertical-align: baseline;
    width: 873px
    }
.calibre_215 {
    height: 37px;
    text-align: middle;
    width: 28px
    }
.calibre_216 {
    height: 37px;
    text-align: middle;
    width: 19px
    }
.calibre_217 {
    height: 115px;
    vertical-align: baseline;
    width: 100px
    }
.calibre_218 {
    height: 587px;
    vertical-align: baseline;
    width: 1103px
    }
.calibre_219 {
    height: 244px;
    vertical-align: baseline;
    width: 188px
    }
.calibre_220 {
    height: 372px;
    vertical-align: baseline;
    width: 870px
    }
.calibre_221 {
    height: 106px;
    vertical-align: baseline;
    width: 225px
    }
.calibre_222 {
    height: 218px;
    vertical-align: baseline;
    width: 443px
    }
.calibre_223 {
    height: 235px;
    vertical-align: baseline;
    width: 907px
    }
.calibre_224 {
    height: 497px;
    vertical-align: baseline;
    width: 938px
    }
.calibre_225 {
    height: 431px;
    vertical-align: baseline;
    width: 879px
    }
.calibre_226 {
    height: 263px;
    vertical-align: baseline;
    width: 951px
    }
.calibre_227 {
    height: 101px;
    vertical-align: baseline;
    width: 188px
    }
.calibre_228 {
    height: 402px;
    vertical-align: baseline;
    width: 981px
    }
.calibre_229 {
    height: 416px;
    vertical-align: baseline;
    width: 981px
    }
.calibre_230 {
    height: 392px;
    vertical-align: baseline;
    width: 969px
    }
.calibre_231 {
    height: 219px;
    vertical-align: baseline;
    width: 677px
    }
.calibre_232 {
    height: 412px;
    vertical-align: baseline;
    width: 991px
    }
.calibre_233 {
    height: 814px;
    vertical-align: baseline;
    width: 993px
    }
.calibre_234 {
    height: 361px;
    vertical-align: baseline;
    width: 557px
    }
.calibre_235 {
    height: 149px;
    vertical-align: baseline;
    width: 150px
    }
.calibre_236 {
    height: 93px;
    vertical-align: baseline;
    width: 225px
    }
.calibre_237 {
    height: 312px;
    vertical-align: baseline;
    width: 1050px
    }
.calibre_238 {
    height: 421px;
    vertical-align: baseline;
    width: 992px
    }
.calibre_239 {
    height: 881px;
    vertical-align: baseline;
    width: 440px
    }
.calibre_240 {
    height: 103px;
    vertical-align: baseline;
    width: 188px
    }
.calibre_241 {
    height: 73px;
    vertical-align: baseline;
    width: 225px
    }
.calibre_242 {
    height: 65px;
    vertical-align: baseline;
    width: 225px
    }
.calibre_243 {
    height: 77px;
    vertical-align: baseline;
    width: 225px
    }
.calibre_244 {
    height: 103px;
    vertical-align: baseline;
    width: 225px
    }
.calibre_245 {
    height: 144px;
    vertical-align: baseline;
    width: 150px
    }
.calibre_246 {
    height: 325px;
    vertical-align: baseline;
    width: 969px
    }
.calibre_247 {
    height: 377px;
    vertical-align: baseline;
    width: 489px
    }
.calibre_248 {
    height: 137px;
    vertical-align: baseline;
    width: 188px
    }
.calibre_249 {
    height: 422px;
    vertical-align: baseline;
    width: 724px
    }
.calibre_250 {
    height: 169px;
    vertical-align: baseline;
    width: 100px
    }
.calibre_251 {
    height: 669px;
    vertical-align: baseline;
    width: 725px
    }
.calibre_252 {
    height: 197px;
    vertical-align: baseline;
    width: 100px
    }
.calibre_253 {
    height: 234px;
    vertical-align: baseline;
    width: 844px
    }
.calibre_254 {
    height: 473px;
    vertical-align: baseline;
    width: 789px
    }
.calibre_255 {
    height: 704px;
    vertical-align: baseline;
    width: 795px
    }
.calibre_256 {
    height: 562px;
    vertical-align: baseline;
    width: 878px
    }
.calibre_257 {
    height: 532px;
    vertical-align: baseline;
    width: 880px
    }
.calibre_258 {
    height: 185px;
    vertical-align: baseline;
    width: 807px
    }
.calibre_259 {
    height: 330px;
    vertical-align: baseline;
    width: 876px
    }
.calibre_260 {
    height: 232px;
    vertical-align: baseline;
    width: 188px
    }
.calibre_261 {
    height: 37px;
    text-align: middle;
    width: 169px
    }
.calibre_262 {
    height: 53px;
    text-align: middle;
    width: 85px
    }
.calibre_263 {
    height: 80px;
    vertical-align: baseline;
    width: 150px
    }
.calibre_264 {
    height: 94px;
    vertical-align: baseline;
    width: 150px
    }
.calibre_265 {
    height: 93px;
    vertical-align: baseline;
    width: 150px
    }
.calibre_266 {
    height: 102px;
    vertical-align: baseline;
    width: 150px
    }
.calibre_267 {
    height: 104px;
    vertical-align: baseline;
    width: 150px
    }
.calibre_268 {
    height: 116px;
    vertical-align: baseline;
    width: 150px
    }
.calibre_269 {
    height: 148px;
    vertical-align: baseline;
    width: 100px
    }
.calibre_270 {
    height: 433px;
    vertical-align: baseline;
    width: 543px
    }
.calibre_271 {
    height: 429px;
    vertical-align: baseline;
    width: 543px
    }
.calibre_272 {
    height: 425px;
    vertical-align: baseline;
    width: 543px
    }
.calibre_273 {
    height: 432px;
    vertical-align: baseline;
    width: 543px
    }
.calibre_274 {
    height: 192px;
    vertical-align: baseline;
    width: 899px
    }
.calibre_275 {
    height: 189px;
    vertical-align: baseline;
    width: 899px
    }
.calibre_276 {
    height: 181px;
    vertical-align: baseline;
    width: 900px
    }
.calibre_277 {
    height: 183px;
    vertical-align: baseline;
    width: 897px
    }
.calibre_278 {
    height: 181px;
    vertical-align: baseline;
    width: 894px
    }
.calibre_279 {
    height: 184px;
    vertical-align: baseline;
    width: 900px
    }
.calibre_280 {
    height: 185px;
    vertical-align: baseline;
    width: 901px
    }
.calibre_281 {
    height: 91px;
    vertical-align: baseline;
    width: 188px
    }
.calibre_282 {
    height: 100px;
    vertical-align: baseline;
    width: 188px
    }
.calibre_283 {
    height: 777px;
    vertical-align: baseline;
    width: 1089px
    }
.calibre_284 {
    height: 228px;
    vertical-align: baseline;
    width: 1102px
    }
.calibre_285 {
    height: 59px;
    vertical-align: baseline;
    width: 1077px
    }
.calibre_286 {
    height: 1120px;
    vertical-align: baseline;
    width: 1111px
    }
.calibre_287 {
    height: 1212px;
    vertical-align: baseline;
    width: 862px
    }
.calibre_288 {
    height: 280px;
    vertical-align: baseline;
    width: 1059px
    }
.calibre_289 {
    height: 447px;
    vertical-align: baseline;
    width: 1084px
    }
.calibre_290 {
    height: 459px;
    vertical-align: baseline;
    width: 1096px
    }
.calibre_291 {
    height: 1213px;
    vertical-align: baseline;
    width: 889px
    }
.calibre_292 {
    height: 708px;
    vertical-align: baseline;
    width: 1096px
    }
.calibre_293 {
    height: 80px;
    vertical-align: baseline;
    width: 1084px
    }
.calibre_294 {
    height: 527px;
    vertical-align: baseline;
    width: 1084px
    }
.calibre_295 {
    height: 1163px;
    vertical-align: baseline;
    width: 885px
    }
.calibre_296 {
    height: 776px;
    vertical-align: baseline;
    width: 1102px
    }
.calibre_297 {
    height: 197px;
    vertical-align: baseline;
    width: 1087px
    }
.calibre_298 {
    height: 253px;
    vertical-align: baseline;
    width: 1136px
    }
.calibre_299 {
    height: 1204px;
    vertical-align: baseline;
    width: 874px
    }
.calibre_300 {
    height: 1190px;
    vertical-align: baseline;
    width: 890px
    }
.calibre_301 {
    height: 77px;
    vertical-align: baseline;
    width: 1099px
    }
.calibre_302 {
    height: 1202px;
    vertical-align: baseline;
    width: 1029px
    }
.calibre_303 {
    height: 1222px;
    vertical-align: baseline;
    width: 853px
    }
.calibre1 {
    font-size: 1.83333em;
    line-height: 1.2
    }
.calibre2 {
    font-size: 1.41667em;
    line-height: 1.2
    }
.calibre3 {
    display: block
    }
.calibre4 {
    font-size: 0.75em
    }
.calibre5 {
    font-size: 1.66667em;
    line-height: 1.2
    }
.calibre6 {
    font-size: 1.125em;
    line-height: 1.2
    }
.calibre7 {
    display: block;
    margin: 0 0 0 2em
    }
.calibre8 {
    font-size: 0.75em;
    line-height: normal;
    vertical-align: super
    }
.calibre9 {
    font-size: 0.77778em
    }
.calibre10 {
    font-size: 1.28571em
    }
.calibre11 {
    font-size: 0.75em;
    line-height: normal;
    vertical-align: sub
    }
.italic {
    font-style: italic
    }
.mbp_pagebreak {
    display: block;
    margin: 0
    }
