.bodytext {
    display: block;
    text-indent: 2em;
    margin: 1em 0
    }
.bodytext-right {
    display: block;
    font-family: "楷体";
    text-align: right;
    margin: 1em 0
    }
.bule {
    color: #3c5c94;
    display: block;
    text-indent: 2em;
    margin: 1em 0
    }
.calibre {
    display: block;
    font-size: 1em;
    padding-left: 0;
    padding-right: 0;
    margin: 0 5pt
    }
.calibre1 {
    display: block;
    text-align: right
    }
.calibre2 {
    height: auto;
    width: auto
    }
.calibre3 {
    display: block;
    line-height: 1.2
    }
.calibre4 {
    text-decoration: underline
    }
.calibre5 {
    font-style: italic
    }
.calibre6 {
    font-size: 0.75em;
    line-height: normal;
    vertical-align: super
    }
.calibre7 {
    color: gray;
    display: block;
    height: 2px;
    border: currentColor inset 1px;
    margin: 0.5em auto
    }
.calibre8 {
    font-weight: bold
    }
.calibre9 {
    font-size: 0.75em;
    line-height: normal;
    vertical-align: sub
    }
.calibre10 {
    font-size: 0.77778em;
    line-height: normal;
    vertical-align: super
    }
.calibre11 {
    font-size: 1em;
    line-height: normal;
    vertical-align: super
    }
.calibre12 {
    font-size: 0.41667em
    }
.calibre13 {
    line-height: 1.2
    }
.calibre14 {
    display: block
    }
.center {
    display: block;
    text-align: center;
    margin: 1em 0
    }
.chapter-one {
    display: block;
    font-family: "黑体";
    font-size: 2em;
    font-weight: bold;
    line-height: 1.2;
    text-align: center;
    margin: 2em 0 0.67em
    }
.chapter-three {
    display: block;
    duokan-text-indent: 0;
    font-family: "黑体";
    font-size: 1.125em;
    font-weight: bold;
    line-height: 1.2;
    text-indent: 0;
    margin: 2em 0 1em
    }
.chapter-two {
    display: block;
    duokan-text-indent: 0;
    font-family: "黑体";
    font-size: 1.41667em;
    font-weight: bold;
    line-height: 1.2;
    text-align: center;
    text-indent: 0;
    margin: 2em 0 0.83em
    }
.chapter-two1 {
    display: block;
    duokan-text-indent: 0;
    font-family: "黑体";
    font-size: 1.41667em;
    font-weight: bold;
    line-height: 1.2;
    text-align: center;
    text-indent: 0;
    margin: 2em 0 0.83em
    }
.contents-chapter {
    display: block;
    font-weight: bold;
    margin-left: 0.5em
    }
.contents-chapter1 {
    display: block;
    font-weight: normal
    }
.contents-chapter2 {
    display: block;
    font-weight: normal
    }
.contents-title {
    display: block;
    duokan-text-indent: 0;
    font-size: 2em;
    font-weight: bold;
    line-height: 1.2;
    text-align: left;
    text-indent: 0;
    border-bottom: black dotted 1px;
    margin: 1em 0
    }
.copyright-bodytext {
    display: block;
    font-family: "黑体", "sans-serif";
    font-size: 0.75em;
    line-height: 1.75;
    text-indent: 0;
    margin: 0
    }
.copyright-text {
    display: block;
    font-family: "黑体", "sans-serif";
    font-size: 0.75em;
    line-height: 1.75;
    text-indent: 0;
    margin: 1em 0 0
    }
.copyrightpage-title {
    display: block;
    font-family: "宋体", "serif", "黑体";
    font-size: 1.83333em;
    font-weight: 700;
    line-height: 1.5;
    text-indent: 0;
    margin: 10% 0 0.375em
    }
.image {
    height: auto;
    width: 50%
    }
.image-tuzhu {
    height: auto;
    margin-bottom: 0.3em;
    width: 100%
    }
.image1 {
    height: auto;
    width: 80%
    }
.image2 {
    height: auto;
    width: 20%
    }
.image3 {
    height: auto;
    width: 30%
    }
.image4 {
    height: auto;
    width: 60%
    }
.image5 {
    height: auto;
    width: 40%
    }
.image6 {
    height: auto;
    width: 10%
    }
.kuang {
    border-radius: 0.2em 0.2em 0.6em 0.6em;
    display: block;
    font-weight: normal;
    border: #cccaca dashed 1px;
    padding: 1em
    }
.notecontent {
    display: block;
    font-family: "楷体";
    font-size: 0.75em;
    letter-spacing: auto;
    line-height: 1.5em;
    text-align: left;
    text-indent: 2em;
    margin: 1em 0
    }
.tuzhu-center {
    display: block;
    font-family: "楷体";
    font-size: 0.75em;
    text-align: center;
    margin: 1em 0
    }
.xz {
    font-family: "楷体";
    font-size: 0.83333em;
    line-height: 1.2
    }
.yinwen {
    display: block;
    font-family: "楷体";
    text-indent: 2em;
    margin: 1em
    }
.zaozi {
    height: 1.3em;
    vertical-align: middle;
    width: auto
    }
.zaozi1 {
    height: 2em;
    vertical-align: middle;
    width: auto
    }
.zaozi2 {
    height: 1.5em;
    vertical-align: middle;
    width: auto
    }
.zhong {
    display: block;
    text-align: center;
    width: 100%;
    margin: 1em auto
    }
