.bold {
    font-weight: bold
    }
.calibre {
    display: block;
    font-size: 1em;
    padding-left: 0;
    padding-right: 0;
    text-align: justify;
    margin: 0 5pt
    }
.calibre_ {
    display: block;
    text-indent: 0;
    margin: 0
    }
.calibre_1 {
    color: #00c
    }
.calibre_2 {
    display: block;
    text-align: center;
    text-indent: 0;
    margin: 0
    }
.calibre_3 {
    color: e50038
    }
.calibre_4 {
    display: block;
    text-align: justify;
    text-indent: 0;
    margin: 1em 0 0
    }
.calibre_5 {
    display: block;
    text-align: justify;
    text-indent: 2em;
    margin: 1em 0 0
    }
.calibre_6 {
    display: block;
    text-align: right;
    text-indent: 0;
    margin: 1em 0 0
    }
.calibre_7 {
    height: 50px;
    vertical-align: baseline;
    width: 67px
    }
.calibre_8 {
    display: block;
    text-align: right;
    text-indent: 2em;
    margin: 1em 0 0
    }
.calibre_9 {
    display: block;
    text-align: center;
    text-indent: 0;
    margin: 1em 0 0
    }
.calibre_10 {
    color: ffffff
    }
.calibre_11 {
    height: 148px;
    vertical-align: baseline;
    width: 148px
    }
.calibre_12 {
    display: block;
    text-align: center;
    text-indent: 0;
    margin: 6pt 0 0
    }
.calibre_13 {
    height: 25px;
    vertical-align: baseline;
    width: 25px
    }
.calibre_14 {
    display: block;
    margin: 3em 0 0 2em
    }
.calibre_15 {
    display: block;
    text-align: justify;
    text-indent: 2em;
    margin: 0 0 0 2em
    }
.calibre_16 {
    display: block;
    margin: 1em 0 0 2em
    }
.calibre_17 {
    display: block;
    text-align: center;
    text-indent: 0;
    margin: 3em 0 0
    }
.calibre_18 {
    display: block;
    text-align: justify;
    text-indent: 0;
    margin: 0
    }
.calibre_19 {
    display: block;
    text-align: justify;
    text-indent: 0;
    margin: 4em 0 0
    }
.calibre_20 {
    height: 1755px;
    vertical-align: baseline;
    width: 1233px
    }
.calibre_21 {
    display: block;
    text-indent: -14pt;
    margin: 1em 0 0 14pt
    }
.calibre_22 {
    display: block;
    text-indent: -14pt;
    margin: 0 0 0 14pt
    }
.calibre1 {
    display: block
    }
.calibre2 {
    font-size: 1.125em;
    line-height: 1.2
    }
.calibre3 {
    display: block;
    height: 1em;
    border: currentColor none 0;
    margin: 0
    }
.calibre4 {
    font-size: 1.41667em;
    line-height: 1.2
    }
.calibre5 {
    color: gray;
    display: block;
    height: 2px;
    border: currentColor inset 1px;
    margin: 0.5em auto
    }
.calibre6 {
    display: block;
    margin: 0 0 0 2em
    }
.calibre7 {
    height: auto;
    width: auto
    }
.mbp_pagebreak {
    display: block;
    margin: 0
    }
