.bold {
    font-weight: bold
    }
.calibre {
    display: block;
    font-size: 1em;
    padding-left: 0;
    padding-right: 0;
    text-align: justify;
    margin: 0 5pt
    }
.calibre_ {
    display: block;
    text-indent: 2em;
    margin: 1em 0 0
    }
.calibre_1 {
    display: block;
    text-align: center;
    text-indent: 0;
    margin: 0
    }
.calibre_2 {
    display: block;
    text-indent: 0;
    margin: 2em 0 0
    }
.calibre_3 {
    display: block;
    text-indent: 0;
    margin: 0
    }
.calibre_4 {
    display: block;
    text-indent: 2em;
    margin: 6em 0 0
    }
.calibre_5 {
    display: block;
    text-align: right;
    text-indent: 2em;
    margin: 1em 0 0
    }
.calibre_6 {
    display: block;
    text-align: center;
    text-indent: 0;
    margin: 4em 0 0
    }
.calibre_7 {
    display: block;
    text-indent: 2em;
    margin: 3em 0 0
    }
.calibre_8 {
    display: block;
    text-align: left;
    text-indent: 0;
    margin: 2em 0 0
    }
.calibre_9 {
    display: block;
    text-indent: 0;
    margin: 3em 0 0
    }
.calibre_10 {
    display: block;
    text-align: left;
    text-indent: 0;
    margin: 1em 0 0
    }
.calibre_11 {
    display: block;
    text-align: center;
    text-indent: 0;
    margin: 1em 0 0
    }
.calibre_12 {
    height: 301px;
    vertical-align: baseline;
    width: 449px
    }
.calibre_13 {
    height: 317px;
    vertical-align: baseline;
    width: 606px
    }
.calibre_14 {
    height: 95px;
    vertical-align: baseline;
    width: 594px
    }
.calibre_15 {
    height: 105px;
    vertical-align: baseline;
    width: 612px
    }
.calibre_16 {
    height: 107px;
    vertical-align: baseline;
    width: 598px
    }
.calibre_17 {
    height: 118px;
    vertical-align: baseline;
    width: 607px
    }
.calibre_18 {
    height: 101px;
    vertical-align: baseline;
    width: 600px
    }
.calibre_19 {
    height: 382px;
    vertical-align: baseline;
    width: 615px
    }
.calibre_20 {
    height: 359px;
    vertical-align: baseline;
    width: 556px
    }
.calibre_21 {
    height: 121px;
    vertical-align: baseline;
    width: 516px
    }
.calibre_22 {
    height: 402px;
    vertical-align: baseline;
    width: 532px
    }
.calibre_23 {
    height: 341px;
    vertical-align: baseline;
    width: 625px
    }
.calibre_24 {
    height: 327px;
    vertical-align: baseline;
    width: 395px
    }
.calibre_25 {
    height: 374px;
    vertical-align: baseline;
    width: 623px
    }
.calibre_26 {
    height: 370px;
    vertical-align: baseline;
    width: 618px
    }
.calibre_27 {
    height: 147px;
    vertical-align: baseline;
    width: 279px
    }
.calibre_28 {
    height: 146px;
    vertical-align: baseline;
    width: 287px
    }
.calibre_29 {
    height: 359px;
    vertical-align: baseline;
    width: 600px
    }
.calibre_30 {
    height: 319px;
    vertical-align: baseline;
    width: 375px
    }
.calibre_31 {
    height: 515px;
    vertical-align: baseline;
    width: 576px
    }
.calibre_32 {
    height: 365px;
    vertical-align: baseline;
    width: 612px
    }
.calibre_33 {
    height: 359px;
    vertical-align: baseline;
    width: 493px
    }
.calibre_34 {
    height: 393px;
    vertical-align: baseline;
    width: 617px
    }
.calibre_35 {
    height: 519px;
    vertical-align: baseline;
    width: 386px
    }
.calibre_36 {
    height: 383px;
    vertical-align: baseline;
    width: 619px
    }
.calibre_37 {
    height: 401px;
    vertical-align: baseline;
    width: 621px
    }
.calibre_38 {
    height: 375px;
    vertical-align: baseline;
    width: 501px
    }
.calibre_39 {
    height: 256px;
    vertical-align: baseline;
    width: 546px
    }
.calibre_40 {
    height: 222px;
    vertical-align: baseline;
    width: 483px
    }
.calibre_41 {
    height: 250px;
    vertical-align: baseline;
    width: 282px
    }
.calibre_42 {
    height: 277px;
    vertical-align: baseline;
    width: 450px
    }
.calibre_43 {
    height: 205px;
    vertical-align: baseline;
    width: 558px
    }
.calibre_44 {
    height: 212px;
    vertical-align: baseline;
    width: 561px
    }
.calibre_45 {
    height: 206px;
    vertical-align: baseline;
    width: 565px
    }
.calibre_46 {
    height: 546px;
    vertical-align: baseline;
    width: 402px
    }
.calibre_47 {
    height: 640px;
    vertical-align: baseline;
    width: 628px
    }
.calibre_48 {
    height: 393px;
    vertical-align: baseline;
    width: 604px
    }
.calibre_49 {
    height: 208px;
    vertical-align: baseline;
    width: 539px
    }
.calibre_50 {
    height: 199px;
    vertical-align: baseline;
    width: 557px
    }
.calibre_51 {
    display: block;
    text-indent: -14pt;
    margin: 1em 0 0 14pt
    }
.calibre_52 {
    display: block;
    text-indent: -14pt;
    margin: 0 0 0 14pt
    }
.calibre_53 {
    display: block;
    margin: 0 0 0 2em
    }
.calibre_54 {
    display: block;
    text-indent: 0;
    margin: 0 0 0 2em
    }
.calibre1 {
    font-size: 1.83333em;
    line-height: 1.2
    }
.calibre2 {
    font-size: 1.41667em;
    line-height: 1.2
    }
.calibre3 {
    display: block
    }
.calibre4 {
    font-size: 0.75em
    }
.calibre5 {
    font-size: 1.125em;
    line-height: 1.2
    }
.calibre6 {
    font-size: 0.75em;
    line-height: normal;
    vertical-align: sub
    }
.calibre7 {
    font-size: 0.77778em
    }
.calibre8 {
    font-size: 1.28571em
    }
.mbp_pagebreak {
    display: block;
    margin: 0
    }
