.bold {
    font-weight: bold
    }
.calibre {
    display: block;
    font-size: 1em;
    padding-left: 0;
    padding-right: 0;
    text-align: justify;
    margin: 0 5pt
    }
.calibre_ {
    display: block;
    text-indent: 0;
    margin: 1em 0 0
    }
.calibre_1 {
    display: block;
    text-indent: 0;
    margin: 0
    }
.calibre_2 {
    display: block;
    text-indent: 2em;
    margin: 0
    }
.calibre_3 {
    display: block;
    text-align: center;
    text-indent: 0;
    margin: 1em 0 0
    }
.calibre_4 {
    height: 13px;
    vertical-align: baseline;
    width: 14px
    }
.calibre_5 {
    height: 13px;
    vertical-align: baseline;
    width: 16px
    }
.calibre_6 {
    height: 13px;
    vertical-align: baseline;
    width: 19px
    }
.calibre_7 {
    height: 19px;
    vertical-align: baseline;
    width: 42px
    }
.calibre_8 {
    height: 13px;
    vertical-align: baseline;
    width: 13px
    }
.calibre_9 {
    display: block;
    text-indent: 0;
    margin: 1em 0 0 2em
    }
.calibre_10 {
    display: block;
    text-indent: 0;
    margin: 2em 0 0
    }
.calibre_11 {
    height: 13px;
    vertical-align: baseline;
    width: 15px
    }
.calibre_12 {
    height: 17px;
    vertical-align: baseline;
    width: 430px
    }
.calibre_13 {
    height: 17px;
    vertical-align: baseline;
    width: 210px
    }
.calibre_14 {
    height: 13px;
    vertical-align: baseline;
    width: 27px
    }
.calibre_15 {
    height: 13px;
    vertical-align: baseline;
    width: 28px
    }
.calibre_16 {
    height: 8px;
    vertical-align: baseline;
    width: 11px
    }
.calibre_17 {
    height: 8px;
    vertical-align: baseline;
    width: 8px
    }
.calibre_18 {
    height: 19px;
    vertical-align: baseline;
    width: 54px
    }
.calibre_19 {
    height: 19px;
    vertical-align: baseline;
    width: 379px
    }
.calibre_20 {
    height: 15px;
    vertical-align: baseline;
    width: 69px
    }
.calibre_21 {
    height: 16px;
    vertical-align: baseline;
    width: 93px
    }
.calibre_22 {
    height: 14px;
    vertical-align: baseline;
    width: 201px
    }
.calibre_23 {
    height: 19px;
    vertical-align: baseline;
    width: 151px
    }
.calibre_24 {
    height: 12px;
    vertical-align: baseline;
    width: 40px
    }
.calibre_25 {
    height: 11px;
    vertical-align: baseline;
    width: 17px
    }
.calibre_26 {
    height: 11px;
    vertical-align: baseline;
    width: 132px
    }
.calibre_27 {
    height: 12px;
    vertical-align: baseline;
    width: 41px
    }
.calibre_28 {
    height: 16px;
    vertical-align: baseline;
    width: 207px
    }
.calibre_29 {
    height: 16px;
    vertical-align: baseline;
    width: 176px
    }
.calibre_30 {
    height: 8px;
    vertical-align: baseline;
    width: 44px
    }
.calibre_31 {
    height: 19px;
    vertical-align: baseline;
    width: 279px
    }
.calibre_32 {
    height: 19px;
    vertical-align: baseline;
    width: 500px
    }
.calibre_33 {
    height: 19px;
    vertical-align: baseline;
    width: 160px
    }
.calibre_34 {
    height: 19px;
    vertical-align: baseline;
    width: 256px
    }
.calibre_35 {
    height: 17px;
    vertical-align: baseline;
    width: 501px
    }
.calibre_36 {
    height: 19px;
    vertical-align: baseline;
    width: 123px
    }
.calibre_37 {
    height: 19px;
    vertical-align: baseline;
    width: 118px
    }
.calibre_38 {
    height: 19px;
    vertical-align: baseline;
    width: 91px
    }
.calibre_39 {
    height: 13px;
    vertical-align: baseline;
    width: 53px
    }
.calibre_40 {
    height: 13px;
    vertical-align: baseline;
    width: 307px
    }
.calibre_41 {
    height: 19px;
    vertical-align: baseline;
    width: 108px
    }
.calibre_42 {
    height: 19px;
    vertical-align: baseline;
    width: 342px
    }
.calibre_43 {
    height: 19px;
    vertical-align: baseline;
    width: 218px
    }
.calibre_44 {
    height: 19px;
    vertical-align: baseline;
    width: 87px
    }
.calibre_45 {
    height: 19px;
    vertical-align: baseline;
    width: 161px
    }
.calibre_46 {
    height: 19px;
    vertical-align: baseline;
    width: 126px
    }
.calibre_47 {
    height: 8px;
    vertical-align: baseline;
    width: 9px
    }
.calibre_48 {
    height: 13px;
    vertical-align: baseline;
    width: 8px
    }
.calibre_49 {
    height: 13px;
    vertical-align: baseline;
    width: 72px
    }
.calibre_50 {
    height: 13px;
    vertical-align: baseline;
    width: 31px
    }
.calibre_51 {
    height: 19px;
    vertical-align: baseline;
    width: 25px
    }
.calibre_52 {
    height: 19px;
    vertical-align: baseline;
    width: 26px
    }
.calibre_53 {
    height: 9px;
    vertical-align: baseline;
    width: 11px
    }
.calibre_54 {
    height: 15px;
    vertical-align: baseline;
    width: 42px
    }
.calibre_55 {
    height: 8px;
    vertical-align: baseline;
    width: 16px
    }
.calibre_56 {
    height: 19px;
    vertical-align: baseline;
    width: 36px
    }
.calibre_57 {
    height: 19px;
    vertical-align: baseline;
    width: 96px
    }
.calibre_58 {
    height: 19px;
    vertical-align: baseline;
    width: 88px
    }
.calibre_59 {
    height: 19px;
    vertical-align: baseline;
    width: 110px
    }
.calibre_60 {
    height: 12px;
    vertical-align: baseline;
    width: 10px
    }
.calibre_61 {
    height: 19px;
    vertical-align: baseline;
    width: 104px
    }
.calibre_62 {
    height: 19px;
    vertical-align: baseline;
    width: 83px
    }
.calibre_63 {
    height: 19px;
    vertical-align: baseline;
    width: 76px
    }
.calibre_64 {
    height: 15px;
    vertical-align: baseline;
    width: 82px
    }
.calibre_65 {
    height: 12px;
    vertical-align: baseline;
    width: 169px
    }
.calibre_66 {
    height: 11px;
    vertical-align: baseline;
    width: 15px
    }
.calibre_67 {
    height: 12px;
    vertical-align: baseline;
    width: 102px
    }
.calibre_68 {
    height: 13px;
    vertical-align: baseline;
    width: 197px
    }
.calibre_69 {
    height: 13px;
    vertical-align: baseline;
    width: 24px
    }
.calibre_70 {
    height: 19px;
    vertical-align: baseline;
    width: 40px
    }
.calibre_71 {
    height: 13px;
    vertical-align: baseline;
    width: 5px
    }
.calibre_72 {
    height: 1875px;
    vertical-align: baseline;
    width: 3000px
    }
.calibre_73 {
    border-collapse: separate;
    border-spacing: 2px;
    display: table;
    margin-bottom: 0;
    margin-top: 0;
    text-align: center;
    text-indent: 0
    }
.calibre_74 {
    background-color: #f1f6fc;
    display: table-row;
    vertical-align: middle
    }
.calibre_75 {
    height: 8px;
    vertical-align: baseline;
    width: 10px
    }
.calibre_76 {
    height: 12px;
    vertical-align: baseline;
    width: 65px
    }
.calibre_77 {
    height: 8px;
    vertical-align: baseline;
    width: 12px
    }
.calibre_78 {
    height: 12px;
    vertical-align: baseline;
    width: 16px
    }
.calibre_79 {
    height: 12px;
    vertical-align: baseline;
    width: 17px
    }
.calibre_80 {
    height: 12px;
    vertical-align: baseline;
    width: 66px
    }
.calibre_81 {
    height: 13px;
    vertical-align: baseline;
    width: 64px
    }
.calibre_82 {
    height: 2178px;
    vertical-align: baseline;
    width: 5000px
    }
.calibre_83 {
    height: 12px;
    vertical-align: baseline;
    width: 11px
    }
.calibre_84 {
    height: 2351px;
    vertical-align: baseline;
    width: 5000px
    }
.calibre_85 {
    height: 12px;
    vertical-align: baseline;
    width: 20px
    }
.calibre_86 {
    height: 2573px;
    vertical-align: baseline;
    width: 6500px
    }
.calibre_87 {
    height: 8px;
    vertical-align: baseline;
    width: 13px
    }
.calibre_88 {
    height: 12px;
    vertical-align: baseline;
    width: 43px
    }
.calibre_89 {
    height: 13px;
    vertical-align: baseline;
    width: 40px
    }
.calibre_90 {
    height: 14px;
    vertical-align: baseline;
    width: 40px
    }
.calibre_91 {
    height: 19px;
    vertical-align: baseline;
    width: 180px
    }
.calibre_92 {
    height: 19px;
    vertical-align: baseline;
    width: 260px
    }
.calibre_93 {
    height: 17px;
    vertical-align: baseline;
    width: 75px
    }
.calibre_94 {
    height: 8px;
    vertical-align: baseline;
    width: 74px
    }
.calibre_95 {
    height: 14px;
    vertical-align: baseline;
    width: 45px
    }
.calibre_96 {
    height: 19px;
    vertical-align: baseline;
    width: 142px
    }
.calibre_97 {
    height: 16px;
    vertical-align: baseline;
    width: 73px
    }
.calibre_98 {
    height: 12px;
    vertical-align: baseline;
    width: 9px
    }
.calibre_99 {
    height: 14px;
    vertical-align: baseline;
    width: 43px
    }
.calibre_100 {
    height: 12px;
    vertical-align: baseline;
    width: 34px
    }
.calibre_101 {
    height: 17px;
    vertical-align: baseline;
    width: 139px
    }
.calibre_102 {
    height: 12px;
    vertical-align: baseline;
    width: 100px
    }
.calibre_103 {
    height: 12px;
    vertical-align: baseline;
    width: 108px
    }
.calibre_104 {
    height: 19px;
    vertical-align: baseline;
    width: 247px
    }
.calibre_105 {
    height: 12px;
    vertical-align: baseline;
    width: 32px
    }
.calibre_106 {
    height: 19px;
    vertical-align: baseline;
    width: 37px
    }
.calibre_107 {
    height: 19px;
    vertical-align: baseline;
    width: 456px
    }
.calibre_108 {
    height: 19px;
    vertical-align: baseline;
    width: 261px
    }
.calibre_109 {
    height: 12px;
    vertical-align: baseline;
    width: 104px
    }
.calibre_110 {
    height: 14px;
    vertical-align: baseline;
    width: 189px
    }
.calibre_111 {
    height: 19px;
    vertical-align: baseline;
    width: 565px
    }
.calibre_112 {
    height: 19px;
    vertical-align: baseline;
    width: 38px
    }
.calibre_113 {
    height: 19px;
    vertical-align: baseline;
    width: 77px
    }
.calibre_114 {
    height: 19px;
    vertical-align: baseline;
    width: 198px
    }
.calibre_115 {
    height: 19px;
    vertical-align: baseline;
    width: 248px
    }
.calibre_116 {
    height: 19px;
    vertical-align: baseline;
    width: 81px
    }
.calibre_117 {
    height: 19px;
    vertical-align: baseline;
    width: 80px
    }
.calibre_118 {
    height: 13px;
    vertical-align: baseline;
    width: 12px
    }
.calibre_119 {
    height: 19px;
    vertical-align: baseline;
    width: 457px
    }
.calibre_120 {
    height: 21px;
    vertical-align: baseline;
    width: 507px
    }
.calibre_121 {
    height: 19px;
    vertical-align: baseline;
    width: 99px
    }
.calibre_122 {
    height: 19px;
    vertical-align: baseline;
    width: 280px
    }
.calibre_123 {
    height: 12px;
    vertical-align: baseline;
    width: 196px
    }
.calibre_124 {
    height: 21px;
    vertical-align: baseline;
    width: 418px
    }
.calibre_125 {
    height: 48px;
    vertical-align: baseline;
    width: 501px
    }
.calibre_126 {
    height: 19px;
    vertical-align: baseline;
    width: 168px
    }
.calibre_127 {
    height: 19px;
    vertical-align: baseline;
    width: 51px
    }
.calibre_128 {
    height: 22px;
    vertical-align: baseline;
    width: 129px
    }
.calibre_129 {
    height: 19px;
    vertical-align: baseline;
    width: 34px
    }
.calibre_130 {
    height: 19px;
    vertical-align: baseline;
    width: 209px
    }
.calibre_131 {
    height: 19px;
    vertical-align: baseline;
    width: 65px
    }
.calibre_132 {
    height: 19px;
    vertical-align: baseline;
    width: 41px
    }
.calibre_133 {
    height: 19px;
    vertical-align: baseline;
    width: 23px
    }
.calibre_134 {
    height: 12px;
    vertical-align: baseline;
    width: 79px
    }
.calibre_135 {
    height: 11px;
    vertical-align: baseline;
    width: 10px
    }
.calibre_136 {
    height: 20px;
    vertical-align: baseline;
    width: 129px
    }
.calibre_137 {
    height: 21px;
    vertical-align: baseline;
    width: 66px
    }
.calibre_138 {
    height: 16px;
    vertical-align: baseline;
    width: 17px
    }
.calibre_139 {
    height: 21px;
    vertical-align: baseline;
    width: 63px
    }
.calibre_140 {
    height: 19px;
    vertical-align: baseline;
    width: 55px
    }
.calibre_141 {
    height: 20px;
    vertical-align: baseline;
    width: 67px
    }
.calibre_142 {
    height: 20px;
    vertical-align: baseline;
    width: 308px
    }
.calibre_143 {
    height: 16px;
    vertical-align: baseline;
    width: 18px
    }
.calibre_144 {
    height: 20px;
    vertical-align: baseline;
    width: 54px
    }
.calibre_145 {
    height: 16px;
    vertical-align: baseline;
    width: 104px
    }
.calibre_146 {
    height: 16px;
    vertical-align: baseline;
    width: 92px
    }
.calibre_147 {
    height: 20px;
    vertical-align: baseline;
    width: 138px
    }
.calibre_148 {
    height: 21px;
    vertical-align: baseline;
    width: 284px
    }
.calibre_149 {
    height: 12px;
    vertical-align: baseline;
    width: 118px
    }
.calibre_150 {
    height: 19px;
    vertical-align: baseline;
    width: 241px
    }
.calibre_151 {
    height: 13px;
    vertical-align: baseline;
    width: 42px
    }
.calibre_152 {
    height: 8px;
    vertical-align: baseline;
    width: 42px
    }
.calibre_153 {
    height: 12px;
    vertical-align: baseline;
    width: 19px
    }
.calibre_154 {
    height: 12px;
    vertical-align: baseline;
    width: 18px
    }
.calibre_155 {
    display: block;
    text-align: center;
    text-indent: 0;
    margin: 9pt 0 0
    }
.calibre_156 {
    display: block;
    text-align: left;
    text-indent: 0;
    margin: 9pt 0 0
    }
.calibre_157 {
    height: 12px;
    vertical-align: baseline;
    width: 42px
    }
.calibre_158 {
    height: 12px;
    vertical-align: baseline;
    width: 14px
    }
.calibre_159 {
    height: 12px;
    vertical-align: baseline;
    width: 6px
    }
.calibre_160 {
    height: 16px;
    vertical-align: baseline;
    width: 169px
    }
.calibre_161 {
    height: 12px;
    vertical-align: baseline;
    width: 106px
    }
.calibre_162 {
    height: 13px;
    vertical-align: baseline;
    width: 76px
    }
.calibre_163 {
    height: 12px;
    vertical-align: baseline;
    width: 119px
    }
.calibre_164 {
    display: block;
    height: 1em
    }
.calibre_165 {
    display: block;
    list-style-type: decimal;
    margin-bottom: 1em;
    margin-right: 0;
    margin-top: 1em;
    text-indent: 0
    }
.calibre_166 {
    display: list-item;
    margin-top: 0;
    text-indent: 0
    }
.calibre_167 {
    display: list-item;
    margin-top: 1em;
    text-indent: 0
    }
.calibre_168 {
    height: 19px;
    vertical-align: baseline;
    width: 214px
    }
.calibre_169 {
    height: 11px;
    vertical-align: baseline;
    width: 46px
    }
.calibre_170 {
    height: 11px;
    vertical-align: baseline;
    width: 13px
    }
.calibre_171 {
    height: 12px;
    vertical-align: baseline;
    width: 201px
    }
.calibre_172 {
    height: 21px;
    vertical-align: baseline;
    width: 385px
    }
.calibre_173 {
    height: 14px;
    vertical-align: baseline;
    width: 142px
    }
.calibre_174 {
    height: 53px;
    vertical-align: baseline;
    width: 42px
    }
.calibre_175 {
    height: 53px;
    vertical-align: baseline;
    width: 102px
    }
.calibre_176 {
    height: 53px;
    vertical-align: baseline;
    width: 178px
    }
.calibre_177 {
    height: 53px;
    vertical-align: baseline;
    width: 240px
    }
.calibre_178 {
    height: 53px;
    vertical-align: baseline;
    width: 84px
    }
.calibre_179 {
    height: 3976px;
    vertical-align: baseline;
    width: 8000px
    }
.calibre_180 {
    height: 14px;
    vertical-align: baseline;
    width: 42px
    }
.calibre_181 {
    height: 3734px;
    vertical-align: baseline;
    width: 5000px
    }
.calibre_182 {
    height: 19px;
    vertical-align: baseline;
    width: 194px
    }
.calibre_183 {
    height: 50px;
    vertical-align: baseline;
    width: 298px
    }
.calibre_184 {
    height: 16px;
    vertical-align: baseline;
    width: 130px
    }
.calibre_185 {
    height: 19px;
    vertical-align: baseline;
    width: 307px
    }
.calibre_186 {
    height: 12px;
    vertical-align: baseline;
    width: 67px
    }
.calibre_187 {
    height: 19px;
    vertical-align: baseline;
    width: 163px
    }
.calibre_188 {
    height: 48px;
    vertical-align: baseline;
    width: 517px
    }
.calibre_189 {
    height: 11px;
    vertical-align: baseline;
    width: 12px
    }
.calibre_190 {
    height: 5194px;
    vertical-align: baseline;
    width: 8000px
    }
.calibre_191 {
    height: 43px;
    vertical-align: baseline;
    width: 380px
    }
.calibre_192 {
    height: 48px;
    vertical-align: baseline;
    width: 538px
    }
.calibre_193 {
    height: 37px;
    vertical-align: baseline;
    width: 28px
    }
.calibre_194 {
    height: 37px;
    vertical-align: baseline;
    width: 37px
    }
.calibre_195 {
    height: 38px;
    vertical-align: baseline;
    width: 190px
    }
.calibre_196 {
    height: 13px;
    vertical-align: baseline;
    width: 49px
    }
.calibre_197 {
    height: 38px;
    vertical-align: baseline;
    width: 145px
    }
.calibre_198 {
    height: 16px;
    vertical-align: baseline;
    width: 127px
    }
.calibre_199 {
    height: 37px;
    vertical-align: baseline;
    width: 125px
    }
.calibre_200 {
    height: 21px;
    vertical-align: baseline;
    width: 41px
    }
.calibre_201 {
    height: 37px;
    vertical-align: baseline;
    width: 111px
    }
.calibre_202 {
    height: 38px;
    vertical-align: baseline;
    width: 50px
    }
.calibre_203 {
    height: 50px;
    vertical-align: baseline;
    width: 170px
    }
.calibre_204 {
    height: 16px;
    vertical-align: baseline;
    width: 20px
    }
.calibre_205 {
    height: 12px;
    vertical-align: baseline;
    width: 44px
    }
.calibre_206 {
    height: 12px;
    vertical-align: baseline;
    width: 52px
    }
.calibre_207 {
    height: 21px;
    vertical-align: baseline;
    width: 410px
    }
.calibre_208 {
    height: 15px;
    vertical-align: baseline;
    width: 23px
    }
.calibre_209 {
    height: 3676px;
    vertical-align: baseline;
    width: 8000px
    }
.calibre_210 {
    height: 16px;
    vertical-align: baseline;
    width: 77px
    }
.calibre_211 {
    height: 19px;
    vertical-align: baseline;
    width: 264px
    }
.calibre_212 {
    height: 50px;
    vertical-align: baseline;
    width: 141px
    }
.calibre_213 {
    height: 50px;
    vertical-align: baseline;
    width: 93px
    }
.calibre_214 {
    height: 19px;
    vertical-align: baseline;
    width: 28px
    }
.calibre_215 {
    height: 19px;
    vertical-align: baseline;
    width: 72px
    }
.calibre_216 {
    height: 43px;
    vertical-align: baseline;
    width: 73px
    }
.calibre_217 {
    height: 50px;
    vertical-align: baseline;
    width: 218px
    }
.calibre_218 {
    height: 21px;
    vertical-align: baseline;
    width: 93px
    }
.calibre_219 {
    height: 21px;
    vertical-align: baseline;
    width: 92px
    }
.calibre_220 {
    height: 16px;
    vertical-align: baseline;
    width: 13px
    }
.calibre_221 {
    height: 13px;
    vertical-align: baseline;
    width: 9px
    }
.calibre_222 {
    height: 13px;
    vertical-align: baseline;
    width: 84px
    }
.calibre_223 {
    height: 13px;
    vertical-align: baseline;
    width: 66px
    }
.calibre_224 {
    height: 38px;
    vertical-align: baseline;
    width: 81px
    }
.calibre_225 {
    height: 43px;
    vertical-align: baseline;
    width: 142px
    }
.calibre_226 {
    height: 14px;
    vertical-align: baseline;
    width: 51px
    }
.calibre_227 {
    height: 13px;
    vertical-align: baseline;
    width: 51px
    }
.calibre_228 {
    height: 14px;
    vertical-align: baseline;
    width: 150px
    }
.calibre_229 {
    height: 19px;
    vertical-align: baseline;
    width: 82px
    }
.calibre_230 {
    height: 43px;
    vertical-align: baseline;
    width: 111px
    }
.calibre_231 {
    height: 16px;
    vertical-align: baseline;
    width: 21px
    }
.calibre_232 {
    height: 19px;
    vertical-align: baseline;
    width: 137px
    }
.calibre_233 {
    height: 19px;
    vertical-align: baseline;
    width: 98px
    }
.calibre_234 {
    height: 2006px;
    vertical-align: baseline;
    width: 3000px
    }
.calibre_235 {
    height: 15px;
    vertical-align: baseline;
    width: 40px
    }
.calibre_236 {
    height: 11px;
    vertical-align: baseline;
    width: 14px
    }
.calibre_237 {
    height: 16px;
    vertical-align: baseline;
    width: 121px
    }
.calibre_238 {
    height: 16px;
    vertical-align: baseline;
    width: 122px
    }
.calibre_239 {
    height: 16px;
    vertical-align: baseline;
    width: 182px
    }
.calibre_240 {
    height: 38px;
    vertical-align: baseline;
    width: 179px
    }
.calibre_241 {
    height: 19px;
    vertical-align: baseline;
    width: 97px
    }
.calibre_242 {
    height: 19px;
    vertical-align: baseline;
    width: 84px
    }
.calibre_243 {
    height: 1745px;
    vertical-align: baseline;
    width: 6000px
    }
.calibre_244 {
    height: 1578px;
    vertical-align: baseline;
    width: 6300px
    }
.calibre_245 {
    height: 1849px;
    vertical-align: baseline;
    width: 7300px
    }
.calibre_246 {
    height: 14px;
    vertical-align: baseline;
    width: 10px
    }
.calibre_247 {
    height: 13px;
    vertical-align: baseline;
    width: 41px
    }
.calibre_248 {
    height: 14px;
    vertical-align: baseline;
    width: 44px
    }
.calibre_249 {
    height: 13px;
    vertical-align: baseline;
    width: 50px
    }
.calibre_250 {
    height: 63px;
    vertical-align: baseline;
    width: 297px
    }
.calibre_251 {
    height: 13px;
    vertical-align: baseline;
    width: 18px
    }
.calibre_252 {
    height: 8px;
    vertical-align: baseline;
    width: 17px
    }
.calibre_253 {
    height: 17px;
    vertical-align: baseline;
    width: 229px
    }
.calibre_254 {
    height: 178px;
    vertical-align: baseline;
    width: 368px
    }
.calibre_255 {
    height: 56px;
    vertical-align: baseline;
    width: 187px
    }
.calibre_256 {
    height: 78px;
    vertical-align: baseline;
    width: 211px
    }
.calibre_257 {
    height: 78px;
    vertical-align: baseline;
    width: 475px
    }
.calibre_258 {
    height: 1444px;
    vertical-align: baseline;
    width: 3300px
    }
.calibre_259 {
    height: 17px;
    vertical-align: baseline;
    width: 114px
    }
.calibre_260 {
    height: 13px;
    vertical-align: baseline;
    width: 21px
    }
.calibre_261 {
    height: 12px;
    vertical-align: baseline;
    width: 88px
    }
.calibre_262 {
    height: 19px;
    vertical-align: baseline;
    width: 193px
    }
.calibre_263 {
    height: 15px;
    vertical-align: baseline;
    width: 53px
    }
.calibre_264 {
    height: 15px;
    vertical-align: baseline;
    width: 54px
    }
.calibre_265 {
    height: 17px;
    vertical-align: baseline;
    width: 94px
    }
.calibre_266 {
    height: 17px;
    vertical-align: baseline;
    width: 95px
    }
.calibre_267 {
    height: 16px;
    vertical-align: baseline;
    width: 15px
    }
.calibre_268 {
    height: 16px;
    vertical-align: baseline;
    width: 50px
    }
.calibre_269 {
    height: 12px;
    vertical-align: baseline;
    width: 15px
    }
.calibre_270 {
    height: 13px;
    vertical-align: baseline;
    width: 17px
    }
.calibre_271 {
    height: 16px;
    vertical-align: baseline;
    width: 270px
    }
.calibre_272 {
    height: 16px;
    vertical-align: baseline;
    width: 131px
    }
.calibre_273 {
    height: 12px;
    vertical-align: baseline;
    width: 64px
    }
.calibre_274 {
    height: 14px;
    vertical-align: baseline;
    width: 55px
    }
.calibre_275 {
    height: 19px;
    vertical-align: baseline;
    width: 227px
    }
.calibre_276 {
    height: 13px;
    vertical-align: baseline;
    width: 10px
    }
.calibre_277 {
    height: 1867px;
    vertical-align: baseline;
    width: 1300px
    }
.calibre_278 {
    height: 16px;
    vertical-align: baseline;
    width: 304px
    }
.calibre_279 {
    height: 12px;
    vertical-align: baseline;
    width: 99px
    }
.calibre_280 {
    height: 19px;
    vertical-align: baseline;
    width: 386px
    }
.calibre_281 {
    height: 16px;
    vertical-align: baseline;
    width: 58px
    }
.calibre_282 {
    height: 16px;
    vertical-align: baseline;
    width: 57px
    }
.calibre_283 {
    height: 56px;
    vertical-align: baseline;
    width: 286px
    }
.calibre_284 {
    height: 16px;
    vertical-align: baseline;
    width: 385px
    }
.calibre_285 {
    height: 9px;
    vertical-align: baseline;
    width: 44px
    }
.calibre_286 {
    height: 13px;
    vertical-align: baseline;
    width: 55px
    }
.calibre_287 {
    height: 13px;
    vertical-align: baseline;
    width: 20px
    }
.calibre_288 {
    height: 16px;
    vertical-align: baseline;
    width: 157px
    }
.calibre_289 {
    height: 78px;
    vertical-align: baseline;
    width: 305px
    }
.calibre_290 {
    height: 16px;
    vertical-align: baseline;
    width: 129px
    }
.calibre_291 {
    height: 12px;
    vertical-align: baseline;
    width: 53px
    }
.calibre_292 {
    height: 21px;
    vertical-align: baseline;
    width: 51px
    }
.calibre_293 {
    height: 4486px;
    vertical-align: baseline;
    width: 7500px
    }
.calibre_294 {
    height: 21px;
    vertical-align: baseline;
    width: 49px
    }
.calibre_295 {
    height: 16px;
    vertical-align: baseline;
    width: 16px
    }
.calibre_296 {
    height: 20px;
    vertical-align: baseline;
    width: 55px
    }
.calibre_297 {
    height: 4949px;
    vertical-align: baseline;
    width: 7500px
    }
.calibre_298 {
    height: 21px;
    vertical-align: baseline;
    width: 83px
    }
.calibre_299 {
    height: 4458px;
    vertical-align: baseline;
    width: 7500px
    }
.calibre_300 {
    height: 16px;
    vertical-align: baseline;
    width: 47px
    }
.calibre_301 {
    height: 16px;
    vertical-align: baseline;
    width: 342px
    }
.calibre_302 {
    height: 21px;
    vertical-align: baseline;
    width: 55px
    }
.calibre_303 {
    height: 4479px;
    vertical-align: baseline;
    width: 7500px
    }
.calibre_304 {
    height: 17px;
    vertical-align: baseline;
    width: 103px
    }
.calibre_305 {
    height: 16px;
    vertical-align: baseline;
    width: 136px
    }
.calibre_306 {
    height: 17px;
    vertical-align: baseline;
    width: 42px
    }
.calibre_307 {
    height: 17px;
    vertical-align: baseline;
    width: 43px
    }
.calibre_308 {
    height: 16px;
    vertical-align: baseline;
    width: 135px
    }
.calibre_309 {
    height: 16px;
    vertical-align: baseline;
    width: 419px
    }
.calibre_310 {
    height: 16px;
    vertical-align: baseline;
    width: 305px
    }
.calibre_311 {
    height: 21px;
    vertical-align: baseline;
    width: 80px
    }
.calibre_312 {
    height: 16px;
    vertical-align: baseline;
    width: 341px
    }
.calibre_313 {
    height: 16px;
    vertical-align: baseline;
    width: 35px
    }
.calibre_314 {
    height: 12px;
    vertical-align: baseline;
    width: 87px
    }
.calibre_315 {
    height: 12px;
    vertical-align: baseline;
    width: 39px
    }
.calibre_316 {
    height: 19px;
    vertical-align: baseline;
    width: 235px
    }
.calibre_317 {
    height: 21px;
    vertical-align: baseline;
    width: 62px
    }
.calibre_318 {
    height: 21px;
    vertical-align: baseline;
    width: 119px
    }
.calibre_319 {
    height: 37px;
    vertical-align: baseline;
    width: 199px
    }
.calibre_320 {
    height: 8px;
    vertical-align: baseline;
    width: 28px
    }
.calibre_321 {
    height: 12px;
    vertical-align: baseline;
    width: 101px
    }
.calibre_322 {
    height: 15px;
    vertical-align: baseline;
    width: 48px
    }
.calibre_323 {
    height: 15px;
    vertical-align: baseline;
    width: 9px
    }
.calibre_324 {
    height: 15px;
    vertical-align: baseline;
    width: 74px
    }
.calibre_325 {
    height: 16px;
    vertical-align: baseline;
    width: 74px
    }
.calibre_326 {
    height: 12px;
    vertical-align: baseline;
    width: 77px
    }
.calibre_327 {
    height: 38px;
    vertical-align: baseline;
    width: 301px
    }
.calibre_328 {
    height: 12px;
    vertical-align: baseline;
    width: 114px
    }
.calibre_329 {
    height: 15px;
    vertical-align: baseline;
    width: 157px
    }
.calibre_330 {
    height: 14px;
    vertical-align: baseline;
    width: 54px
    }
.calibre_331 {
    height: 16px;
    vertical-align: baseline;
    width: 54px
    }
.calibre_332 {
    height: 11px;
    vertical-align: baseline;
    width: 16px
    }
.calibre_333 {
    height: 12px;
    vertical-align: baseline;
    width: 105px
    }
.calibre_334 {
    height: 12px;
    vertical-align: baseline;
    width: 26px
    }
.calibre_335 {
    height: 21px;
    vertical-align: baseline;
    width: 86px
    }
.calibre_336 {
    height: 21px;
    vertical-align: baseline;
    width: 122px
    }
.calibre_337 {
    height: 21px;
    vertical-align: baseline;
    width: 501px
    }
.calibre_338 {
    height: 12px;
    vertical-align: baseline;
    width: 90px
    }
.calibre_339 {
    height: 1726px;
    vertical-align: baseline;
    width: 7500px
    }
.calibre_340 {
    height: 19px;
    vertical-align: baseline;
    width: 553px
    }
.calibre_341 {
    height: 21px;
    vertical-align: baseline;
    width: 402px
    }
.calibre_342 {
    height: 21px;
    vertical-align: baseline;
    width: 405px
    }
.calibre_343 {
    height: 16px;
    vertical-align: baseline;
    width: 339px
    }
.calibre_344 {
    height: 48px;
    vertical-align: baseline;
    width: 505px
    }
.calibre_345 {
    height: 16px;
    vertical-align: baseline;
    width: 487px
    }
.calibre_346 {
    height: 13px;
    vertical-align: baseline;
    width: 90px
    }
.calibre_347 {
    height: 12px;
    vertical-align: baseline;
    width: 27px
    }
.calibre_348 {
    height: 15px;
    vertical-align: baseline;
    width: 202px
    }
.calibre_349 {
    height: 66px;
    vertical-align: baseline;
    width: 161px
    }
.calibre_350 {
    height: 15px;
    vertical-align: baseline;
    width: 136px
    }
.calibre_351 {
    height: 85px;
    vertical-align: baseline;
    width: 152px
    }
.calibre_352 {
    height: 86px;
    vertical-align: baseline;
    width: 148px
    }
.calibre_353 {
    height: 19px;
    vertical-align: baseline;
    width: 204px
    }
.calibre_354 {
    height: 66px;
    vertical-align: baseline;
    width: 168px
    }
.calibre_355 {
    height: 19px;
    vertical-align: baseline;
    width: 233px
    }
.calibre_356 {
    height: 16px;
    vertical-align: baseline;
    width: 327px
    }
.calibre_357 {
    height: 19px;
    vertical-align: baseline;
    width: 117px
    }
.calibre_358 {
    height: 19px;
    vertical-align: baseline;
    width: 113px
    }
.calibre_359 {
    height: 15px;
    vertical-align: baseline;
    width: 190px
    }
.calibre_360 {
    height: 12px;
    vertical-align: baseline;
    width: 71px
    }
.calibre_361 {
    height: 15px;
    vertical-align: baseline;
    width: 132px
    }
.calibre_362 {
    height: 12px;
    vertical-align: baseline;
    width: 68px
    }
.calibre_363 {
    height: 19px;
    vertical-align: baseline;
    width: 21px
    }
.calibre_364 {
    height: 16px;
    vertical-align: baseline;
    width: 75px
    }
.calibre_365 {
    height: 15px;
    vertical-align: baseline;
    width: 47px
    }
.calibre_366 {
    height: 19px;
    vertical-align: baseline;
    width: 101px
    }
.calibre_367 {
    height: 19px;
    vertical-align: baseline;
    width: 327px
    }
.calibre_368 {
    height: 19px;
    vertical-align: baseline;
    width: 271px
    }
.calibre_369 {
    height: 17px;
    vertical-align: baseline;
    width: 201px
    }
.calibre_370 {
    height: 16px;
    vertical-align: baseline;
    width: 274px
    }
.calibre_371 {
    height: 38px;
    vertical-align: baseline;
    width: 278px
    }
.calibre_372 {
    height: 15px;
    vertical-align: baseline;
    width: 145px
    }
.calibre_373 {
    height: 45px;
    vertical-align: baseline;
    width: 403px
    }
.calibre_374 {
    height: 19px;
    vertical-align: baseline;
    width: 15px
    }
.calibre_375 {
    height: 16px;
    vertical-align: baseline;
    width: 42px
    }
.calibre_376 {
    height: 21px;
    vertical-align: baseline;
    width: 566px
    }
.calibre_377 {
    height: 21px;
    vertical-align: baseline;
    width: 533px
    }
.calibre_378 {
    height: 13px;
    vertical-align: baseline;
    width: 71px
    }
.calibre_379 {
    height: 3569px;
    vertical-align: baseline;
    width: 7500px
    }
.calibre_380 {
    height: 43px;
    vertical-align: baseline;
    width: 357px
    }
.calibre_381 {
    height: 19px;
    vertical-align: baseline;
    width: 237px
    }
.calibre_382 {
    height: 12px;
    vertical-align: baseline;
    width: 33px
    }
.calibre_383 {
    height: 2571px;
    vertical-align: baseline;
    width: 2500px
    }
.calibre_384 {
    height: 12px;
    vertical-align: baseline;
    width: 55px
    }
.calibre_385 {
    height: 1878px;
    vertical-align: baseline;
    width: 7500px
    }
.calibre_386 {
    height: 19px;
    vertical-align: baseline;
    width: 219px
    }
.calibre_387 {
    display: block;
    text-align: center;
    text-indent: 0;
    margin: 2em 0 0
    }
.calibre_388 {
    height: 16px;
    vertical-align: baseline;
    width: 324px
    }
.calibre_389 {
    display: block;
    list-style-type: disc;
    margin-bottom: 1em;
    margin-right: 0;
    margin-top: 1em;
    text-indent: 0
    }
.calibre_390 {
    display: block;
    list-style-type: circle;
    margin-bottom: 0;
    margin-right: 0;
    margin-top: 0;
    text-indent: 0
    }
.calibre_391 {
    display: block;
    text-indent: -14pt;
    margin: 1em 0 0 14pt
    }
.calibre_392 {
    display: block;
    text-indent: -14pt;
    margin: 0 0 0 14pt
    }
.calibre_393 {
    display: block;
    margin: 0 0 0 2em
    }
.calibre_394 {
    display: block;
    text-indent: 0;
    margin: 0 0 0 2em
    }
.calibre1 {
    font-size: 1.41667em;
    line-height: 1.2
    }
.calibre2 {
    color: gray;
    display: block;
    height: 2px;
    margin: 0.5em auto;
    border: currentColor inset 1px
    }
.calibre3 {
    font-size: 1.125em;
    line-height: 1.2
    }
.calibre4 {
    font-size: 0.75em
    }
.calibre5 {
    display: block;
    height: 1em;
    margin: 0;
    border: currentColor none 0
    }
.calibre6 {
    display: table-row;
    vertical-align: middle
    }
.calibre7 {
    display: table-cell;
    text-align: inherit;
    vertical-align: top;
    padding: 1px
    }
.calibre8 {
    display: block
    }
.calibre9 {
    display: table-cell;
    font-weight: bold;
    vertical-align: inherit;
    padding: 1px
    }
.mbp_pagebreak {
    display: block;
    margin: 0
    }
