.bold {
    font-weight: bold
    }
.calibre {
    display: block;
    font-size: 1em;
    padding-left: 0;
    padding-right: 0;
    text-align: justify;
    margin: 0 5pt
    }
.calibre_ {
    display: block;
    text-align: center;
    text-indent: 0;
    margin: 0
    }
.calibre_1 {
    display: block;
    text-indent: 0;
    margin: 2em 0 0
    }
.calibre_2 {
    display: block;
    text-indent: 0;
    margin: 0
    }
.calibre_3 {
    display: block;
    text-align: center;
    text-indent: 0;
    margin: 15em 0 0
    }
.calibre_4 {
    display: block;
    text-indent: 2em;
    margin: 1em 0 0
    }
.calibre_5 {
    display: block;
    text-align: right;
    text-indent: 0;
    margin: 1em 0 0
    }
.calibre_6 {
    display: block;
    text-align: right;
    text-indent: 0;
    margin: 15em 0 0
    }
.calibre_7 {
    display: block;
    text-align: center;
    text-indent: 0;
    margin: 1em 0 0
    }
.calibre_8 {
    display: block;
    text-indent: 2em;
    margin: 2em 0 0
    }
.calibre_9 {
    display: block;
    text-align: center;
    text-indent: 0;
    margin: 2em 0 0
    }
.calibre_10 {
    display: block;
    text-indent: 0;
    margin: 1em 0 0
    }
.calibre_11 {
    display: block;
    text-align: justify;
    text-indent: 2em;
    margin: 2em 0 0
    }
.calibre_12 {
    display: block;
    text-align: justify;
    text-indent: 2em;
    margin: 1em 0 0
    }
.calibre_13 {
    height: 6045px;
    vertical-align: baseline;
    width: 6000px
    }
.calibre_14 {
    height: 5573px;
    vertical-align: baseline;
    width: 4000px
    }
.calibre_15 {
    display: block;
    text-align: center;
    text-indent: 0;
    margin: 5pt 0 0
    }
.calibre_16 {
    color: #696969
    }
.calibre_17 {
    height: 5801px;
    vertical-align: baseline;
    width: 8000px
    }
.calibre_18 {
    height: 270px;
    vertical-align: baseline;
    width: 600px
    }
.calibre_19 {
    height: 2778px;
    vertical-align: baseline;
    width: 5000px
    }
.calibre_20 {
    display: block;
    text-align: justify;
    text-indent: 2em;
    margin: 2em 0 0 2em
    }
.calibre_21 {
    display: block;
    text-align: center;
    text-indent: 2em;
    margin: 4pt 0 0 2em
    }
.calibre_22 {
    display: block;
    text-align: right;
    text-indent: 0;
    margin: 1em 0 0 2em
    }
.calibre_23 {
    height: 5991px;
    vertical-align: baseline;
    width: 6000px
    }
.calibre_24 {
    height: 1560px;
    vertical-align: baseline;
    width: 8000px
    }
.calibre_25 {
    height: 6000px;
    vertical-align: baseline;
    width: 6000px
    }
.calibre_26 {
    height: 6206px;
    vertical-align: baseline;
    width: 6000px
    }
.calibre_27 {
    height: 6585px;
    vertical-align: baseline;
    width: 6000px
    }
.calibre_28 {
    height: 3930px;
    vertical-align: baseline;
    width: 8000px
    }
.calibre_29 {
    height: 2449px;
    vertical-align: baseline;
    width: 8000px
    }
.calibre_30 {
    height: 4000px;
    vertical-align: baseline;
    width: 4000px
    }
.calibre_31 {
    display: block;
    text-indent: 0;
    margin: 10pt 0 0
    }
.calibre_32 {
    height: 4023px;
    vertical-align: baseline;
    width: 4000px
    }
.calibre_33 {
    height: 4151px;
    vertical-align: baseline;
    width: 8000px
    }
.calibre_34 {
    height: 6162px;
    vertical-align: baseline;
    width: 6000px
    }
.calibre_35 {
    height: 5456px;
    vertical-align: baseline;
    width: 6000px
    }
.calibre_36 {
    height: 5457px;
    vertical-align: baseline;
    width: 6000px
    }
.calibre_37 {
    height: 5590px;
    vertical-align: baseline;
    width: 6000px
    }
.calibre_38 {
    display: block;
    text-align: justify;
    text-indent: 4em;
    margin: 1em 0 0
    }
.calibre_39 {
    height: 5379px;
    vertical-align: baseline;
    width: 6000px
    }
.calibre_40 {
    display: block;
    text-align: center;
    text-indent: 2em;
    margin: 4pt 0 0
    }
.calibre_41 {
    display: block;
    text-indent: 2em;
    margin: 4pt 0 0
    }
.calibre_42 {
    display: block;
    text-indent: 2em;
    margin: 3em 0 0 2em
    }
.calibre_43 {
    display: block;
    text-align: justify;
    text-indent: 2em;
    margin: 1em 0 0 2em
    }
.calibre_44 {
    display: block;
    text-indent: 2em;
    margin: 1em 0 0 2em
    }
.calibre_45 {
    height: 6053px;
    vertical-align: baseline;
    width: 6000px
    }
.calibre_46 {
    display: block;
    text-align: justify;
    text-indent: 0;
    margin: 1em 0 0
    }
.calibre_47 {
    height: 6003px;
    vertical-align: baseline;
    width: 8000px
    }
.calibre_48 {
    display: block;
    height: 1em
    }
.calibre_49 {
    display: block;
    list-style-type: disc;
    margin-bottom: 1em;
    margin-right: 0;
    margin-top: 1em;
    text-indent: 0
    }
.calibre_50 {
    display: list-item;
    margin-top: 0;
    text-indent: 0
    }
.calibre_51 {
    height: 6035px;
    vertical-align: baseline;
    width: 6000px
    }
.calibre_52 {
    height: 6558px;
    vertical-align: baseline;
    width: 6000px
    }
.calibre_53 {
    height: 4841px;
    vertical-align: baseline;
    width: 8000px
    }
.calibre_54 {
    height: 5351px;
    vertical-align: baseline;
    width: 8000px
    }
.calibre_55 {
    height: 6044px;
    vertical-align: baseline;
    width: 6000px
    }
.calibre_56 {
    height: 6063px;
    vertical-align: baseline;
    width: 6000px
    }
.calibre_57 {
    height: 4869px;
    vertical-align: baseline;
    width: 8000px
    }
.calibre_58 {
    height: 1146px;
    vertical-align: baseline;
    width: 8000px
    }
.calibre_59 {
    height: 1066px;
    vertical-align: baseline;
    width: 8000px
    }
.calibre_60 {
    height: 6026px;
    vertical-align: baseline;
    width: 6000px
    }
.calibre_61 {
    display: block;
    text-align: justify;
    text-indent: 2em;
    margin: 3em 0 0 2em
    }
.calibre_62 {
    height: 6081px;
    vertical-align: baseline;
    width: 6000px
    }
.calibre_63 {
    height: 6000px;
    vertical-align: baseline;
    width: 8000px
    }
.calibre_64 {
    height: 5987px;
    vertical-align: baseline;
    width: 6000px
    }
.calibre_65 {
    height: 5793px;
    vertical-align: baseline;
    width: 6000px
    }
.calibre_66 {
    height: 6803px;
    vertical-align: baseline;
    width: 6000px
    }
.calibre_67 {
    display: block;
    margin: 2em 0 0 2em
    }
.calibre_68 {
    display: block;
    text-indent: 0;
    margin: 0 0 0 2em
    }
.calibre_69 {
    display: block;
    margin: 1em 0 0 2em
    }
.calibre_70 {
    display: block;
    text-indent: -12pt;
    margin: 1em 0 0 12pt
    }
.calibre_71 {
    height: 56px;
    text-align: middle;
    width: 21px
    }
.calibre_72 {
    height: 56px;
    text-align: middle;
    width: 64px
    }
.calibre_73 {
    display: block;
    text-indent: -18pt;
    margin: 1em 0 0 18pt
    }
.calibre_74 {
    display: block;
    text-indent: -14pt;
    margin: 1em 0 0 14pt
    }
.calibre_75 {
    display: block;
    text-indent: -14pt;
    margin: 0 0 0 14pt
    }
.calibre1 {
    font-size: 1.83333em;
    line-height: 1.2
    }
.calibre2 {
    font-size: 1.41667em;
    line-height: 1.2
    }
.calibre3 {
    font-size: 1.125em;
    line-height: 1.2
    }
.calibre4 {
    display: block
    }
.calibre5 {
    font-size: 0.75em
    }
.calibre6 {
    font-size: 0.75em;
    line-height: normal;
    vertical-align: super
    }
.calibre7 {
    font-size: 0.77778em
    }
.calibre8 {
    font-size: 1.28571em
    }
.calibre9 {
    font-size: 1em;
    line-height: normal;
    vertical-align: super
    }
.calibre10 {
    display: block;
    margin: 0 0 0 2em
    }
.italic {
    font-style: italic
    }
.mbp_pagebreak {
    display: block;
    margin: 0
    }
