.calibre {
    display: block;
    font-size: 0.58333em;
    margin: 0 5pt;
    padding: 0
    }
.calibre1 {
    color: #03C;
    display: block;
    font-size: 2.42857em;
    font-weight: 800;
    line-height: 1.2;
    text-align: center;
    text-indent: 0;
    margin: 2em 0 1.3em
    }
.calibre2 {
    height: auto;
    max-height: 100%;
    max-width: 100%;
    width: auto;
    margin: 0;
    padding: 0
    }
.calibre3 {
    display: block;
    font-size: 0.75em;
    margin: 0 5pt;
    padding: 0
    }
.calibre4 {
    color: #03C;
    display: block;
    font-size: 2.22222em;
    font-weight: 800;
    line-height: 1.2;
    text-align: center;
    text-indent: 0;
    margin: 2em 0 1.3em
    }
.calibre5 {
    display: block;
    font-size: 1.33333em;
    letter-spacing: 0;
    line-height: 1.5em;
    text-align: justify;
    text-indent: 2em;
    text-justify: inter-ideograph;
    margin: 1em 0 0
    }
.calibre6 {
    color: #000;
    display: block;
    font-size: 2.22222em;
    font-weight: normal;
    line-height: 1.2;
    text-align: center;
    text-indent: 0;
    margin: 2em 0 1em
    }
.calibre7 {
    font-family: heiti;
    font-size: 1em;
    font-weight: 800
    }
.calibre8 {
    display: block
    }
.calibre9 {
    display: block;
    font-size: 1.33333em;
    letter-spacing: 0;
    line-height: 1.5em;
    text-align: justify;
    text-indent: 2em;
    text-justify: inter-ideograph;
    margin: 0.5em 0
    }
.calibre10 {
    font-size: 1em;
    line-height: 1.2;
    vertical-align: super
    }
.calibre11 {
    font-size: 1em;
    line-height: 1.2;
    vertical-align: sub
    }
.center {
    display: block;
    font-size: 1.33333em;
    letter-spacing: 0;
    line-height: 1.5em;
    text-align: center;
    text-indent: 0;
    text-justify: inter-ideograph;
    margin: 1em 0 0
    }
.center1 {
    display: block;
    font-size: 1.33333em;
    letter-spacing: 0;
    line-height: 1.5em;
    text-align: center;
    text-indent: 0;
    text-justify: inter-ideograph;
    margin: 0.5em 0
    }
.greybg {
    background-color: #D2D2D4;
    display: block;
    margin-bottom: 1.5em;
    margin-top: 1.5em;
    border: #000 solid 1px;
    padding: 0.5em
    }
.hangz-illustrations {
    font-size: 0.75em;
    height: 2.5em;
    max-height: 100%;
    max-width: 100%;
    vertical-align: middle-line;
    width: auto;
    margin: 0 -0.2em;
    padding: 0
    }
.hangz-illustrations1 {
    font-size: 0.75em;
    height: 1.5em;
    max-height: 100%;
    max-width: 100%;
    vertical-align: middle-line;
    width: auto;
    margin: 0 -0.2em;
    padding: 0
    }
.heiti {
    display: block;
    font-family: heiti;
    font-size: 1.33333em;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 1.5em;
    text-align: justify;
    text-indent: 2em;
    text-justify: inter-ideograph;
    margin: 0.5em 0
    }
.heiti1 {
    display: block;
    font-family: heiti;
    font-size: 1.33333em;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 1.5em;
    text-align: justify;
    text-indent: 2em;
    text-justify: inter-ideograph;
    margin: 1em 0 0
    }
.image-single {
    display: block;
    text-align: center
    }
.italic {
    font-style: italic
    }
.kaiti {
    display: block;
    font-family: kaiti;
    font-size: 1.33333em;
    letter-spacing: 0;
    line-height: 1.5em;
    text-align: center;
    text-indent: 0;
    text-justify: inter-ideograph;
    margin: 1em 0 0
    }
.kaiti1 {
    display: block;
    font-family: kaiti;
    font-size: 1.33333em;
    letter-spacing: 0;
    line-height: 1.5em;
    text-align: justify;
    text-indent: 2em;
    text-justify: inter-ideograph;
    margin: 0.5em 0
    }
.kaiti2 {
    display: block;
    font-family: kaiti;
    font-size: 1.33333em;
    letter-spacing: 0;
    line-height: 1.5em;
    text-align: justify;
    text-indent: 2em;
    text-justify: inter-ideograph;
    margin: 1em 0 0
    }
.kaiti3 {
    display: block;
    font-family: kaiti;
    font-size: 1.33333em;
    letter-spacing: 0;
    line-height: 1.5em;
    text-align: right;
    text-indent: 2em;
    text-justify: inter-ideograph;
    margin: 1em 0 0
    }
.kaiti4 {
    display: block;
    font-family: kaiti;
    font-size: 1.33333em;
    letter-spacing: 0;
    line-height: 1.5em;
    text-align: center;
    text-indent: 0;
    text-justify: inter-ideograph;
    margin: 0.5em 0
    }
.sigil_not_in_toc {
    color: #000;
    display: block;
    font-size: 1.88889em;
    font-weight: normal;
    line-height: 1.2;
    text-align: left;
    text-indent: 0;
    margin: 2em 0 1.3em
    }
.tushuo {
    display: block;
    font-family: kaiti;
    font-size: 1em;
    letter-spacing: 0;
    line-height: 1.2em;
    text-align: center;
    text-indent: 0;
    text-justify: inter-ideograph;
    margin: 0.5em 0 0
    }
