.bold {
    font-weight: bold;
    line-height: 1.2
    }
.bold1 {
    font-weight: bold
    }
.bold2 {
    display: block;
    font-weight: bold;
    text-indent: 2em;
    margin: 1em 0 0
    }
.calibre {
    display: block;
    font-size: 1em;
    margin: 0 5pt;
    padding: 0
    }
.calibre1 {
    display: block;
    line-height: 1.2
    }
.calibre2 {
    display: block
    }
.calibre3 {
    color: #a9732d;
    text-decoration: none
    }
.calibre4 {
    font-size: 0.75em;
    line-height: normal;
    vertical-align: sub
    }
.calibre5 {
    font-size: 0.75em;
    line-height: normal;
    vertical-align: super
    }
.calibre6 {
    color: #a9732d;
    line-height: 1.2;
    text-decoration: none
    }
.content_ {
    display: block;
    line-height: 1.618em;
    text-align: center;
    text-indent: 0;
    margin: 0
    }
.contents {
    display: block;
    font-size: 1em;
    line-height: 200%;
    margin-left: 0;
    text-align: justify
    }
.contents-title {
    display: block;
    font-size: 2em;
    font-weight: normal;
    line-height: 200%;
    text-align: center
    }
.div {
    display: block;
    padding: 0.2em;
    border-top: #000 solid 1px;
    border-bottom: #000 solid 1px
    }
.div1 {
    border-radius: 0.5em;
    display: block;
    font-size: 1em;
    line-height: 1.2;
    word-break: break-all;
    word-wrap: break-word;
    margin: 1em 2em;
    padding: 0.5em;
    border: #000 solid 1px
    }
.fnote {
    display: block;
    font-size: 1em;
    line-height: 200%;
    text-align: justify;
    text-indent: 0;
    margin: 0
    }
.formula-1-5em {
    height: 1.2em;
    width: auto;
    border: currentColor none 0
    }
.formula-1-5em1 {
    height: 1.2em;
    line-height: 1.2;
    width: auto;
    border: currentColor none 0
    }
.formula-2em {
    height: 1.8em;
    width: auto;
    border: currentColor none 0
    }
.img {
    height: auto;
    width: 80%;
    border: currentColor none 0
    }
.img1 {
    height: auto;
    line-height: 1.2;
    width: 80%;
    border: currentColor none 0
    }
.img2 {
    height: auto;
    line-height: 1.2;
    width: 30%;
    border: currentColor none 0
    }
.img3 {
    height: auto;
    width: 30%;
    border: currentColor none 0
    }
.italic {
    font-style: italic
    }
.italic1 {
    font-style: italic;
    line-height: 1.2
    }
.middle-img {
    display: block;
    font-size: 1em;
    line-height: 200%;
    text-align: center;
    margin: 0
    }
.p {
    color: #a9732d;
    display: block;
    font-size: 1.66667em;
    font-weight: normal;
    line-height: 200%;
    text-align: center;
    margin: 0.67em 0
    }
.pic {
    display: block;
    margin-bottom: 10px;
    margin-top: 10px;
    text-align: center
    }
.pic1 {
    display: block;
    line-height: 1.2;
    margin-bottom: 10px;
    margin-top: 10px;
    text-align: center
    }
.tg-author {
    display: block;
    text-align: center;
    margin: 1em 0 0
    }
.tg-pub {
    display: block;
    text-align: center;
    margin: 6em 0 1em
    }
.tg-title {
    display: block;
    text-align: center;
    margin: 2em 0 0
    }
.yanse {
    display: block;
    font-size: 1em;
    font-weight: bold;
    line-height: 200%;
    text-indent: 2em;
    margin: 1em 0
    }
.yanse1 {
    color: #a9732d;
    font-size: 1em;
    line-height: 200%;
    text-indent: 2em
    }
.you {
    display: block;
    font-size: 1em;
    line-height: 200%;
    text-align: right;
    margin: 1em 0
    }
.ziti {
    display: block;
    font-size: 1em;
    line-height: 1.2;
    text-align: left;
    text-indent: 2em;
    margin: 1em 0
    }
.ziti1 {
    display: block;
    font-size: 1em;
    line-height: 200%;
    text-align: left;
    text-indent: 0;
    margin: 1em 0
    }
.ziti2 {
    display: block;
    font-size: 1em;
    line-height: 1.2;
    text-align: center;
    margin: 1em 0
    }
.ziti3 {
    display: block;
    font-size: 1em;
    font-weight: bold;
    line-height: 1.2;
    text-align: center;
    margin: 1em 0
    }
.ziti4 {
    display: block;
    font-size: 1em;
    line-height: 1.618em;
    text-indent: 2em;
    margin: 0
    }
.ziti5 {
    display: block;
    font-size: 1em;
    text-indent: 2em;
    margin: 0
    }
.ziti6 {
    display: block;
    font-size: 1em;
    line-height: 1.2;
    text-indent: 2em;
    margin: 0
    }
.pcalibre:hover {
    text-decoration: underline
    }
