.calibre {
    display: block;
    font-size: 1em;
    line-height: 1.618em;
    padding-left: 0;
    padding-right: 0;
    text-align: justify;
    margin: 0 5pt
    }
.calibre1 {
    display: block;
    line-height: 1.2
    }
.calibre2 {
    display: block;
    font-size: 1em;
    line-height: 1.618em;
    padding-left: 0;
    padding-right: 0;
    margin: 0 5pt
    }
.calibre3 {
    color: #00C
    }
.calibre4 {
    display: block;
    text-indent: 2em;
    margin: 1em 0
    }
.calibre5 {
    display: block
    }
.calibre6 {
    font-size: 0.75em;
    line-height: normal;
    vertical-align: super
    }
.calibre7 {
    color: gray;
    display: block;
    height: 2px;
    margin: 0.5em auto;
    border: currentColor inset 1px
    }
.calibre8 {
    display: list-item
    }
.calibre9 {
    color: gray;
    display: block;
    height: 2px;
    width: 30%;
    margin: 0.5em auto;
    border: currentColor inset 1px
    }
.calibre10 {
    font-size: 0.9em;
    line-height: normal;
    vertical-align: super
    }
.calibre11 {
    display: table-row-group;
    vertical-align: middle
    }
.calibre12 {
    display: table-row;
    vertical-align: inherit
    }
.calibre13 {
    height: 0.1em;
    width: auto
    }
.copyright-bodytext {
    display: block;
    font-family: STSong, "Song S", Song, 宋体;
    font-size: 1em;
    line-height: 1.2;
    text-indent: 0;
    margin: 1em 0
    }
.copyright-title {
    display: block;
    font-family: STSong, "Song S", Song, 宋体;
    font-size: 1.29167em;
    text-indent: 0;
    margin: 2em auto 1.5em
    }
.empty {
    display: block;
    margin-bottom: 2.2em;
    margin-top: 2.2em
    }
.fnote {
    display: block;
    font-size: 0.83333em;
    line-height: 1.5em;
    text-align: justify;
    text-indent: 2em;
    margin: 0.5em 0
    }
.fnote1 {
    display: block;
    font-size: 0.83333em;
    line-height: 1.5em;
    text-align: justify;
    text-indent: 0;
    margin: 0.5em 0
    }
.font {
    font-size: 1.54839em;
    line-height: 1.2
    }
.font1 {
    font-size: 0.83333em
    }
.kindle-cn-bodycontent-div-alone {
    display: block;
    text-align: center;
    width: 100%
    }
.kindle-cn-bodycontent-div-right {
    display: block;
    float: right;
    font-size: 1em;
    margin-left: 1em;
    width: 35%
    }
.kindle-cn-bodycontent-image-alone {
    height: auto;
    margin-bottom: 0.5em;
    width: 80%
    }
.kindle-cn-bodycontent-image-alone1 {
    height: auto;
    margin-bottom: 0.5em;
    width: 100%
    }
.kindle-cn-bodycontent-image-alone2 {
    height: auto;
    margin-bottom: 0.5em;
    width: 50%
    }
.kindle-cn-bold {
    font-weight: bold;
    line-height: 1.2
    }
.kindle-cn-bold1 {
    font-weight: bold
    }
.kindle-cn-bold2 {
    display: block;
    font-weight: bold;
    text-indent: 2em;
    margin: 1em 0
    }
.kindle-cn-exam-choice {
    display: block;
    font-size: 1em;
    text-indent: -3em;
    margin: 1em 0 1em 3em
    }
.kindle-cn-exam-choice1 {
    display: block;
    font-size: 1em;
    text-indent: 0;
    margin: 1em 0 1em 2em
    }
.kindle-cn-heading {
    display: block;
    font-family: STKai, "MKai PRC", Kai, 楷体;
    font-size: 1.29167em;
    font-weight: normal;
    text-align: center;
    text-indent: 0;
    margin: 2.2em 0 0.8em
    }
.kindle-cn-heading1 {
    display: block;
    font-family: "MYing Hei S", Hei, 黑体;
    font-size: 1.66667em;
    font-weight: normal;
    line-height: 1.2;
    text-align: center;
    margin: 0.8em 0
    }
.kindle-cn-heading2 {
    display: block;
    font-size: 1.29167em;
    font-weight: bold;
    text-align: center;
    text-indent: 0;
    margin: 1em 0;
    border-bottom: #767676 solid 1px
    }
.kindle-cn-heading2a {
    display: block;
    font-family: STKai, "MKai PRC", Kai, 楷体;
    font-size: 1.29167em;
    font-weight: normal;
    text-align: center;
    text-indent: 0;
    margin: 0.2em 0 2.2em
    }
.kindle-cn-heading3 {
    display: block;
    font-size: 1.29167em;
    font-weight: bold;
    text-align: center;
    text-indent: 0;
    margin: 1.33em 0
    }
.kindle-cn-hei {
    font-family: "MYing Hei S", Hei, "黑体";
    font-weight: bold
    }
.kindle-cn-indent {
    display: block;
    width: 88%;
    margin: 10% auto 0
    }
.kindle-cn-inline-image {
    height: 1em;
    margin-left: 0;
    margin-right: 0;
    vertical-align: middle;
    width: auto
    }
.kindle-cn-inline-image1 {
    height: 2.5em;
    margin-left: 0;
    margin-right: 0;
    vertical-align: middle;
    width: auto
    }
.kindle-cn-inline-image2 {
    height: 2em;
    margin-left: 0;
    margin-right: 0;
    vertical-align: middle;
    width: auto
    }
.kindle-cn-inline-image3 {
    height: 7em;
    margin-left: 0;
    margin-right: 0;
    vertical-align: middle;
    width: auto
    }
.kindle-cn-italic {
    font-style: italic
    }
.kindle-cn-kai {
    display: block;
    font-family: STKai, "MKai PRC", Kai, "楷体";
    text-indent: 2em;
    margin: 1em 0
    }
.kindle-cn-kai1 {
    font-family: STKai, "MKai PRC", Kai, "楷体"
    }
.kindle-cn-para-3em-indent {
    display: block;
    margin-left: 3em
    }
.kindle-cn-para-center {
    color: #146eb4;
    display: block;
    font-size: 1.66667em;
    font-weight: bold;
    line-height: 1.2;
    text-align: center;
    text-indent: 0;
    margin: 1em 0
    }
.kindle-cn-para-center1 {
    display: block;
    font-weight: bold;
    text-align: center;
    text-indent: 0;
    margin: 1em 0
    }
.kindle-cn-para-no-indent {
    display: block;
    text-indent: 0;
    margin: 1em 0
    }
.kindle-cn-picture-txt-withfewcharactors {
    display: block;
    font-family: STKai, "MKai PRC", Kai, "楷体";
    font-size: 0.83333em;
    font-weight: bold;
    text-align: center;
    text-indent: 0;
    margin: 0.3em 0 1em
    }
.kindle-cn-picture-txt-withfewcharactors1 {
    display: block;
    font-family: STKai, "MKai PRC", Kai, "楷体";
    font-size: 0.83333em;
    text-align: center;
    text-indent: 0;
    margin: 0.3em 0 1em
    }
.kindle-cn-picture-txt-withmanycharactors {
    display: block;
    font-family: STKai, "MKai PRC", Kai, "楷体";
    font-size: 0.83333em;
    text-align: left;
    text-indent: 0;
    margin: 0.3em 0 1em
    }
.kindle-cn-picture-txt-withmanycharactors1 {
    display: block;
    font-family: STKai, "MKai PRC", Kai, "楷体";
    font-size: 0.83333em;
    font-weight: bold;
    text-align: left;
    text-indent: 0;
    margin: 0.3em 0 1em
    }
.kindle-cn-poem-center {
    display: block;
    font-family: STKai, "MKai PRC", Kai, "楷体";
    text-align: center;
    text-indent: 0;
    margin: 1em 0
    }
.kindle-cn-qa {
    font-family: STKai, "MKai PRC", Kai, "楷体";
    font-weight: bold
    }
.kindle-cn-ref {
    display: block;
    font-family: STKai, "MKai PRC", Kai, "楷体";
    font-weight: bold;
    text-indent: -1.5em;
    margin: 0 2em 0 4em
    }
.kindle-cn-ref1 {
    display: block;
    font-family: STKai, "MKai PRC", Kai, "楷体";
    font-weight: bold;
    text-indent: 0;
    margin: 0 2em
    }
.kindle-cn-ref2 {
    display: block;
    font-family: STKai, "MKai PRC", Kai, "楷体";
    font-weight: bold;
    text-align: center;
    text-indent: 0;
    margin: 0 2em
    }
.kindle-cn-ref3 {
    display: block;
    font-size: 0.83333em;
    text-indent: 2em;
    margin: 0 2em
    }
.kindle-cn-signature {
    display: block;
    font-size: 0.83333em;
    text-align: right;
    text-indent: 2em;
    margin: 1em 0
    }
.kindle-cn-specialtext-double {
    border-bottom: currentColor solid 1px
    }
.kindle-cn-table-body {
    border-bottom-style: none;
    border-bottom-width: 1px;
    border-collapse: separate;
    border-left-style: none;
    border-left-width: 1px;
    border-right-style: solid;
    border-right-width: 1px;
    border-spacing: 2px;
    border-top-style: solid;
    border-top-width: 1px;
    display: table;
    font-size: 0.83333em;
    text-indent: 0;
    width: 100%;
    margin: 1em auto
    }
.kindle-cn-table-dg {
    background-color: #c7c7c7;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-left-style: solid;
    border-left-width: 1px;
    border-right-style: none;
    border-right-width: 1px;
    border-top-style: none;
    border-top-width: 1px;
    display: table-cell;
    text-align: left;
    vertical-align: top;
    padding: 0.5em
    }
.kindle-cn-table-dg1 {
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-left-style: solid;
    border-left-width: 1px;
    border-right-style: none;
    border-right-width: 1px;
    border-top-style: none;
    border-top-width: 1px;
    display: table-cell;
    text-align: left;
    vertical-align: top;
    padding: 0.5em
    }
.kindle-cn-toc-level {
    display: block;
    margin-left: 0
    }
.kindle-cn-toc-level1 {
    display: block;
    margin-left: 2em
    }
.kindle-cn-toc-title {
    display: block;
    font-size: 2em;
    font-weight: bold;
    letter-spacing: 1em;
    line-height: 1.2;
    text-align: center;
    margin: 0.67em 0 0.5em;
    border-bottom: #000 dotted 1.5px
    }
.kindle-cn-ul-disc {
    display: block;
    list-style-type: disc;
    margin-bottom: 1em;
    margin-right: 0;
    margin-top: 1em
    }
.math-super {
    font-size: 0.75em;
    vertical-align: super
    }
.page-break {
    display: block
    }
