body {
	font-size: 1em;
	text-align: justify;
	line-height: 1.618em;
}

p {
	text-indent: 2em;
	margin:0.25em 0em 0.25em 0em;
}

div.ref{
	margin: 1.5em 0em 1.5em 2em;
	font-size: 1.05em;
	font-family:"hzkt",STKai, "MKai PRC", Kai;
}

div.copyright-text {
	margin:0em 0em 0em 0em;
}

div.copyright-text p{
	line-height: 1.25em;
	text-indent: 0em;
}

div.center1 {
	text-align: left;
	text-indent: 0em;
	margin: -1em 0em 1.5em 0em;
	font-size: 0.95em;
	font-family: "hzkt",STKai, "MKai PRC", Kai;
}

div.footnotes{
	margin:2em 0em 0em 0em;
	font-size: 0.9em;
}

div.frame-3 {
	font-size: 1em;
	padding: 0em 1em 0em 1em;
	margin: 1em 0em 1em 0em;
	border-style: solid solid solid solid;
	border-width: 1px;
	background-color: #dddddd;
}

p.para-right{
	text-align: right;
	margin-right: 2em;
}

:lang(ja) {
  font-family: TBGothic, TBMincho, TBGothic, HYGothic, TsukushiMincho;
}

h1.heading-0 {
	margin:2em 0em 6em 0em;
	font-size: 1.7em;
	text-align: left;
	line-height: 1.618em;
	font-family: "hzht","MYing Hei S", Hei;
}


h1.heading-4 {
	margin:2em 0em 0.5em 0em;
	font-size: 1.8em;
	text-align: left;
	line-height: 1.618em;
	font-family: "hzht","MYing Hei S", Hei;
}

h2.heading-0 {
	margin:1em 0em 1em 0em;
	font-size: 1.3em;
	text-align: left;
	line-height: 1.618em;
}

h3.heading-0 {
	margin:0.5em 0em 1em 0em;
	font-size: 1.3em;
	text-align: left;
	line-height: 1.618em;
}

p.sub-h1 {
	margin:1em 0em 10em 0em;
	font-size: 1em;
	font-weight: bold;
	text-align: left;
	text-indent: 0em;
	line-height: 1.618em;
	font-family: "hzht","MYing Hei S", Hei;
}

div.alone100 {
    width: 100%;
    text-align: center;
    margin: 1.5em 0em 1.5em 0em;
}

img.w100 {
	width: 100%;
	margin-bottom: 0em;
}

img.w80 {
	width: 80%;
	margin-bottom: 0em;
}

img.w70 {
	width: 70%;
	margin-bottom: 0em;
}

img.w60 {
	width: 60%;
	margin-bottom: 0em;
}

img.w50 {
	width: 50%;
	margin-bottom: 0em;
}

img.w30 {
	width: 30%;
	margin-bottom: 0em;
}

img.w25 {
	width: 25%;
	margin-bottom: 0em;
}

span.note-1 {
	vertical-align:super;
	font-size: 0.7em;
	border-style: solid;
	border-color: #000000;
	border-width: 1px;
	background-color: #bbbbbb;
}

span.note-b {
	border-style: solid;
	border-color: #000000;
	border-width: 1px;
	background-color: #bbbbbb;
}

span.n-sup {
	vertical-align:super;
	font-size: 0.7em;
}

span.n-sub {
	vertical-align:sub;
	font-size: 0.7em;
}

span.w1 {
	vertical-align: baseline;
	font-size: 0.6em;
}

span.txt-b{
	font-weight: bold;
}

span.txt-i{
	font-style: italic;
}

a:link {
text-decoration: none;
}

a:visited {
text-decoration: none;
}

a:hover {
text-decoration: none;
}

a:active {
text-decoration: none;
}

@font-face {
	font-family: "hzss";
	src:
	local("STSongti"),
	local("STSong"),
	local("Song S"),
	local("Song T"),
	local("Song"),
	local("STBShusong"),
	local("TBMincho"),
	local("HYMyeongJo");
	url("../Fonts/m1-m12-shusong.ttf") format("truetype");
}

@font-face {
	font-family: "hzfs";
	src:
	local("fs"),
	local("FangSong"),
	local("仿宋"),
	local("仿宋_GB2312"),
	local("Yuanti"),
	local("Yuanti SC"),
	local("Yuanti TC"),
	local("STYuanti"),
	local("STYuan"),
	local("DK-FANGSONG"),
	url(XXXXXXXXXXXXXXXX) format("truetype"),
	url(XXXXXXXXXXXXXXXX),
	url(XXXXXXXXXXXXXXXX),
	url(XXXXXXXXXXXXXXXX),
	url(XXXXXXXXXXXXXXXX),
	url(XXXXXXXXXXXXXXXX),
	url(XXXXXXXXXXXXXXXX),
	url(XXXXXXXXXXXXXXXX),
	url(XXXXXXXXXXXXXXXX),
	url(XXXXXXXXXXXXXXXX),
	url(XXXXXXXXXXXXXXXX),
	url(XXXXXXXXXXXXXXXX),
	url(XXXXXXXXXXXXXXXX),
	url(XXXXXXXXXXXXXXXX),
	url(XXXXXXXXXXXXXXXX),
	url(XXXXXXXXXXXXXXXX),
	url(XXXXXXXXXXXXXXXX),
	url(XXXXXXXXXXXXXXXX),
	url(XXXXXXXXXXXXXXXX),
	url(XXXXXXXXXXXXXXXX),
	url(XXXXXXXXXXXXXXXX),
	url(XXXXXXXXXXXXXXXX),
	url(XXXXXXXXXXXXXXXX),
	url(XXXXXXXXXXXXXXXX),
	url(XXXXXXXXXXXXXXXX),
	url(XXXXXXXXXXXXXXXX),
	url(XXXXXXXXXXXXXXXX),
	url(XXXXXXXXXXXXXXXX),
	url(XXXXXXXXXXXXXXXX);
}

@font-face {
	font-family: "hzkt";
	src:
	local("kt"),
	local("KaiTi"),
	local("Kaiti"),
	local("Kai")
	local("楷体"),
	local("楷体_GB2312"),
	local("Kaiti SC"),
	local("Kaiti TC"),
	local("STKaiti"),
	local("STKai"),
	local("MKai PRC"),
	local("MKaiGB18030C-Medium"),
	local("MKaiGB18030C-Bold"),
	local("DK-KAITI"),
	url(XXXXXXXXXXXXXXXX) format("truetype"),
	url(XXXXXXXXXXXXXXXX),
	url(XXXXXXXXXXXXXXXX),
	url(XXXXXXXXXXXXXXXX),
	url(XXXXXXXXXXXXXXXX),
	url(XXXXXXXXXXXXXXXX),
	url(XXXXXXXXXXXXXXXX),
	url(XXXXXXXXXXXXXXXX),
	url(XXXXXXXXXXXXXXXX),
	url(XXXXXXXXXXXXXXXX),
	url(XXXXXXXXXXXXXXXX),
	url(XXXXXXXXXXXXXXXX),
	url(XXXXXXXXXXXXXXXX),
	url(XXXXXXXXXXXXXXXX),
	url(XXXXXXXXXXXXXXXX),
	url(XXXXXXXXXXXXXXXX),
	url(XXXXXXXXXXXXXXXX),
	url(XXXXXXXXXXXXXXXX),
	url(XXXXXXXXXXXXXXXX),
	url(XXXXXXXXXXXXXXXX),
	url(XXXXXXXXXXXXXXXX),
	url(XXXXXXXXXXXXXXXX),
	url(XXXXXXXXXXXXXXXX),
	url(XXXXXXXXXXXXXXXX),
	url(XXXXXXXXXXXXXXXX),
	url(XXXXXXXXXXXXXXXX),
	url(XXXXXXXXXXXXXXXX),
	url(XXXXXXXXXXXXXXXX),
	url(XXXXXXXXXXXXXXXX);
}

@font-face {
	font-family: "hzht";
	src:
	local("ht"),
	local("HeiTi"),
	local("Heiti"),
	local("Hei")
	local("黑体"),
	local("Heiti"),
	local("Heiti SC"),
	local("Heiti TC"),
	local("STHeiti"),
	local("STHei"),
	local("MYing Hei S"),
	local("MYing Hei T"),
	local("TBGothic"),
	local("DK-HEITI"),
	local("微软雅黑"),
	url(XXXXXXXXXXXXXXXX) format("truetype"),
	url(XXXXXXXXXXXXXXXX),
	url(XXXXXXXXXXXXXXXX),
	url(XXXXXXXXXXXXXXXX),
	url(XXXXXXXXXXXXXXXX),
	url(XXXXXXXXXXXXXXXX),
	url(XXXXXXXXXXXXXXXX),
	url(XXXXXXXXXXXXXXXX),
	url(XXXXXXXXXXXXXXXX),
	url(XXXXXXXXXXXXXXXX),
	url(XXXXXXXXXXXXXXXX),
	url(XXXXXXXXXXXXXXXX),
	url(XXXXXXXXXXXXXXXX),
	url(XXXXXXXXXXXXXXXX),
	url(XXXXXXXXXXXXXXXX),
	url(XXXXXXXXXXXXXXXX),
	url(XXXXXXXXXXXXXXXX),
	url(XXXXXXXXXXXXXXXX),
	url(XXXXXXXXXXXXXXXX),
	url(XXXXXXXXXXXXXXXX),
	url(XXXXXXXXXXXXXXXX),
	url(XXXXXXXXXXXXXXXX),
	url(XXXXXXXXXXXXXXXX),
	url(XXXXXXXXXXXXXXXX),
	url(XXXXXXXXXXXXXXXX),
	url(XXXXXXXXXXXXXXXX),
	url(XXXXXXXXXXXXXXXX),
	url(XXXXXXXXXXXXXXXX),
	url(XXXXXXXXXXXXXXXX),
	url(XXXXXXXXXXXXXXXX);
}

