/* 版权信息页标题 */
h1.copyrightpage-title { 
	
	font-weight: normal; 
	text-align: center; 
	border-style: none none dotted none;
	border-width: 1.5px;
	margin:1em 0em 1em 0em;
}

/* 版权信息页正文 */
p.copyright-bodytext {
	
	margin:2em;
	text-indent: 0em;
	duokan-text-indent: 0em;
}




/* 封面图像居中 */
img.img-height100{
	height:100%;
}
/* 封面框图像居中 */
div.img-center{
	text-align:center;
	margin:0em 0em 0em 0em;
	padding:0em;
}

/* 目录标题 */
h1.contents-title {
	
	font-weight: normal;
	border-style: none none dotted none;
	border-width: 1.5px;
	margin:1em 0em 1em 0em;
	text-align:left;
	text-indent: 0em;
    duokan-text-indent: 0em;
	

}

/* 目录页标题-一级 */
div.contents-chapter-1 {
	
	font-weight: bold;
	margin-left:0.5em;
}
/* 目录页标题-二级 */
/* 目录页标题-三级 */
/* 一级标题 */
h1.chapter-one{
	
	margin-top:2em;
	
	text-align: center; 
	
}
/* 二级标题 */
h2.chapter-two{
	
	margin-top:2em;
	margin-bottom:2em;
	font-weight: bold;
	text-align: center; 
	font-size:1.5em;
	
}
/* 二级标题 */
h2.sigil_not_in_toc{
    font-size: 0.95em;
    margin-top: 2em;
    text-indent: 0em;
    font-weight: bold;
	
}
/* 三级标题 */
/* 居中标题 */
/* 小标题 */
/* 正文 */
p.bodytext {
	text-indent: 2em;
}
/* 文内引文 */
/* 文内居中 */
p.yinwen-c{
	font-family:"楷体";
    text-indent: 2em;
	margin:20%;
text-align:center;
}


/* p图注左 */
p.tuzhu-left{
	font-family:"楷体";
	font-size:0.8em;
	text-align:left;
}
/* p图注中 */
p.tuzhu-center{
	font-family:"楷体";
	font-size:0.8em;
	text-align:center;
}
/* 图片-无图注 */
/* 图片-无图注 */
/* 图片-有图注 */
img.image-tuzhu{
	width:50%;
	margin-bottom:0.3em;
}
/* div图片左40% */
/* div图片中40% */
/* div图片右40% */
/* div图片左-环绕40% */
/* div图片右-环绕40% */
/* 诗居左 */
/* 诗居左 */
/* 诗居左 */
/* 诗居中 */
/* 图片40% */
/* 落款 */
p.bodytext-right {
	font-family:"楷体";
	text-align:right;
	margin-bottom:2em;
}
/* 部分加粗 */
span.jiacu {
	font-weight:bold;
} 
/* 造字 */
/* 公式 */
span.noteSuper{
	vertical-align:super;
	font-size:0.8em;
}
p.noteContent{
	font-size:0.8em;
	font-family:"楷体";
}
/* 部分斜体 */
/* 书信开头 */
/* 引文小标题 */
p.biaoti
{
  margin-top: 1.5em;
    margin-left: 0em;
    text-indent: 0em;
    duokan-text-indent: 0em;
    text-align: left;
     font-size:1.3em;
}

/* 引文小标题 */
p.biaoti0
{
  margin-top: 1.5em;
    margin-left: 0em;
    text-indent: 0em;
    duokan-text-indent: 0em;
    text-align: left;
     font-size:1.2em;
}

/* 引文小标题 */
/* 引文小标题 */
/* 引文小标题 */
/* 人名 */
/* 边框 */
