.bold {
    font-weight: bold
    }
.calibre {
    display: block;
    font-size: 1em;
    padding-left: 0;
    padding-right: 0;
    text-align: justify;
    margin: 0 5pt
    }
.calibre_ {
    display: block;
    text-align: center;
    text-indent: 0;
    margin: 0
    }
.calibre_1 {
    display: block;
    text-align: center;
    text-indent: 0;
    margin: 2em 0 0
    }
.calibre_2 {
    display: block;
    text-align: center;
    text-indent: 0;
    margin: 1em 0 0
    }
.calibre_3 {
    display: block;
    text-align: center;
    text-indent: 0;
    margin: 6em 0 0
    }
.calibre_4 {
    display: block;
    text-align: justify;
    text-indent: 2em;
    margin: 0
    }
.calibre_5 {
    display: block;
    margin: 1em 0 0 2em
    }
.calibre_6 {
    display: block;
    text-align: justify;
    text-indent: 0;
    margin: 0 0 0 2em
    }
.calibre_7 {
    display: block;
    margin: 0 0 0 2em
    }
.calibre_8 {
    display: block;
    text-align: center;
    text-indent: 0;
    margin: 4em 0 0
    }
.calibre_9 {
    display: block;
    text-align: justify;
    text-indent: 2em;
    margin: 2em 0 0
    }
.calibre_10 {
    display: block;
    text-align: center;
    text-indent: 0;
    margin: 4pt 0 0
    }
.calibre_11 {
    height: 631px;
    vertical-align: baseline;
    width: 371px
    }
.calibre_12 {
    height: 490px;
    vertical-align: baseline;
    width: 389px
    }
.calibre_13 {
    height: 563px;
    vertical-align: baseline;
    width: 549px
    }
.calibre_14 {
    height: 553px;
    vertical-align: baseline;
    width: 357px
    }
.calibre_15 {
    height: 244px;
    vertical-align: baseline;
    width: 389px
    }
.calibre_16 {
    height: 435px;
    vertical-align: baseline;
    width: 459px
    }
.calibre_17 {
    height: 489px;
    vertical-align: baseline;
    width: 290px
    }
.calibre_18 {
    height: 392px;
    vertical-align: baseline;
    width: 652px
    }
.calibre_19 {
    height: 385px;
    vertical-align: baseline;
    width: 535px
    }
.calibre_20 {
    height: 319px;
    vertical-align: baseline;
    width: 586px
    }
.calibre_21 {
    height: 264px;
    vertical-align: baseline;
    width: 1911px
    }
.calibre_22 {
    height: 261px;
    vertical-align: baseline;
    width: 325px
    }
.calibre_23 {
    display: block;
    text-align: justify;
    text-indent: 2em;
    margin: 4pt 0 0
    }
.calibre_24 {
    height: 275px;
    vertical-align: baseline;
    width: 381px
    }
.calibre_25 {
    height: 479px;
    vertical-align: baseline;
    width: 974px
    }
.calibre_26 {
    display: block;
    text-align: justify;
    text-indent: 2em;
    margin: 1em 0 0 2em
    }
.calibre_27 {
    background-color: #eee
    }
.calibre_28 {
    color: #fff
    }
.calibre_29 {
    height: 530px;
    vertical-align: baseline;
    width: 749px
    }
.calibre_30 {
    height: 253px;
    vertical-align: baseline;
    width: 948px
    }
.calibre_31 {
    height: 116px;
    vertical-align: baseline;
    width: 59px
    }
.calibre_32 {
    height: 87px;
    vertical-align: baseline;
    width: 96px
    }
.calibre_33 {
    height: 105px;
    vertical-align: baseline;
    width: 67px
    }
.calibre_34 {
    height: 160px;
    vertical-align: baseline;
    width: 67px
    }
.calibre_35 {
    height: 125px;
    vertical-align: baseline;
    width: 57px
    }
.calibre_36 {
    height: 82px;
    vertical-align: baseline;
    width: 101px
    }
.calibre_37 {
    height: 131px;
    vertical-align: baseline;
    width: 134px
    }
.calibre_38 {
    height: 225px;
    vertical-align: baseline;
    width: 195px
    }
.calibre_39 {
    height: 193px;
    vertical-align: baseline;
    width: 730px
    }
.calibre_40 {
    height: 231px;
    vertical-align: baseline;
    width: 242px
    }
.calibre_41 {
    height: 115px;
    vertical-align: baseline;
    width: 395px
    }
.calibre_42 {
    display: block;
    text-align: center;
    text-indent: 0;
    margin: 1em 0 0 2em
    }
.calibre_43 {
    display: block;
    text-align: justify;
    text-indent: 2em;
    margin: 2em 0 0 2em
    }
.calibre_44 {
    height: 283px;
    vertical-align: baseline;
    width: 289px
    }
.calibre_45 {
    height: 676px;
    vertical-align: baseline;
    width: 768px
    }
.calibre_46 {
    height: 312px;
    vertical-align: baseline;
    width: 406px
    }
.calibre_47 {
    height: 707px;
    vertical-align: baseline;
    width: 974px
    }
.calibre_48 {
    height: 369px;
    vertical-align: baseline;
    width: 583px
    }
.calibre_49 {
    height: 861px;
    vertical-align: baseline;
    width: 314px
    }
.calibre_50 {
    height: 576px;
    vertical-align: baseline;
    width: 509px
    }
.calibre_51 {
    height: 495px;
    vertical-align: baseline;
    width: 149px
    }
.calibre_52 {
    height: 316px;
    vertical-align: baseline;
    width: 510px
    }
.calibre_53 {
    height: 474px;
    vertical-align: baseline;
    width: 362px
    }
.calibre_54 {
    height: 201px;
    vertical-align: baseline;
    width: 771px
    }
.calibre_55 {
    display: block;
    text-align: justify;
    text-indent: 2em;
    margin: 1em 0 0
    }
.calibre_56 {
    height: 1263px;
    vertical-align: baseline;
    width: 1879px
    }
.calibre_57 {
    height: 302px;
    vertical-align: baseline;
    width: 757px
    }
.calibre_58 {
    height: 405px;
    vertical-align: baseline;
    width: 591px
    }
.calibre_59 {
    height: 195px;
    vertical-align: baseline;
    width: 587px
    }
.calibre_60 {
    height: 337px;
    vertical-align: baseline;
    width: 642px
    }
.calibre_61 {
    height: 447px;
    vertical-align: baseline;
    width: 326px
    }
.calibre_62 {
    height: 773px;
    vertical-align: baseline;
    width: 614px
    }
.calibre_63 {
    color: #656262
    }
.calibre_64 {
    color: #41b23b
    }
.calibre_65 {
    height: 472px;
    vertical-align: baseline;
    width: 492px
    }
.calibre_66 {
    height: 115px;
    vertical-align: baseline;
    width: 297px
    }
.calibre_67 {
    height: 341px;
    vertical-align: baseline;
    width: 788px
    }
.calibre_68 {
    height: 419px;
    vertical-align: baseline;
    width: 690px
    }
.calibre_69 {
    height: 42px;
    text-align: middle;
    width: 49px
    }
.calibre_70 {
    height: 42px;
    text-align: middle;
    width: 62px
    }
.calibre_71 {
    height: 42px;
    text-align: middle;
    width: 78px
    }
.calibre_72 {
    height: 42px;
    text-align: middle;
    width: 35px
    }
.calibre_73 {
    color: #2a3d91
    }
.calibre_74 {
    height: 42px;
    text-align: middle;
    width: 123px
    }
.calibre_75 {
    height: 42px;
    text-align: middle;
    width: 52px
    }
.calibre_76 {
    height: 42px;
    text-align: middle;
    width: 45px
    }
.calibre_77 {
    height: 390px;
    vertical-align: baseline;
    width: 301px
    }
.calibre_78 {
    color: #656364
    }
.calibre_79 {
    height: 53px;
    vertical-align: baseline;
    width: 274px
    }
.calibre_80 {
    height: 114px;
    vertical-align: baseline;
    width: 144px
    }
.calibre_81 {
    height: 42px;
    text-align: middle;
    width: 109px
    }
.calibre_82 {
    height: 42px;
    text-align: middle;
    width: 113px
    }
.calibre_83 {
    height: 169px;
    vertical-align: baseline;
    width: 156px
    }
.calibre_84 {
    height: 652px;
    vertical-align: baseline;
    width: 433px
    }
.calibre_85 {
    height: 42px;
    text-align: middle;
    width: 54px
    }
.calibre_86 {
    height: 42px;
    text-align: middle;
    width: 26px
    }
.calibre_87 {
    height: 42px;
    text-align: middle;
    width: 42px
    }
.calibre_88 {
    height: 42px;
    text-align: middle;
    width: 67px
    }
.calibre_89 {
    height: 42px;
    text-align: middle;
    width: 34px
    }
.calibre_90 {
    height: 42px;
    text-align: middle;
    width: 39px
    }
.calibre_91 {
    height: 70px;
    text-align: middle;
    width: 39px
    }
.calibre_92 {
    height: 411px;
    vertical-align: baseline;
    width: 364px
    }
.calibre_93 {
    height: 139px;
    vertical-align: baseline;
    width: 819px
    }
.calibre_94 {
    height: 379px;
    vertical-align: baseline;
    width: 580px
    }
.calibre_95 {
    height: 417px;
    vertical-align: baseline;
    width: 400px
    }
.calibre_96 {
    height: 95px;
    vertical-align: baseline;
    width: 789px
    }
.calibre_97 {
    height: 1111px;
    vertical-align: baseline;
    width: 657px
    }
.calibre_98 {
    height: 224px;
    vertical-align: baseline;
    width: 365px
    }
.calibre_99 {
    height: 394px;
    vertical-align: baseline;
    width: 385px
    }
.calibre_100 {
    height: 410px;
    vertical-align: baseline;
    width: 673px
    }
.calibre_101 {
    height: 42px;
    text-align: middle;
    width: 47px
    }
.calibre_102 {
    height: 470px;
    vertical-align: baseline;
    width: 295px
    }
.calibre_103 {
    height: 398px;
    vertical-align: baseline;
    width: 424px
    }
.calibre_104 {
    height: 741px;
    vertical-align: baseline;
    width: 885px
    }
.calibre_105 {
    height: 306px;
    vertical-align: baseline;
    width: 510px
    }
.calibre_106 {
    height: 93px;
    vertical-align: baseline;
    width: 143px
    }
.calibre_107 {
    height: 491px;
    vertical-align: baseline;
    width: 1292px
    }
.calibre_108 {
    height: 42px;
    text-align: middle;
    width: 44px
    }
.calibre_109 {
    height: 388px;
    vertical-align: baseline;
    width: 302px
    }
.calibre_110 {
    height: 467px;
    vertical-align: baseline;
    width: 797px
    }
.calibre_111 {
    height: 932px;
    vertical-align: baseline;
    width: 785px
    }
.calibre_112 {
    height: 186px;
    vertical-align: baseline;
    width: 223px
    }
.calibre_113 {
    height: 145px;
    vertical-align: baseline;
    width: 891px
    }
.calibre_114 {
    height: 333px;
    vertical-align: baseline;
    width: 517px
    }
.calibre_115 {
    height: 569px;
    vertical-align: baseline;
    width: 973px
    }
.calibre_116 {
    height: 506px;
    vertical-align: baseline;
    width: 791px
    }
.calibre_117 {
    height: 533px;
    vertical-align: baseline;
    width: 384px
    }
.calibre_118 {
    height: 195px;
    vertical-align: baseline;
    width: 326px
    }
.calibre_119 {
    height: 332px;
    vertical-align: baseline;
    width: 200px
    }
.calibre_120 {
    height: 476px;
    vertical-align: baseline;
    width: 772px
    }
.calibre_121 {
    height: 857px;
    vertical-align: baseline;
    width: 882px
    }
.calibre_122 {
    height: 478px;
    vertical-align: baseline;
    width: 540px
    }
.calibre_123 {
    height: 835px;
    vertical-align: baseline;
    width: 551px
    }
.calibre_124 {
    height: 714px;
    vertical-align: baseline;
    width: 484px
    }
.calibre_125 {
    height: 562px;
    vertical-align: baseline;
    width: 797px
    }
.calibre_126 {
    height: 205px;
    vertical-align: baseline;
    width: 800px
    }
.calibre_127 {
    height: 394px;
    vertical-align: baseline;
    width: 814px
    }
.calibre_128 {
    height: 623px;
    vertical-align: baseline;
    width: 827px
    }
.calibre_129 {
    height: 827px;
    vertical-align: baseline;
    width: 644px
    }
.calibre_130 {
    height: 540px;
    vertical-align: baseline;
    width: 552px
    }
.calibre_131 {
    height: 234px;
    vertical-align: baseline;
    width: 233px
    }
.calibre_132 {
    height: 165px;
    vertical-align: baseline;
    width: 645px
    }
.calibre_133 {
    height: 496px;
    vertical-align: baseline;
    width: 385px
    }
.calibre_134 {
    color: #c138a3
    }
.calibre_135 {
    color: #5ec45d
    }
.calibre_136 {
    color: #d11f27
    }
.calibre_137 {
    height: 582px;
    vertical-align: baseline;
    width: 800px
    }
.calibre_138 {
    height: 557px;
    vertical-align: baseline;
    width: 799px
    }
.calibre_139 {
    height: 477px;
    vertical-align: baseline;
    width: 800px
    }
.calibre_140 {
    height: 625px;
    vertical-align: baseline;
    width: 974px
    }
.calibre_141 {
    height: 328px;
    vertical-align: baseline;
    width: 1756px
    }
.calibre_142 {
    height: 727px;
    vertical-align: baseline;
    width: 667px
    }
.calibre_143 {
    height: 42px;
    text-align: middle;
    width: 40px
    }
.calibre_144 {
    height: 563px;
    vertical-align: baseline;
    width: 552px
    }
.calibre_145 {
    height: 335px;
    vertical-align: baseline;
    width: 570px
    }
.calibre_146 {
    height: 448px;
    vertical-align: baseline;
    width: 505px
    }
.calibre_147 {
    height: 348px;
    vertical-align: baseline;
    width: 344px
    }
.calibre_148 {
    height: 42px;
    text-align: middle;
    width: 55px
    }
.calibre_149 {
    height: 621px;
    vertical-align: baseline;
    width: 974px
    }
.calibre_150 {
    height: 299px;
    vertical-align: baseline;
    width: 470px
    }
.calibre_151 {
    height: 294px;
    vertical-align: baseline;
    width: 850px
    }
.calibre_152 {
    height: 641px;
    vertical-align: baseline;
    width: 606px
    }
.calibre_153 {
    height: 459px;
    vertical-align: baseline;
    width: 344px
    }
.calibre_154 {
    height: 335px;
    vertical-align: baseline;
    width: 338px
    }
.calibre_155 {
    height: 361px;
    vertical-align: baseline;
    width: 342px
    }
.calibre_156 {
    height: 417px;
    vertical-align: baseline;
    width: 376px
    }
.calibre_157 {
    height: 374px;
    vertical-align: baseline;
    width: 361px
    }
.calibre_158 {
    height: 476px;
    vertical-align: baseline;
    width: 424px
    }
.calibre_159 {
    height: 221px;
    vertical-align: baseline;
    width: 175px
    }
.calibre_160 {
    height: 430px;
    vertical-align: baseline;
    width: 353px
    }
.calibre_161 {
    height: 267px;
    vertical-align: baseline;
    width: 162px
    }
.calibre_162 {
    height: 112px;
    vertical-align: baseline;
    width: 616px
    }
.calibre_163 {
    color: #fdfdfd
    }
.calibre_164 {
    height: 546px;
    vertical-align: baseline;
    width: 752px
    }
.calibre_165 {
    height: 746px;
    vertical-align: baseline;
    width: 543px
    }
.calibre_166 {
    height: 350px;
    vertical-align: baseline;
    width: 501px
    }
.calibre_167 {
    height: 565px;
    vertical-align: baseline;
    width: 784px
    }
.calibre_168 {
    height: 757px;
    vertical-align: baseline;
    width: 483px
    }
.calibre_169 {
    height: 242px;
    vertical-align: baseline;
    width: 386px
    }
.calibre_170 {
    height: 752px;
    vertical-align: baseline;
    width: 562px
    }
.calibre_171 {
    height: 42px;
    text-align: middle;
    width: 158px
    }
.calibre_172 {
    height: 631px;
    vertical-align: baseline;
    width: 528px
    }
.calibre_173 {
    height: 65px;
    vertical-align: baseline;
    width: 167px
    }
.calibre_174 {
    height: 521px;
    vertical-align: baseline;
    width: 521px
    }
.calibre_175 {
    height: 42px;
    text-align: middle;
    width: 91px
    }
.calibre_176 {
    height: 42px;
    text-align: middle;
    width: 82px
    }
.calibre_177 {
    height: 42px;
    text-align: middle;
    width: 105px
    }
.calibre_178 {
    height: 285px;
    vertical-align: baseline;
    width: 223px
    }
.calibre_179 {
    height: 283px;
    vertical-align: baseline;
    width: 243px
    }
.calibre_180 {
    height: 42px;
    text-align: middle;
    width: 60px
    }
.calibre_181 {
    height: 442px;
    vertical-align: baseline;
    width: 590px
    }
.calibre_182 {
    height: 42px;
    text-align: middle;
    width: 73px
    }
.calibre_183 {
    height: 42px;
    text-align: middle;
    width: 68px
    }
.calibre_184 {
    height: 363px;
    vertical-align: baseline;
    width: 363px
    }
.calibre_185 {
    height: 431px;
    vertical-align: baseline;
    width: 364px
    }
.calibre_186 {
    height: 313px;
    vertical-align: baseline;
    width: 400px
    }
.calibre_187 {
    height: 826px;
    vertical-align: baseline;
    width: 800px
    }
.calibre_188 {
    height: 534px;
    vertical-align: baseline;
    width: 536px
    }
.calibre_189 {
    height: 646px;
    vertical-align: baseline;
    width: 427px
    }
.calibre_190 {
    height: 300px;
    vertical-align: baseline;
    width: 387px
    }
.calibre_191 {
    height: 137px;
    vertical-align: baseline;
    width: 385px
    }
.calibre_192 {
    height: 810px;
    vertical-align: baseline;
    width: 491px
    }
.calibre_193 {
    height: 437px;
    vertical-align: baseline;
    width: 380px
    }
.calibre_194 {
    height: 135px;
    vertical-align: baseline;
    width: 381px
    }
.calibre_195 {
    height: 606px;
    vertical-align: baseline;
    width: 472px
    }
.calibre_196 {
    height: 608px;
    vertical-align: baseline;
    width: 387px
    }
.calibre_197 {
    height: 163px;
    vertical-align: baseline;
    width: 333px
    }
.calibre_198 {
    height: 322px;
    vertical-align: baseline;
    width: 332px
    }
.calibre_199 {
    height: 335px;
    vertical-align: baseline;
    width: 309px
    }
.calibre_200 {
    height: 367px;
    vertical-align: baseline;
    width: 377px
    }
.calibre_201 {
    height: 186px;
    vertical-align: baseline;
    width: 658px
    }
.calibre_202 {
    height: 190px;
    vertical-align: baseline;
    width: 404px
    }
.calibre_203 {
    height: 252px;
    vertical-align: baseline;
    width: 311px
    }
.calibre_204 {
    height: 490px;
    vertical-align: baseline;
    width: 392px
    }
.calibre_205 {
    height: 510px;
    vertical-align: baseline;
    width: 541px
    }
.calibre_206 {
    height: 535px;
    vertical-align: baseline;
    width: 388px
    }
.calibre_207 {
    height: 481px;
    vertical-align: baseline;
    width: 351px
    }
.calibre_208 {
    height: 456px;
    vertical-align: baseline;
    width: 392px
    }
.calibre_209 {
    height: 278px;
    vertical-align: baseline;
    width: 489px
    }
.calibre_210 {
    height: 600px;
    vertical-align: baseline;
    width: 571px
    }
.calibre_211 {
    height: 683px;
    vertical-align: baseline;
    width: 413px
    }
.calibre_212 {
    height: 103px;
    vertical-align: baseline;
    width: 133px
    }
.calibre_213 {
    height: 114px;
    vertical-align: baseline;
    width: 141px
    }
.calibre_214 {
    height: 114px;
    vertical-align: baseline;
    width: 128px
    }
.calibre_215 {
    height: 119px;
    vertical-align: baseline;
    width: 173px
    }
.calibre_216 {
    height: 101px;
    vertical-align: baseline;
    width: 156px
    }
.calibre_217 {
    height: 714px;
    vertical-align: baseline;
    width: 433px
    }
.calibre_218 {
    height: 433px;
    vertical-align: baseline;
    width: 467px
    }
.calibre_219 {
    height: 42px;
    text-align: middle;
    width: 66px
    }
.calibre_220 {
    height: 42px;
    text-align: middle;
    width: 258px
    }
.calibre_221 {
    height: 42px;
    text-align: middle;
    width: 159px
    }
.calibre_222 {
    height: 42px;
    text-align: middle;
    width: 303px
    }
.calibre_223 {
    height: 42px;
    text-align: middle;
    width: 117px
    }
.calibre_224 {
    height: 62px;
    vertical-align: baseline;
    width: 506px
    }
.calibre_225 {
    height: 249px;
    vertical-align: baseline;
    width: 409px
    }
.calibre_226 {
    height: 304px;
    vertical-align: baseline;
    width: 343px
    }
.calibre_227 {
    height: 214px;
    vertical-align: baseline;
    width: 761px
    }
.calibre_228 {
    height: 415px;
    vertical-align: baseline;
    width: 681px
    }
.calibre_229 {
    height: 76px;
    vertical-align: baseline;
    width: 121px
    }
.calibre_230 {
    height: 479px;
    vertical-align: baseline;
    width: 342px
    }
.calibre_231 {
    height: 625px;
    vertical-align: baseline;
    width: 425px
    }
.calibre_232 {
    height: 113px;
    vertical-align: baseline;
    width: 261px
    }
.calibre_233 {
    height: 238px;
    vertical-align: baseline;
    width: 350px
    }
.calibre_234 {
    height: 220px;
    vertical-align: baseline;
    width: 362px
    }
.calibre_235 {
    height: 247px;
    vertical-align: baseline;
    width: 371px
    }
.calibre_236 {
    height: 556px;
    vertical-align: baseline;
    width: 734px
    }
.calibre_237 {
    height: 312px;
    vertical-align: baseline;
    width: 472px
    }
.calibre_238 {
    height: 350px;
    vertical-align: baseline;
    width: 367px
    }
.calibre_239 {
    height: 388px;
    vertical-align: baseline;
    width: 679px
    }
.calibre_240 {
    height: 240px;
    vertical-align: baseline;
    width: 197px
    }
.calibre_241 {
    height: 382px;
    vertical-align: baseline;
    width: 701px
    }
.calibre_242 {
    height: 379px;
    vertical-align: baseline;
    width: 653px
    }
.calibre_243 {
    height: 213px;
    vertical-align: baseline;
    width: 324px
    }
.calibre_244 {
    height: 508px;
    vertical-align: baseline;
    width: 327px
    }
.calibre_245 {
    height: 726px;
    vertical-align: baseline;
    width: 975px
    }
.calibre_246 {
    height: 304px;
    vertical-align: baseline;
    width: 454px
    }
.calibre_247 {
    height: 372px;
    vertical-align: baseline;
    width: 446px
    }
.calibre_248 {
    height: 404px;
    vertical-align: baseline;
    width: 358px
    }
.calibre_249 {
    height: 407px;
    vertical-align: baseline;
    width: 588px
    }
.calibre_250 {
    height: 292px;
    vertical-align: baseline;
    width: 385px
    }
.calibre_251 {
    height: 700px;
    vertical-align: baseline;
    width: 408px
    }
.calibre_252 {
    height: 260px;
    vertical-align: baseline;
    width: 386px
    }
.calibre_253 {
    height: 286px;
    vertical-align: baseline;
    width: 772px
    }
.calibre_254 {
    height: 255px;
    vertical-align: baseline;
    width: 386px
    }
.calibre_255 {
    height: 255px;
    vertical-align: baseline;
    width: 383px
    }
.calibre_256 {
    height: 334px;
    vertical-align: baseline;
    width: 238px
    }
.calibre_257 {
    height: 245px;
    vertical-align: baseline;
    width: 370px
    }
.calibre_258 {
    height: 442px;
    vertical-align: baseline;
    width: 286px
    }
.calibre_259 {
    height: 356px;
    vertical-align: baseline;
    width: 377px
    }
.calibre_260 {
    height: 235px;
    vertical-align: baseline;
    width: 385px
    }
.calibre_261 {
    height: 154px;
    vertical-align: baseline;
    width: 350px
    }
.calibre_262 {
    height: 159px;
    vertical-align: baseline;
    width: 159px
    }
.calibre_263 {
    height: 264px;
    vertical-align: baseline;
    width: 353px
    }
.calibre_264 {
    height: 631px;
    vertical-align: baseline;
    width: 431px
    }
.calibre_265 {
    height: 350px;
    vertical-align: baseline;
    width: 481px
    }
.calibre_266 {
    height: 271px;
    vertical-align: baseline;
    width: 385px
    }
.calibre_267 {
    height: 415px;
    vertical-align: baseline;
    width: 358px
    }
.calibre_268 {
    height: 151px;
    vertical-align: baseline;
    width: 341px
    }
.calibre_269 {
    height: 333px;
    vertical-align: baseline;
    width: 473px
    }
.calibre_270 {
    height: 581px;
    vertical-align: baseline;
    width: 425px
    }
.calibre_271 {
    height: 233px;
    vertical-align: baseline;
    width: 766px
    }
.calibre_272 {
    height: 463px;
    vertical-align: baseline;
    width: 190px
    }
.calibre_273 {
    height: 530px;
    vertical-align: baseline;
    width: 387px
    }
.calibre_274 {
    height: 431px;
    vertical-align: baseline;
    width: 448px
    }
.calibre_275 {
    height: 433px;
    vertical-align: baseline;
    width: 323px
    }
.calibre_276 {
    height: 337px;
    vertical-align: baseline;
    width: 425px
    }
.calibre_277 {
    height: 415px;
    vertical-align: baseline;
    width: 385px
    }
.calibre_278 {
    height: 112px;
    vertical-align: baseline;
    width: 353px
    }
.calibre_279 {
    height: 70px;
    vertical-align: baseline;
    width: 353px
    }
.calibre_280 {
    height: 66px;
    vertical-align: baseline;
    width: 353px
    }
.calibre_281 {
    height: 62px;
    vertical-align: baseline;
    width: 322px
    }
.calibre_282 {
    height: 427px;
    vertical-align: baseline;
    width: 294px
    }
.calibre_283 {
    height: 304px;
    vertical-align: baseline;
    width: 495px
    }
.calibre_284 {
    height: 610px;
    vertical-align: baseline;
    width: 974px
    }
.calibre_285 {
    height: 386px;
    vertical-align: baseline;
    width: 384px
    }
.calibre_286 {
    height: 42px;
    text-align: middle;
    width: 53px
    }
.calibre_287 {
    height: 42px;
    text-align: middle;
    width: 57px
    }
.calibre_288 {
    height: 42px;
    text-align: middle;
    width: 164px
    }
.calibre_289 {
    height: 42px;
    text-align: middle;
    width: 179px
    }
.calibre_290 {
    height: 42px;
    text-align: middle;
    width: 184px
    }
.calibre_291 {
    height: 42px;
    text-align: middle;
    width: 168px
    }
.calibre_292 {
    height: 42px;
    text-align: middle;
    width: 50px
    }
.calibre_293 {
    height: 216px;
    vertical-align: baseline;
    width: 323px
    }
.calibre_294 {
    height: 384px;
    vertical-align: baseline;
    width: 351px
    }
.calibre_295 {
    height: 427px;
    vertical-align: baseline;
    width: 258px
    }
.calibre_296 {
    height: 487px;
    vertical-align: baseline;
    width: 376px
    }
.calibre_297 {
    height: 212px;
    vertical-align: baseline;
    width: 166px
    }
.calibre_298 {
    height: 257px;
    vertical-align: baseline;
    width: 384px
    }
.calibre_299 {
    height: 338px;
    vertical-align: baseline;
    width: 282px
    }
.calibre_300 {
    height: 119px;
    vertical-align: baseline;
    width: 779px
    }
.calibre_301 {
    height: 132px;
    vertical-align: baseline;
    width: 196px
    }
.calibre_302 {
    height: 63px;
    vertical-align: baseline;
    width: 759px
    }
.calibre_303 {
    height: 70px;
    text-align: middle;
    width: 92px
    }
.calibre_304 {
    height: 70px;
    text-align: middle;
    width: 90px
    }
.calibre_305 {
    height: 70px;
    text-align: middle;
    width: 340px
    }
.calibre_306 {
    height: 70px;
    text-align: middle;
    width: 325px
    }
.calibre_307 {
    height: 70px;
    text-align: middle;
    width: 313px
    }
.calibre_308 {
    height: 70px;
    text-align: middle;
    width: 352px
    }
.calibre_309 {
    height: 206px;
    vertical-align: baseline;
    width: 173px
    }
.calibre_310 {
    height: 288px;
    vertical-align: baseline;
    width: 384px
    }
.calibre_311 {
    height: 467px;
    vertical-align: baseline;
    width: 384px
    }
.calibre_312 {
    height: 208px;
    vertical-align: baseline;
    width: 191px
    }
.calibre_313 {
    height: 42px;
    text-align: middle;
    width: 143px
    }
.calibre_314 {
    height: 544px;
    vertical-align: baseline;
    width: 798px
    }
.calibre_315 {
    height: 42px;
    text-align: middle;
    width: 61px
    }
.calibre_316 {
    height: 42px;
    text-align: middle;
    width: 199px
    }
.calibre_317 {
    height: 258px;
    vertical-align: baseline;
    width: 263px
    }
.calibre_318 {
    height: 317px;
    vertical-align: baseline;
    width: 433px
    }
.calibre_319 {
    height: 352px;
    vertical-align: baseline;
    width: 454px
    }
.calibre_320 {
    height: 328px;
    vertical-align: baseline;
    width: 586px
    }
.calibre_321 {
    height: 494px;
    vertical-align: baseline;
    width: 332px
    }
.calibre_322 {
    height: 350px;
    vertical-align: baseline;
    width: 287px
    }
.calibre_323 {
    height: 243px;
    vertical-align: baseline;
    width: 230px
    }
.calibre_324 {
    height: 263px;
    vertical-align: baseline;
    width: 430px
    }
.calibre_325 {
    height: 332px;
    vertical-align: baseline;
    width: 229px
    }
.calibre_326 {
    height: 519px;
    vertical-align: baseline;
    width: 562px
    }
.calibre_327 {
    height: 251px;
    vertical-align: baseline;
    width: 249px
    }
.calibre_328 {
    height: 690px;
    vertical-align: baseline;
    width: 436px
    }
.calibre_329 {
    height: 229px;
    vertical-align: baseline;
    width: 168px
    }
.calibre_330 {
    height: 613px;
    vertical-align: baseline;
    width: 886px
    }
.calibre_331 {
    height: 600px;
    vertical-align: baseline;
    width: 974px
    }
.calibre_332 {
    height: 525px;
    vertical-align: baseline;
    width: 768px
    }
.calibre_333 {
    height: 342px;
    vertical-align: baseline;
    width: 819px
    }
.calibre_334 {
    height: 320px;
    vertical-align: baseline;
    width: 430px
    }
.calibre_335 {
    height: 381px;
    vertical-align: baseline;
    width: 975px
    }
.calibre_336 {
    height: 352px;
    vertical-align: baseline;
    width: 480px
    }
.calibre_337 {
    height: 326px;
    vertical-align: baseline;
    width: 448px
    }
.calibre_338 {
    height: 375px;
    vertical-align: baseline;
    width: 756px
    }
.calibre_339 {
    height: 530px;
    vertical-align: baseline;
    width: 384px
    }
.calibre_340 {
    height: 875px;
    vertical-align: baseline;
    width: 774px
    }
.calibre_341 {
    height: 249px;
    vertical-align: baseline;
    width: 1904px
    }
.calibre_342 {
    height: 408px;
    vertical-align: baseline;
    width: 345px
    }
.calibre_343 {
    height: 227px;
    vertical-align: baseline;
    width: 298px
    }
.calibre_344 {
    height: 371px;
    vertical-align: baseline;
    width: 387px
    }
.calibre_345 {
    height: 96px;
    vertical-align: baseline;
    width: 582px
    }
.calibre_346 {
    height: 153px;
    vertical-align: baseline;
    width: 275px
    }
.calibre_347 {
    height: 334px;
    vertical-align: baseline;
    width: 556px
    }
.calibre_348 {
    height: 481px;
    vertical-align: baseline;
    width: 514px
    }
.calibre_349 {
    height: 816px;
    vertical-align: baseline;
    width: 428px
    }
.calibre_350 {
    height: 263px;
    vertical-align: baseline;
    width: 386px
    }
.calibre_351 {
    height: 398px;
    vertical-align: baseline;
    width: 304px
    }
.calibre_352 {
    height: 184px;
    vertical-align: baseline;
    width: 153px
    }
.calibre_353 {
    height: 182px;
    vertical-align: baseline;
    width: 168px
    }
.calibre_354 {
    height: 178px;
    vertical-align: baseline;
    width: 166px
    }
.calibre_355 {
    height: 213px;
    vertical-align: baseline;
    width: 155px
    }
.calibre_356 {
    height: 178px;
    vertical-align: baseline;
    width: 140px
    }
.calibre_357 {
    height: 253px;
    vertical-align: baseline;
    width: 402px
    }
.calibre_358 {
    display: block;
    text-align: center;
    text-indent: 0;
    margin: 5pt 0 0
    }
.calibre_359 {
    display: block;
    text-align: justify;
    text-indent: 2em;
    margin: 7pt 0 0
    }
.calibre_360 {
    height: 239px;
    vertical-align: baseline;
    width: 294px
    }
.calibre_361 {
    height: 144px;
    vertical-align: baseline;
    width: 826px
    }
.calibre_362 {
    display: block;
    text-indent: -14pt;
    margin: 1em 0 0 14pt
    }
.calibre_363 {
    display: block;
    text-indent: -14pt;
    margin: 0 0 0 14pt
    }
.calibre1 {
    font-size: 1.83333em;
    line-height: 1.2
    }
.calibre2 {
    font-size: 0.75em;
    line-height: normal;
    vertical-align: super
    }
.calibre3 {
    font-size: 0.77778em
    }
.calibre4 {
    font-size: 1.28571em
    }
.calibre5 {
    font-size: 0.75em;
    line-height: normal;
    vertical-align: sub
    }
.calibre6 {
    font-size: 0.75em
    }
.calibre7 {
    font-size: 1.41667em;
    line-height: 1.2
    }
.italic {
    font-style: italic
    }
.mbp_pagebreak {
    display: block;
    margin: 0
    }
