.calibre {
    display: block;
    font-size: 1em;
    padding-left: 0;
    padding-right: 0;
    margin: 0 5pt
    }
.calibre1 {
    display: block;
    text-indent: 0;
    margin: 1em 0
    }
.calibre2 {
    font-weight: bold
    }
.calibre3 {
    color: gray;
    display: block;
    height: 2px;
    border: currentColor inset 1px;
    margin: 0.5em auto
    }
.calibre4 {
    display: block;
    height: 1em;
    border: currentColor none 0;
    margin: 0
    }
.calibre5 {
    display: block
    }
.calibre6 {
    text-decoration: none
    }
.calibre7 {
    font-style: italic
    }
.calibre8 {
    display: block;
    text-align: center;
    text-indent: 0;
    margin: 1em 0
    }
.calibre9 {
    display: block;
    margin: 1em
    }
.calibre10 {
    height: auto;
    width: auto
    }
.calibre11 {
    height: auto;
    width: 70%
    }
.calibre12 {
    height: auto;
    width: 50%
    }
.calibre13 {
    display: block;
    list-style-type: disc;
    margin-bottom: 1em;
    margin-right: 0;
    margin-top: 1em
    }
.calibre14 {
    height: auto;
    width: 85%
    }
.calibre15 {
    height: auto;
    width: 80%
    }
.calibre16 {
    height: auto;
    width: 90%
    }
.calibre17 {
    height: auto;
    width: 31%
    }
.calibre18 {
    height: auto;
    width: 3%
    }
.calibre19 {
    height: auto;
    width: 2%
    }
.calibre20 {
    height: auto;
    width: 20%
    }
.calibre21 {
    height: auto;
    width: 27%
    }
.calibre22 {
    height: auto;
    width: 24%
    }
.calibre23 {
    display: table-row;
    vertical-align: middle
    }
.calibre24 {
    display: table-cell;
    font-size: 0.75em;
    page-break-inside: avoid;
    text-align: left;
    vertical-align: auto;
    border: #000 solid 1px;
    padding: 0.3em
    }
.calibre25 {
    background-color: #f1f6fc;
    display: table-row;
    vertical-align: middle
    }
.calibre26 {
    height: auto;
    width: 48%
    }
.calibre27 {
    text-decoration: underline
    }
.calibre28 {
    display: table-header-group;
    vertical-align: middle
    }
.calibre29 {
    display: table-row;
    vertical-align: inherit
    }
.calibre30 {
    display: table-cell;
    font-size: 0.75em;
    font-weight: bold;
    page-break-inside: avoid;
    text-align: center;
    vertical-align: auto;
    border: #000 solid 1px;
    padding: 0.3em
    }
.calibre31 {
    display: table-row-group;
    vertical-align: middle
    }
.calibre32 {
    background-color: #f1f6fc;
    display: table-row;
    vertical-align: inherit
    }
.calibre33 {
    height: auto;
    width: 32%
    }
.calibre34 {
    height: auto;
    width: 38%
    }
.calibre35 {
    height: auto;
    width: 26%
    }
.calibre36 {
    height: auto;
    width: 43%
    }
.calibre37 {
    height: auto;
    width: 22%
    }
.calibre38 {
    height: auto;
    width: 75%
    }
.calibre39 {
    height: auto;
    width: 77%
    }
.calibre40 {
    height: auto;
    width: 65%
    }
.calibre41 {
    height: auto;
    width: 33%
    }
.calibre42 {
    height: auto;
    width: 51%
    }
.calibre43 {
    height: auto;
    width: 15%
    }
.calibre44 {
    height: auto;
    width: 55%
    }
.calibre45 {
    height: auto;
    width: 52%
    }
.calibre46 {
    height: auto;
    width: 40%
    }
.calibre47 {
    height: auto;
    width: 45%
    }
.calibre48 {
    height: auto;
    width: 66%
    }
.calibre49 {
    height: auto;
    width: 60%
    }
.calibre50 {
    height: auto;
    width: 53%
    }
.calibre51 {
    height: auto;
    width: 58%
    }
.calibre52 {
    height: auto;
    width: 12%
    }
.calibre53 {
    font-size: 0.75em;
    line-height: normal;
    vertical-align: super
    }
.di_1ji_wu_xu_lie_biao {
    display: list-item
    }
.not-in-toc {
    display: block;
    font-size: 2em;
    font-weight: bold;
    line-height: 1.2;
    margin: 0.67em 0
    }
.table {
    border-collapse: collapse;
    border-spacing: 0;
    display: table;
    text-indent: 0;
    margin: 15px auto 30px
    }
.toc-level {
    display: block;
    line-height: 1.5;
    text-indent: 0;
    margin: 0
    }
.zhu_shi_bian_hao {
    font-size: 0.75em;
    font-style: normal;
    font-weight: bold;
    line-height: 1.2;
    position: relative;
    text-decoration: none;
    top: -0.5em;
    vertical-align: baseline
    }
.zhu_shi_bian_hao_xia {
    font-size: 0.77778em;
    font-weight: bold;
    line-height: 1.2;
    position: relative;
    top: -0.5em;
    vertical-align: baseline
    }
.zhu_shi_nei_rong {
    display: block;
    font-size: 0.75em;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-top: 5px;
    text-indent: 0;
    border-left: #999 solid 4px;
    margin: 0 0 1.4em
    }
