.bold {
    font-weight: bold
    }
.calibre {
    display: block;
    font-size: 1em;
    padding-left: 0;
    padding-right: 0;
    text-align: justify;
    margin: 0 5pt
    }
.calibre_ {
    display: block;
    text-align: justify;
    text-indent: 0;
    margin: 0
    }
.calibre_1 {
    height: auto;
    vertical-align: baseline;
    width: auto
    }
.calibre_2 {
    display: block;
    text-align: justify;
    text-indent: 0;
    margin: 1em 0 0
    }
.calibre_3 {
    display: block;
    text-align: justify;
    text-indent: 1em;
    margin: 5pt 0 0
    }
.calibre_4 {
    display: block;
    text-align: justify;
    text-indent: 1em;
    margin: 1em 0 0
    }
.calibre_5 {
    display: block;
    text-align: center;
    text-indent: 0;
    margin: 1em 0 0
    }
.calibre_6 {
    display: block;
    text-indent: -19pt;
    margin: 1em 0 0 19pt
    }
.calibre_7 {
    display: block;
    text-indent: -19pt;
    margin: 0 0 0 19pt
    }
.calibre_8 {
    display: block;
    margin: 0 0 0 2em
    }
.calibre_9 {
    display: block;
    text-indent: 0;
    margin: 0 0 0 2em
    }
.calibre1 {
    font-size: 1.83333em;
    line-height: 1.2
    }
.calibre2 {
    font-size: 1.66667em;
    line-height: 1.2
    }
.calibre3 {
    display: block
    }
.mbp_pagebreak {
    display: block;
    margin: 0
    }
