.bold {
    font-weight: bold
    }
.calibre {
    display: block;
    font-size: 1em;
    padding-left: 0;
    padding-right: 0;
    text-align: justify;
    margin: 0 5pt
    }
.calibre_ {
    display: block;
    text-align: center;
    text-indent: 0;
    margin: 2em 0 0
    }
.calibre_1 {
    color: #0468bb
    }
.calibre_2 {
    display: block;
    text-indent: 0;
    margin: 2em 0 0 2em
    }
.calibre_3 {
    display: block;
    text-align: center;
    text-indent: 0;
    margin: 4em 0 0
    }
.calibre_4 {
    display: block;
    height: 4em
    }
.calibre_5 {
    display: block;
    list-style-type: decimal;
    margin-bottom: 1em;
    margin-right: 0;
    margin-top: 1em;
    text-indent: 0
    }
.calibre_6 {
    display: list-item;
    margin-top: 0;
    text-indent: 0
    }
.calibre_7 {
    display: block;
    list-style-type: decimal;
    margin-bottom: 0;
    margin-right: 0;
    margin-top: 0;
    text-indent: 0
    }
.calibre_8 {
    display: block;
    text-indent: 0;
    margin: 0
    }
.calibre_9 {
    display: block;
    text-indent: 2em;
    margin: 4em 0 0
    }
.calibre_10 {
    display: block;
    text-indent: 2em;
    margin: 1em 0 0
    }
.calibre_11 {
    display: block;
    text-align: left;
    text-indent: 0;
    margin: 1em 0 0
    }
.calibre_12 {
    display: block;
    text-align: left;
    text-indent: 2em;
    margin: 12pt 0 0
    }
.calibre_13 {
    display: block;
    text-indent: 0;
    margin: 4em 0 0
    }
.calibre_14 {
    display: block;
    text-align: center;
    text-indent: 0;
    margin: 0
    }
.calibre_15 {
    height: 1275px;
    vertical-align: baseline;
    width: 892px
    }
.calibre_16 {
    display: block;
    text-align: center;
    text-indent: 0;
    margin: 3em 0 0
    }
.calibre_17 {
    display: block;
    text-align: center;
    text-indent: 2em;
    margin: 2em 0 0
    }
.calibre_18 {
    display: block;
    text-indent: 2em;
    margin: 1em 0 0 2em
    }
.calibre_19 {
    display: block;
    text-align: center;
    text-indent: 2em;
    margin: 1em 0 0 2em
    }
.calibre_20 {
    display: block;
    text-align: left;
    text-indent: 0;
    margin: 3em 0 0
    }
.calibre_21 {
    display: block;
    text-indent: 0;
    margin: 1em 0 0
    }
.calibre_22 {
    height: 1274px;
    vertical-align: baseline;
    width: 879px
    }
.calibre_23 {
    display: block;
    text-align: center;
    text-indent: 0;
    margin: 1em 0 0
    }
.calibre_24 {
    height: 469px;
    vertical-align: baseline;
    width: 578px
    }
.calibre_25 {
    height: 1274px;
    vertical-align: baseline;
    width: 889px
    }
.calibre_26 {
    height: 550px;
    vertical-align: baseline;
    width: 641px
    }
.calibre_27 {
    height: 399px;
    vertical-align: baseline;
    width: 625px
    }
.calibre_28 {
    height: 1276px;
    vertical-align: baseline;
    width: 890px
    }
.calibre_29 {
    height: 145px;
    vertical-align: baseline;
    width: 379px
    }
.calibre_30 {
    height: 406px;
    vertical-align: baseline;
    width: 600px
    }
.calibre_31 {
    height: 316px;
    vertical-align: baseline;
    width: 298px
    }
.calibre_32 {
    display: block;
    text-align: center;
    text-indent: 2em;
    margin: 1em 0 0
    }
.calibre_33 {
    height: 1272px;
    vertical-align: baseline;
    width: 887px
    }
.calibre_34 {
    height: 254px;
    vertical-align: baseline;
    width: 255px
    }
.calibre_35 {
    height: 48px;
    vertical-align: baseline;
    width: 100px
    }
.calibre_36 {
    height: 231px;
    vertical-align: baseline;
    width: 578px
    }
.calibre_37 {
    height: 1276px;
    vertical-align: baseline;
    width: 889px
    }
.calibre_38 {
    height: 1276px;
    vertical-align: baseline;
    width: 888px
    }
.calibre_39 {
    height: 273px;
    vertical-align: baseline;
    width: 295px
    }
.calibre_40 {
    height: 1276px;
    vertical-align: baseline;
    width: 887px
    }
.calibre_41 {
    display: block;
    text-indent: 2em;
    margin: 2em 0 0
    }
.calibre_42 {
    display: block;
    text-indent: -19pt;
    margin: 1em 0 0 19pt
    }
.calibre_43 {
    display: block;
    text-indent: -19pt;
    margin: 0 0 0 19pt
    }
.calibre_44 {
    display: block;
    text-indent: 0;
    margin: 0 0 0 2em
    }
.calibre1 {
    font-size: 1.83333em;
    line-height: 1.2
    }
.calibre2 {
    font-size: 0.75em;
    line-height: normal;
    vertical-align: super
    }
.calibre3 {
    font-size: 0.77778em
    }
.calibre4 {
    font-size: 0.71429em
    }
.calibre5 {
    color: gray;
    display: block;
    height: 2px;
    margin: 0.5em auto;
    border: currentColor inset 1px
    }
.calibre6 {
    font-size: 0.41667em
    }
.calibre7 {
    font-size: 1.66667em;
    line-height: 1.2
    }
.calibre8 {
    font-size: 0.75em;
    line-height: normal;
    vertical-align: sub
    }
.calibre9 {
    display: block
    }
.italic {
    font-style: italic
    }
.mbp_pagebreak {
    display: block;
    margin: 0
    }
.underline {
    text-decoration: underline
    }
