/* Global setting */
/* 全局设定 */
body {
	font-size: 1em;
	text-align: justify;
	line-height: 1.5;
}

/* TOC link color */
/* 目录条目链接颜色 */
a {
	color: #0000CC;
}

/* TOC Title */
/* 目录标题 */
.sgc-toc-title {
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 1em;
	letter-spacing: 1em;
    text-align: center;
	border-bottom: 1.5px dotted #000000;
}

/* Level 1 TOC */
/* 一级标题 */
.sgc-toc-level-1 {
    margin-left: 0em;
}

/* Level 2 TOC */
/* 二级标题 */
.sgc-toc-level-2 {
    margin-left: 2em;
}

/* Level 3 TOC */
/* 三级标题 */
.sgc-toc-level-3 {
    margin-left: 4em;
}

/* Level 4 TOC */
/* 四级标题 */
.sgc-toc-level-4 {
    margin-left: 4em;
}

/* Level 5 TOC */
/* 五级标题 */
.sgc-toc-level-5 {
    margin-left: 4em;
}

/* Level 6 TOC */
/* 六级标题 */
.sgc-toc-level-6 {
    margin-left: 4em;
}

div.tupian {
	width: 100%;
	margin: 1em auto 1em auto;
	text-align: center;
}

/* 插图左浮动 */
div.tupian-float-left
{
	float:left;
  margin:0.6em 1.17em 0.6em 0em;
  width:45%;
}

/* 插图右浮动 */
div.tupian-float-right
{
	float:right;
  margin:0.6em 0em 0.6em 1.17em;
  width:45%;
}

p.banquanxinxi {
	font-weight: bold;
}
.jc{font-weight: bold;}
p.bodycontent-text {
	text-indent: 2em;
	 
}
p.bodycontent-text1 {
	 text-align: center;
   font-size:0.85em;
	 
}
p.bodycontent-text2 {
	text-indent: 2em;
   font-size:1.1em;
	 
}
p.bodycontent-text_right {
	  
	text-align: right;
}

p.bodycontent-text_right3 {
	 font-size:1.2em;
	text-align: right;
}
p.bodycontent-text-tushuo {
	font-size:0.85em; 
	text-align: center;
	margin-top: 0.2em;
  
}


div.logo {
	margin: auto;
	text-align: center;
}

/*序*/
h1.preface {
	 
	font-size: 1.5em;
	margin-bottom: 2.5em;
	margin-top: 0.5em;
	text-align: center;
}

/*带有作者*/
h1.bodycontent-first-title1 {
	 
	font-size: 1.5em;
	margin-bottom: 2.5em;
	margin-top: 0.5em;
	text-align: center;
}

h1.bodycontent-first-title {
	 
	font-size: 1.5em;
	margin-bottom: 2.5em;
	margin-top: 0.5em;
	text-align: center;
}

h2.bodycontent-second-title {
	 
	font-size: 1.3em;
	margin-bottom: 0.8em;
	margin-top: 1.5em;
	text-align: center;
}


h3.bodycontent-third-title {
	 
	font-size: 1.2em;
	margin-bottom: 0.7em;
	margin-top: 1em;
}

h4,h5,h6
{
	 
	text-align:left;
	text-indent:2em;
	font-size:1em;
	margin: 1.0em 0em;
}

p.bodycontent-text-bold {
	text-indent: 0em;
	 
	font-size: 1.1em;
	margin-bottom: 0.7em;
	margin-top: 1.5em;
	font-weight: bold;
}

/* 版权信息页标题 */
/* Copyright page title */
h1.kindle-cn-copyright-title {
	page-break-before: always;
	font-size: 1.2em; 
	text-align: center; 
	border-width: 1.5px;
	margin:0.5em 0em 0.5em 0em;
	border-style: none none solid none;
}

/* 版权信息页正文 */
/* Copyright page text */
p.kindle-cn-copyright-text {
	line-height: 1.5;
	text-indent: 0em;
}

/* Quote */
/* 引用框 */
blockquote.kindle-cn-blockquote {
  background: #f9f9f9;
  border-left: 0.5em solid #ccc;
  margin: 1.5em;
  padding: 0.5em;
  text-indent:2em;
}

/* 注释 */
p.zhusi {
	line-height: 1.5;
	 
	text-indent: 0em;
	font-size: 0.8em;
}

p.bodycontent-text_center {
	 
	text-align: center;
	font-weight: bold;
}

p.bodycontent-text_yinwen {
	line-height: 1.5;
	text-indent: 2em;
   font-size: 1em;
	 
}

p.bodycontent-text_yinwen1 {
	 
	line-height: 1.5;
	text-indent: 10em;
	font-size: 1em;
}

p.bodycontent-text_noindent {
	 
	line-height: 1.5;
	text-indent: 0em;
	font-size: 1em;
}

img.image-alone {
	width: auto;
	margin-bottom: 0.2em;
}
img.image-alone2 {
	width:25%;
	margin-bottom: 0.2em;
	margin-left:85%;
}

img.image-alone1{
	width: 100%;
}

/* 数学上标字体 */  
span.math-super {  
    font-size: 0.7em;  
    vertical-align: super;  
}  
/* 数学上标倾斜字体 */  
span.math-super-italic {  
    font-size: 0.7em;  
    font-style: italic;  
    vertical-align: super;  
}   
/* 数学下标字体 */  
span.math-sub {  
    font-size: 0.7em;  
    vertical-align: sub;  
}  


/* 全屏图样式 */
.athena_imgwrap_fullscreen
{
  display:block;
  margin:0em;
  padding:0em;
  width: 100%;
}


p.bodycontent-text_yinwen-title {
	 
	font-size: 1.1em;
	margin-bottom: 0.5em;
	margin-top: 2.5em;
}

/* 造字 */
img.paralog {
	height: 1.5em;
	vertical-align: -0.3em;
}