.calibre {
  background-color: #FFF;
  display: block;
  font-size: 1em;
  padding-left: 0;
  padding-right: 0;
  text-align: center;
  margin: 0 5pt;
}
.calibre1 {
  height: auto;
  max-height: 100%;
  max-width: 100%;
  width: auto;
}
.calibre2 {
  display: block;
  font-size: 1em;
  padding-left: 0;
  padding-right: 0;
  margin: 0 5pt;
}
.calibre3 {
  display: block;
  margin: 1em 0;
}
.calibre4 {
  display: block;
  text-align: center;
}
.calibre5 {
  color: rgb(0, 0, 0);
  font-family: "PingFang SC";
  font-size: 1.29167em;
  font-weight: bold;
  line-height: 1.2;
}
.calibre6 {
  font-weight: bold;
  line-height: 1.2;
}
.calibre7 {
  font-size: 0.75em;
  line-height: normal;
  vertical-align: sub;
}
.calibre8 {
  font-family: "PingFang SC";
  font-size: 1em;
}
.calibre9 {
  display: block;
  font-size: 2em;
  font-weight: bold;
  line-height: 1.2;
  margin: 0.67em 0;
}
.calibre10 {
  color: rgb(0, 0, 0);
  display: block;
  font-family: "PingFang SC";
  font-size: 0.64583em;
  font-weight: bold;
  line-height: 1.2;
  text-align: center;
}
.calibre11 {
  display: block;
}
.calibre12 {
  height: auto;
  width: auto;
}
.calibre13 {
  color: rgb(0, 0, 0);
  display: block;
  font-family: "PingFang SC";
  font-size: 0.5em;
  font-weight: bold;
  text-align: center;
}
.calibre14 {
  font-weight: bold;
}
.calibre15 {
  display: block;
  font-size: 1.66667em;
  font-weight: bold;
  line-height: 1.2;
  margin: 0.83em 0;
}
.calibre16 {
  color: rgb(0, 0, 0);
  display: block;
  font-family: "PingFang SC";
  font-size: 0.6em;
  font-weight: bold;
  text-align: center;
}
.calibre17 {
  color: rgb(0, 0, 0);
  display: block;
  font-family: "PingFang SC";
  font-size: 0.775em;
  font-weight: bold;
  line-height: 1.2;
  text-align: center;
}
.calibre18 {
  font-family: "PingFang SC";
  font-size: 1em;
  font-weight: bold;
}
.calibre19 {
  height: auto;
  width: 717px;
}
.calibre20 {
  height: auto;
  width: 769px;
}
.calibre21 {
  height: auto;
  width: 700px;
}
.calibre22 {
  display: block;
  font-family: "PingFang SC";
  font-size: 1em;
  text-align: center;
}
.calibre23 {
  height: auto;
  width: 614px;
}
.calibre24 {
  height: auto;
  width: 227px;
}
.calibre25 {
  height: auto;
  width: 171px;
}
.calibre26 {
  height: auto;
  width: 673px;
}
.calibre27 {
  height: auto;
  width: 693px;
}
.calibre28 {
  color: rgb(0, 0, 0);
  font-family: "PingFang SC";
  font-size: 1em;
  font-weight: bold;
}
.calibre29 {
  color: rgb(0, 0, 0);
  display: block;
  font-family: "PingFang SC";
  font-size: 1em;
  text-align: center;
}
.calibre30 {
  height: auto;
  width: 816px;
}
.calibre31 {
  height: auto;
  width: 649px;
}
.calibre32 {
  height: auto;
  width: 586px;
}
.calibre33 {
  height: auto;
  width: 575px;
}
.calibre34 {
  height: auto;
  width: 383px;
}
.calibre35 {
  font-size: 0.75em;
  line-height: normal;
  vertical-align: super;
}
.calibre36 {
  height: auto;
  width: 375px;
}
.calibre37 {
  height: auto;
  width: 623px;
}
.calibre38 {
  height: auto;
  width: 18px;
}
.calibre39 {
  height: auto;
  width: 425px;
}
.calibre40 {
  height: auto;
  width: 58px;
}
.calibre41 {
  height: auto;
  width: 89px;
}
.calibre42 {
  height: auto;
  width: 54px;
}
.calibre43 {
  height: auto;
  width: 238px;
}
.calibre44 {
  height: auto;
  width: 539px;
}
.calibre45 {
  height: auto;
  width: 362px;
}
.calibre46 {
  height: auto;
  width: 131px;
}
.calibre47 {
  height: auto;
  width: 353px;
}
.calibre48 {
  height: auto;
  width: 174px;
}
.calibre49 {
  height: auto;
  width: 90px;
}
.calibre50 {
  height: auto;
  width: 188px;
}
.calibre51 {
  height: auto;
  width: 692px;
}
.calibre52 {
  height: auto;
  width: 56px;
}
.calibre53 {
  height: auto;
  width: 19px;
}
.calibre54 {
  height: auto;
  width: 29px;
}
.calibre55 {
  height: auto;
  width: 40px;
}
.calibre56 {
  height: auto;
  width: 657px;
}
.calibre57 {
  height: auto;
  width: 182px;
}
.calibre58 {
  height: auto;
  width: 604px;
}
.calibre59 {
  height: auto;
  width: 218px;
}
.calibre60 {
  height: auto;
  width: 262px;
}
.calibre61 {
  height: auto;
  width: 162px;
}
.calibre62 {
  height: auto;
  width: 384px;
}
.calibre63 {
  height: auto;
  width: 66px;
}
.calibre64 {
  height: auto;
  width: 67px;
}
.calibre65 {
  height: auto;
  width: 612px;
}
.calibre66 {
  height: auto;
  width: 468px;
}
.calibre67 {
  height: auto;
  width: 212px;
}
.calibre68 {
  height: auto;
  width: 230px;
}
.calibre69 {
  height: auto;
  width: 342px;
}
.calibre70 {
  height: auto;
  width: 272px;
}
.calibre71 {
  height: auto;
  width: 410px;
}
.calibre72 {
  height: auto;
  width: 304px;
}
.calibre73 {
  height: auto;
  width: 192px;
}
.calibre74 {
  height: auto;
  width: 439px;
}
.calibre75 {
  height: auto;
  width: 347px;
}
.calibre76 {
  height: auto;
  width: 313px;
}
.calibre77 {
  height: auto;
  width: 875px;
}
.calibre78 {
  height: auto;
  width: 202px;
}
.calibre79 {
  height: auto;
  width: 96px;
}
.calibre80 {
  height: auto;
  width: 288px;
}
.calibre81 {
  height: auto;
  width: 367px;
}
.calibre82 {
  height: auto;
  width: 65px;
}
.calibre83 {
  height: auto;
  width: 76px;
}
.calibre84 {
  height: auto;
  width: 523px;
}
.calibre85 {
  height: auto;
  width: 695px;
}
.calibre86 {
  height: auto;
  width: 252px;
}
.calibre87 {
  height: auto;
  width: 203px;
}
.calibre88 {
  height: auto;
  width: 254px;
}
.calibre89 {
  height: auto;
  width: 292px;
}
.calibre90 {
  height: auto;
  width: 274px;
}
.calibre91 {
  height: auto;
  width: 424px;
}
.calibre92 {
  height: auto;
  width: 86px;
}
.calibre93 {
  height: auto;
  width: 35px;
}
.calibre94 {
  height: auto;
  width: 95px;
}
.calibre95 {
  height: auto;
  width: 204px;
}
.calibre96 {
  height: auto;
  width: 117px;
}
.calibre97 {
  font-family: "PingFang SC";
  font-size: 1em;
  font-style: oblique;
}
.calibre98 {
  font-style: italic;
}
.calibre99 {
  height: auto;
  width: 687px;
}
.calibre100 {
  height: auto;
  width: 152px;
}
.calibre101 {
  height: auto;
  width: 136px;
}
.calibre102 {
  height: auto;
  width: 508px;
}
.calibre103 {
  height: auto;
  width: 401px;
}
.calibre104 {
  height: auto;
  width: 900px;
}
.calibre105 {
  height: auto;
  width: 686px;
}
.calibre106 {
  height: auto;
  width: 302px;
}
.calibre107 {
  height: auto;
  width: 688px;
}
.calibre108 {
  height: auto;
  width: 476px;
}
.calibre109 {
  height: auto;
  width: 504px;
}
.calibre110 {
  height: auto;
  width: 409px;
}
.calibre111 {
  height: auto;
  width: 574px;
}
.calibre112 {
  height: auto;
  width: 474px;
}
.calibre113 {
  height: auto;
  width: 684px;
}
.calibre114 {
  height: auto;
  width: 80px;
}
.calibre115 {
  height: auto;
  width: 285px;
}
.calibre116 {
  height: auto;
  width: 30px;
}
.calibre117 {
  height: auto;
  width: 41px;
}
.calibre118 {
  height: auto;
  width: 51px;
}
.calibre119 {
  height: auto;
  width: 189px;
}
.calibre120 {
  height: auto;
  width: 354px;
}
.calibre121 {
  height: auto;
  width: 158px;
}
.calibre122 {
  height: auto;
  width: 303px;
}
.calibre123 {
  height: auto;
  width: 699px;
}
.calibre124 {
  height: auto;
  width: 652px;
}
.calibre125 {
  height: auto;
  width: 525px;
}
.calibre126 {
  height: auto;
  width: 516px;
}
.calibre127 {
  height: auto;
  width: 651px;
}
.calibre128 {
  height: auto;
  width: 547px;
}
.calibre129 {
  height: auto;
  width: 591px;
}
.calibre130 {
  height: auto;
  width: 592px;
}
.calibre131 {
  height: auto;
  width: 638px;
}
.calibre132 {
  height: auto;
  width: 639px;
}
.calibre133 {
  height: auto;
  width: 441px;
}
.calibre134 {
  height: auto;
  width: 321px;
}
.calibre135 {
  height: auto;
  width: 492px;
}
.calibre136 {
  height: auto;
  width: 497px;
}
.calibre137 {
  height: auto;
  width: 628px;
}
.calibre138 {
  height: auto;
  width: 443px;
}
.calibre139 {
  height: auto;
  width: 236px;
}
.calibre140 {
  height: auto;
  width: 307px;
}
.calibre141 {
  height: auto;
  width: 306px;
}
.calibre142 {
  height: auto;
  width: 460px;
}
.calibre143 {
  height: auto;
  width: 356px;
}
.calibre144 {
  height: auto;
  width: 590px;
}
.calibre145 {
  height: auto;
  width: 570px;
}
.calibre146 {
  height: auto;
  width: 620px;
}
.calibre147 {
  height: auto;
  width: 256px;
}
.calibre148 {
  height: auto;
  width: 683px;
}
.calibre149 {
  height: auto;
  width: 392px;
}
.calibre150 {
  height: auto;
  width: 75px;
}
.calibre151 {
  height: auto;
  width: 157px;
}
.calibre152 {
  height: auto;
  width: 229px;
}
.calibre153 {
  height: auto;
  width: 232px;
}
.calibre154 {
  height: auto;
  width: 545px;
}
.calibre155 {
  height: auto;
  width: 495px;
}
.calibre156 {
  height: auto;
  width: 521px;
}
.calibre157 {
  height: auto;
  width: 294px;
}
.calibre158 {
  height: auto;
  width: 293px;
}
.calibre159 {
  height: auto;
  width: 528px;
}
.calibre160 {
  font-family: "PingFang SC";
  font-size: 1em;
  font-style: oblique;
  font-weight: bold;
}
.calibre161 {
  display: block;
  font-family: "PingFang SC";
  font-size: 1em;
  font-style: oblique;
  text-align: center;
}
.calibre162 {
  height: auto;
  width: 168px;
}
.calibre163 {
  height: auto;
  width: 114px;
}
.calibre164 {
  height: auto;
  width: 165px;
}
.calibre165 {
  height: auto;
  width: 146px;
}
.calibre166 {
  height: auto;
  width: 185px;
}
.calibre167 {
  height: auto;
  width: 246px;
}
.calibre168 {
  height: auto;
  width: 186px;
}
.calibre169 {
  height: auto;
  width: 39px;
}
.calibre170 {
  height: auto;
  width: 36px;
}
.calibre171 {
  height: auto;
  width: 44px;
}
.calibre172 {
  height: auto;
  width: 74px;
}
.calibre173 {
  height: auto;
  width: 166px;
}
.calibre174 {
  height: auto;
  width: 512px;
}
.calibre175 {
  height: auto;
  width: 510px;
}
.calibre176 {
  height: auto;
  width: 338px;
}
.calibre177 {
  height: auto;
  width: 281px;
}
.calibre178 {
  height: auto;
  width: 55px;
}
.calibre179 {
  height: auto;
  width: 490px;
}
.calibre180 {
  color: rgb(0, 0, 0);
  font-family: "PingFang SC";
  font-size: 1em;
  font-style: oblique;
  font-weight: bold;
  line-height: 1.2;
}
.calibre181 {
  font-style: italic;
  line-height: 1.2;
}
.calibre182 {
  height: auto;
  width: 386px;
}
.calibre183 {
  height: auto;
  width: 49px;
}
.calibre184 {
  height: auto;
  width: 264px;
}
.calibre185 {
  height: auto;
  width: 97px;
}
.calibre186 {
  height: auto;
  width: 144px;
}
.calibre187 {
  height: auto;
  width: 336px;
}
.calibre188 {
  height: auto;
  width: 34px;
}
.calibre189 {
  height: auto;
  width: 28px;
}
.calibre190 {
  height: auto;
  width: 124px;
}
.calibre191 {
  height: auto;
  width: 31px;
}
.calibre192 {
  height: auto;
  width: 337px;
}
.calibre193 {
  height: auto;
  width: 63px;
}
.calibre194 {
  height: auto;
  width: 27px;
}
.calibre195 {
  height: auto;
  width: 91px;
}
.calibre196 {
  height: auto;
  width: 26px;
}
.calibre197 {
  height: auto;
  width: 38px;
}
.calibre198 {
  height: auto;
  width: 32px;
}
.calibre199 {
  height: auto;
  width: 216px;
}
.calibre200 {
  height: auto;
  width: 37px;
}
.calibre201 {
  height: auto;
  width: 85px;
}
.calibre202 {
  height: auto;
  width: 107px;
}
.calibre203 {
  height: auto;
  width: 517px;
}
.calibre204 {
  height: auto;
  width: 132px;
}
.calibre205 {
  height: auto;
  width: 79px;
}
.calibre206 {
  height: auto;
  width: 455px;
}
.calibre207 {
  height: auto;
  width: 456px;
}
.calibre208 {
  height: auto;
  width: 125px;
}
.calibre209 {
  height: auto;
  width: 312px;
}
.calibre210 {
  height: auto;
  width: 534px;
}
.calibre211 {
  height: auto;
  width: 325px;
}
.calibre212 {
  height: auto;
  width: 447px;
}
.calibre213 {
  height: auto;
  width: 339px;
}
.calibre214 {
  height: auto;
  width: 402px;
}
.calibre215 {
  height: auto;
  width: 475px;
}
.calibre216 {
  height: auto;
  width: 413px;
}
.calibre217 {
  height: auto;
  width: 445px;
}
.calibre218 {
  height: auto;
  width: 459px;
}
.calibre219 {
  height: auto;
  width: 351px;
}
.calibre220 {
  height: auto;
  width: 464px;
}
.calibre221 {
  font-family: "DejaVu Sans";
  font-size: 1em;
}
.calibre222 {
  height: auto;
  width: 509px;
}
.calibre223 {
  height: auto;
  width: 314px;
}
.calibre224 {
  height: auto;
  width: 317px;
}
.calibre225 {
  height: auto;
  width: 515px;
}
.calibre226 {
  height: auto;
  width: 259px;
}
.calibre227 {
  height: auto;
  width: 436px;
}
.calibre228 {
  height: auto;
  width: 301px;
}
.calibre229 {
  height: auto;
  width: 239px;
}
.calibre230 {
  height: auto;
  width: 607px;
}
.calibre231 {
  height: auto;
  width: 143px;
}
.calibre232 {
  height: auto;
  width: 145px;
}
.calibre233 {
  font-family: "PingFang SC";
  font-size: 0.83333em;
  font-style: oblique;
}
.calibre234 {
  height: auto;
  width: 187px;
}
.calibre235 {
  height: auto;
  width: 391px;
}
.calibre236 {
  height: auto;
  width: 113px;
}
.calibre237 {
  height: auto;
  width: 115px;
}
.calibre238 {
  height: auto;
  width: 420px;
}
.calibre239 {
  height: auto;
  width: 47px;
}
.calibre240 {
  height: auto;
  width: 481px;
}
.calibre241 {
  height: auto;
  width: 283px;
}
.calibre242 {
  height: auto;
  width: 566px;
}
.calibre243 {
  height: auto;
  width: 411px;
}
.calibre244 {
  height: auto;
  width: 159px;
}
.calibre245 {
  height: auto;
  width: 537px;
}
.calibre246 {
  height: auto;
  width: 87px;
}
.calibre247 {
  height: auto;
  width: 71px;
}
.calibre248 {
  height: auto;
  width: 527px;
}
.calibre249 {
  height: auto;
  width: 483px;
}
.calibre250 {
  height: auto;
  width: 248px;
}
.calibre251 {
  height: auto;
  width: 393px;
}
.calibre252 {
  height: auto;
  width: 478px;
}
.calibre253 {
  height: auto;
  width: 440px;
}
.calibre254 {
  height: auto;
  width: 244px;
}
.calibre255 {
  height: auto;
  width: 126px;
}
.calibre256 {
  height: auto;
  width: 524px;
}
.calibre257 {
  height: auto;
  width: 208px;
}
.calibre258 {
  height: auto;
  width: 327px;
}
.calibre259 {
  height: auto;
  width: 77px;
}
.calibre260 {
  height: auto;
  width: 253px;
}
.calibre261 {
  height: auto;
  width: 499px;
}
.calibre262 {
  height: auto;
  width: 213px;
}
.calibre263 {
  height: auto;
  width: 78px;
}
.calibre264 {
  height: auto;
  width: 60px;
}
.calibre265 {
  height: auto;
  width: 84px;
}
.calibre266 {
  height: auto;
  width: 418px;
}
.calibre267 {
  height: auto;
  width: 83px;
}
.calibre268 {
  height: auto;
  width: 139px;
}
.calibre269 {
  height: auto;
  width: 108px;
}
.calibre270 {
  height: auto;
  width: 59px;
}
.calibre271 {
  height: auto;
  width: 415px;
}
.calibre272 {
  height: auto;
  width: 457px;
}
.calibre273 {
  height: auto;
  width: 399px;
}
.calibre274 {
  height: auto;
  width: 369px;
}
.calibre275 {
  height: auto;
  width: 116px;
}
.calibre276 {
  height: auto;
  width: 118px;
}
.calibre277 {
  height: auto;
  width: 269px;
}
.calibre278 {
  height: auto;
  width: 359px;
}
.calibre279 {
  height: auto;
  width: 268px;
}
.calibre280 {
  height: auto;
  width: 140px;
}
.calibre281 {
  height: auto;
  width: 224px;
}
.calibre282 {
  height: auto;
  width: 488px;
}
.calibre283 {
  height: auto;
  width: 20px;
}
.calibre284 {
  height: auto;
  width: 405px;
}
.calibre285 {
  height: auto;
  width: 147px;
}
.calibre286 {
  height: auto;
  width: 122px;
}
.calibre287 {
  height: auto;
  width: 377px;
}
.calibre288 {
  height: auto;
  width: 184px;
}
.calibre289 {
  height: auto;
  width: 404px;
}
.calibre290 {
  height: auto;
  width: 266px;
}
.calibre291 {
  height: auto;
  width: 328px;
}
.calibre292 {
  height: auto;
  width: 372px;
}
.calibre293 {
  height: auto;
  width: 630px;
}
.calibre294 {
  height: auto;
  width: 707px;
}
.calibre295 {
  height: auto;
  width: 133px;
}
.calibre296 {
  height: auto;
  width: 61px;
}
.calibre297 {
  height: auto;
  width: 42px;
}
.calibre298 {
  height: auto;
  width: 138px;
}
.calibre299 {
  height: auto;
  width: 466px;
}
.calibre300 {
  height: auto;
  width: 564px;
}
.calibre301 {
  height: auto;
  width: 398px;
}
.calibre302 {
  height: auto;
  width: 296px;
}
.calibre303 {
  height: auto;
  width: 275px;
}
.calibre304 {
  height: auto;
  width: 8px;
}
.calibre305 {
  height: auto;
  width: 395px;
}
.calibre306 {
  height: auto;
  width: 69px;
}
.calibre307 {
  height: auto;
  width: 9px;
}
.calibre308 {
  height: auto;
  width: 471px;
}
.calibre309 {
  height: auto;
  width: 444px;
}
.calibre310 {
  height: auto;
  width: 121px;
}
.calibre311 {
  height: auto;
  width: 403px;
}
.calibre312 {
  height: auto;
  width: 156px;
}
.calibre313 {
  height: auto;
  width: 573px;
}
.calibre314 {
  height: auto;
  width: 276px;
}
.calibre315 {
  height: auto;
  width: 134px;
}
.calibre316 {
  height: auto;
  width: 494px;
}
.calibre317 {
  height: auto;
  width: 598px;
}
.calibre318 {
  height: auto;
  width: 163px;
}
.calibre319 {
  height: auto;
  width: 22px;
}
.calibre320 {
  height: auto;
  width: 111px;
}
.calibre321 {
  height: auto;
  width: 10px;
}
.calibre322 {
  height: auto;
  width: 370px;
}
.calibre323 {
  height: auto;
  width: 109px;
}
.calibre324 {
  height: auto;
  width: 33px;
}
.calibre325 {
  height: auto;
  width: 7px;
}
.calibre326 {
  height: auto;
  width: 93px;
}
.calibre327 {
  height: auto;
  width: 616px;
}
.calibre328 {
  height: auto;
  width: 48px;
}
.calibre329 {
  height: auto;
  width: 135px;
}
.calibre330 {
  height: auto;
  width: 183px;
}
.calibre331 {
  height: auto;
  width: 176px;
}
.calibre332 {
  height: auto;
  width: 164px;
}
.calibre333 {
  height: auto;
  width: 177px;
}
.calibre334 {
  height: auto;
  width: 81px;
}
.calibre335 {
  height: auto;
  width: 24px;
}
.calibre336 {
  height: auto;
  width: 100px;
}
.calibre337 {
  height: auto;
  width: 214px;
}
.calibre338 {
  height: auto;
  width: 631px;
}
.calibre339 {
  height: auto;
  width: 153px;
}
.calibre340 {
  height: auto;
  width: 190px;
}
.calibre341 {
  height: auto;
  width: 43px;
}
.calibre342 {
  height: auto;
  width: 522px;
}
.calibre343 {
  height: auto;
  width: 110px;
}
.calibre344 {
  height: auto;
  width: 112px;
}
.calibre345 {
  height: auto;
  width: 160px;
}
.calibre346 {
  height: auto;
  width: 382px;
}
.calibre347 {
  height: auto;
  width: 150px;
}
.calibre348 {
  height: auto;
  width: 175px;
}
.calibre349 {
  height: auto;
  width: 482px;
}
.calibre350 {
  height: auto;
  width: 178px;
}
.calibre351 {
  height: auto;
  width: 167px;
}
.calibre352 {
  height: auto;
  width: 127px;
}
.calibre353 {
  height: auto;
  width: 98px;
}
.calibre354 {
  height: auto;
  width: 463px;
}
.calibre355 {
  height: auto;
  width: 430px;
}
.calibre356 {
  height: auto;
  width: 503px;
}
.calibre357 {
  height: auto;
  width: 514px;
}
.calibre358 {
  height: auto;
  width: 130px;
}
.calibre359 {
  height: auto;
  width: 380px;
}
.calibre360 {
  height: auto;
  width: 434px;
}
.calibre361 {
  height: auto;
  width: 103px;
}
.calibre362 {
  height: auto;
  width: 315px;
}
.calibre363 {
  height: auto;
  width: 119px;
}
.calibre364 {
  height: auto;
  width: 99px;
}
.calibre365 {
  height: auto;
  width: 340px;
}
.calibre366 {
  height: auto;
  width: 210px;
}
.calibre367 {
  height: auto;
  width: 546px;
}
.calibre368 {
  height: auto;
  width: 240px;
}
.calibre369 {
  height: auto;
  width: 627px;
}
.calibre370 {
  height: auto;
  width: 597px;
}
.calibre371 {
  height: auto;
  width: 70px;
}
.calibre372 {
  height: auto;
  width: 57px;
}
.calibre373 {
  height: auto;
  width: 267px;
}
.calibre374 {
  height: auto;
  width: 349px;
}
.calibre375 {
  height: auto;
  width: 341px;
}
.calibre376 {
  height: auto;
  width: 50px;
}
.calibre377 {
  height: auto;
  width: 605px;
}
.calibre378 {
  height: auto;
  width: 284px;
}
.calibre379 {
  height: auto;
  width: 196px;
}
.calibre380 {
  height: auto;
  width: 151px;
}
.calibre381 {
  height: auto;
  width: 407px;
}
.calibre382 {
  height: auto;
  width: 25px;
}
.calibre383 {
  height: auto;
  width: 486px;
}
.calibre384 {
  height: auto;
  width: 170px;
}
.calibre385 {
  height: auto;
  width: 406px;
}
.calibre386 {
  height: auto;
  width: 579px;
}
.calibre387 {
  height: auto;
  width: 682px;
}
.calibre388 {
  height: auto;
  width: 358px;
}
.calibre389 {
  height: auto;
  width: 198px;
}
.calibre390 {
  height: auto;
  width: 155px;
}
.calibre391 {
  height: auto;
  width: 191px;
}
.calibre392 {
  height: auto;
  width: 606px;
}
.calibre393 {
  height: auto;
  width: 141px;
}
.calibre394 {
  height: auto;
  width: 173px;
}
.calibre395 {
  height: auto;
  width: 21px;
}
.calibre396 {
  height: auto;
  width: 414px;
}
.calibre397 {
  height: auto;
  width: 101px;
}
.calibre398 {
  height: auto;
  width: 506px;
}
.calibre399 {
  height: auto;
  width: 120px;
}
.calibre400 {
  height: auto;
  width: 578px;
}
.calibre401 {
  height: auto;
  width: 451px;
}
.calibre402 {
  height: auto;
  width: 716px;
}
.calibre403 {
  height: auto;
  width: 278px;
}
.calibre404 {
  height: auto;
  width: 234px;
}
.calibre405 {
  height: auto;
  width: 533px;
}
.calibre406 {
  height: auto;
  width: 172px;
}
.calibre407 {
  height: auto;
  width: 438px;
}
.calibre408 {
  height: auto;
  width: 320px;
}
.calibre409 {
  height: auto;
  width: 270px;
}
.calibre410 {
  height: auto;
  width: 647px;
}
.calibre411 {
  height: auto;
  width: 507px;
}
.calibre412 {
  height: auto;
  width: 88px;
}
.calibre413 {
  height: auto;
  width: 408px;
}
.calibre414 {
  height: auto;
  width: 308px;
}
.calibre415 {
  height: auto;
  width: 381px;
}
.calibre416 {
  height: auto;
  width: 585px;
}
.calibre417 {
  display: block;
  list-style-type: decimal;
  margin: 1em 0;
}
.calibre418 {
  display: list-item;
}
