.annotation_style {
    font-size: 1em;
    line-height: 1.8em;
    margin-left: 0;
    margin-right: 0;
    text-align: justify;
    text-decoration: none;
    text-indent: 0;
    vertical-align: super
    }
.annotation_style1 {
    font-size: 1em;
    line-height: 1.2;
    margin-left: 0;
    margin-right: 0;
    text-align: justify;
    text-decoration: none;
    text-indent: 0;
    vertical-align: super
    }
.annotation_style2 {
    display: block;
    font-size: 1em;
    line-height: 1.8em;
    text-align: justify;
    text-decoration: none;
    text-indent: 0;
    margin: 1em 0
    }
.book_cover_style {
    display: block;
    width: 100%
    }
.calibre {
    display: block;
    font-size: 1em;
    line-height: 1.2;
    padding-left: 0;
    padding-right: 0;
    margin: 0 5pt
    }
.calibre1 {
    display: block
    }
.calibre2 {
    height: auto;
    width: auto
    }
.calibre3 {
    font-weight: bold
    }
.calibre4 {
    font-style: italic
    }
.calibre5 {
    font-size: 0.75em;
    line-height: 1.2;
    vertical-align: super
    }
.calibre6 {
    font-size: 0.75em;
    line-height: 1.2;
    vertical-align: sub
    }
.calibre7 {
    color: gray;
    display: block;
    height: 2px;
    margin: 0.5em auto;
    border: currentColor inset 1px
    }
.copyright_content_style {
    display: block;
    font-size: 1em;
    line-height: 1.2;
    text-align: left;
    margin: 0.15em 0 0.1em
    }
.copyright_head_style {
    display: block;
    font-size: 1.25em;
    font-weight: bold;
    line-height: 1.2;
    text-align: center;
    margin: 0.61em 0 3.3em
    }
.div_img_ {
    height: auto;
    width: 95%
    }
.div_img_1 {
    height: auto;
    width: 30%
    }
.div_img_2 {
    height: auto;
    width: 35%
    }
.div_img_3 {
    display: block;
    text-align: center;
    width: 100%
    }
.div_img_4 {
    height: auto;
    width: 85%
    }
.div_img_5 {
    height: auto;
    width: 75%
    }
.div_img_6 {
    height: auto;
    width: 70%
    }
.div_img_7 {
    height: auto;
    width: 80%
    }
.div_img_8 {
    height: auto;
    width: 50%
    }
.div_img_9 {
    height: auto;
    width: 65%
    }
.div_img_10 {
    height: auto;
    width: 90%
    }
.img_desc_style {
    display: block;
    font-size: 0.75em;
    text-align: center;
    margin: 0.5em 0 0.3em
    }
.img_style {
    display: block;
    text-align: center
    }
.options_style {
    display: block;
    font-size: 1em;
    line-height: 1.2;
    margin: 1em 0 1em 2em
    }
.paragraph_style {
    display: block;
    font-size: 1em;
    line-height: 1.2;
    text-indent: 2em;
    margin: 1em 0
    }
.person_mark_style {
    display: block;
    font-size: 0.75em;
    text-align: right;
    margin: 0.15em 0 0.1em
    }
.question_style {
    display: block;
    font-size: 1em;
    line-height: 1.2;
    text-align: left;
    margin: 1em 0
    }
.quote_style {
    display: block;
    font-size: 0.75em;
    text-align: left;
    text-indent: 2em;
    margin: 0.3em 1.6em 0.18em
    }
.second_level_style {
    display: block;
    font-size: 1.25em;
    font-weight: bold;
    line-height: 1.2;
    text-align: left;
    margin: 0
    }
.subentry_style {
    display: block;
    font-size: 1em;
    line-height: 1.2;
    text-align: left;
    margin: 1em 1.6em
    }
.test_header_style {
    display: block;
    font-size: 1.25em;
    font-weight: bold;
    line-height: 1.2;
    text-align: left;
    margin: 4.33em 0 0
    }
.three_level_style {
    display: block;
    font-size: 1.25em;
    font-weight: bold;
    line-height: 1.2;
    text-align: left;
    margin: 1em 0 0
    }
