
/* Global setting */
/* 全局设定 */

/* TOC link color */
/* 目录条目链接颜色 */
a {
	color: #0000CC;
}


/* TOC Title */
/* 目录标题 */
.sgc-toc-title {
	font-size: 2em;
	font-weight: bold;
	margin-bottom: 1em;
	letter-spacing: 1em;
	text-align: center;
	border-bottom: 1.5px dotted #000000;
}

/* Level 1 TOC */
/* 一级标题 */
.sgc-toc-level-1 {
	margin-left: 0em;
}

/* Level 2 TOC */
/* 二级标题 */
.sgc-toc-level-2 {
	margin-left: 2em;
}

/* Level 3 TOC */
/* 三级标题 */
.sgc-toc-level-3 {
	margin-left: 4em;
}

/* Level 4 TOC */
/* 四级标题 */
.sgc-toc-level-4 {
	margin-left: 4em;
}

/* Level 5 TOC */
/* 五级标题 */
.sgc-toc-level-5 {
	margin-left: 4em;
}

/* Level 6 TOC */
/* 六级标题 */
.sgc-toc-level-6 {
	margin-left: 4em;
}

div.tupian {
	width:100%;
	margin: 1em auto 1em auto;
	text-align: center;
}


div.tupian-t {
	width:100%;
	margin: 1em auto 0em auto;
	text-align: center;
}


div.tupian-b {
	width:100%;
	margin: 0em auto 1em auto;
	text-align: center;
}

div.tupian-0 {
	width:100%;
	margin: 0em;
	text-align: center;
}


/* 插图左浮动 */
div.tupian-float-left
{
	float:left;
	margin:0.6em 1.17em 0.6em 0em;
	width:45%;
}

/* 插图右浮动 */
div.tupian-float-right
{
	float:right;
	margin:0.6em 0em 0.6em 1.17em;
	width:45%;
}

p.banquanxinxi {
	font-weight: bold;
}

p.bodycontent-text-1em {
	text-indent: 1em;
}

p.bodycontent-text {
	text-indent: 2em;
}

p.bodycontent-text-tb {
	text-indent: 2em;
	margin-top: 1em;
	margin-bottom: 1em;
}

p.bodycontent-text-t {
	text-indent: 2em;
	margin-top: 1em;
}

p.bodycontent-text-b {
	text-indent: 2em;
	margin-bottom: 1em;
}


/* 标题下的作者 */
p.bodycontent-text1 {
	text-indent: 0em;
	text-align:center;
	font-family: kai;
	margin:0; 
}

p.bodycontent-text2 {
	font-family:fangsong;
	text-indent: 0em;
	text-align: center;
}

p.bodycontent-text2-t {
	font-family:fangsong;
	text-indent: 0em;
	text-align: center;
	margin-top: 1em;
}


p.bodycontent-text2-b {
	font-family:fangsong;
	text-indent: 0em;
	text-align: center;
	margin-bottom: 1em;
}

p.bodycontent-text3 {
	text-indent: 0em;
	font-weight: bold;
	font-size:1em; 
	text-decoration:underline; 
}


p.bodycontent-text_right {
	text-align: right;
	font-family:kai;
	text-indent: 0em;
}

p.bodycontent-text_right-b {
	text-align: right;
	font-family:kai;
	margin-bottom: 1em;
	text-indent: 0em;
}


div.logo {
	margin: auto;
	text-align: center;
}

/*序*/
h1.preface {
	font-size: 1.5em;
	margin-bottom: 2.5em;
	margin-top: 0.5em;
	text-align: center;
	text-indent: 0em;
}

/*带有作者*/
h1.bodycontent-first-title1 {
	font-size: 1.5em;
	margin-bottom: 2.5em;
	margin-top: 0.5em;
	text-align: center;
}

h1.bodycontent-first-title {
	font-size: 1.4em;
	margin-bottom: 1em;
	margin-top: 100px;
	text-align: center;
	line-height:1.3;
	text-indent: 0em;
}

h2.bodycontent-second-title {
	font-size: 1.22em;
	margin-bottom: 1em;
	margin-top: 2em;
	text-align: left;
	line-height:1.4;
	text-indent: 0em;
}


h3.bodycontent-third-title {
	text-align: left; 
	font-size: 1.1em;
	margin-bottom: 10px;
	margin-top: 1em;
	line-height:1.6;
}


h4.bodycontent-fourth-title
{
	text-align:left;
	line-height:1.84;
	text-indent:2em;
	font-size:1em;
	margin: 10px 0;
}

h4.bodycontent-fourth-title-center
{
	text-align:center;
	line-height:1.84;
	text-indent:0em;
	font-size:1em;
	margin: 10px 0;
}


h5.bodycontent-fifth-title
{
	text-align:left;
	line-height:1.84;
	text-indent:2em;
	font-size:1em;
	margin: 10px 0;
}


h6.bodycontent-sixth-title
{
	text-align:left;
	line-height:1.84;
	text-indent:2em;
	font-size:1em;
	margin: 10px 0;
}


/* 注释 */
p.bodycontent-text-bold {
	text-indent: 0em;
	font-size: 1.1em;
	margin-bottom: 0.7em;
	margin-top: 1.5em;
	font-weight: bold;
}

/* 版权信息页标题 */
/* Copyright page title */
h1.kindle-cn-copyright-title {
	page-break-before: always;
	font-size: 1.2em; 
	text-align: center; 
	border-width: 1.5px;
	margin:0.5em 0em 0.5em 0em;
	border-style: none none solid none;
}

/* 版权信息页正文 */
/* Copyright page text */
p.kindle-cn-copyright-text {
	line-height: 1.84;
	text-indent: 0em;
}

/* Quote */
/* 引用框 */
blockquote.kindle-cn-blockquote {
	background: #f9f9f9;
	border-left: 0.5em solid #ccc;
	margin: 1.5em;
	padding: 0.5em;
	text-indent:2em;
}

/* 注释 */
p.zhusi {
	line-height: 1.84;
	margin-top:10px;
	text-indent: 2em;
	font-size:1em; 
}

p.bodycontent-text-center {
	margin-top: 10px;
	line-height: 1.84;
	margin-bottom: 0em;
	text-align: center;
	text-indent: 0em;
	font-weight: bold;
}

p.bodycontent-text-left {
	margin-top: 10px;
	line-height: 1.84;
	margin-bottom: 0em;
	text-align: left;
	text-indent: 0em;
	font-weight: bold;
}

p.bodycontent-text_yinwen-noindent {
	line-height: 1.84;
	text-indent: 0em;
	font-size: 1em;
	margin-top: 1em;
	margin-left:0;
	font-family:fangsong; 
}


p.bodycontent-text_yinwen-c {
	line-height: 1.84;
	text-indent: 0em;
	font-size: 1em;
	margin-left:0;
	text-align: center;
	font-family:fangsong; 
}



p.bodycontent-text_yinwen {
	line-height: 1.84;
	text-indent: 2em;
	font-size: 1em;
	margin-left:0;
	font-family:fangsong; 
}


p.bodycontent-text_yinwen-1em {
	line-height: 1.84;
	text-indent: 1em;
	font-size: 1em;
	margin-left:0;
	font-family:fangsong; 
}
p.bodycontent-text_yinwen-t {
	line-height: 1.84;
	text-indent: 2em;
	font-size: 1em;
	margin-left:0;
	font-family:fangsong; 
	margin-top: 1em;
}

p.bodycontent-text_yinwen-t-1em {
	line-height: 1.84;
	text-indent: 1em;
	font-size: 1em;
	margin-left:0;
	font-family:fangsong; 
	margin-top: 1em;
}

p.bodycontent-text_yinwen-b {
	line-height: 1.84;
	text-indent: 2em;
	font-size: 1em;
	margin-left:0;
	font-family:fangsong; 
	margin-bottom: 1em;
}

p.bodycontent-text_yinwen-b-1em {
	line-height: 1.84;
	text-indent: 1em;
	font-size: 1em;
	margin-left:0;
	font-family:fangsong; 
	margin-bottom: 1em;
}

p.bodycontent-text_kai-t {
	line-height: 1.84;
	text-indent: 0em;
	font-size: 1em;
	margin-left:0;
	font-family:kai; 
	margin-top: 1em;
	text-align: center;
}


p.bodycontent-text_kai {
	line-height: 1.84;
	text-indent: 0em;
	font-size: 1em;
	margin-left:0;
	font-family:kai; 
	text-align: center;
}
p.bodycontent-text_kai-b {
	line-height: 1.84;
	text-indent: 0em;
	font-size: 1em;
	margin-left:0;
	font-family:kai; 
	margin-bottom: 1em;
	text-align: center;
}

p.bodycontent-text_noindent {
	line-height: 1.84;
	text-indent: 0em;
	font-size: 1em;
}

img.image-alone1 {
	width: 50%;
}

img.image-alone3 {
	width: auto;
}

img.image-alone4 {
	width: 30%;
}

/* 签名图 */ 
div.tupian-r{
	width:100%;
	margin: 1em auto 0em auto;
	text-align: right;
}

img.image-alone5 {
	width:30px;
}

/* 数学上标字体 */	
span.math-super {	
	font-size: 0.8em;	
	padding:0 5px;
	vertical-align: super;	
}	
/* 数学上标倾斜字体 */	
span.math-super-italic {	
	font-size: 0.7em;	
	font-style: italic;	
	vertical-align: super;	
}
/* 数学下标字体 */	
span.math-sub {	
	font-size: 0.7em;	
	vertical-align: sub;	
}	

/* 全屏图样式 */
.athena_imgwrap_fullscreen
{
	display:block;
	margin:0em;
	padding:0em;
	width: 100%;
}

p.bodycontent-text_yinwen-title {
	font-size: 1em;
	margin-top: 1em;
	font-weight:bold;
}

/* 造字 */
img.paralog {
	height: 1em;
	vertical-align: -0.1em;
}

img.paralog15 {
	height: 1.5em;
	vertical-align: -0.1em;
}

img.paralog2 {
	height: 2em;
	vertical-align: -0.1em;
}


/* 得到增加 */
p{
	font-size:1em;
	line-height:1.84!important;
	margin:0;
	text-align:justify;
	word-break:break-all;}

.part{
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	background-image:url(../Images/98327-1.jpg);
	}

.part h1{

	margin-top:50%;
	margin-bottom:2em;
	color:#ffffff;
	padding:3px;
	word-break:break-all;
	background-color:rgba(29,37,73,0.5);
}

/* 字体 */
@font-face{
	font-family:"fangsong";src:url("../Fonts/fangzhengfangsong.ttf");}


@font-face{
	font-family:"kai";src:url("../Fonts/fangzhengkaiti.ttf");}

.small{
	font-size:1rem;}


p.bodycontent-text3_1 {
	text-indent: 0em;
	font-weight: bold;
	font-size:1em; 
	font-family:fangsong;
}


p.tuti {
	text-align: center;
	font-family:fangsong;
	text-indent: 0em;
}


p.bodycontent-text-tushuo {
	font-family:fangsong;
	text-align:justify;
	text-indent: 0em;
	margin-left: 10px;
	margin-right: 10px;
}


.italic {
	font-weight: italic;
}

.bold {
	font-weight: bold;
}


.fangsong {
	font-family:fangsong;	
}

.bodycontent-text_right + .bodycontent-text{
	margin-top:1em;}


.bodycontent-text_right + .bodycontent-text-1em{
	margin-top:1em;}

.bodycontent-text_right + .bodycontent-text_yinwen{
	margin-top:1em;}

.bodycontent-text_right + .bodycontent-text_yinwen-1em{
	margin-top:1em;}


.bodycontent-text_right + .bodycontent-text_noindent{
	margin-top:1em;}

h1.bodycontent-first-title + h2.bodycontent-second-title{
	margin-top:0;}

h2.bodycontent-second-title + h3.bodycontent-third-title{
	margin-top:0;}

h3.bodycontent-third-title + h4.bodycontent-fourth-title{
	margin-top:0em;}

h4.bodycontent-fourth-title + h5.bodycontent-fifth-title{
	margin-top:0em;}

h5.bodycontent-fifth-title + h6.bodycontent-sixth-title{
	margin-top:0em;}

.bodycontent-text_yinwen + h4.bodycontent-fourth-title{
	margin-top:1em;}

.bodycontent-text_yinwen + h5.bodycontent-fifth-title{
	margin-top:1em;}

.bodycontent-text_yinwen + h6.bodycontent-sixth-title{
	margin-top:1em;}

.bodycontent-text_yinwen + .bodycontent-text{
	margin-top:1em;}

.bodycontent-text_yinwen + .bodycontent-text-1em{
	margin-top:1em;}

.bodycontent-text_yinwen-1em + h4.bodycontent-fourth-title{
	margin-top:1em;}

.bodycontent-text_yinwen-1em + h5.bodycontent-fifth-title{
	margin-top:1em;}

.bodycontent-text_yinwen-1em + h6.bodycontent-sixth-title{
	margin-top:1em;}

.bodycontent-text_yinwen-1em + .bodycontent-text{
	margin-top:1em;}

.bodycontent-text_kai + .bodycontent-text{
	margin-top:1em;}

.bodycontent-text + .bodycontent-text_kai{
	margin-top:1em;}

.bodycontent-text_kai + .bodycontent-text-1em{
	margin-top:1em;}

.bodycontent-text-1em + .bodycontent-text_kai{
	margin-top:1em;}


.bodycontent-text_yinwen + .bodycontent-text_noindent{
	margin-top:1em;}

.bodycontent-text_noindent + .bodycontent-text_yinwen{
	margin-top:1em;}

.bodycontent-text_yinwen-1em + .bodycontent-text_noindent{
	margin-top:1em;}

.bodycontent-text_noindent + .bodycontent-text_yinwen-1em{
	margin-top:1em;}


.bodycontent-text + .bodycontent-text_yinwen {
	margin-top:1em;}

.bodycontent-text-1em + .bodycontent-text_yinwen {
	margin-top:1em;}

.bodycontent-text + .bodycontent-text_yinwen-1em {
	margin-top:1em;}

.bodycontent-text-1em + .bodycontent-text_yinwen-1em {
	margin-top:1em;}

div.tupian + div.tupian {margin-top: -1em;}

h1.bodycontent-first-title + div.tupian {margin-top: 0em;}

h2.bodycontent-second-title + div.tupian {margin-top: 0em;}

h3.bodycontent-third-title + div.tupian {margin-top: 0em;}

div.tupian + h2.bodycontent-second-title {margin-top: 0em;}

div.tupian + h3.bodycontent-third-title {margin-top: 0em;}

.bodycontent-text1 + h2.bodycontent-second-title {margin-top: 1em;}

h1.bodycontent-first-title + .bodycontent-text-left {margin-top: 0em;}

h1.bodycontent-first-title + .bodycontent-text-center {margin-top: 0em}

h2.bodycontent-second-title + .bodycontent-text-left {margin-top: 0em;}

h2.bodycontent-second-title + .bodycontent-text-center {margin-top: 0em}

h3.bodycontent-third-title + .bodycontent-text-left {margin-top: 0em;}

h3.bodycontent-third-title + .bodycontent-text-center {margin-top: 0em;}

h4.bodycontent-third-title + .bodycontent-text-left {margin-top: 0em;}

h4.bodycontent-third-title + .bodycontent-text-center {margin-top: 0em;}

h5.bodycontent-third-title + .bodycontent-text-left {margin-top: 0em;}

h5.bodycontent-third-title + .bodycontent-text-center {margin-top: 0em;}

h6.bodycontent-third-title + .bodycontent-text-left {margin-top: 0em;}

h6.bodycontent-third-title + .bodycontent-text-center {margin-top: 0em;}

.tuti + img {margin-top: 10px;}
.bodycontent-text-tushuo + img {margin-top: 10px;}

img + .tuti {margin-top: 10px;}
img + .bodycontent-text-tushuo {margin-top: 10px;}

body>:first-child{margin-top:100px;}

body>:last-child{margin-bottom:0em;}

/* 注释角标 */
sup {
    font-size: 0.8em;
    padding: 0 5px;
}

sub {	
	font-size: 0.7em;	
	vertical-align: sub;	
}	


.box {
	border: 1px solid #000000;
	margin: 0em;
	padding: 0.5px;
}


.u { 

      text-decoration: underline; }
