
.note{
font-size: 0.85em;
}


.block{
font-size: 0.85em;
color:#146Eb4;
}

.img{color:#146Eb4;
text-align: center;
font-size:0.85em;
text-indent: 0em;
}


body {
	
}




p
{
	margin-top: 0.5em;
	text-indent: 2em;
}
.cover {
	width:100%;
	padding:0px;
}
.center {
	text-align: center;
	text-indent: 0em;
	margin-left: 0%;
	margin-right: 0%;
}
.left {
	text-indent: 0em;
	margin-left: 0%;
	margin-right: 0%;
}
.right {
	text-align: right;
	margin-left: 0%;
	margin-right: 0%;
}
.quote {
	margin-top: 0%;
	margin-bottom: 0%;
	margin-left: 1em;
	margin-right: 1em;
	text-align: justify;
	
}
h1 {

	
	text-align: center;
	font-size:1.5em;
	margin-top: 1em;
	margin-bottom: 1em;
        
}

h2 {

	
	text-align: center;
	font-weight:bold;
	font-size:1.3em;
	margin-top: 1em;
	margin-bottom: 1em;
        
}
h3 {

	
	text-align: left;
	font-weight:bold;
	font-size:1.2em;
	margin-top: 1em;
        
}
h4 {

	
	text-align: left;
	font-weight:bold;
	font-size:1rem;
	margin-top: 1em;
        
}
h5 {

	
	text-align: left;
	font-weight:bold;
	font-size:0.88rem;
	margin-top: 0.8em;
        
}
h6 {

	
	text-align: left;
	font-weight:bold;
	font-size:0.75rem;
	margin-top: 1em;
        
}
.u { 

      text-decoration: underline; }

.inline{
height:1em;
}