.calibre {
    line-height: 1.6
    }
.calibre1 {
    display: block;
    font-size: 1em;
    line-height: 1.6;
    padding-left: 0;
    padding-right: 0
    }
.calibre2 {
    border-bottom: 0;
    border-top: 0;
    display: block;
    line-height: 1.6;
    margin-bottom: 2em;
    margin-top: 2em;
    padding-bottom: 0;
    padding-top: 0;
    text-indent: 2.5em
    }
.calibre3 {
    height: auto;
    line-height: 1.6;
    width: auto
    }
.calibre4 {
    display: block;
    font-size: 2em;
    font-weight: bold;
    line-height: 1.6
    }
.calibre5 {
    display: block;
    line-height: 1.6;
    list-style-type: disc
    }
.calibre6 {
    display: list-item;
    line-height: 1.6
    }
.calibre7 {
    display: block;
    line-height: 1.6;
    list-style-type: circle
    }
.calibre8 {
    display: block;
    line-height: 1.6;
    list-style-type: square
    }
