@page {
    margin-bottom: 5pt;
    margin-top: 5pt
    }
@font-face {
    font-family: 汉仪旗黑50S;
    src: url(https://fastly.jsdelivr.net/gh/Sec-ant/weread-scraper/public/fonts/HYQiHei_50S.woff2)
    }
@font-face {
    font-family: 汉仪旗黑65S;
    src: url(https://fastly.jsdelivr.net/gh/Sec-ant/weread-scraper/public/fonts/HYQiHei_65S.woff2)
    }
@font-face {
    font-family: 汉仪楷体;
    src: url(https://fastly.jsdelivr.net/gh/Sec-ant/weread-scraper/public/fonts/HYKaiTiS.woff2)
    }
@font-face {
    font-family: 方正仿宋;
    src: url(https://fastly.jsdelivr.net/gh/Sec-ant/weread-scraper/public/fonts/FZFSJW.woff2)
    }
@font-face {
    font-family: PingFang SC;
    src: url(https://fastly.jsdelivr.net/gh/Sec-ant/weread-scraper/public/fonts/PingFang-SC-Regular.woff2)
    }
