.bold {
    font-weight: 700
    }
.calibre {
    display: block;
    font-size: 1em;
    padding-left: 0;
    padding-right: 0;
    margin: 0 5pt
    }
.calibre1 {
    display: block
    }
.calibre2 {
    height: auto;
    width: auto
    }
.calibre3 {
    height: auto;
    max-height: 374px;
    max-width: 353px;
    width: 100%
    }
.calibre4 {
    height: auto;
    max-height: 370px;
    max-width: 354px;
    width: 100%
    }
.calibre5 {
    height: auto;
    max-height: 205px;
    max-width: 1000px;
    width: 100%
    }
.calibre6 {
    height: auto;
    max-height: 533px;
    max-width: 1000px;
    width: 100%
    }
.calibre7 {
    height: auto;
    max-height: 1650px;
    max-width: 930px;
    width: 100%
    }
.calibre8 {
    height: auto;
    max-height: 210px;
    max-width: 1000px;
    width: 100%
    }
.calibre9 {
    height: auto;
    max-height: 847px;
    max-width: 4607px;
    width: 100%
    }
.calibre10 {
    height: auto;
    max-height: 888px;
    max-width: 3625px;
    width: 100%
    }
.calibre11 {
    height: auto;
    max-height: 283px;
    max-width: 1000px;
    width: 100%
    }
.calibre12 {
    height: auto;
    max-height: 176px;
    max-width: 624px;
    width: 100%
    }
.calibre13 {
    height: auto;
    max-height: 76px;
    max-width: 622px;
    width: 100%
    }
.calibre14 {
    height: auto;
    max-height: 270px;
    max-width: 624px;
    width: 100%
    }
.calibre15 {
    height: auto;
    max-height: 215px;
    max-width: 453px;
    width: 100%
    }
.calibre16 {
    height: auto;
    max-height: 931px;
    max-width: 521px;
    width: 100%
    }
.calibre17 {
    height: auto;
    max-height: 351px;
    max-width: 1000px;
    width: 100%
    }
.calibre18 {
    height: auto;
    max-height: 430px;
    max-width: 999px;
    width: 100%
    }
.calibre19 {
    height: auto;
    max-height: 416px;
    max-width: 1000px;
    width: 100%
    }
.calibre20 {
    height: auto;
    max-height: 471px;
    max-width: 1000px;
    width: 100%
    }
.calibre21 {
    height: auto;
    max-height: 425px;
    max-width: 998px;
    width: 100%
    }
.calibre22 {
    height: auto;
    max-height: 371px;
    max-width: 1000px;
    width: 100%
    }
.calibre23 {
    height: auto;
    max-height: 589px;
    max-width: 1000px;
    width: 100%
    }
.calibre24 {
    height: auto;
    max-height: 1050px;
    max-width: 599px;
    width: 100%
    }
.calibre25 {
    height: auto;
    max-height: 438px;
    max-width: 1000px;
    width: 100%
    }
.calibre26 {
    height: auto;
    max-height: 360px;
    max-width: 1000px;
    width: 100%
    }
.calibre27 {
    height: auto;
    max-height: 287px;
    max-width: 622px;
    width: 100%
    }
.calibre28 {
    height: auto;
    max-height: 572px;
    max-width: 1000px;
    width: 100%
    }
.calibre29 {
    height: auto;
    max-height: 221px;
    max-width: 591px;
    width: 100%
    }
.calibre30 {
    height: auto;
    max-height: 532px;
    max-width: 1000px;
    width: 100%
    }
.calibre31 {
    height: auto;
    max-height: 565px;
    max-width: 1000px;
    width: 100%
    }
.calibre32 {
    height: auto;
    max-height: 521px;
    max-width: 1000px;
    width: 100%
    }
.calibre33 {
    height: auto;
    max-height: 517px;
    max-width: 998px;
    width: 100%
    }
.calibre34 {
    height: auto;
    max-height: 558px;
    max-width: 992px;
    width: 100%
    }
.calibre35 {
    height: auto;
    max-height: 1078px;
    max-width: 604px;
    width: 100%
    }
.calibre36 {
    height: auto;
    max-height: 526px;
    max-width: 1000px;
    width: 100%
    }
.calibre37 {
    height: auto;
    max-height: 238px;
    max-width: 617px;
    width: 100%
    }
.calibre38 {
    height: auto;
    max-height: 357px;
    max-width: 623px;
    width: 100%
    }
.calibre39 {
    height: auto;
    max-height: 302px;
    max-width: 594px;
    width: 100%
    }
.calibre40 {
    height: auto;
    max-height: 613px;
    max-width: 1000px;
    width: 100%
    }
.calibre41 {
    height: auto;
    max-height: 660px;
    max-width: 1000px;
    width: 100%
    }
.calibre42 {
    height: auto;
    max-height: 456px;
    max-width: 999px;
    width: 100%
    }
.calibre43 {
    height: auto;
    max-height: 584px;
    max-width: 1000px;
    width: 100%
    }
.calibre44 {
    height: auto;
    max-height: 890px;
    max-width: 503px;
    width: 100%
    }
.calibre45 {
    height: auto;
    max-height: 166px;
    max-width: 623px;
    width: 100%
    }
.calibre46 {
    height: auto;
    max-height: 1301px;
    max-width: 2813px;
    width: 100%
    }
.calibre47 {
    height: auto;
    max-height: 229px;
    max-width: 1000px;
    width: 100%
    }
.calibre48 {
    height: auto;
    max-height: 325px;
    max-width: 999px;
    width: 100%
    }
.calibre49 {
    height: auto;
    max-height: 364px;
    max-width: 623px;
    width: 100%
    }
.calibre50 {
    height: auto;
    max-height: 362px;
    max-width: 621px;
    width: 100%
    }
.calibre51 {
    height: auto;
    max-height: 801px;
    max-width: 1000px;
    width: 100%
    }
.calibre52 {
    height: auto;
    max-height: 447px;
    max-width: 998px;
    width: 100%
    }
.calibre53 {
    height: auto;
    max-height: 566px;
    max-width: 904px;
    width: 100%
    }
.calibre54 {
    height: auto;
    max-height: 405px;
    max-width: 1000px;
    width: 100%
    }
.calibre55 {
    height: auto;
    max-height: 1239px;
    max-width: 899px;
    width: 100%
    }
.calibre56 {
    height: auto;
    max-height: 962px;
    max-width: 3180px;
    width: 100%
    }
.calibre57 {
    height: auto;
    max-height: 356px;
    max-width: 1000px;
    width: 100%
    }
.calibre58 {
    height: auto;
    max-height: 1280px;
    max-width: 3859px;
    width: 100%
    }
.calibre59 {
    height: auto;
    max-height: 702px;
    max-width: 998px;
    width: 100%
    }
.calibre60 {
    height: auto;
    max-height: 400px;
    max-width: 1000px;
    width: 100%
    }
.calibre61 {
    height: auto;
    max-height: 598px;
    max-width: 1000px;
    width: 100%
    }
.calibre62 {
    height: auto;
    max-height: 615px;
    max-width: 1000px;
    width: 100%
    }
.calibre63 {
    height: auto;
    max-height: 166px;
    max-width: 624px;
    width: 100%
    }
.calibre64 {
    height: auto;
    max-height: 123px;
    max-width: 622px;
    width: 100%
    }
.calibre65 {
    height: auto;
    max-height: 175px;
    max-width: 623px;
    width: 100%
    }
.calibre66 {
    height: auto;
    max-height: 1293px;
    max-width: 3502px;
    width: 100%
    }
.calibre67 {
    height: auto;
    max-height: 350px;
    max-width: 1000px;
    width: 100%
    }
.calibre68 {
    height: auto;
    max-height: 702px;
    max-width: 1000px;
    width: 100%
    }
.calibre69 {
    height: auto;
    max-height: 1090px;
    max-width: 602px;
    width: 100%
    }
.calibre70 {
    height: auto;
    max-height: 455px;
    max-width: 1000px;
    width: 100%
    }
.calibre71 {
    height: auto;
    max-height: 193px;
    max-width: 622px;
    width: 100%
    }
.calibre72 {
    height: auto;
    max-height: 445px;
    max-width: 999px;
    width: 100%
    }
.calibre73 {
    height: auto;
    max-height: 433px;
    max-width: 593px;
    width: 100%
    }
.calibre74 {
    height: auto;
    max-height: 1574px;
    max-width: 875px;
    width: 100%
    }
.calibre75 {
    height: auto;
    max-height: 166px;
    max-width: 591px;
    width: 100%
    }
.calibre76 {
    height: auto;
    max-height: 248px;
    max-width: 616px;
    width: 100%
    }
.calibre77 {
    height: auto;
    max-height: 454px;
    max-width: 917px;
    width: 100%
    }
.calibre78 {
    height: auto;
    max-height: 291px;
    max-width: 621px;
    width: 100%
    }
.calibre79 {
    height: auto;
    max-height: 699px;
    max-width: 997px;
    width: 100%
    }
.calibre80 {
    height: auto;
    max-height: 187px;
    max-width: 623px;
    width: 100%
    }
.calibre81 {
    height: auto;
    max-height: 258px;
    max-width: 558px;
    width: 100%
    }
.calibre82 {
    height: auto;
    max-height: 131px;
    max-width: 623px;
    width: 100%
    }
.calibre83 {
    height: auto;
    max-height: 254px;
    max-width: 1000px;
    width: 100%
    }
.calibre84 {
    height: auto;
    max-height: 1097px;
    max-width: 608px;
    width: 100%
    }
.calibre85 {
    height: auto;
    max-height: 787px;
    max-width: 786px;
    width: 100%
    }
.calibre86 {
    height: auto;
    max-height: 643px;
    max-width: 1000px;
    width: 100%
    }
.calibre87 {
    height: auto;
    max-height: 415px;
    max-width: 466px;
    width: 100%
    }
.calibre88 {
    height: auto;
    max-height: 478px;
    max-width: 1000px;
    width: 100%
    }
.calibre89 {
    height: auto;
    max-height: 482px;
    max-width: 993px;
    width: 100%
    }
.calibre90 {
    height: auto;
    max-height: 294px;
    max-width: 620px;
    width: 100%
    }
.calibre91 {
    height: auto;
    max-height: 166px;
    max-width: 612px;
    width: 100%
    }
.calibre92 {
    height: auto;
    max-height: 351px;
    max-width: 352px;
    width: 100%
    }
.calibre93 {
    height: auto;
    max-height: 392px;
    max-width: 392px;
    width: 100%
    }
.calibre94 {
    height: auto;
    max-height: 339px;
    max-width: 340px;
    width: 100%
    }
.calibre95 {
    height: auto;
    max-height: 579px;
    max-width: 1000px;
    width: 100%
    }
.calibre96 {
    height: auto;
    max-height: 492px;
    max-width: 1000px;
    width: 100%
    }
.calibre97 {
    height: auto;
    max-height: 1057px;
    max-width: 1000px;
    width: 100%
    }
.calibre98 {
    height: auto;
    max-height: 323px;
    max-width: 323px;
    width: 100%
    }
.calibre99 {
    height: auto;
    max-height: 990px;
    max-width: 540px;
    width: 100%
    }
.calibre100 {
    height: auto;
    max-height: 386px;
    max-width: 998px;
    width: 100%
    }
.calibre101 {
    height: auto;
    max-height: 339px;
    max-width: 564px;
    width: 100%
    }
.calibre102 {
    height: auto;
    max-height: 124px;
    max-width: 151px;
    width: 100%
    }
.calibre103 {
    height: auto;
    max-height: 407px;
    max-width: 999px;
    width: 100%
    }
.calibre104 {
    height: auto;
    max-height: 636px;
    max-width: 996px;
    width: 100%
    }
.calibre105 {
    height: auto;
    max-height: 619px;
    max-width: 988px;
    width: 100%
    }
.calibre106 {
    height: auto;
    max-height: 575px;
    max-width: 991px;
    width: 100%
    }
.calibre107 {
    height: auto;
    max-height: 304px;
    max-width: 1000px;
    width: 100%
    }
.calibre108 {
    height: auto;
    max-height: 699px;
    max-width: 1000px;
    width: 100%
    }
.calibre109 {
    height: auto;
    max-height: 583px;
    max-width: 1000px;
    width: 100%
    }
.calibre110 {
    height: auto;
    max-height: 621px;
    max-width: 1000px;
    width: 100%
    }
.calibre111 {
    height: auto;
    max-height: 547px;
    max-width: 997px;
    width: 100%
    }
.calibre112 {
    height: auto;
    max-height: 552px;
    max-width: 997px;
    width: 100%
    }
.calibre113 {
    height: auto;
    max-height: 693px;
    max-width: 986px;
    width: 100%
    }
.calibre114 {
    height: auto;
    max-height: 360px;
    max-width: 614px;
    width: 100%
    }
.calibre115 {
    height: auto;
    max-height: 1126px;
    max-width: 2773px;
    width: 100%
    }
.calibre116 {
    height: auto;
    max-height: 403px;
    max-width: 1000px;
    width: 100%
    }
.calibre117 {
    height: auto;
    max-height: 16px;
    max-width: 69px;
    width: 50%
    }
.calibre118 {
    height: auto;
    max-height: 16px;
    max-width: 68px;
    width: 50%
    }
.calibre119 {
    height: auto;
    max-height: 577px;
    max-width: 3292px;
    width: 100%
    }
.calibre120 {
    height: auto;
    max-height: 16px;
    max-width: 113px;
    width: 50%
    }
.calibre121 {
    height: auto;
    max-height: 894px;
    max-width: 496px;
    width: 100%
    }
.calibre122 {
    height: auto;
    max-height: 605px;
    max-width: 1000px;
    width: 100%
    }
.calibre123 {
    height: auto;
    max-height: 466px;
    max-width: 1000px;
    width: 100%
    }
.calibre124 {
    height: auto;
    max-height: 347px;
    max-width: 593px;
    width: 100%
    }
.calibre125 {
    height: auto;
    max-height: 373px;
    max-width: 621px;
    width: 100%
    }
.calibre126 {
    height: auto;
    max-height: 490px;
    max-width: 1000px;
    width: 100%
    }
.calibre127 {
    height: auto;
    max-height: 328px;
    max-width: 1000px;
    width: 100%
    }
.calibre128 {
    height: auto;
    max-height: 956px;
    max-width: 529px;
    width: 100%
    }
.calibre129 {
    height: auto;
    max-height: 253px;
    max-width: 622px;
    width: 100%
    }
.calibre130 {
    height: auto;
    max-height: 253px;
    max-width: 623px;
    width: 100%
    }
.calibre131 {
    height: auto;
    max-height: 654px;
    max-width: 1000px;
    width: 100%
    }
.calibre132 {
    height: auto;
    max-height: 763px;
    max-width: 3427px;
    width: 100%
    }
.calibre133 {
    height: auto;
    max-height: 555px;
    max-width: 1000px;
    width: 100%
    }
.calibre134 {
    height: auto;
    max-height: 63px;
    max-width: 207px;
    width: 50%
    }
.calibre135 {
    height: auto;
    max-height: 412px;
    max-width: 613px;
    width: 100%
    }
.calibre136 {
    height: auto;
    max-height: 50px;
    max-width: 142px;
    width: 50%
    }
.calibre137 {
    height: auto;
    max-height: 67px;
    max-width: 252px;
    width: 50%
    }
.calibre138 {
    height: auto;
    max-height: 68px;
    max-width: 434px;
    width: 50%
    }
.calibre139 {
    height: auto;
    max-height: 92px;
    max-width: 254px;
    width: 50%
    }
.calibre140 {
    height: auto;
    max-height: 740px;
    max-width: 1300px;
    width: 100%
    }
.content {
    display: block;
    font-family: 汉仪旗黑50S, HYQiHei-50s, PingFang SC, -apple-system, SF UI Text, Lucida Grande, STheiti, Microsoft YaHei, sans-serif;
    text-align: justify;
    text-indent: 2em;
    margin: 1em 0
    }
.content-b {
    display: block;
    font-family: 汉仪旗黑50S, HYQiHei-50s, PingFang SC, -apple-system, SF UI Text, Lucida Grande, STheiti, Microsoft YaHei, sans-serif;
    font-weight: 700;
    text-align: justify;
    text-indent: 0;
    margin: 1em 0
    }
.content-image-class {
    height: 1em;
    margin-left: 0.1em;
    margin-right: 0.1em;
    max-height: 40px;
    max-width: 127px;
    vertical-align: middle;
    width: auto
    }
.content-image-class1 {
    height: 1em;
    margin-left: 0.1em;
    margin-right: 0.1em;
    max-height: 39px;
    max-width: 126px;
    vertical-align: middle;
    width: auto
    }
.content-image-class2 {
    height: 1em;
    margin-left: 0.1em;
    margin-right: 0.1em;
    max-height: 56px;
    max-width: 57px;
    vertical-align: middle;
    width: auto
    }
.content-image-class3 {
    height: 1em;
    margin-left: 0.1em;
    margin-right: 0.1em;
    max-height: 39px;
    max-width: 88px;
    vertical-align: middle;
    width: auto
    }
.content-image-class4 {
    height: 1em;
    margin-left: 0.1em;
    margin-right: 0.1em;
    max-height: 20px;
    max-width: 166px;
    vertical-align: middle;
    width: auto
    }
.content-image-class5 {
    height: 1em;
    margin-left: 0.1em;
    margin-right: 0.1em;
    max-height: 20px;
    max-width: 76px;
    vertical-align: middle;
    width: auto
    }
.content-image-class6 {
    height: 1em;
    margin-left: 0.1em;
    margin-right: 0.1em;
    max-height: 20px;
    max-width: 155px;
    vertical-align: middle;
    width: auto
    }
.content-image-class7 {
    height: 1em;
    margin-left: 0.1em;
    margin-right: 0.1em;
    max-height: 16px;
    max-width: 30px;
    vertical-align: middle;
    width: auto
    }
.content-image-class8 {
    height: 1em;
    margin-left: 0.1em;
    margin-right: 0.1em;
    max-height: 16px;
    max-width: 68px;
    vertical-align: middle;
    width: auto
    }
.content-image-class9 {
    height: 1em;
    margin-left: 0.1em;
    margin-right: 0.1em;
    max-height: 16px;
    max-width: 99px;
    vertical-align: middle;
    width: auto
    }
.firsttitle {
    display: block;
    font-family: 汉仪旗黑65S, HY-QiHei65, PingFang SC, -apple-system, SF UI Text, Lucida Grande, STheiti, Microsoft YaHei, sans-serif;
    font-size: 2em;
    font-weight: bold;
    line-height: 1.2em;
    text-align: left;
    text-indent: 0;
    margin: 0.67em 0 0.9em
    }
.imgtitle {
    display: block;
    font-family: 汉仪旗黑50S, HYQiHei-50s, PingFang SC, -apple-system, SF UI Text, Lucida Grande, STheiti, Microsoft YaHei, sans-serif;
    text-align: center;
    text-indent: 0;
    margin: 1em 0
    }
.italic {
    font-style: italic
    }
.prerendercontent {
    break-after: page;
    display: block
    }
.qrbodypic {
    display: block;
    text-align: center;
    margin: 1em 0
    }
.quotation {
    color: brown;
    display: block;
    font-family: 汉仪楷体, ETrump KaiTi, 方正仿宋, FZFSJW--GB1-0, PingFang SC, -apple-system, SF UI Text, Lucida Grande, STheiti, Microsoft YaHei, sans-serif;
    text-align: justify;
    text-indent: 2em;
    margin: 1em 0
    }
.secondtitle {
    display: block;
    font-family: 汉仪旗黑65S, HY-QiHei65, PingFang SC, -apple-system, SF UI Text, Lucida Grande, STheiti, Microsoft YaHei, sans-serif;
    font-size: 1.66667em;
    font-weight: bold;
    line-height: 1.2;
    text-align: left;
    text-indent: 0;
    margin: 0.83em 0 0.7em
    }
.super {
    vertical-align: super
    }
