.bold {
    font-weight: bold
    }
.calibre {
    display: block;
    font-size: 1em;
    padding-left: 0;
    padding-right: 0;
    text-align: justify;
    margin: 0 5pt
    }
.calibre_ {
    display: block;
    text-align: center;
    text-indent: 0;
    margin: 2em 0 0
    }
.calibre_1 {
    display: block;
    margin: 2em 0 0 2em
    }
.calibre_2 {
    display: block;
    text-indent: 0;
    margin: 0 0 0 2em
    }
.calibre_3 {
    display: block;
    text-align: left;
    text-indent: 0;
    margin: 2em 0 0
    }
.calibre_4 {
    display: block;
    text-indent: 0;
    margin: 2em 0 0 2em
    }
.calibre_5 {
    display: block;
    text-align: center;
    text-indent: 0;
    margin: 4em 0 0
    }
.calibre_6 {
    display: block;
    text-align: right;
    text-indent: 0;
    margin: 1em 0 0
    }
.calibre_7 {
    display: block;
    text-indent: 2em;
    margin: 2em 0 0
    }
.calibre_8 {
    display: block;
    text-indent: 2em;
    margin: 1em 0 0
    }
.calibre_9 {
    display: block;
    text-align: left;
    text-indent: 0;
    margin: 3em 0 0
    }
.calibre_10 {
    display: block;
    text-align: center;
    text-indent: 0;
    margin: 1em 0 0
    }
.calibre_11 {
    height: 9188px;
    vertical-align: baseline;
    width: 8000px
    }
.calibre_12 {
    display: block;
    text-align: center;
    text-indent: 0;
    margin: 10pt 0 0
    }
.calibre_13 {
    display: block;
    text-indent: 0;
    margin: 3em 0 0 2em
    }
.calibre_14 {
    display: block;
    text-align: center;
    text-indent: 0;
    margin: 1em 0 0 2em
    }
.calibre_15 {
    height: 3160px;
    vertical-align: baseline;
    width: 8000px
    }
.calibre_16 {
    display: block;
    text-align: left;
    text-indent: 0;
    margin: 4em 0 0
    }
.calibre_17 {
    display: block;
    text-indent: 2em;
    margin: 1em 0 0 2em
    }
.calibre_18 {
    height: 3756px;
    vertical-align: baseline;
    width: 8000px
    }
.calibre_19 {
    height: 12760px;
    vertical-align: baseline;
    width: 8000px
    }
.calibre_20 {
    height: 9997px;
    vertical-align: baseline;
    width: 8000px
    }
.calibre_21 {
    height: 12114px;
    vertical-align: baseline;
    width: 8000px
    }
.calibre_22 {
    height: 10297px;
    vertical-align: baseline;
    width: 8000px
    }
.calibre_23 {
    display: block;
    text-indent: 2em;
    margin: 3em 0 0
    }
.calibre_24 {
    height: 8539px;
    vertical-align: baseline;
    width: 8000px
    }
.calibre_25 {
    height: 7940px;
    vertical-align: baseline;
    width: 8000px
    }
.calibre_26 {
    display: block;
    text-indent: 0;
    margin: 1em 0 0 2em
    }
.calibre_27 {
    height: 7941px;
    vertical-align: baseline;
    width: 8000px
    }
.calibre_28 {
    height: 6206px;
    vertical-align: baseline;
    width: 8000px
    }
.calibre_29 {
    display: block;
    text-indent: 0;
    margin: 1em 0 0
    }
.calibre_30 {
    display: block;
    text-indent: 0;
    margin: 10pt 0 0
    }
.calibre_31 {
    display: block;
    text-indent: -14pt;
    margin: 1em 0 0 14pt
    }
.calibre_32 {
    display: block;
    text-indent: -14pt;
    margin: 0 0 0 14pt
    }
.calibre1 {
    font-size: 1.83333em;
    line-height: 1.2
    }
.calibre2 {
    display: block
    }
.calibre3 {
    font-size: 1.41667em;
    line-height: 1.2
    }
.calibre4 {
    font-size: 1.125em;
    line-height: 1.2
    }
.calibre5 {
    font-size: 0.75em
    }
.calibre6 {
    font-size: 0.75em;
    line-height: normal;
    vertical-align: sub
    }
.calibre7 {
    font-size: 0.77778em
    }
.calibre8 {
    font-size: 1.28571em
    }
.calibre9 {
    font-size: 0.75em;
    line-height: normal;
    vertical-align: super
    }
.italic {
    font-style: italic
    }
.mbp_pagebreak {
    display: block;
    margin: 0
    }
